<div id="<%= dom_id films_asiatiques_acteur %>">































































  <p>































































    <strong>Name:</strong>































































    <%= films_asiatiques_acteur.name %>































































  </p>































































































































</div>
