
<h1>voir tous les Films Asiatiques Acteurs</h1>
<%@_films_asiatiques_acteurs.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Films Asiatiques Acteurs", new_films_asiatiques_acteur_path%>
</p>
