<div id="<%= dom_id personnalites_label %>">































































  <p>































































    <strong>Name:</strong>































































    <%= personnalites_label.name %>































































  </p>































































































































</div>
