<h1>Editing personnalites label</h1>































































































































<%= render "form", _personnalites_label: @_personnalites_label %>































































































































<br>































































































































<div>































































  <%= link_to "Show this personnalites label", @_personnalites_label %> |































































  <%= link_to "Back to personnalites labels", personnalites_labels_path %>































































</div>
