<p style="color: green"><%= notice %></p>































































































































<h1>Personnalites labels</h1>































































































































<div id="_personnalites_labels">































































  <% @_personnalites_labels.each do |_personnalites_label| %>































































    <%= render _personnalites_label %>































































    <p>































































      <%= link_to "Show this personnalites label", personnalites_label %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New personnalites label", new_personnalites_label_path %>
