<div id="<%= dom_id mangas_commerce %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_commerce.name %>































































  </p>































































































































</div>
