<div id="<%= dom_id personnalites_ex_fin %>">































































  <p>































































    <strong>Name:</strong>































































    <%= personnalites_ex_fin.name %>































































  </p>































































































































</div>
