<h1>Editing personnalites ex fin</h1>































































































































<%= render "form", _personnalites_ex_fin: @_personnalites_ex_fin %>































































































































<br>































































































































<div>































































  <%= link_to "Show this personnalites ex fin", @_personnalites_ex_fin %> |































































  <%= link_to "Back to personnalites ex fins", personnalites_ex_fins_path %>































































</div>
