<p style="color: green"><%= notice %></p>































































































































<h1>Osts lns</h1>































































































































<div id="osts_lns">































































  <% @osts_lns.each do |osts_ln| %>































































    <%= render osts_ln %>































































    <p>































































      <%= link_to "Show this osts ln", osts_ln %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New osts ln", new_osts_ln_path %>
