<div id="<%= dom_id artbooks_goody %>">































































  <p>































































    <strong>Name:</strong>































































    <%= artbooks_goody.name %>































































  </p>































































































































</div>
