<p style="color: green"><%= notice %></p>































































































































<h1>Artbooks goodies</h1>































































































































<div id="artbooks_goodies">































































  <% @artbooks_goodies.each do |artbooks_goody| %>































































    <%= render artbooks_goody %>































































    <p>































































      <%= link_to "Show this artbooks goody", artbooks_goody %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New artbooks goody", new_artbooks_goody_path %>
