<h1>Editing cds person</h1>

<%= render "form", _cds_person: @_cds_person %>

<br>

<div>
  <%= link_to "Show this cds person", @_cds_person %> |
  <%= link_to "Back to cds people", _cds_people_path %>
</div>
