<p style="color: green"><%= notice %></p>

<h1>Films asiatiques origines</h1>

<div id="_films_asiatiques_origines">
  <% @_films_asiatiques_origines.each do |_films_asiatiques_origine| %>
    <%= render _films_asiatiques_origine %>
    <p>
      <%= link_to "Show this films asiatiques origine", _films_asiatiques_origine %>
    </p>
  <% end %>
</div>

<%= link_to "New films asiatiques origine", new__films_asiatiques_origine_path %>
