<div id="<%= dom_id dramas_am_plu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= dramas_am_plu.name %>































































  </p>































































































































</div>
