<h1>Editing dramas am plu</h1>































































































































<%= render "form", _dramas_am_plu: @_dramas_am_plu %>































































































































<br>































































































































<div>































































  <%= link_to "Show this dramas am plu", @_dramas_am_plu %> |































































  <%= link_to "Back to dramas am plus", dramas_am_plus_path %>































































</div>
