<div id="<%= dom_id light_novels_encours_vf %>">































































  <p>































































    <strong>Name:</strong>































































    <%= light_novels_encours_vf.name %>































































  </p>































































































































</div>
