<div id="<%= dom_id breves_beau_livre %>">































































  <p>































































    <strong>Name:</strong>































































    <%= breves_beau_livre.name %>































































  </p>































































































































</div>
