<h1>Editing breves beau livre</h1>































































































































<%= render "form", _breves_beau_livre: @_breves_beau_livre %>































































































































<br>































































































































<div>































































  <%= link_to "Show this breves beau livre", @_breves_beau_livre %> |































































  <%= link_to "Back to breves beau livres", breves_beau_livres_path %>































































</div>
