<p style="color: green"><%= notice %></p>































































































































<h1>Breves beau livres</h1>































































































































<div id="_breves_beau_livres">































































  <% @_breves_beau_livres.each do |_breves_beau_livre| %>































































    <%= render _breves_beau_livre %>































































    <p>































































      <%= link_to "Show this breves beau livre", breves_beau_livre %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New breves beau livre", new_breves_beau_livre_path %>
