<p style="color: green"><%= notice %></p>

<h1>Livres genres</h1>

<div id="_livres_genres">
  <% @_livres_genres.each do |_livres_genre| %>
    <%= render _livres_genre %>
    <p>
      <%= link_to "Show this livres genre", _livres_genre %>
    </p>
  <% end %>
</div>

<%= link_to "New livres genre", new__livres_genre_path %>
