<h1>Editing blu ray</h1>















<%= render "form", _dvd_blu_ray: @_dvd_blu_ray %>















<br>















<div>







  <%= link_to "Show this blu ray", @_dvd_blu_ray %> |







  <%= link_to "Back to blu rays", dvd_blu_rays_path %>







</div>
