<h1>Editing breves amv</h1>































































































































<%= render "form", _breves_amv: @_breves_amv %>































































































































<br>































































































































<div>































































  <%= link_to "Show this breves amv", @_breves_amv %> |































































  <%= link_to "Back to breves amvs", breves_amvs_path %>































































</div>
