<div id="<%= dom_id livres_jv_plu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= livres_jv_plu.name %>































































  </p>































































































































</div>
