<h1>Editing doujinshis quizz</h1>

<%= render "form", _doujinshis_quizz: @_doujinshis_quizz %>

<br>

<div>
  <%= link_to "Show this doujinshis quizz", @_doujinshis_quizz %> |
  <%= link_to "Back to doujinshis quizzs", _doujinshis_quizzs_path %>
</div>
