<h1>Editing personnage danimes perso manga</h1>































































































































<%= render "form", _personnage_danimes_perso_manga: @_personnage_danimes_perso_manga %>































































































































<br>































































































































<div>































































  <%= link_to "Show this personnage danimes perso manga", @_personnage_danimes_perso_manga %> |































































  <%= link_to "Back to personnage danimes perso mangas", personnage_danimes_perso_mangas_path %>































































</div>
