
<h1>voir tous les Personnage Danimes Perso Mangas</h1>
<%@_personnage_danimes_perso_mangas.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Personnage Danimes Perso Mangas", new_personnage_danimes_perso_manga_path%>
</p>
