<p style="color: green"><%= notice %></p>































































































































<h1>Personnage danimes perso mangas</h1>































































































































<div id="_personnage_danimes_perso_mangas">































































  <% @_personnage_danimes_perso_mangas.each do |_personnage_danimes_perso_manga| %>































































    <%= render _personnage_danimes_perso_manga %>































































    <p>































































      <%= link_to "Show this personnage danimes perso manga", personnage_danimes_perso_manga %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New personnage danimes perso manga", new_personnage_danimes_perso_manga_path %>
