<h1>New personnage danimes perso manga</h1>































































































































<%= render "form", _personnage_danimes_perso_manga: @_personnage_danimes_perso_manga %>































































































































<br>































































































































<div>































































  <%= link_to "Back to personnage danimes perso mangas", personnage_danimes_perso_mangas_path %>































































</div>
