<div id="<%= dom_id cds_bonu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= cds_bonu.name %>































































  </p>































































































































</div>
