<h1>Editing cds bonu</h1>































































































































<%= render "form", _cds_bonu: @_cds_bonu %>































































































































<br>































































































































<div>































































  <%= link_to "Show this cds bonu", @_cds_bonu %> |































































  <%= link_to "Back to cds bonus", cds_bonus_path %>































































</div>
