<p style="color: green"><%= notice %></p>































































































































<h1>Cds bonus</h1>































































































































<div id="_cds_bonus">































































  <% @_cds_bonus.each do |_cds_bonu| %>































































    <%= render _cds_bonu %>































































    <p>































































      <%= link_to "Show this cds bonu", cds_bonu %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New cds bonu", new_cds_bonu_path %>
