<div id="<%= dom_id dramas_jv_plu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= dramas_jv_plu.name %>































































  </p>































































































































</div>
