<div id="<%= dom_id personnage_danimes_doubleur_person %>">































































  <p>































































    <strong>Name:</strong>































































    <%= personnage_danimes_doubleur_person.name %>































































  </p>































































































































</div>
