
<h1>voir tous les Personnage Danimes Doubleur People</h1>
<%@_personnage_danimes_doubleur_people.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Personnage Danimes Doubleur People", new_personnage_danimes_doubleur_peopl_path%>
</p>
