<p style="color: green"><%= notice %></p>

<h1>Personnage danimes doubleur people</h1>

<div id="_personnage_danimes_doubleur_people">
  <% @_personnage_danimes_doubleur_people.each do |_personnage_danimes_doubleur_person| %>
    <%= render _personnage_danimes_doubleur_person %>
    <p>
      <%= link_to "Show this personnage danimes doubleur person", _personnage_danimes_doubleur_person %>
    </p>
  <% end %>
</div>

<%= link_to "New personnage danimes doubleur person", new__personnage_danimes_doubleur_person_path %>
