<h1>New personnage danimes doubleur person</h1>































































































































<%= render "form", _personnage_danimes_doubleur_person: @_personnage_danimes_doubleur_person %>































































































































<br>































































































































<div>































































  <%= link_to "Back to personnage danimes doubleur people", personnage_danimes_doubleur_people_path %>































































</div>
