<div id="<%= dom_id breves_goody %>">































































  <p>































































    <strong>Name:</strong>































































    <%= breves_goody.name %>































































  </p>































































































































</div>
