<h1>New breves goody</h1>































































































































<%= render "form", _breves_goody: @_breves_goody %>































































































































<br>































































































































<div>































































  <%= link_to "Back to breves goodies", breves_goodies_path %>































































</div>
