<h1>Editing light novels theme</h1>

<%= render "form", _light_novels_theme: @_light_novels_theme %>

<br>

<div>
  <%= link_to "Show this light novels theme", @_light_novels_theme %> |
  <%= link_to "Back to light novels themes", _light_novels_themes_path %>
</div>
