<div id="<%= dom_id artbooks_pay %>">































































  <p>































































    <strong>Name:</strong>































































    <%= artbooks_pay.name %>































































  </p>































































































































</div>
