<p style="color: green"><%= notice %></p>































































































































<h1>Artbooks pays</h1>































































































































<div id="artbooks_pays">































































  <% @artbooks_pays.each do |artbooks_pay| %>































































    <%= render artbooks_pay %>































































    <p>































































      <%= link_to "Show this artbooks pay", artbooks_pay %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New artbooks pay", new_artbooks_pay_path %>
