<h1>New sites dachat</h1>































































































































<%= render "form", _sites_dachat: @_sites_dachat %>































































































































<br>































































































































<div>































































  <%= link_to "Back to sites dachats", sites_dachats_path %>































































</div>
