<div id="<%= dom_id goodies_litterature_asiatique %>">































































  <p>































































    <strong>Name:</strong>































































    <%= goodies_litterature_asiatique.name %>































































  </p>































































































































</div>
