
<h1>voir tous les Goodies Litterature Asiatiques</h1>
<%@_goodies_litterature_asiatiques.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Goodies Litterature Asiatiques", new_goodies_litterature_asiatique_path%>
</p>
