<p style="color: green"><%= notice %></p>

<h1>Jeux videos staff roles</h1>

<div id="_jeux_videos_staff_roles">
  <% @_jeux_videos_staff_roles.each do |_jeux_videos_staff_role| %>
    <%= render _jeux_videos_staff_role %>
    <p>
      <%= link_to "Show this jeux videos staff role", _jeux_videos_staff_role %>
    </p>
  <% end %>
</div>

<%= link_to "New jeux videos staff role", new__jeux_videos_staff_role_path %>
