<div id="<%= dom_id generique_de_jeu_videos_type %>">































































  <p>































































    <strong>Name:</strong>































































    <%= generique_de_jeu_videos_type.name %>































































  </p>































































































































</div>
