<p style="color: green"><%= notice %></p>































































































































<h1>Generique de jeu videos types</h1>































































































































<div id="_generique_de_jeu_videos_types">































































  <% @_generique_de_jeu_videos_types.each do |_generique_de_jeu_videos_type| %>































































    <%= render _generique_de_jeu_videos_type %>































































    <p>































































      <%= link_to "Show this generique de jeu videos type", generique_de_jeu_videos_type %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New generique de jeu videos type", new_generique_de_jeu_videos_type_path %>
