
<h1>voir tous les Generique De Jeu Videos Types</h1>
<%@_generique_de_jeu_videos_types.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Generique De Jeu Videos Types", new_generique_de_jeu_videos_type_path%>
</p>
