<div id="<%= dom_id artbooks_jv %>">































































  <p>































































    <strong>Name:</strong>































































    <%= artbooks_jv.name %>































































  </p>































































































































</div>
