<h1>Editing artbooks jv</h1>































































































































<%= render "form", artbooks_jv: @artbooks_jv %>































































































































<br>































































































































<div>































































  <%= link_to "Show this artbooks jv", @artbooks_jv %> |































































  <%= link_to "Back to artbooks jvs", artbooks_jvs_path %>































































</div>
