<p style="color: green"><%= notice %></p>

<h1>Films asiatiques emission tvs</h1>

<div id="_films_asiatiques_emission_tvs">
  <% @_films_asiatiques_emission_tvs.each do |_films_asiatiques_emission_tv| %>
    <%= render _films_asiatiques_emission_tv %>
    <p>
      <%= link_to "Show this films asiatiques emission tv", _films_asiatiques_emission_tv %>
    </p>
  <% end %>
</div>

<%= link_to "New films asiatiques emission tv", new__films_asiatiques_emission_tv_path %>
