<p style="color: green"><%= notice %></p>

<h1>Jeux videos animes</h1>

<div id="_jeux_videos_animes">
  <% @_jeux_videos_animes.each do |_jeux_videos_anime| %>
    <%= render _jeux_videos_anime %>
    <p>
      <%= link_to "Show this jeux videos anime", _jeux_videos_anime %>
    </p>
  <% end %>
</div>

<%= link_to "New jeux videos anime", new__jeux_videos_anime_path %>
