<div id="<%= dom_id fiche_univers_jv %>">































































  <p>































































    <strong>Name:</strong>































































    <%= fiche_univers_jv.name %>































































  </p>































































































































</div>
