<p style="color: green"><%= notice %></p>















<h1>Blu rays formats</h1>















<div id="_dvd___blu_rays_formats">







  <% @_dvd___blu_rays_formats.each do |_dvd___blu_rays_format| %>







    <%= render _dvd___blu_rays_format %>







    <p>







      <%= link_to "Show this blu rays format", dvd___blu_rays_format %>







    </p>







  <% end %>







</div>















<%= link_to "New blu rays format", new_dvd___blu_rays_format_path %>
