<h1>New blu rays format</h1>















<%= render "form", _dvd___blu_rays_format: @_dvd___blu_rays_format %>















<br>















<div>







  <%= link_to "Back to blu rays formats", dvd___blu_rays_formats_path %>







</div>
