<div id="<%= dom_id personnage_de_mangas_perso_manga %>">































































  <p>































































    <strong>Name:</strong>































































    <%= personnage_de_mangas_perso_manga.name %>































































  </p>































































































































</div>
