<h1>Editing personnage de mangas perso manga</h1>

<%= render "form", _personnage_de_mangas_perso_manga: @_personnage_de_mangas_perso_manga %>

<br>

<div>
  <%= link_to "Show this personnage de mangas perso manga", @_personnage_de_mangas_perso_manga %> |
  <%= link_to "Back to personnage de mangas perso mangas", _personnage_de_mangas_perso_mangas_path %>
</div>
