<p style="color: green"><%= notice %></p>































































































































<h1>Personnage de mangas perso mangas</h1>































































































































<div id="_personnage_de_mangas_perso_mangas">































































  <% @_personnage_de_mangas_perso_mangas.each do |_personnage_de_mangas_perso_manga| %>































































    <%= render _personnage_de_mangas_perso_manga %>































































    <p>































































      <%= link_to "Show this personnage de mangas perso manga", personnage_de_mangas_perso_manga %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New personnage de mangas perso manga", new_personnage_de_mangas_perso_manga_path %>
