
<h1>voir tous les Personnage De Mangas Perso Mangas</h1>
<%@_personnage_de_mangas_perso_mangas.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Personnage De Mangas Perso Mangas", new_personnage_de_mangas_perso_manga_path%>
</p>
