<div id="<%= dom_id films_asiatiques_societe_role %>">































































  <p>































































    <strong>Name:</strong>































































    <%= films_asiatiques_societe_role.name %>































































  </p>































































































































</div>
