<h1>Editing artbooks litterature asiatique</h1>































































































































<%= render "form", artbooks_litterature_asiatique: @artbooks_litterature_asiatique %>































































































































<br>































































































































<div>































































  <%= link_to "Show this artbooks litterature asiatique", @artbooks_litterature_asiatique %> |































































  <%= link_to "Back to artbooks litterature asiatiques", artbooks_litterature_asiatiques_path %>































































</div>
