<p style="color: green"><%= notice %></p>































































































































<h1>Artbooks litterature asiatiques</h1>































































































































<div id="artbooks_litterature_asiatiques">































































  <% @artbooks_litterature_asiatiques.each do |artbooks_litterature_asiatique| %>































































    <%= render artbooks_litterature_asiatique %>































































    <p>































































      <%= link_to "Show this artbooks litterature asiatique", artbooks_litterature_asiatique %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New artbooks litterature asiatique", new_artbooks_litterature_asiatique_path %>
