<h1>New artbooks litterature asiatique</h1>

<%= render "form", artbooks_litterature_asiatique: @artbooks_litterature_asiatique %>

<br>

<div>
  <%= link_to "Back to artbooks litterature asiatiques", artbooks_litterature_asiatiques_path %>
</div>
