<div id="<%= dom_id cds_monnaie %>">































































  <p>































































    <strong>Name:</strong>































































    <%= cds_monnaie.name %>































































  </p>































































































































</div>
