<p style="color: green"><%= notice %></p>































































































































<h1>Cds monnaies</h1>































































































































<div id="_cds_monnaies">































































  <% @_cds_monnaies.each do |_cds_monnaie| %>































































    <%= render _cds_monnaie %>































































    <p>































































      <%= link_to "Show this cds monnaie", cds_monnaie %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New cds monnaie", new_cds_monnaie_path %>
