<div id="<%= dom_id livres_culture %>">































































  <p>































































    <strong>Name:</strong>































































    <%= livres_culture.name %>































































  </p>































































































































</div>
