<h1>Editing goodies drama</h1>

<%= render "form", _goodies_drama: @_goodies_drama %>

<br>

<div>
  <%= link_to "Show this goodies drama", @_goodies_drama %> |
  <%= link_to "Back to goodies dramas", _goodies_dramas_path %>
</div>
