<div id="<%= dom_id cds_drama %>">































































  <p>































































    <strong>Name:</strong>































































    <%= cds_drama.name %>































































  </p>































































































































</div>
