<h1>Editing cds drama</h1>































































































































<%= render "form", _cds_drama: @_cds_drama %>































































































































<br>































































































































<div>































































  <%= link_to "Show this cds drama", @_cds_drama %> |































































  <%= link_to "Back to cds dramas", cds_dramas_path %>































































</div>
