<div id="<%= dom_id mangas_artbook %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_artbook.name %>































































  </p>































































































































</div>
