<div id="<%= dom_id mangas_staff_role %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_staff_role.name %>































































  </p>































































































































</div>
