<h1>New mangas staff role</h1>































































































































<%= render "form", _mangas_staff_role: @_mangas_staff_role %>































































































































<br>































































































































<div>































































  <%= link_to "Back to mangas staff roles", mangas_staff_roles_path %>































































</div>
