<h1>Editing amvs type</h1>

<%= render "form", amvs_type: @amvs_type %>

<br>

<div>
  <%= link_to "Show this amvs type", @amvs_type %> |
  <%= link_to "Back to amvs types", amvs_types_path %>
</div>
