<p style="color: green"><%= notice %></p>

<h1>Amvs types</h1>

<div id="amvs_types">
  <% @amvs_types.each do |amvs_type| %>
    <%= render amvs_type %>
    <p>
      <%= link_to "Show this amvs type", amvs_type %>
    </p>
  <% end %>
</div>

<%= link_to "New amvs type", new_amvs_type_path %>
