<h1>New amvs type</h1>































































































































<%= render "form", amvs_type: @amvs_type %>































































































































<br>































































































































<div>































































  <%= link_to "Back to amvs types", amvs_types_path %>































































</div>
