<div id="<%= dom_id breves_manga_editeur %>">































































  <p>































































    <strong>Name:</strong>































































    <%= breves_manga_editeur.name %>































































  </p>































































































































</div>
