<h1>Editing breves manga editeur</h1>































































































































<%= render "form", _breves_manga_editeur: @_breves_manga_editeur %>































































































































<br>































































































































<div>































































  <%= link_to "Show this breves manga editeur", @_breves_manga_editeur %> |































































  <%= link_to "Back to breves manga editeurs", breves_manga_editeurs_path %>































































</div>
