<div id="<%= dom_id goodies_actualite_mini %>">































































  <p>































































    <strong>Name:</strong>































































    <%= goodies_actualite_mini.name %>































































  </p>































































































































</div>
