
<h1>voir tous les Goodies Actualite Minis</h1>
<%@_goodies_actualite_minis.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Goodies Actualite Minis", new_goodies_actualite_mini_path%>
</p>
