<p style="color: green"><%= notice %></p>































































































































<h1>Goodies actualite minis</h1>































































































































<div id="_goodies_actualite_minis">































































  <% @_goodies_actualite_minis.each do |_goodies_actualite_mini| %>































































    <%= render _goodies_actualite_mini %>































































    <p>































































      <%= link_to "Show this goodies actualite mini", goodies_actualite_mini %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New goodies actualite mini", new_goodies_actualite_mini_path %>
