<h1>New goodies actualite mini</h1>































































































































<%= render "form", _goodies_actualite_mini: @_goodies_actualite_mini %>































































































































<br>































































































































<div>































































  <%= link_to "Back to goodies actualite minis", goodies_actualite_minis_path %>































































</div>
