<h1>New personnage danimes sexe</h1>

<%= render "form", _personnage_danimes_sex: @_personnage_danimes_sex %>

<br>

<div>
  <%= link_to "Back to personnage danimes sexes", _personnage_danimes_sexes_path %>
</div>
