<div id="<%= dom_id fiche_univers_person %>">































































  <p>































































    <strong>Name:</strong>































































    <%= fiche_univers_person.name %>































































  </p>































































































































</div>
