<p style="color: green"><%= notice %></p>































































































































<h1>Fiche univers people</h1>































































































































<div id="_fiche_univers_people">































































  <% @_fiche_univers_people.each do |_fiche_univers_person| %>































































    <%= render _fiche_univers_person %>































































    <p>































































      <%= link_to "Show this fiche univers person", fiche_univers_person %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New fiche univers person", new_fiche_univers_person_path %>
