<div id="<%= dom_id petites_annonces_lieu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= petites_annonces_lieu.name %>































































  </p>































































































































</div>
