<h1>Editing petites annonces lieu</h1>































































































































<%= render "form", _petites_annonces_lieu: @_petites_annonces_lieu %>































































































































<br>































































































































<div>































































  <%= link_to "Show this petites annonces lieu", @_petites_annonces_lieu %> |































































  <%= link_to "Back to petites annonces lieus", petites_annonces_lieus_path %>































































</div>
