<p style="color: green"><%= notice %></p>































































































































<h1>Petites annonces lieus</h1>































































































































<div id="_petites_annonces_lieus">































































  <% @_petites_annonces_lieus.each do |_petites_annonces_lieu| %>































































    <%= render _petites_annonces_lieu %>































































    <p>































































      <%= link_to "Show this petites annonces lieu", petites_annonces_lieu %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New petites annonces lieu", new_petites_annonces_lieu_path %>
