<div id="<%= dom_id light_novels_manga_plu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= light_novels_manga_plu.name %>































































  </p>































































































































</div>
