<h1>Editing light novels manga plu</h1>































































































































<%= render "form", _light_novels_manga_plu: @_light_novels_manga_plu %>































































































































<br>































































































































<div>































































  <%= link_to "Show this light novels manga plu", @_light_novels_manga_plu %> |































































  <%= link_to "Back to light novels manga plus", light_novels_manga_plus_path %>































































</div>
