<p style="color: green"><%= notice %></p>































































































































<h1>Light novels manga plus</h1>































































































































<div id="_light_novels_manga_plus">































































  <% @_light_novels_manga_plus.each do |_light_novels_manga_plu| %>































































    <%= render _light_novels_manga_plu %>































































    <p>































































      <%= link_to "Show this light novels manga plu", light_novels_manga_plu %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New light novels manga plu", new_light_novels_manga_plu_path %>
