<div id="<%= dom_id videos_id_cat %>">































































  <p>































































    <strong>Name:</strong>































































    <%= videos_id_cat.name %>































































  </p>































































































































</div>
