<h1>Editing videos id cat</h1>































































































































<%= render "form", _videos_id_cat: @_videos_id_cat %>































































































































<br>































































































































<div>































































  <%= link_to "Show this videos id cat", @_videos_id_cat %> |































































  <%= link_to "Back to videos id cats", videos_id_cats_path %>































































</div>
