<p style="color: green"><%= notice %></p>































































































































<h1>Videos id cats</h1>































































































































<div id="_videos_id_cats">































































  <% @_videos_id_cats.each do |_videos_id_cat| %>































































    <%= render _videos_id_cat %>































































    <p>































































      <%= link_to "Show this videos id cat", videos_id_cat %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New videos id cat", new_videos_id_cat_path %>
