<div id="<%= dom_id jeux_videos_genre %>">































































  <p>































































    <strong>Name:</strong>































































    <%= jeux_videos_genre.name %>































































  </p>































































































































</div>
