<h1>Editing jeux videos genre</h1>































































































































<%= render "form", _jeux_videos_genre: @_jeux_videos_genre %>































































































































<br>































































































































<div>































































  <%= link_to "Show this jeux videos genre", @_jeux_videos_genre %> |































































  <%= link_to "Back to jeux videos genres", jeux_videos_genres_path %>































































</div>
