<p style="color: green"><%= notice %></p>

<h1>Jeux videos genres</h1>

<div id="_jeux_videos_genres">
  <% @_jeux_videos_genres.each do |_jeux_videos_genre| %>
    <%= render _jeux_videos_genre %>
    <p>
      <%= link_to "Show this jeux videos genre", _jeux_videos_genre %>
    </p>
  <% end %>
</div>

<%= link_to "New jeux videos genre", new__jeux_videos_genre_path %>
