<div id="<%= dom_id osts_am %>">































































  <p>































































    <strong>Name:</strong>































































    <%= osts_am.name %>































































  </p>































































































































</div>
