<p style="color: green"><%= notice %></p>































































































































<h1>Osts ams</h1>































































































































<div id="osts_ams">































































  <% @osts_ams.each do |osts_am| %>































































    <%= render osts_am %>































































    <p>































































      <%= link_to "Show this osts am", osts_am %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New osts am", new_osts_am_path %>
