<div id="<%= dom_id livres_type %>">































































  <p>































































    <strong>Name:</strong>































































    <%= livres_type.name %>































































  </p>































































































































</div>
