<p style="color: green"><%= notice %></p>































































































































<h1>Livres types</h1>































































































































<div id="_livres_types">































































  <% @_livres_types.each do |_livres_type| %>































































    <%= render _livres_type %>































































    <p>































































      <%= link_to "Show this livres type", livres_type %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New livres type", new_livres_type_path %>
