<h1>New livres type</h1>































































































































<%= render "form", _livres_type: @_livres_type %>































































































































<br>































































































































<div>































































  <%= link_to "Back to livres types", livres_types_path %>































































</div>
