<p style="color: green"><%= notice %></p>































































































































<h1>Doujinshis staff people</h1>































































































































<div id="_doujinshis_staff_people">































































  <% @_doujinshis_staff_people.each do |_doujinshis_staff_person| %>































































    <%= render _doujinshis_staff_person %>































































    <p>































































      <%= link_to "Show this doujinshis staff person", doujinshis_staff_person %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New doujinshis staff person", new_doujinshis_staff_person_path %>
