<h1>New doujinshis staff person</h1>































































































































<%= render "form", _doujinshis_staff_person: @_doujinshis_staff_person %>































































































































<br>































































































































<div>































































  <%= link_to "Back to doujinshis staff people", doujinshis_staff_people_path %>































































</div>
