<div id="<%= dom_id doujinshis_am_plu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujinshis_am_plu.name %>































































  </p>































































































































</div>
