<p style="color: green"><%= notice %></p>































































































































<h1>Doujinshis am plus</h1>































































































































<div id="_doujinshis_am_plus">































































  <% @_doujinshis_am_plus.each do |_doujinshis_am_plu| %>































































    <%= render _doujinshis_am_plu %>































































    <p>































































      <%= link_to "Show this doujinshis am plu", doujinshis_am_plu %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New doujinshis am plu", new_doujinshis_am_plu_path %>
