<h1>Editing breves evenement</h1>

<%= render "form", _breves_evenement: @_breves_evenement %>

<br>

<div>
  <%= link_to "Show this breves evenement", @_breves_evenement %> |
  <%= link_to "Back to breves evenements", _breves_evenements_path %>
</div>
