<h1>Editing animes amv</h1>

<%= render "form", animes_amv: @animes_amv %>

<br>

<div>
  <%= link_to "Show this animes amv", @animes_amv %> |
  <%= link_to "Back to animes amvs", animes_amvs_path %>
</div>
