<p style="color: green"><%= notice %></p>

<h1>Animes amvs</h1>

<div id="animes_amvs">
  <% @animes_amvs.each do |animes_amv| %>
    <%= render animes_amv %>
    <p>
      <%= link_to "Show this animes amv", animes_amv %>
    </p>
  <% end %>
</div>

<%= link_to "New animes amv", new_animes_amv_path %>
