<div id="<%= dom_id goodies_drama %>">































































  <p>































































    <strong>Name:</strong>































































    <%= goodies_drama.name %>































































  </p>































































































































</div>
