<h1>New goodies drama</h1>































































































































<%= render "form", _goodies_drama: @_goodies_drama %>































































































































<br>































































































































<div>































































  <%= link_to "Back to goodies dramas", goodies_dramas_path %>































































</div>
