<div id="<%= dom_id cds_label %>">































































  <p>































































    <strong>Name:</strong>































































    <%= cds_label.name %>































































  </p>































































































































</div>
