<div id="<%= dom_id personnalites_genre %>">































































  <p>































































    <strong>Name:</strong>































































    <%= personnalites_genre.name %>































































  </p>































































































































</div>
