<h1>New personnalites genre</h1>































































































































<%= render "form", _personnalites_genre: @_personnalites_genre %>































































































































<br>































































































































<div>































































  <%= link_to "Back to personnalites genres", personnalites_genres_path %>































































</div>
