<div id="<%= dom_id mangas_jv %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_jv.name %>































































  </p>































































































































</div>
