<h1>Editing mangas jv</h1>

<%= render "form", _mangas_jv: @_mangas_jv %>

<br>

<div>
  <%= link_to "Show this mangas jv", @_mangas_jv %> |
  <%= link_to "Back to mangas jvs", _mangas_jvs_path %>
</div>
