<h1>New mangas jv</h1>































































































































<%= render "form", _mangas_jv: @_mangas_jv %>































































































































<br>































































































































<div>































































  <%= link_to "Back to mangas jvs", mangas_jvs_path %>































































</div>
