<div id="<%= dom_id personnage_de_mangas_goody %>">































































  <p>































































    <strong>Name:</strong>































































    <%= personnage_de_mangas_goody.name %>































































  </p>































































































































</div>
