<h1>Editing personnage de mangas goody</h1>

<%= render "form", _personnage_de_mangas_goody: @_personnage_de_mangas_goody %>

<br>

<div>
  <%= link_to "Show this personnage de mangas goody", @_personnage_de_mangas_goody %> |
  <%= link_to "Back to personnage de mangas goodies", _personnage_de_mangas_goodies_path %>
</div>
