
<h1>voir tous les Personnage De Mangas Goodies</h1>
<%@_personnage_de_mangas_goodies.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Personnage De Mangas Goodies", new_personnage_de_mangas_goodie_path%>
</p>
