<p style="color: green"><%= notice %></p>

<h1>Personnalites agences debuts</h1>

<div id="_personnalites_agences_debuts">
  <% @_personnalites_agences_debuts.each do |_personnalites_agences_debut| %>
    <%= render _personnalites_agences_debut %>
    <p>
      <%= link_to "Show this personnalites agences debut", _personnalites_agences_debut %>
    </p>
  <% end %>
</div>

<%= link_to "New personnalites agences debut", new__personnalites_agences_debut_path %>
