
<h1>voir tous les Personnalites Agences Debuts</h1>
<%@_personnalites_agences_debuts.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Personnalites Agences Debuts", new_personnalites_agences_debut_path%>
</p>
