<h1>New personnalites agences debut</h1>

<%= render "form", _personnalites_agences_debut: @_personnalites_agences_debut %>

<br>

<div>
  <%= link_to "Back to personnalites agences debuts", _personnalites_agences_debuts_path %>
</div>
