<p style="color: green"><%= notice %></p>

<h1>Numero demission tvs presentateurs</h1>

<div id="_numero_demission_tvs_presentateurs">
  <% @_numero_demission_tvs_presentateurs.each do |_numero_demission_tvs_presentateur| %>
    <%= render _numero_demission_tvs_presentateur %>
    <p>
      <%= link_to "Show this numero demission tvs presentateur", _numero_demission_tvs_presentateur %>
    </p>
  <% end %>
</div>

<%= link_to "New numero demission tvs presentateur", new__numero_demission_tvs_presentateur_path %>
