
<h1>voir tous les Numero Demission Tvs Presentateurs</h1>
<%@_numero_demission_tvs_presentateurs.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Numero Demission Tvs Presentateurs", new_numero_demission_tvs_presentateur_path%>
</p>
