<div id="<%= dom_id breves_evenement %>">































































  <p>































































    <strong>Name:</strong>































































    <%= breves_evenement.name %>































































  </p>































































































































</div>
