
<h1>voir tous les Light Novels Encours Vos</h1>
<%@_light_novels_encours_vos.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Light Novels Encours Vos", new_light_novels_encours_vo_path%>
</p>
