<p style="color: green"><%= notice %></p>































































































































<h1>Light novels encours vos</h1>































































































































<div id="_light_novels_encours_vos">































































  <% @_light_novels_encours_vos.each do |_light_novels_encours_vo| %>































































    <%= render _light_novels_encours_vo %>































































    <p>































































      <%= link_to "Show this light novels encours vo", light_novels_encours_vo %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New light novels encours vo", new_light_novels_encours_vo_path %>
