<div id="<%= dom_id photobooks_goody %>">































































  <p>































































    <strong>Name:</strong>































































    <%= photobooks_goody.name %>































































  </p>































































































































</div>
