<h1>Editing photobooks goody</h1>

<%= render "form", _photobooks_goody: @_photobooks_goody %>

<br>

<div>
  <%= link_to "Show this photobooks goody", @_photobooks_goody %> |
  <%= link_to "Back to photobooks goodies", _photobooks_goodies_path %>
</div>
