<h1>New photobooks goody</h1>































































































































<%= render "form", _photobooks_goody: @_photobooks_goody %>































































































































<br>































































































































<div>































































  <%= link_to "Back to photobooks goodies", photobooks_goodies_path %>































































</div>
