<div id="<%= dom_id osts_groupe %>">































































  <p>































































    <strong>Name:</strong>































































    <%= osts_groupe.name %>































































  </p>































































































































</div>
