<h1>Editing osts groupe</h1>































































































































<%= render "form", osts_groupe: @osts_groupe %>































































































































<br>































































































































<div>































































  <%= link_to "Show this osts groupe", @osts_groupe %> |































































  <%= link_to "Back to osts groupes", osts_groupes_path %>































































</div>
