<h1>New osts groupe</h1>































































































































<%= render "form", osts_groupe: @osts_groupe %>































































































































<br>































































































































<div>































































  <%= link_to "Back to osts groupes", osts_groupes_path %>































































</div>
