<p style="color: green"><%= notice %></p>































































































































<h1>Films asiatiques generiques clips</h1>































































































































<div id="_films_asiatiques_generiques_clips">































































  <% @_films_asiatiques_generiques_clips.each do |_films_asiatiques_generiques_clip| %>































































    <%= render _films_asiatiques_generiques_clip %>































































    <p>































































      <%= link_to "Show this films asiatiques generiques clip", films_asiatiques_generiques_clip %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New films asiatiques generiques clip", new_films_asiatiques_generiques_clip_path %>
