<h1>Editing films asiatiques concour</h1>

<%= render "form", _films_asiatiques_concour: @_films_asiatiques_concour %>

<br>

<div>
  <%= link_to "Show this films asiatiques concour", @_films_asiatiques_concour %> |
  <%= link_to "Back to films asiatiques concours", _films_asiatiques_concours_path %>
</div>
