
<h1>voir tous les Films Asiatiques Concours</h1>
<%@_films_asiatiques_concours.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Films Asiatiques Concours", new_films_asiatiques_concour_path%>
</p>
