<p style="color: green"><%= notice %></p>

<h1>Films asiatiques concours</h1>

<div id="_films_asiatiques_concours">
  <% @_films_asiatiques_concours.each do |_films_asiatiques_concour| %>
    <%= render _films_asiatiques_concour %>
    <p>
      <%= link_to "Show this films asiatiques concour", _films_asiatiques_concour %>
    </p>
  <% end %>
</div>

<%= link_to "New films asiatiques concour", new__films_asiatiques_concour_path %>
