<h1>New films asiatiques concour</h1>

<%= render "form", _films_asiatiques_concour: @_films_asiatiques_concour %>

<br>

<div>
  <%= link_to "Back to films asiatiques concours", _films_asiatiques_concours_path %>
</div>
