<p style="color: green"><%= notice %></p>

<h1>Jeux videos topics</h1>

<div id="_jeux_videos_topics">
  <% @_jeux_videos_topics.each do |_jeux_videos_topic| %>
    <%= render _jeux_videos_topic %>
    <p>
      <%= link_to "Show this jeux videos topic", _jeux_videos_topic %>
    </p>
  <% end %>
</div>

<%= link_to "New jeux videos topic", new__jeux_videos_topic_path %>
