<div id="<%= dom_id livres_manga %>">































































  <p>































































    <strong>Name:</strong>































































    <%= livres_manga.name %>































































  </p>































































































































</div>
