<h1>Editing livres manga</h1>

<%= render "form", _livres_manga: @_livres_manga %>

<br>

<div>
  <%= link_to "Show this livres manga", @_livres_manga %> |
  <%= link_to "Back to livres mangas", _livres_mangas_path %>
</div>
