<h1>New livres manga</h1>































































































































<%= render "form", _livres_manga: @_livres_manga %>































































































































<br>































































































































<div>































































  <%= link_to "Back to livres mangas", livres_mangas_path %>































































</div>
