<p style="color: green"><%= notice %></p>

<h1>Jeux videos anime plus</h1>

<div id="_jeux_videos_anime_plus">
  <% @_jeux_videos_anime_plus.each do |_jeux_videos_anime_plu| %>
    <%= render _jeux_videos_anime_plu %>
    <p>
      <%= link_to "Show this jeux videos anime plu", _jeux_videos_anime_plu %>
    </p>
  <% end %>
</div>

<%= link_to "New jeux videos anime plu", new__jeux_videos_anime_plu_path %>
