<h1>Editing breves cat</h1>































































































































<%= render "form", _breves_cat: @_breves_cat %>































































































































<br>































































































































<div>































































  <%= link_to "Show this breves cat", @_breves_cat %> |































































  <%= link_to "Back to breves cats", breves_cats_path %>































































</div>
