<p style="color: green"><%= notice %></p>































































































































<h1>Breves cats</h1>































































































































<div id="_breves_cats">































































  <% @_breves_cats.each do |_breves_cat| %>































































    <%= render _breves_cat %>































































    <p>































































      <%= link_to "Show this breves cat", breves_cat %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New breves cat", new_breves_cat_path %>
