<div id="<%= dom_id animes_person %>">































































  <p>































































    <strong>Name:</strong>































































    <%= animes_person.name %>































































  </p>































































































































</div>
