<h1>Editing animes person</h1>

<%= render "form", animes_person: @animes_person %>

<br>

<div>
  <%= link_to "Show this animes person", @animes_person %> |
  <%= link_to "Back to animes people", animes_people_path %>
</div>
