<p style="color: green"><%= notice %></p>































































































































<h1>Animes people</h1>































































































































<div id="animes_people">































































  <% @animes_people.each do |animes_person| %>































































    <%= render animes_person %>































































    <p>































































      <%= link_to "Show this animes person", animes_person %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New animes person", new_animes_person_path %>
