<div id="<%= dom_id goodies_actualite %>">































































  <p>































































    <strong>Name:</strong>































































    <%= goodies_actualite.name %>































































  </p>































































































































</div>
