
<h1>voir tous les Breves Emission Tv Numeros</h1>
<%@_breves_emission_tv_numeros.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Breves Emission Tv Numeros", new_breves_emission_tv_numero_path%>
</p>
