<h1>New breves emission tv numero</h1>

<%= render "form", _breves_emission_tv_numero: @_breves_emission_tv_numero %>

<br>

<div>
  <%= link_to "Back to breves emission tv numeros", _breves_emission_tv_numeros_path %>
</div>
