<div id="<%= dom_id dramas_genre %>">































































  <p>































































    <strong>Name:</strong>































































    <%= dramas_genre.name %>































































  </p>































































































































</div>
