<p style="color: green"><%= notice %></p>

<h1>Dramas genres</h1>

<div id="_dramas_genres">
  <% @_dramas_genres.each do |_dramas_genre| %>
    <%= render _dramas_genre %>
    <p>
      <%= link_to "Show this dramas genre", _dramas_genre %>
    </p>
  <% end %>
</div>

<%= link_to "New dramas genre", new__dramas_genre_path %>
