<h1>New dramas genre</h1>































































































































<%= render "form", _dramas_genre: @_dramas_genre %>































































































































<br>































































































































<div>































































  <%= link_to "Back to dramas genres", dramas_genres_path %>































































</div>
