<div id="<%= dom_id dramas_groupe %>">































































  <p>































































    <strong>Name:</strong>































































    <%= dramas_groupe.name %>































































  </p>































































































































</div>
