<h1>Editing dramas groupe</h1>































































































































<%= render "form", _dramas_groupe: @_dramas_groupe %>































































































































<br>































































































































<div>































































  <%= link_to "Show this dramas groupe", @_dramas_groupe %> |































































  <%= link_to "Back to dramas groupes", dramas_groupes_path %>































































</div>
