<p style="color: green"><%= notice %></p>































































































































<h1>Dramas groupes</h1>































































































































<div id="_dramas_groupes">































































  <% @_dramas_groupes.each do |_dramas_groupe| %>































































    <%= render _dramas_groupe %>































































    <p>































































      <%= link_to "Show this dramas groupe", dramas_groupe %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New dramas groupe", new_dramas_groupe_path %>
