<div id="<%= dom_id doujinshis_genres_averti %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujinshis_genres_averti.name %>































































  </p>































































































































</div>
