
<h1>voir tous les Doujinshis Genres Avertis</h1>
<%@_doujinshis_genres_avertis.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Doujinshis Genres Avertis", new_doujinshis_genres_averti_path%>
</p>
