<h1>New doujinshis genres averti</h1>































































































































<%= render "form", _doujinshis_genres_averti: @_doujinshis_genres_averti %>































































































































<br>































































































































<div>































































  <%= link_to "Back to doujinshis genres avertis", doujinshis_genres_avertis_path %>































































</div>
