
<h1>voir tous les Dramas Litterature Asiatique Plus</h1>
<%@_dramas_litterature_asiatique_plus.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Dramas Litterature Asiatique Plus", new_dramas_litterature_asiatique_plu_path%>
</p>
