<p style="color: green"><%= notice %></p>















<h1>Blu rays groupes</h1>















<div id="_dvd___blu_rays_groupes">







  <% @_dvd___blu_rays_groupes.each do |_dvd___blu_rays_groupe| %>







    <%= render _dvd___blu_rays_groupe %>







    <p>







      <%= link_to "Show this blu rays groupe", dvd___blu_rays_groupe %>







    </p>







  <% end %>







</div>















<%= link_to "New blu rays groupe", new_dvd___blu_rays_groupe_path %>
