<h1>Editing films asiatiques drama</h1>

<%= render "form", _films_asiatiques_drama: @_films_asiatiques_drama %>

<br>

<div>
  <%= link_to "Show this films asiatiques drama", @_films_asiatiques_drama %> |
  <%= link_to "Back to films asiatiques dramas", _films_asiatiques_dramas_path %>
</div>
