
<h1>voir tous les Films Asiatiques Dramas</h1>
<%@_films_asiatiques_dramas.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Films Asiatiques Dramas", new_films_asiatiques_drama_path%>
</p>
