<div id="<%= dom_id jeux_videos_ost %>">































































  <p>































































    <strong>Name:</strong>































































    <%= jeux_videos_ost.name %>































































  </p>































































































































</div>
