<div id="<%= dom_id mangas_societe_role %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_societe_role.name %>































































  </p>































































































































</div>
