<h1>Editing personnalites agences ex</h1>































































































































<%= render "form", _personnalites_agences_ex: @_personnalites_agences_ex %>































































































































<br>































































































































<div>































































  <%= link_to "Show this personnalites agences ex", @_personnalites_agences_ex %> |































































  <%= link_to "Back to personnalites agences exes", personnalites_agences_exes_path %>































































</div>
