
<h1>voir tous les Personnalites Agences Exes</h1>
<%@_personnalites_agences_exes.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Personnalites Agences Exes", new_personnalites_agences_exe_path%>
</p>
