<h1>Editing light novels drama plu</h1>

<%= render "form", _light_novels_drama_plu: @_light_novels_drama_plu %>

<br>

<div>
  <%= link_to "Show this light novels drama plu", @_light_novels_drama_plu %> |
  <%= link_to "Back to light novels drama plus", _light_novels_drama_plus_path %>
</div>
