<div id="<%= dom_id dramas_ost %>">































































  <p>































































    <strong>Name:</strong>































































    <%= dramas_ost.name %>































































  </p>































































































































</div>
