<h1>New dramas ost</h1>































































































































<%= render "form", _dramas_ost: @_dramas_ost %>































































































































<br>































































































































<div>































































  <%= link_to "Back to dramas osts", dramas_osts_path %>































































</div>
