<div id="<%= dom_id osts_monnaie %>">































































  <p>































































    <strong>Name:</strong>































































    <%= osts_monnaie.name %>































































  </p>































































































































</div>
