<h1>Editing osts monnaie</h1>

<%= render "form", osts_monnaie: @osts_monnaie %>

<br>

<div>
  <%= link_to "Show this osts monnaie", @osts_monnaie %> |
  <%= link_to "Back to osts monnaies", osts_monnaies_path %>
</div>
