<p style="color: green"><%= notice %></p>































































































































<h1>Osts monnaies</h1>































































































































<div id="osts_monnaies">































































  <% @osts_monnaies.each do |osts_monnaie| %>































































    <%= render osts_monnaie %>































































    <p>































































      <%= link_to "Show this osts monnaie", osts_monnaie %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New osts monnaie", new_osts_monnaie_path %>
