<p style="color: green"><%= notice %></p>

<h1>Volumes</h1>

<div id="_volumes">
  <% @_volumes.each do |_volume| %>
    <%= render _volume %>
    <p>
      <%= link_to "Show this volume", _volume %>
    </p>
  <% end %>
</div>

<%= link_to "New volume", new__volume_path %>
