<h1>Editing dramas programme</h1>

<%= render "form", _dramas_programme: @_dramas_programme %>

<br>

<div>
  <%= link_to "Show this dramas programme", @_dramas_programme %> |
  <%= link_to "Back to dramas programmes", _dramas_programmes_path %>
</div>
