<h1>Editing jeux videos am plu</h1>































































































































<%= render "form", _jeux_videos_am_plu: @_jeux_videos_am_plu %>































































































































<br>































































































































<div>































































  <%= link_to "Show this jeux videos am plu", @_jeux_videos_am_plu %> |































































  <%= link_to "Back to jeux videos am plus", jeux_videos_am_plus_path %>































































</div>
