<div id="<%= dom_id dramas_pay %>">































































  <p>































































    <strong>Name:</strong>































































    <%= dramas_pay.name %>































































  </p>































































































































</div>
