<p style="color: green"><%= notice %></p>































































































































<h1>Dramas pays</h1>































































































































<div id="_dramas_pays">































































  <% @_dramas_pays.each do |_dramas_pay| %>































































    <%= render _dramas_pay %>































































    <p>































































      <%= link_to "Show this dramas pay", dramas_pay %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New dramas pay", new_dramas_pay_path %>
