<h1>New dramas pay</h1>































































































































<%= render "form", _dramas_pay: @_dramas_pay %>































































































































<br>































































































































<div>































































  <%= link_to "Back to dramas pays", dramas_pays_path %>































































</div>
