<div id="<%= dom_id dramas_editeurs_vf_role %>">































































  <p>































































    <strong>Name:</strong>































































    <%= dramas_editeurs_vf_role.name %>































































  </p>































































































































</div>
