<h1>Editing personnage danimes jv perso</h1>

<%= render "form", _personnage_danimes_jv_perso: @_personnage_danimes_jv_perso %>

<br>

<div>
  <%= link_to "Show this personnage danimes jv perso", @_personnage_danimes_jv_perso %> |
  <%= link_to "Back to personnage danimes jv persos", _personnage_danimes_jv_persos_path %>
</div>
