<div id="<%= dom_id doujinshis_public_averti %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujinshis_public_averti.name %>































































  </p>































































































































</div>
