
<h1>voir tous les Doujinshis Public Avertis</h1>
<%@_doujinshis_public_avertis.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Doujinshis Public Avertis", new_doujinshis_public_averti_path%>
</p>
