<h1>New doujinshis public averti</h1>































































































































<%= render "form", _doujinshis_public_averti: @_doujinshis_public_averti %>































































































































<br>































































































































<div>































































  <%= link_to "Back to doujinshis public avertis", doujinshis_public_avertis_path %>































































</div>
