<div id="<%= dom_id mangas_anime_plu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_anime_plu.name %>































































  </p>































































































































</div>
