<h1>New mangas anime plu</h1>































































































































<%= render "form", _mangas_anime_plu: @_mangas_anime_plu %>































































































































<br>































































































































<div>































































  <%= link_to "Back to mangas anime plus", mangas_anime_plus_path %>































































</div>
