<h1>Editing artbooks person</h1>































































































































<%= render "form", artbooks_person: @artbooks_person %>































































































































<br>































































































































<div>































































  <%= link_to "Show this artbooks person", @artbooks_person %> |































































  <%= link_to "Back to artbooks people", artbooks_people_path %>































































</div>
