<p style="color: green"><%= notice %></p>

<h1>Artbooks people</h1>

<div id="artbooks_people">
  <% @artbooks_people.each do |artbooks_person| %>
    <%= render artbooks_person %>
    <p>
      <%= link_to "Show this artbooks person", artbooks_person %>
    </p>
  <% end %>
</div>

<%= link_to "New artbooks person", new_artbooks_person_path %>
