<h1>Editing cds monnaie</h1>

<%= render "form", _cds_monnaie: @_cds_monnaie %>

<br>

<div>
  <%= link_to "Show this cds monnaie", @_cds_monnaie %> |
  <%= link_to "Back to cds monnaies", _cds_monnaies_path %>
</div>
