<div id="<%= dom_id light_novels_culture %>">































































  <p>































































    <strong>Name:</strong>































































    <%= light_novels_culture.name %>































































  </p>































































































































</div>
