<h1>Editing light novels culture</h1>

<%= render "form", _light_novels_culture: @_light_novels_culture %>

<br>

<div>
  <%= link_to "Show this light novels culture", @_light_novels_culture %> |
  <%= link_to "Back to light novels cultures", _light_novels_cultures_path %>
</div>
