<div id="<%= dom_id light_novels_litterature_asiatique %>">































































  <p>































































    <strong>Name:</strong>































































    <%= light_novels_litterature_asiatique.name %>































































  </p>































































































































</div>
