
<h1>voir tous les Light Novels Litterature Asiatiques</h1>
<%@_light_novels_litterature_asiatiques.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Light Novels Litterature Asiatiques", new_light_novels_litterature_asiatique_path%>
</p>
