<h1>New light novels litterature asiatique</h1>































































































































<%= render "form", _light_novels_litterature_asiatique: @_light_novels_litterature_asiatique %>































































































































<br>































































































































<div>































































  <%= link_to "Back to light novels litterature asiatiques", light_novels_litterature_asiatiques_path %>































































</div>
