<div id="<%= dom_id recettes_difficulte %>">































































  <p>































































    <strong>Name:</strong>































































    <%= recettes_difficulte.name %>































































  </p>































































































































</div>
