<h1>New recettes difficulte</h1>































































































































<%= render "form", _recettes_difficulte: @_recettes_difficulte %>































































































































<br>































































































































<div>































































  <%= link_to "Back to recettes difficultes", recettes_difficultes_path %>































































</div>
