<h1>Editing animes staff role</h1>

<%= render "form", animes_staff_role: @animes_staff_role %>

<br>

<div>
  <%= link_to "Show this animes staff role", @animes_staff_role %> |
  <%= link_to "Back to animes staff roles", animes_staff_roles_path %>
</div>
