<h1>Editing jeux videos manga</h1>

<%= render "form", _jeux_videos_manga: @_jeux_videos_manga %>

<br>

<div>
  <%= link_to "Show this jeux videos manga", @_jeux_videos_manga %> |
  <%= link_to "Back to jeux videos mangas", _jeux_videos_mangas_path %>
</div>
