<p style="color: green"><%= notice %></p>

<h1>Jeux videos mangas</h1>

<div id="_jeux_videos_mangas">
  <% @_jeux_videos_mangas.each do |_jeux_videos_manga| %>
    <%= render _jeux_videos_manga %>
    <p>
      <%= link_to "Show this jeux videos manga", _jeux_videos_manga %>
    </p>
  <% end %>
</div>

<%= link_to "New jeux videos manga", new__jeux_videos_manga_path %>
