<div id="<%= dom_id breves_culture %>">































































  <p>































































    <strong>Name:</strong>































































    <%= breves_culture.name %>































































  </p>































































































































</div>
