<h1>Editing breves culture</h1>































































































































<%= render "form", _breves_culture: @_breves_culture %>































































































































<br>































































































































<div>































































  <%= link_to "Show this breves culture", @_breves_culture %> |































































  <%= link_to "Back to breves cultures", breves_cultures_path %>































































</div>
