<h1>Editing films asiatiques type</h1>































































































































<%= render "form", _films_asiatiques_type: @_films_asiatiques_type %>































































































































<br>































































































































<div>































































  <%= link_to "Show this films asiatiques type", @_films_asiatiques_type %> |































































  <%= link_to "Back to films asiatiques types", films_asiatiques_types_path %>































































</div>
