<h1>New films asiatiques type</h1>

<%= render "form", _films_asiatiques_type: @_films_asiatiques_type %>

<br>

<div>
  <%= link_to "Back to films asiatiques types", _films_asiatiques_types_path %>
</div>
