<div id="<%= dom_id dramas_theme %>">































































  <p>































































    <strong>Name:</strong>































































    <%= dramas_theme.name %>































































  </p>































































































































</div>
