<p style="color: green"><%= notice %></p>

<h1>Dramas themes</h1>

<div id="_dramas_themes">
  <% @_dramas_themes.each do |_dramas_theme| %>
    <%= render _dramas_theme %>
    <p>
      <%= link_to "Show this dramas theme", _dramas_theme %>
    </p>
  <% end %>
</div>

<%= link_to "New dramas theme", new__dramas_theme_path %>
