<p style="color: green"><%= notice %></p>

<h1>Concerts type bonus</h1>

<div id="_clips___lives___bonus___concerts_type_bonus">
  <% @_clips___lives___bonus___concerts_type_bonus.each do |_clips___lives___bonus___concerts_type_bonu| %>
    <%= render _clips___lives___bonus___concerts_type_bonu %>
    <p>
      <%= link_to "Show this concerts type bonu", _clips___lives___bonus___concerts_type_bonu %>
    </p>
  <% end %>
</div>

<%= link_to "New concerts type bonu", new__clips___lives___bonus___concerts_type_bonu_path %>
