<div id="<%= dom_id personnalites_sexe %>">































































  <p>































































    <strong>Name:</strong>































































    <%= personnalites_sexe.name %>































































  </p>































































































































</div>
