<h1>New personnalites sexe</h1>































































































































<%= render "form", _personnalites_sex: @_personnalites_sex %>































































































































<br>































































































































<div>































































  <%= link_to "Back to personnalites sexes", personnalites_sexes_path %>































































</div>
