<div id="<%= dom_id personnages_de_jeux_videos_jv %>">































































  <p>































































    <strong>Name:</strong>































































    <%= personnages_de_jeux_videos_jv.name %>































































  </p>































































































































</div>
