<h1>New light novels staff role</h1>

<%= render "form", _light_novels_staff_role: @_light_novels_staff_role %>

<br>

<div>
  <%= link_to "Back to light novels staff roles", _light_novels_staff_roles_path %>
</div>
