<div id="<%= dom_id fiche_univers_actualite %>">































































  <p>































































    <strong>Name:</strong>































































    <%= fiche_univers_actualite.name %>































































  </p>































































































































</div>
