<h1>Editing fiche univers actualite</h1>































































































































<%= render "form", _fiche_univers_actualite: @_fiche_univers_actualite %>































































































































<br>































































































































<div>































































  <%= link_to "Show this fiche univers actualite", @_fiche_univers_actualite %> |































































  <%= link_to "Back to fiche univers actualites", fiche_univers_actualites_path %>































































</div>
