
<h1>voir tous les Fiche Univers Actualites</h1>
<%@_fiche_univers_actualites.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Fiche Univers Actualites", new_fiche_univers_actualite_path%>
</p>
