<p style="color: green"><%= notice %></p>

<h1>Photobooks actualites</h1>

<div id="_photobooks_actualites">
  <% @_photobooks_actualites.each do |_photobooks_actualite| %>
    <%= render _photobooks_actualite %>
    <p>
      <%= link_to "Show this photobooks actualite", _photobooks_actualite %>
    </p>
  <% end %>
</div>

<%= link_to "New photobooks actualite", new__photobooks_actualite_path %>
