<h1>New personnages de jeux videos perso plu</h1>

<%= render "form", _personnages_de_jeux_videos_perso_plu: @_personnages_de_jeux_videos_perso_plu %>

<br>

<div>
  <%= link_to "Back to personnages de jeux videos perso plus", _personnages_de_jeux_videos_perso_plus_path %>
</div>
