<h1>Editing cd</h1>































































































































<%= render "form", _cd: @_cd %>































































































































<br>































































































































<div>































































  <%= link_to "Show this cd", @_cd %> |































































  <%= link_to "Back to cds", cds_path %>































































</div>
