<p style="color: green"><%= notice %></p>































































































































<h1>Cds</h1>































































































































<div id="_cds">































































  <% @_cds.each do |_cd| %>































































    <%= render _cd %>































































    <p>































































      <%= link_to "Show this cd", cd %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New cd", new_cd_path %>
