<h1>New cd</h1>































































































































<%= render "form", _cd: @_cd %>































































































































<br>































































































































<div>































































  <%= link_to "Back to cds", cds_path %>































































</div>
