<div id="<%= dom_id doujinshis_france %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujinshis_france.name %>































































  </p>































































































































</div>
