<h1>Editing doujinshis france</h1>

<%= render "form", _doujinshis_france: @_doujinshis_france %>

<br>

<div>
  <%= link_to "Show this doujinshis france", @_doujinshis_france %> |
  <%= link_to "Back to doujinshis frances", _doujinshis_frances_path %>
</div>
