<div id="<%= dom_id goodies_groupe %>">































































  <p>































































    <strong>Name:</strong>































































    <%= goodies_groupe.name %>































































  </p>































































































































</div>
