<h1>Editing goodies groupe</h1>

<%= render "form", _goodies_groupe: @_goodies_groupe %>

<br>

<div>
  <%= link_to "Show this goodies groupe", @_goodies_groupe %> |
  <%= link_to "Back to goodies groupes", _goodies_groupes_path %>
</div>
