<p style="color: green"><%= notice %></p>































































































































<h1>Goodies groupes</h1>































































































































<div id="_goodies_groupes">































































  <% @_goodies_groupes.each do |_goodies_groupe| %>































































    <%= render _goodies_groupe %>































































    <p>































































      <%= link_to "Show this goodies groupe", goodies_groupe %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New goodies groupe", new_goodies_groupe_path %>
