<div id="<%= dom_id personnalites_pay %>">































































  <p>































































    <strong>Name:</strong>































































    <%= personnalites_pay.name %>































































  </p>































































































































</div>
