<h1>New personnalites pay</h1>































































































































<%= render "form", _personnalites_pay: @_personnalites_pay %>































































































































<br>































































































































<div>































































  <%= link_to "Back to personnalites pays", personnalites_pays_path %>































































</div>
