<div id="<%= dom_id dramas_origine %>">































































  <p>































































    <strong>Name:</strong>































































    <%= dramas_origine.name %>































































  </p>































































































































</div>
