<p style="color: green"><%= notice %></p>

<h1>Dramas origines</h1>

<div id="_dramas_origines">
  <% @_dramas_origines.each do |_dramas_origine| %>
    <%= render _dramas_origine %>
    <p>
      <%= link_to "Show this dramas origine", _dramas_origine %>
    </p>
  <% end %>
</div>

<%= link_to "New dramas origine", new__dramas_origine_path %>
