<div id="<%= dom_id breves_actualite %>">































































  <p>































































    <strong>Name:</strong>































































    <%= breves_actualite.name %>































































  </p>































































































































</div>
