<h1>Editing breves actualite</h1>































































































































<%= render "form", _breves_actualite: @_breves_actualite %>































































































































<br>































































































































<div>































































  <%= link_to "Show this breves actualite", @_breves_actualite %> |































































  <%= link_to "Back to breves actualites", breves_actualites_path %>































































</div>
