<div id="<%= dom_id personnalites_ex %>">































































  <p>































































    <strong>Name:</strong>































































    <%= personnalites_ex.name %>































































  </p>































































































































</div>
