<p style="color: green"><%= notice %></p>































































































































<h1>Personnalites exes</h1>































































































































<div id="_personnalites_exes">































































  <% @_personnalites_exes.each do |_personnalites_ex| %>































































    <%= render _personnalites_ex %>































































    <p>































































      <%= link_to "Show this personnalites ex", personnalites_ex %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New personnalites ex", new_personnalites_ex_path %>
