<h1>New personnalites ex</h1>































































































































<%= render "form", _personnalites_ex: @_personnalites_ex %>































































































































<br>































































































































<div>































































  <%= link_to "Back to personnalites exes", personnalites_exes_path %>































































</div>
