<div id="<%= dom_id petites_annonces_pay %>">































































  <p>































































    <strong>Name:</strong>































































    <%= petites_annonces_pay.name %>































































  </p>































































































































</div>
