<h1>Editing petites annonces pay</h1>































































































































<%= render "form", _petites_annonces_pay: @_petites_annonces_pay %>































































































































<br>































































































































<div>































































  <%= link_to "Show this petites annonces pay", @_petites_annonces_pay %> |































































  <%= link_to "Back to petites annonces pays", petites_annonces_pays_path %>































































</div>
