<h1>New petites annonces pay</h1>































































































































<%= render "form", _petites_annonces_pay: @_petites_annonces_pay %>































































































































<br>































































































































<div>































































  <%= link_to "Back to petites annonces pays", petites_annonces_pays_path %>































































</div>
