<div id="<%= dom_id doujins_convention %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujins_convention.name %>































































  </p>































































































































</div>
