<h1>Editing doujins convention</h1>































































































































<%= render "form", _doujins_convention: @_doujins_convention %>































































































































<br>































































































































<div>































































  <%= link_to "Show this doujins convention", @_doujins_convention %> |































































  <%= link_to "Back to doujins conventions", doujins_conventions_path %>































































</div>
