<h1>Editing films asiatiques societe role</h1>

<%= render "form", _films_asiatiques_societe_role: @_films_asiatiques_societe_role %>

<br>

<div>
  <%= link_to "Show this films asiatiques societe role", @_films_asiatiques_societe_role %> |
  <%= link_to "Back to films asiatiques societe roles", _films_asiatiques_societe_roles_path %>
</div>
