<h1>New concerts clip</h1>



<%= render "form", _clips_lives_bonus_concerts_clip: @_clips_lives_bonus_concerts_clip %>



<br>



<div>

  <%= link_to "Back to concerts clips", clips_lives_bonus_concerts_clips_path %>

</div>
