<div id="<%= dom_id fiche_univers_groupe %>">































































  <p>































































    <strong>Name:</strong>































































    <%= fiche_univers_groupe.name %>































































  </p>































































































































</div>
