<h1>Editing fiche univers groupe</h1>

<%= render "form", _fiche_univers_groupe: @_fiche_univers_groupe %>

<br>

<div>
  <%= link_to "Show this fiche univers groupe", @_fiche_univers_groupe %> |
  <%= link_to "Back to fiche univers groupes", _fiche_univers_groupes_path %>
</div>
