<h1>New fiche univers groupe</h1>































































































































<%= render "form", _fiche_univers_groupe: @_fiche_univers_groupe %>































































































































<br>































































































































<div>































































  <%= link_to "Back to fiche univers groupes", fiche_univers_groupes_path %>































































</div>
