<h1>Editing livre</h1>































































































































<%= render "form", _livre: @_livre %>































































































































<br>































































































































<div>































































  <%= link_to "Show this livre", @_livre %> |































































  <%= link_to "Back to livres", livres_path %>































































</div>
