<h1>Editing breves sondage</h1>































































































































<%= render "form", _breves_sondage: @_breves_sondage %>































































































































<br>































































































































<div>































































  <%= link_to "Show this breves sondage", @_breves_sondage %> |































































  <%= link_to "Back to breves sondages", breves_sondages_path %>































































</div>
