<h1>New light novels anime plu</h1>

<%= render "form", _light_novels_anime_plu: @_light_novels_anime_plu %>

<br>

<div>
  <%= link_to "Back to light novels anime plus", _light_novels_anime_plus_path %>
</div>
