<h1>Editing livres ln plu</h1>































































































































<%= render "form", _livres_ln_plu: @_livres_ln_plu %>































































































































<br>































































































































<div>































































  <%= link_to "Show this livres ln plu", @_livres_ln_plu %> |































































  <%= link_to "Back to livres ln plus", livres_ln_plus_path %>































































</div>
