<p style="color: green"><%= notice %></p>

<h1>Dramas cds</h1>

<div id="_dramas_cds">
  <% @_dramas_cds.each do |_dramas_cd| %>
    <%= render _dramas_cd %>
    <p>
      <%= link_to "Show this dramas cd", _dramas_cd %>
    </p>
  <% end %>
</div>

<%= link_to "New dramas cd", new__dramas_cd_path %>
