<div id="<%= dom_id doujinshis_anime_plu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujinshis_anime_plu.name %>































































  </p>































































































































</div>
