<h1>Editing doujinshis anime plu</h1>

<%= render "form", _doujinshis_anime_plu: @_doujinshis_anime_plu %>

<br>

<div>
  <%= link_to "Show this doujinshis anime plu", @_doujinshis_anime_plu %> |
  <%= link_to "Back to doujinshis anime plus", _doujinshis_anime_plus_path %>
</div>
