<h1>Editing animes litterature asiatique</h1>































































































































<%= render "form", animes_litterature_asiatique: @animes_litterature_asiatique %>































































































































<br>































































































































<div>































































  <%= link_to "Show this animes litterature asiatique", @animes_litterature_asiatique %> |































































  <%= link_to "Back to animes litterature asiatiques", animes_litterature_asiatiques_path %>































































</div>
