<p style="color: green"><%= notice %></p>

<h1>Animes litterature asiatiques</h1>

<div id="animes_litterature_asiatiques">
  <% @animes_litterature_asiatiques.each do |animes_litterature_asiatique| %>
    <%= render animes_litterature_asiatique %>
    <p>
      <%= link_to "Show this animes litterature asiatique", animes_litterature_asiatique %>
    </p>
  <% end %>
</div>

<%= link_to "New animes litterature asiatique", new_animes_litterature_asiatique_path %>
