<div id="<%= dom_id recettes_type %>">































































  <p>































































    <strong>Name:</strong>































































    <%= recettes_type.name %>































































  </p>































































































































</div>
