<h1>New recettes type</h1>































































































































<%= render "form", _recettes_type: @_recettes_type %>































































































































<br>































































































































<div>































































  <%= link_to "Back to recettes types", recettes_types_path %>































































</div>
