<div id="<%= dom_id jeux_videos_ln %>">































































  <p>































































    <strong>Name:</strong>































































    <%= jeux_videos_ln.name %>































































  </p>































































































































</div>
