<h1>New jeux videos ln</h1>































































































































<%= render "form", _jeux_videos_ln: @_jeux_videos_ln %>































































































































<br>































































































































<div>































































  <%= link_to "Back to jeux videos lns", jeux_videos_lns_path %>































































</div>
