<h1>Editing light novels ost</h1>

<%= render "form", _light_novels_ost: @_light_novels_ost %>

<br>

<div>
  <%= link_to "Show this light novels ost", @_light_novels_ost %> |
  <%= link_to "Back to light novels osts", _light_novels_osts_path %>
</div>
