<p style="color: green"><%= notice %></p>































































































































<h1>Light novels osts</h1>































































































































<div id="_light_novels_osts">































































  <% @_light_novels_osts.each do |_light_novels_ost| %>































































    <%= render _light_novels_ost %>































































    <p>































































      <%= link_to "Show this light novels ost", light_novels_ost %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New light novels ost", new_light_novels_ost_path %>
