<div id="<%= dom_id breves_anime_studio %>">































































  <p>































































    <strong>Name:</strong>































































    <%= breves_anime_studio.name %>































































  </p>































































































































</div>
