<h1>Editing breves anime studio</h1>

<%= render "form", _breves_anime_studio: @_breves_anime_studio %>

<br>

<div>
  <%= link_to "Show this breves anime studio", @_breves_anime_studio %> |
  <%= link_to "Back to breves anime studios", _breves_anime_studios_path %>
</div>
