<h1>New numero demission tvs presentateur</h1>

<%= render "form", _numero_demission_tvs_presentateur: @_numero_demission_tvs_presentateur %>

<br>

<div>
  <%= link_to "Back to numero demission tvs presentateurs", _numero_demission_tvs_presentateurs_path %>
</div>
