<p style="color: green"><%= notice %></p>

<h1>Dramas osts</h1>

<div id="_dramas_osts">
  <% @_dramas_osts.each do |_dramas_ost| %>
    <%= render _dramas_ost %>
    <p>
      <%= link_to "Show this dramas ost", _dramas_ost %>
    </p>
  <% end %>
</div>

<%= link_to "New dramas ost", new__dramas_ost_path %>
