<p style="color: green"><%= notice %></p>































































































































<h1>Osts osts</h1>































































































































<div id="osts_osts">































































  <% @osts_osts.each do |osts_ost| %>































































    <%= render osts_ost %>































































    <p>































































      <%= link_to "Show this osts ost", osts_ost %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New osts ost", new_osts_ost_path %>
