<div id="<%= dom_id films_asiatiques_genre %>">































































  <p>































































    <strong>Name:</strong>































































    <%= films_asiatiques_genre.name %>































































  </p>































































































































</div>
