<h1>Editing films asiatiques genre</h1>































































































































<%= render "form", _films_asiatiques_genre: @_films_asiatiques_genre %>































































































































<br>































































































































<div>































































  <%= link_to "Show this films asiatiques genre", @_films_asiatiques_genre %> |































































  <%= link_to "Back to films asiatiques genres", films_asiatiques_genres_path %>































































</div>
