
<h1>voir tous les Films Asiatiques Genres</h1>
<%@_films_asiatiques_genres.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Films Asiatiques Genres", new_films_asiatiques_genre_path%>
</p>
