<p style="color: green"><%= notice %></p>































































































































<h1>Films asiatiques genres</h1>































































































































<div id="_films_asiatiques_genres">































































  <% @_films_asiatiques_genres.each do |_films_asiatiques_genre| %>































































    <%= render _films_asiatiques_genre %>































































    <p>































































      <%= link_to "Show this films asiatiques genre", films_asiatiques_genre %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New films asiatiques genre", new_films_asiatiques_genre_path %>
