<h1>New films asiatiques genre</h1>































































































































<%= render "form", _films_asiatiques_genre: @_films_asiatiques_genre %>































































































































<br>































































































































<div>































































  <%= link_to "Back to films asiatiques genres", films_asiatiques_genres_path %>































































</div>
