<div id="<%= dom_id breves_litterature_asiatique %>">































































  <p>































































    <strong>Name:</strong>































































    <%= breves_litterature_asiatique.name %>































































  </p>































































































































</div>
