<p style="color: green"><%= notice %></p>

<h1>Breves litterature asiatiques</h1>

<div id="_breves_litterature_asiatiques">
  <% @_breves_litterature_asiatiques.each do |_breves_litterature_asiatique| %>
    <%= render _breves_litterature_asiatique %>
    <p>
      <%= link_to "Show this breves litterature asiatique", _breves_litterature_asiatique %>
    </p>
  <% end %>
</div>

<%= link_to "New breves litterature asiatique", new__breves_litterature_asiatique_path %>
