
<h1>voir tous les Breves Litterature Asiatiques</h1>
<%@_breves_litterature_asiatiques.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Breves Litterature Asiatiques", new_breves_litterature_asiatique_path%>
</p>
