<div id="<%= dom_id doujins_ln %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujins_ln.name %>































































  </p>































































































































</div>
