<p style="color: green"><%= notice %></p>

<h1>Doujins lns</h1>

<div id="_doujins_lns">
  <% @_doujins_lns.each do |_doujins_ln| %>
    <%= render _doujins_ln %>
    <p>
      <%= link_to "Show this doujins ln", _doujins_ln %>
    </p>
  <% end %>
</div>

<%= link_to "New doujins ln", new__doujins_ln_path %>
