<h1>New doujins ln</h1>































































































































<%= render "form", _doujins_ln: @_doujins_ln %>































































































































<br>































































































































<div>































































  <%= link_to "Back to doujins lns", doujins_lns_path %>































































</div>
