<div id="<%= dom_id mangas_quizz %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_quizz.name %>































































  </p>































































































































</div>
