<div id="<%= dom_id doujinshis_litterature_asiatique %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujinshis_litterature_asiatique.name %>































































  </p>































































































































</div>
