
<h1>voir tous les Doujinshis Litterature Asiatiques</h1>
<%@_doujinshis_litterature_asiatiques.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Doujinshis Litterature Asiatiques", new_doujinshis_litterature_asiatique_path%>
</p>
