<div id="<%= dom_id light_novels_anime %>">































































  <p>































































    <strong>Name:</strong>































































    <%= light_novels_anime.name %>































































  </p>































































































































</div>
