<h1>New light novels anime</h1>































































































































<%= render "form", _light_novels_anime: @_light_novels_anime %>































































































































<br>































































































































<div>































































  <%= link_to "Back to light novels animes", light_novels_animes_path %>































































</div>
