<p style="color: green"><%= notice %></p>































































































































<h1>Volumes lns</h1>































































































































<div id="_volumes_lns">































































  <% @_volumes_lns.each do |_volumes_ln| %>































































    <%= render _volumes_ln %>































































    <p>































































      <%= link_to "Show this volumes ln", volumes_ln %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New volumes ln", new_volumes_ln_path %>
