<div id="<%= dom_id breves_societe %>">































































  <p>































































    <strong>Name:</strong>































































    <%= breves_societe.name %>































































  </p>































































































































</div>
