<p style="color: green"><%= notice %></p>































































































































<h1>Breves societes</h1>































































































































<div id="_breves_societes">































































  <% @_breves_societes.each do |_breves_societe| %>































































    <%= render _breves_societe %>































































    <p>































































      <%= link_to "Show this breves societe", breves_societe %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New breves societe", new_breves_societe_path %>
