
<h1>voir tous les Films Asiatiques Litterature Asiatiques</h1>
<%@_films_asiatiques_litterature_asiatiques.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Films Asiatiques Litterature Asiatiques", new_films_asiatiques_litterature_asiatique_path%>
</p>
