<h1>New films asiatiques litterature asiatique</h1>

<%= render "form", _films_asiatiques_litterature_asiatique: @_films_asiatiques_litterature_asiatique %>

<br>

<div>
  <%= link_to "Back to films asiatiques litterature asiatiques", _films_asiatiques_litterature_asiatiques_path %>
</div>
