<div id="<%= dom_id mangas_societe_person %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_societe_person.name %>































































  </p>































































































































</div>
