<h1>New mangas societe person</h1>































































































































<%= render "form", _mangas_societe_person: @_mangas_societe_person %>































































































































<br>































































































































<div>































































  <%= link_to "Back to mangas societe people", mangas_societe_people_path %>































































</div>
