<p style="color: green"><%= notice %></p>

<h1>Personnages de jeux videos doubleur pays</h1>

<div id="_personnages_de_jeux_videos_doubleur_pays">
  <% @_personnages_de_jeux_videos_doubleur_pays.each do |_personnages_de_jeux_videos_doubleur_pay| %>
    <%= render _personnages_de_jeux_videos_doubleur_pay %>
    <p>
      <%= link_to "Show this personnages de jeux videos doubleur pay", _personnages_de_jeux_videos_doubleur_pay %>
    </p>
  <% end %>
</div>

<%= link_to "New personnages de jeux videos doubleur pay", new__personnages_de_jeux_videos_doubleur_pay_path %>
