<h1>Editing artbooks ln</h1>































































































































<%= render "form", artbooks_ln: @artbooks_ln %>































































































































<br>































































































































<div>































































  <%= link_to "Show this artbooks ln", @artbooks_ln %> |































































  <%= link_to "Back to artbooks lns", artbooks_lns_path %>































































</div>
