<p style="color: green"><%= notice %></p>































































































































<h1>Artbooks lns</h1>































































































































<div id="artbooks_lns">































































  <% @artbooks_lns.each do |artbooks_ln| %>































































    <%= render artbooks_ln %>































































    <p>































































      <%= link_to "Show this artbooks ln", artbooks_ln %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New artbooks ln", new_artbooks_ln_path %>
