<h1>Editing numero demission tvs person</h1>

<%= render "form", _numero_demission_tvs_person: @_numero_demission_tvs_person %>

<br>

<div>
  <%= link_to "Show this numero demission tvs person", @_numero_demission_tvs_person %> |
  <%= link_to "Back to numero demission tvs people", _numero_demission_tvs_people_path %>
</div>
