
<h1>voir tous les Numero Demission Tvs People</h1>
<%@_numero_demission_tvs_people.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Numero Demission Tvs People", new_numero_demission_tvs_peopl_path%>
</p>
