<h1>Editing light novels genre</h1>































































































































<%= render "form", _light_novels_genre: @_light_novels_genre %>































































































































<br>































































































































<div>































































  <%= link_to "Show this light novels genre", @_light_novels_genre %> |































































  <%= link_to "Back to light novels genres", light_novels_genres_path %>































































</div>
