<p style="color: green"><%= notice %></p>































































































































<h1>Light novels genres</h1>































































































































<div id="_light_novels_genres">































































  <% @_light_novels_genres.each do |_light_novels_genre| %>































































    <%= render _light_novels_genre %>































































    <p>































































      <%= link_to "Show this light novels genre", light_novels_genre %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New light novels genre", new_light_novels_genre_path %>
