<h1>Editing personnages de jeux video</h1>































































































































<%= render "form", _personnages_de_jeux_video: @_personnages_de_jeux_video %>































































































































<br>































































































































<div>































































  <%= link_to "Show this personnages de jeux video", @_personnages_de_jeux_video %> |































































  <%= link_to "Back to personnages de jeux videos", personnages_de_jeux_videos_path %>































































</div>
