
<h1>voir tous les Personnages De Jeux Videos</h1>
<%@_personnages_de_jeux_videos.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Personnages De Jeux Videos", new_personnages_de_jeux_video_path%>
</p>
