<h1>Editing doujinshis doujinshi plu</h1>

<%= render "form", _doujinshis_doujinshi_plu: @_doujinshis_doujinshi_plu %>

<br>

<div>
  <%= link_to "Show this doujinshis doujinshi plu", @_doujinshis_doujinshi_plu %> |
  <%= link_to "Back to doujinshis doujinshi plus", _doujinshis_doujinshi_plus_path %>
</div>
