<div id="<%= dom_id concerts_pay %>">































































  <p>































































    <strong>Name:</strong>































































    <%= concerts_pay.name %>































































  </p>































































































































</div>
