<div id="<%= dom_id mangas_staff_person %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_staff_person.name %>































































  </p>































































































































</div>
