<h1>Editing mangas staff person</h1>

<%= render "form", _mangas_staff_person: @_mangas_staff_person %>

<br>

<div>
  <%= link_to "Show this mangas staff person", @_mangas_staff_person %> |
  <%= link_to "Back to mangas staff people", _mangas_staff_people_path %>
</div>
