<div id="<%= dom_id mangas_sondage %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_sondage.name %>































































  </p>































































































































</div>
