<h1>Editing mangas sondage</h1>































































































































<%= render "form", _mangas_sondage: @_mangas_sondage %>































































































































<br>































































































































<div>































































  <%= link_to "Show this mangas sondage", @_mangas_sondage %> |































































  <%= link_to "Back to mangas sondages", mangas_sondages_path %>































































</div>
