<div id="<%= dom_id breves_ost %>">































































  <p>































































    <strong>Name:</strong>































































    <%= breves_ost.name %>































































  </p>































































































































</div>
