<h1>Editing breves ost</h1>

<%= render "form", _breves_ost: @_breves_ost %>

<br>

<div>
  <%= link_to "Show this breves ost", @_breves_ost %> |
  <%= link_to "Back to breves osts", _breves_osts_path %>
</div>
