<p style="color: green"><%= notice %></p>































































































































<h1>Breves osts</h1>































































































































<div id="_breves_osts">































































  <% @_breves_osts.each do |_breves_ost| %>































































    <%= render _breves_ost %>































































    <p>































































      <%= link_to "Show this breves ost", breves_ost %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New breves ost", new_breves_ost_path %>
