<p style="color: green"><%= notice %></p>

<h1>Jeux videos univers</h1>

<div id="_jeux_videos_univers">
  <% @_jeux_videos_univers.each do |_jeux_videos_univer| %>
    <%= render _jeux_videos_univer %>
    <p>
      <%= link_to "Show this jeux videos univer", _jeux_videos_univer %>
    </p>
  <% end %>
</div>

<%= link_to "New jeux videos univer", new__jeux_videos_univer_path %>
