<div id="<%= dom_id doujins_am %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujins_am.name %>































































  </p>































































































































</div>
