<h1>Editing doujins am</h1>































































































































<%= render "form", _doujins_am: @_doujins_am %>































































































































<br>































































































































<div>































































  <%= link_to "Show this doujins am", @_doujins_am %> |































































  <%= link_to "Back to doujins ams", doujins_ams_path %>































































</div>
