<div id="<%= dom_id jeux_videos_ln_plu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= jeux_videos_ln_plu.name %>































































  </p>































































































































</div>
