<p style="color: green"><%= notice %></p>































































































































<h1>Jeux videos ln plus</h1>































































































































<div id="_jeux_videos_ln_plus">































































  <% @_jeux_videos_ln_plus.each do |_jeux_videos_ln_plu| %>































































    <%= render _jeux_videos_ln_plu %>































































    <p>































































      <%= link_to "Show this jeux videos ln plu", jeux_videos_ln_plu %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New jeux videos ln plu", new_jeux_videos_ln_plu_path %>
