<h1>Editing doujinshis perso manga</h1>

<%= render "form", _doujinshis_perso_manga: @_doujinshis_perso_manga %>

<br>

<div>
  <%= link_to "Show this doujinshis perso manga", @_doujinshis_perso_manga %> |
  <%= link_to "Back to doujinshis perso mangas", _doujinshis_perso_mangas_path %>
</div>
