<div id="<%= dom_id dramas_univer %>">































































  <p>































































    <strong>Name:</strong>































































    <%= dramas_univer.name %>































































  </p>































































































































</div>
