<h1>Editing dramas univer</h1>































































































































<%= render "form", _dramas_univer: @_dramas_univer %>































































































































<br>































































































































<div>































































  <%= link_to "Show this dramas univer", @_dramas_univer %> |































































  <%= link_to "Back to dramas univers", dramas_univers_path %>































































</div>
