<p style="color: green"><%= notice %></p>

<h1>Dramas univers</h1>

<div id="_dramas_univers">
  <% @_dramas_univers.each do |_dramas_univer| %>
    <%= render _dramas_univer %>
    <p>
      <%= link_to "Show this dramas univer", _dramas_univer %>
    </p>
  <% end %>
</div>

<%= link_to "New dramas univer", new__dramas_univer_path %>
