<p style="color: green"><%= notice %></p>

<h1>Dramas ln plus</h1>

<div id="_dramas_ln_plus">
  <% @_dramas_ln_plus.each do |_dramas_ln_plu| %>
    <%= render _dramas_ln_plu %>
    <p>
      <%= link_to "Show this dramas ln plu", _dramas_ln_plu %>
    </p>
  <% end %>
</div>

<%= link_to "New dramas ln plu", new__dramas_ln_plu_path %>
