<div id="<%= dom_id dramas_actualite %>">































































  <p>































































    <strong>Name:</strong>































































    <%= dramas_actualite.name %>































































  </p>































































































































</div>
