<p style="color: green"><%= notice %></p>































































































































<h1>Dramas actualites</h1>































































































































<div id="_dramas_actualites">































































  <% @_dramas_actualites.each do |_dramas_actualite| %>































































    <%= render _dramas_actualite %>































































    <p>































































      <%= link_to "Show this dramas actualite", dramas_actualite %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New dramas actualite", new_dramas_actualite_path %>
