<div id="<%= dom_id breves_photobook %>">































































  <p>































































    <strong>Name:</strong>































































    <%= breves_photobook.name %>































































  </p>































































































































</div>
