<h1>Editing breves photobook</h1>































































































































<%= render "form", _breves_photobook: @_breves_photobook %>































































































































<br>































































































































<div>































































  <%= link_to "Show this breves photobook", @_breves_photobook %> |































































  <%= link_to "Back to breves photobooks", breves_photobooks_path %>































































</div>
