<p style="color: green"><%= notice %></p>































































































































<h1>Breves photobooks</h1>































































































































<div id="_breves_photobooks">































































  <% @_breves_photobooks.each do |_breves_photobook| %>































































    <%= render _breves_photobook %>































































    <p>































































      <%= link_to "Show this breves photobook", breves_photobook %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New breves photobook", new_breves_photobook_path %>
