<p style="color: green"><%= notice %></p>































































































































<h1>Artbooks cultures</h1>































































































































<div id="artbooks_cultures">































































  <% @artbooks_cultures.each do |artbooks_culture| %>































































    <%= render artbooks_culture %>































































    <p>































































      <%= link_to "Show this artbooks culture", artbooks_culture %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New artbooks culture", new_artbooks_culture_path %>
