<h1>New artbooks culture</h1>































































































































<%= render "form", artbooks_culture: @artbooks_culture %>































































































































<br>































































































































<div>































































  <%= link_to "Back to artbooks cultures", artbooks_cultures_path %>































































</div>
