<div id="<%= dom_id dramas_acteur %>">































































  <p>































































    <strong>Name:</strong>































































    <%= dramas_acteur.name %>































































  </p>































































































































</div>
