<p style="color: green"><%= notice %></p>

<h1>Dramas acteurs</h1>

<div id="_dramas_acteurs">
  <% @_dramas_acteurs.each do |_dramas_acteur| %>
    <%= render _dramas_acteur %>
    <p>
      <%= link_to "Show this dramas acteur", _dramas_acteur %>
    </p>
  <% end %>
</div>

<%= link_to "New dramas acteur", new__dramas_acteur_path %>
