<p style="color: green"><%= notice %></p>































































































































<h1>Dramas staff people</h1>































































































































<div id="_dramas_staff_people">































































  <% @_dramas_staff_people.each do |_dramas_staff_person| %>































































    <%= render _dramas_staff_person %>































































    <p>































































      <%= link_to "Show this dramas staff person", dramas_staff_person %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New dramas staff person", new_dramas_staff_person_path %>
