<div id="<%= dom_id recettes_plat %>">































































  <p>































































    <strong>Name:</strong>































































    <%= recettes_plat.name %>































































  </p>































































































































</div>
