<h1>New recettes plat</h1>































































































































<%= render "form", _recettes_plat: @_recettes_plat %>































































































































<br>































































































































<div>































































  <%= link_to "Back to recettes plats", recettes_plats_path %>































































</div>
