<h1>Editing artbooks societe role</h1>

<%= render "form", artbooks_societe_role: @artbooks_societe_role %>

<br>

<div>
  <%= link_to "Show this artbooks societe role", @artbooks_societe_role %> |
  <%= link_to "Back to artbooks societe roles", artbooks_societe_roles_path %>
</div>
