<p style="color: green"><%= notice %></p>

<h1>Artbooks societe roles</h1>

<div id="artbooks_societe_roles">
  <% @artbooks_societe_roles.each do |artbooks_societe_role| %>
    <%= render artbooks_societe_role %>
    <p>
      <%= link_to "Show this artbooks societe role", artbooks_societe_role %>
    </p>
  <% end %>
</div>

<%= link_to "New artbooks societe role", new_artbooks_societe_role_path %>
