<h1>Editing animes culture</h1>

<%= render "form", animes_culture: @animes_culture %>

<br>

<div>
  <%= link_to "Show this animes culture", @animes_culture %> |
  <%= link_to "Back to animes cultures", animes_cultures_path %>
</div>
