<h1>New films asiatiques anime plu</h1>

<%= render "form", _films_asiatiques_anime_plu: @_films_asiatiques_anime_plu %>

<br>

<div>
  <%= link_to "Back to films asiatiques anime plus", _films_asiatiques_anime_plus_path %>
</div>
