<div id="<%= dom_id jeux_videos_cd %>">































































  <p>































































    <strong>Name:</strong>































































    <%= jeux_videos_cd.name %>































































  </p>































































































































</div>
