<div id="<%= dom_id fiche_univers_perso_manga %>">































































  <p>































































    <strong>Name:</strong>































































    <%= fiche_univers_perso_manga.name %>































































  </p>































































































































</div>
