<h1>Editing fiche univers perso manga</h1>































































































































<%= render "form", _fiche_univers_perso_manga: @_fiche_univers_perso_manga %>































































































































<br>































































































































<div>































































  <%= link_to "Show this fiche univers perso manga", @_fiche_univers_perso_manga %> |































































  <%= link_to "Back to fiche univers perso mangas", fiche_univers_perso_mangas_path %>































































</div>
