<p style="color: green"><%= notice %></p>

<h1>Fiche univers perso mangas</h1>

<div id="_fiche_univers_perso_mangas">
  <% @_fiche_univers_perso_mangas.each do |_fiche_univers_perso_manga| %>
    <%= render _fiche_univers_perso_manga %>
    <p>
      <%= link_to "Show this fiche univers perso manga", _fiche_univers_perso_manga %>
    </p>
  <% end %>
</div>

<%= link_to "New fiche univers perso manga", new__fiche_univers_perso_manga_path %>
