<h1>New fiche univers perso manga</h1>































































































































<%= render "form", _fiche_univers_perso_manga: @_fiche_univers_perso_manga %>































































































































<br>































































































































<div>































































  <%= link_to "Back to fiche univers perso mangas", fiche_univers_perso_mangas_path %>































































</div>
