<div id="<%= dom_id goodies_artbook %>">































































  <p>































































    <strong>Name:</strong>































































    <%= goodies_artbook.name %>































































  </p>































































































































</div>
