<p style="color: green"><%= notice %></p>































































































































<h1>Goodies artbooks</h1>































































































































<div id="_goodies_artbooks">































































  <% @_goodies_artbooks.each do |_goodies_artbook| %>































































    <%= render _goodies_artbook %>































































    <p>































































      <%= link_to "Show this goodies artbook", goodies_artbook %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New goodies artbook", new_goodies_artbook_path %>
