<div id="<%= dom_id photobooks_bonu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= photobooks_bonu.name %>































































  </p>































































































































</div>
