<h1>Editing photobooks bonu</h1>































































































































<%= render "form", _photobooks_bonu: @_photobooks_bonu %>































































































































<br>































































































































<div>































































  <%= link_to "Show this photobooks bonu", @_photobooks_bonu %> |































































  <%= link_to "Back to photobooks bonus", photobooks_bonus_path %>































































</div>
