<p style="color: green"><%= notice %></p>

<h1>Photobooks bonus</h1>

<div id="_photobooks_bonus">
  <% @_photobooks_bonus.each do |_photobooks_bonu| %>
    <%= render _photobooks_bonu %>
    <p>
      <%= link_to "Show this photobooks bonu", _photobooks_bonu %>
    </p>
  <% end %>
</div>

<%= link_to "New photobooks bonu", new__photobooks_bonu_path %>
