<h1>Editing films asiatiques en salle</h1>

<%= render "form", _films_asiatiques_en_salle: @_films_asiatiques_en_salle %>

<br>

<div>
  <%= link_to "Show this films asiatiques en salle", @_films_asiatiques_en_salle %> |
  <%= link_to "Back to films asiatiques en salles", _films_asiatiques_en_salles_path %>
</div>
