
<h1>voir tous les Films Asiatiques En Salles</h1>
<%@_films_asiatiques_en_salles.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Films Asiatiques En Salles", new_films_asiatiques_en_salle_path%>
</p>
