<h1>New films asiatiques en salle</h1>































































































































<%= render "form", _films_asiatiques_en_salle: @_films_asiatiques_en_salle %>































































































































<br>































































































































<div>































































  <%= link_to "Back to films asiatiques en salles", films_asiatiques_en_salles_path %>































































</div>
