<h1>New dramas editeurs vf role</h1>

<%= render "form", _dramas_editeurs_vf_role: @_dramas_editeurs_vf_role %>

<br>

<div>
  <%= link_to "Back to dramas editeurs vf roles", _dramas_editeurs_vf_roles_path %>
</div>
