<div id="<%= dom_id cds_anime %>">































































  <p>































































    <strong>Name:</strong>































































    <%= cds_anime.name %>































































  </p>































































































































</div>
