<h1>Editing cds anime</h1>































































































































<%= render "form", _cds_anime: @_cds_anime %>































































































































<br>































































































































<div>































































  <%= link_to "Show this cds anime", @_cds_anime %> |































































  <%= link_to "Back to cds animes", cds_animes_path %>































































</div>
