<p style="color: green"><%= notice %></p>































































































































<h1>Cds animes</h1>































































































































<div id="_cds_animes">































































  <% @_cds_animes.each do |_cds_anime| %>































































    <%= render _cds_anime %>































































    <p>































































      <%= link_to "Show this cds anime", cds_anime %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New cds anime", new_cds_anime_path %>
