<p style="color: green"><%= notice %></p>

<h1>Blu rays editeurs</h1>

<div id="_dvd___blu_rays_editeurs">
  <% @_dvd___blu_rays_editeurs.each do |_dvd___blu_rays_editeur| %>
    <%= render _dvd___blu_rays_editeur %>
    <p>
      <%= link_to "Show this blu rays editeur", _dvd___blu_rays_editeur %>
    </p>
  <% end %>
</div>

<%= link_to "New blu rays editeur", new__dvd___blu_rays_editeur_path %>
