<h1>New petites annonces lieu</h1>

<%= render "form", _petites_annonces_lieu: @_petites_annonces_lieu %>

<br>

<div>
  <%= link_to "Back to petites annonces lieus", _petites_annonces_lieus_path %>
</div>
