<div id="<%= dom_id amvs_amv %>">































































  <p>































































    <strong>Name:</strong>































































    <%= amvs_amv.name %>































































  </p>































































































































</div>
