<div id="<%= dom_id animes_am %>">































































  <p>































































    <strong>Name:</strong>































































    <%= animes_am.name %>































































  </p>































































































































</div>
