<h1>Editing animes am</h1>































































































































<%= render "form", animes_am: @animes_am %>































































































































<br>































































































































<div>































































  <%= link_to "Show this animes am", @animes_am %> |































































  <%= link_to "Back to animes ams", animes_ams_path %>































































</div>
