<div id="<%= dom_id breves_actualite_mini %>">































































  <p>































































    <strong>Name:</strong>































































    <%= breves_actualite_mini.name %>































































  </p>































































































































</div>
