<div id="<%= dom_id livres_actualite %>">































































  <p>































































    <strong>Name:</strong>































































    <%= livres_actualite.name %>































































  </p>































































































































</div>
