<h1>Editing livres actualite</h1>

<%= render "form", _livres_actualite: @_livres_actualite %>

<br>

<div>
  <%= link_to "Show this livres actualite", @_livres_actualite %> |
  <%= link_to "Back to livres actualites", _livres_actualites_path %>
</div>
