<h1>New livres actualite</h1>































































































































<%= render "form", _livres_actualite: @_livres_actualite %>































































































































<br>































































































































<div>































































  <%= link_to "Back to livres actualites", livres_actualites_path %>































































</div>
