<div id="<%= dom_id amvs_maker %>">































































  <p>































































    <strong>Name:</strong>































































    <%= amvs_maker.name %>































































  </p>































































































































</div>
