<h1>Editing amvs maker</h1>

<%= render "form", amvs_maker: @amvs_maker %>

<br>

<div>
  <%= link_to "Show this amvs maker", @amvs_maker %> |
  <%= link_to "Back to amvs makers", amvs_makers_path %>
</div>
