<p style="color: green"><%= notice %></p>

<h1>Amvs makers</h1>

<div id="amvs_makers">
  <% @amvs_makers.each do |amvs_maker| %>
    <%= render amvs_maker %>
    <p>
      <%= link_to "Show this amvs maker", amvs_maker %>
    </p>
  <% end %>
</div>

<%= link_to "New amvs maker", new_amvs_maker_path %>
