<h1>New amvs maker</h1>































































































































<%= render "form", amvs_maker: @amvs_maker %>































































































































<br>































































































































<div>































































  <%= link_to "Back to amvs makers", amvs_makers_path %>































































</div>
