<h1>Editing doujinshi</h1>































































































































<%= render "form", _doujinshi: @_doujinshi %>































































































































<br>































































































































<div>































































  <%= link_to "Show this doujinshi", @_doujinshi %> |































































  <%= link_to "Back to doujinshis", doujinshis_path %>































































</div>
