<h1>New doujinshi</h1>































































































































<%= render "form", _doujinshi: @_doujinshi %>































































































































<br>































































































































<div>































































  <%= link_to "Back to doujinshis", doujinshis_path %>































































</div>
