
<h1>voir tous les Films Asiatiques Am Plus</h1>
<%@_films_asiatiques_am_plus.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Films Asiatiques Am Plus", new_films_asiatiques_am_plu_path%>
</p>
