<h1>Editing breves ln</h1>































































































































<%= render "form", _breves_ln: @_breves_ln %>































































































































<br>































































































































<div>































































  <%= link_to "Show this breves ln", @_breves_ln %> |































































  <%= link_to "Back to breves lns", breves_lns_path %>































































</div>
