<h1>New films asiatiques societe person</h1>































































































































<%= render "form", _films_asiatiques_societe_person: @_films_asiatiques_societe_person %>































































































































<br>































































































































<div>































































  <%= link_to "Back to films asiatiques societe people", films_asiatiques_societe_people_path %>































































</div>
