<h1>Editing light novels editeurs vf collection</h1>

<%= render "form", _light_novels_editeurs_vf_collection: @_light_novels_editeurs_vf_collection %>

<br>

<div>
  <%= link_to "Show this light novels editeurs vf collection", @_light_novels_editeurs_vf_collection %> |
  <%= link_to "Back to light novels editeurs vf collections", _light_novels_editeurs_vf_collections_path %>
</div>
