<div id="<%= dom_id photobooks_drama %>">































































  <p>































































    <strong>Name:</strong>































































    <%= photobooks_drama.name %>































































  </p>































































































































</div>
