<p style="color: green"><%= notice %></p>































































































































<h1>Photobooks dramas</h1>































































































































<div id="_photobooks_dramas">































































  <% @_photobooks_dramas.each do |_photobooks_drama| %>































































    <%= render _photobooks_drama %>































































    <p>































































      <%= link_to "Show this photobooks drama", photobooks_drama %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New photobooks drama", new_photobooks_drama_path %>
