<h1>New photobooks drama</h1>































































































































<%= render "form", _photobooks_drama: @_photobooks_drama %>































































































































<br>































































































































<div>































































  <%= link_to "Back to photobooks dramas", photobooks_dramas_path %>































































</div>
