<p style="color: green"><%= notice %></p>

<h1>Goodies people</h1>

<div id="_goodies_people">
  <% @_goodies_people.each do |_goodies_person| %>
    <%= render _goodies_person %>
    <p>
      <%= link_to "Show this goodies person", _goodies_person %>
    </p>
  <% end %>
</div>

<%= link_to "New goodies person", new__goodies_person_path %>
