<p style="color: green"><%= notice %></p>































































































































<h1>Animes topics</h1>































































































































<div id="animes_topics">































































  <% @animes_topics.each do |animes_topic| %>































































    <%= render animes_topic %>































































    <p>































































      <%= link_to "Show this animes topic", animes_topic %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New animes topic", new_animes_topic_path %>
