<div id="<%= dom_id cds_groupe %>">































































  <p>































































    <strong>Name:</strong>































































    <%= cds_groupe.name %>































































  </p>































































































































</div>
