<h1>Editing cds groupe</h1>

<%= render "form", _cds_groupe: @_cds_groupe %>

<br>

<div>
  <%= link_to "Show this cds groupe", @_cds_groupe %> |
  <%= link_to "Back to cds groupes", _cds_groupes_path %>
</div>
