<p style="color: green"><%= notice %></p>































































































































<h1>Light novels ln plus</h1>































































































































<div id="_light_novels_ln_plus">































































  <% @_light_novels_ln_plus.each do |_light_novels_ln_plu| %>































































    <%= render _light_novels_ln_plu %>































































    <p>































































      <%= link_to "Show this light novels ln plu", light_novels_ln_plu %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New light novels ln plu", new_light_novels_ln_plu_path %>
