<div id="<%= dom_id fiche_univers_litterature_asiatique %>">































































  <p>































































    <strong>Name:</strong>































































    <%= fiche_univers_litterature_asiatique.name %>































































  </p>































































































































</div>
