<h1>Editing fiche univers litterature asiatique</h1>































































































































<%= render "form", _fiche_univers_litterature_asiatique: @_fiche_univers_litterature_asiatique %>































































































































<br>































































































































<div>































































  <%= link_to "Show this fiche univers litterature asiatique", @_fiche_univers_litterature_asiatique %> |































































  <%= link_to "Back to fiche univers litterature asiatiques", fiche_univers_litterature_asiatiques_path %>































































</div>
