
<h1>voir tous les Fiche Univers Litterature Asiatiques</h1>
<%@_fiche_univers_litterature_asiatiques.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Fiche Univers Litterature Asiatiques", new_fiche_univers_litterature_asiatique_path%>
</p>
