<h1>New fiche univers litterature asiatique</h1>































































































































<%= render "form", _fiche_univers_litterature_asiatique: @_fiche_univers_litterature_asiatique %>































































































































<br>































































































































<div>































































  <%= link_to "Back to fiche univers litterature asiatiques", fiche_univers_litterature_asiatiques_path %>































































</div>
