<div id="<%= dom_id films_asiatiques_groupe %>">































































  <p>































































    <strong>Name:</strong>































































    <%= films_asiatiques_groupe.name %>































































  </p>































































































































</div>
