<h1>Editing films asiatiques groupe</h1>































































































































<%= render "form", _films_asiatiques_groupe: @_films_asiatiques_groupe %>































































































































<br>































































































































<div>































































  <%= link_to "Show this films asiatiques groupe", @_films_asiatiques_groupe %> |































































  <%= link_to "Back to films asiatiques groupes", films_asiatiques_groupes_path %>































































</div>
