
<h1>voir tous les Films Asiatiques Groupes</h1>
<%@_films_asiatiques_groupes.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Films Asiatiques Groupes", new_films_asiatiques_groupe_path%>
</p>
