<h1>New blu rays editeur</h1>















<%= render "form", _dvd___blu_rays_editeur: @_dvd___blu_rays_editeur %>















<br>















<div>







  <%= link_to "Back to blu rays editeurs", dvd___blu_rays_editeurs_path %>







</div>
