<div id="<%= dom_id livres_public_averti %>">































































  <p>































































    <strong>Name:</strong>































































    <%= livres_public_averti.name %>































































  </p>































































































































</div>
