<div id="<%= dom_id mangas_pay %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_pay.name %>































































  </p>































































































































</div>
