<p style="color: green"><%= notice %></p>































































































































<h1>Mangas pays</h1>































































































































<div id="_mangas_pays">































































  <% @_mangas_pays.each do |_mangas_pay| %>































































    <%= render _mangas_pay %>































































    <p>































































      <%= link_to "Show this mangas pay", mangas_pay %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New mangas pay", new_mangas_pay_path %>
