<h1>Editing artbook</h1>































































































































<%= render "form", artbook: @artbook %>































































































































<br>































































































































<div>































































  <%= link_to "Show this artbook", @artbook %> |































































  <%= link_to "Back to artbooks", artbooks_path %>































































</div>
