<h1>New artbook</h1>































































































































<%= render "form", artbook: @artbook %>































































































































<br>































































































































<div>































































  <%= link_to "Back to artbooks", artbooks_path %>































































</div>
