<div id="<%= dom_id jeux_videos_theme %>">































































  <p>































































    <strong>Name:</strong>































































    <%= jeux_videos_theme.name %>































































  </p>































































































































</div>
