<h1>Editing jeux videos theme</h1>

<%= render "form", _jeux_videos_theme: @_jeux_videos_theme %>

<br>

<div>
  <%= link_to "Show this jeux videos theme", @_jeux_videos_theme %> |
  <%= link_to "Back to jeux videos themes", _jeux_videos_themes_path %>
</div>
