<p style="color: green"><%= notice %></p>































































































































<h1>Jeux videos themes</h1>































































































































<div id="_jeux_videos_themes">































































  <% @_jeux_videos_themes.each do |_jeux_videos_theme| %>































































    <%= render _jeux_videos_theme %>































































    <p>































































      <%= link_to "Show this jeux videos theme", jeux_videos_theme %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New jeux videos theme", new_jeux_videos_theme_path %>
