<div id="<%= dom_id fiche_univers_drama %>">































































  <p>































































    <strong>Name:</strong>































































    <%= fiche_univers_drama.name %>































































  </p>































































































































</div>
