<p style="color: green"><%= notice %></p>































































































































<h1>Fiche univers dramas</h1>































































































































<div id="_fiche_univers_dramas">































































  <% @_fiche_univers_dramas.each do |_fiche_univers_drama| %>































































    <%= render _fiche_univers_drama %>































































    <p>































































      <%= link_to "Show this fiche univers drama", fiche_univers_drama %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New fiche univers drama", new_fiche_univers_drama_path %>
