<div id="<%= dom_id films_asiatiques_sondage %>">































































  <p>































































    <strong>Name:</strong>































































    <%= films_asiatiques_sondage.name %>































































  </p>































































































































</div>
