
<h1>voir tous les Films Asiatiques Sondages</h1>
<%@_films_asiatiques_sondages.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Films Asiatiques Sondages", new_films_asiatiques_sondage_path%>
</p>
