<h1>New films asiatiques sondage</h1>































































































































<%= render "form", _films_asiatiques_sondage: @_films_asiatiques_sondage %>































































































































<br>































































































































<div>































































  <%= link_to "Back to films asiatiques sondages", films_asiatiques_sondages_path %>































































</div>
