<h1>New blu rays litterature asiatique</h1>

<%= render "form", _dvd___blu_rays_litterature_asiatique: @_dvd___blu_rays_litterature_asiatique %>

<br>

<div>
  <%= link_to "Back to blu rays litterature asiatiques", _dvd___blu_rays_litterature_asiatiques_path %>
</div>
