<div id="<%= dom_id osts_type %>">































































  <p>































































    <strong>Name:</strong>































































    <%= osts_type.name %>































































  </p>































































































































</div>
