<h1>New osts type</h1>































































































































<%= render "form", osts_type: @osts_type %>































































































































<br>































































































































<div>































































  <%= link_to "Back to osts types", osts_types_path %>































































</div>
