<p style="color: green"><%= notice %></p>

<h1>Jeux videos staff people</h1>

<div id="_jeux_videos_staff_people">
  <% @_jeux_videos_staff_people.each do |_jeux_videos_staff_person| %>
    <%= render _jeux_videos_staff_person %>
    <p>
      <%= link_to "Show this jeux videos staff person", _jeux_videos_staff_person %>
    </p>
  <% end %>
</div>

<%= link_to "New jeux videos staff person", new__jeux_videos_staff_person_path %>
