<h1>Editing concerts person</h1>



<%= render "form", _clips_lives_bonus_concerts_person: @_clips_lives_bonus_concerts_person %>



<br>



<div>

  <%= link_to "Show this concerts person", @_clips_lives_bonus_concerts_person %> |

  <%= link_to "Back to concerts people", clips_lives_bonus_concerts_people_path %>

</div>
