<h1>Editing artbooks manga</h1>

<%= render "form", artbooks_manga: @artbooks_manga %>

<br>

<div>
  <%= link_to "Show this artbooks manga", @artbooks_manga %> |
  <%= link_to "Back to artbooks mangas", artbooks_mangas_path %>
</div>
