<div id="<%= dom_id films_asiatiques_en_salles_drama %>">































































  <p>































































    <strong>Name:</strong>































































    <%= films_asiatiques_en_salles_drama.name %>































































  </p>































































































































</div>
