<h1>Editing films asiatiques en salles drama</h1>































































































































<%= render "form", _films_asiatiques_en_salles_drama: @_films_asiatiques_en_salles_drama %>































































































































<br>































































































































<div>































































  <%= link_to "Show this films asiatiques en salles drama", @_films_asiatiques_en_salles_drama %> |































































  <%= link_to "Back to films asiatiques en salles dramas", films_asiatiques_en_salles_dramas_path %>































































</div>
