<p style="color: green"><%= notice %></p>































































































































<h1>Films asiatiques en salles dramas</h1>































































































































<div id="_films_asiatiques_en_salles_dramas">































































  <% @_films_asiatiques_en_salles_dramas.each do |_films_asiatiques_en_salles_drama| %>































































    <%= render _films_asiatiques_en_salles_drama %>































































    <p>































































      <%= link_to "Show this films asiatiques en salles drama", films_asiatiques_en_salles_drama %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New films asiatiques en salles drama", new_films_asiatiques_en_salles_drama_path %>
