<div id="<%= dom_id doujinshis_am %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujinshis_am.name %>































































  </p>































































































































</div>
