<h1>Editing doujinshis am</h1>































































































































<%= render "form", _doujinshis_am: @_doujinshis_am %>































































































































<br>































































































































<div>































































  <%= link_to "Show this doujinshis am", @_doujinshis_am %> |































































  <%= link_to "Back to doujinshis ams", doujinshis_ams_path %>































































</div>
