<div id="<%= dom_id personnage_danimes_anime %>">































































  <p>































































    <strong>Name:</strong>































































    <%= personnage_danimes_anime.name %>































































  </p>































































































































</div>
