<p style="color: green"><%= notice %></p>































































































































<h1>Personnage danimes animes</h1>































































































































<div id="_personnage_danimes_animes">































































  <% @_personnage_danimes_animes.each do |_personnage_danimes_anime| %>































































    <%= render _personnage_danimes_anime %>































































    <p>































































      <%= link_to "Show this personnage danimes anime", personnage_danimes_anime %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New personnage danimes anime", new_personnage_danimes_anime_path %>
