<h1>New personnage danimes anime</h1>































































































































<%= render "form", _personnage_danimes_anime: @_personnage_danimes_anime %>































































































































<br>































































































































<div>































































  <%= link_to "Back to personnage danimes animes", personnage_danimes_animes_path %>































































</div>
