
<h1>voir tous les Films Asiatiques People</h1>
<%@_films_asiatiques_people.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Films Asiatiques People", new_films_asiatiques_peopl_path%>
</p>
