<p style="color: green"><%= notice %></p>































































































































<h1>Dramas editeurs vfs</h1>































































































































<div id="_dramas_editeurs_vfs">































































  <% @_dramas_editeurs_vfs.each do |_dramas_editeurs_vf| %>































































    <%= render _dramas_editeurs_vf %>































































    <p>































































      <%= link_to "Show this dramas editeurs vf", dramas_editeurs_vf %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New dramas editeurs vf", new_dramas_editeurs_vf_path %>
