<h1>Editing films asiatiques manga plu</h1>































































































































<%= render "form", _films_asiatiques_manga_plu: @_films_asiatiques_manga_plu %>































































































































<br>































































































































<div>































































  <%= link_to "Show this films asiatiques manga plu", @_films_asiatiques_manga_plu %> |































































  <%= link_to "Back to films asiatiques manga plus", films_asiatiques_manga_plus_path %>































































</div>
