<p style="color: green"><%= notice %></p>































































































































<h1>Films asiatiques manga plus</h1>































































































































<div id="_films_asiatiques_manga_plus">































































  <% @_films_asiatiques_manga_plus.each do |_films_asiatiques_manga_plu| %>































































    <%= render _films_asiatiques_manga_plu %>































































    <p>































































      <%= link_to "Show this films asiatiques manga plu", films_asiatiques_manga_plu %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New films asiatiques manga plu", new_films_asiatiques_manga_plu_path %>
