
<h1>voir tous les Films Asiatiques Manga Plus</h1>
<%@_films_asiatiques_manga_plus.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Films Asiatiques Manga Plus", new_films_asiatiques_manga_plu_path%>
</p>
