<div id="<%= dom_id fiche_univers_am %>">































































  <p>































































    <strong>Name:</strong>































































    <%= fiche_univers_am.name %>































































  </p>































































































































</div>
