<h1>Editing fiche univers am</h1>































































































































<%= render "form", _fiche_univers_am: @_fiche_univers_am %>































































































































<br>































































































































<div>































































  <%= link_to "Show this fiche univers am", @_fiche_univers_am %> |































































  <%= link_to "Back to fiche univers ams", fiche_univers_ams_path %>































































</div>
