<div id="<%= dom_id light_novels_theme %>">































































  <p>































































    <strong>Name:</strong>































































    <%= light_novels_theme.name %>































































  </p>































































































































</div>
