<h1>New light novels theme</h1>































































































































<%= render "form", _light_novels_theme: @_light_novels_theme %>































































































































<br>































































































































<div>































































  <%= link_to "Back to light novels themes", light_novels_themes_path %>































































</div>
