<h1>Editing jeux videos groupe</h1>

<%= render "form", _jeux_videos_groupe: @_jeux_videos_groupe %>

<br>

<div>
  <%= link_to "Show this jeux videos groupe", @_jeux_videos_groupe %> |
  <%= link_to "Back to jeux videos groupes", _jeux_videos_groupes_path %>
</div>
