<h1>New boutique</h1>































































































































<%= render "form", _boutique: @_boutique %>































































































































<br>































































































































<div>































































  <%= link_to "Back to boutiques", boutiques_path %>































































</div>
