<h1>Editing personnalites id galerie</h1>

<%= render "form", _personnalites_id_galery: @_personnalites_id_galery %>

<br>

<div>
  <%= link_to "Show this personnalites id galerie", @_personnalites_id_galery %> |
  <%= link_to "Back to personnalites id galeries", _personnalites_id_galeries_path %>
</div>
