<div id="<%= dom_id personnalites_id_galerie %>">































































  <p>































































    <strong>Name:</strong>































































    <%= personnalites_id_galerie.name %>































































  </p>































































































































</div>
