
<h1>voir tous les Personnalites Id Galeries</h1>
<%@_personnalites_id_galeries.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Personnalites Id Galeries", new_personnalites_id_galerie_path%>
</p>
