<h1>New personnalites id galerie</h1>

<%= render "form", _personnalites_id_galery: @_personnalites_id_galery %>

<br>

<div>
  <%= link_to "Back to personnalites id galeries", _personnalites_id_galeries_path %>
</div>
