<div id="<%= dom_id dramas_drama_plu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= dramas_drama_plu.name %>































































  </p>































































































































</div>
