<p style="color: green"><%= notice %></p>

<h1>Dramas drama plus</h1>

<div id="_dramas_drama_plus">
  <% @_dramas_drama_plus.each do |_dramas_drama_plu| %>
    <%= render _dramas_drama_plu %>
    <p>
      <%= link_to "Show this dramas drama plu", _dramas_drama_plu %>
    </p>
  <% end %>
</div>

<%= link_to "New dramas drama plu", new__dramas_drama_plu_path %>
