<p style="color: green"><%= notice %></p>

<h1>Light novels editeurs vf collections</h1>

<div id="_light_novels_editeurs_vf_collections">
  <% @_light_novels_editeurs_vf_collections.each do |_light_novels_editeurs_vf_collection| %>
    <%= render _light_novels_editeurs_vf_collection %>
    <p>
      <%= link_to "Show this light novels editeurs vf collection", _light_novels_editeurs_vf_collection %>
    </p>
  <% end %>
</div>

<%= link_to "New light novels editeurs vf collection", new__light_novels_editeurs_vf_collection_path %>
