
<h1>voir tous les Light Novels Editeurs Vf Collections</h1>
<%@_light_novels_editeurs_vf_collections.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Light Novels Editeurs Vf Collections", new_light_novels_editeurs_vf_collection_path%>
</p>
