<h1>Editing films asiatiques staff role</h1>

<%= render "form", _films_asiatiques_staff_role: @_films_asiatiques_staff_role %>

<br>

<div>
  <%= link_to "Show this films asiatiques staff role", @_films_asiatiques_staff_role %> |
  <%= link_to "Back to films asiatiques staff roles", _films_asiatiques_staff_roles_path %>
</div>
