<div id="<%= dom_id photobooks_public_averti %>">































































  <p>































































    <strong>Name:</strong>































































    <%= photobooks_public_averti.name %>































































  </p>































































































































</div>
