<h1>Editing films asiatiques person</h1>

<%= render "form", _films_asiatiques_person: @_films_asiatiques_person %>

<br>

<div>
  <%= link_to "Show this films asiatiques person", @_films_asiatiques_person %> |
  <%= link_to "Back to films asiatiques people", _films_asiatiques_people_path %>
</div>
