<h1>New films asiatiques person</h1>

<%= render "form", _films_asiatiques_person: @_films_asiatiques_person %>

<br>

<div>
  <%= link_to "Back to films asiatiques people", _films_asiatiques_people_path %>
</div>
