<div id="<%= dom_id animes_manga_plu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= animes_manga_plu.name %>































































  </p>































































































































</div>
