
<h1>voir tous les Films Asiatiques En Salles Staff People</h1>
<%@_films_asiatiques_en_salles_staff_people.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Films Asiatiques En Salles Staff People", new_films_asiatiques_en_salles_staff_peopl_path%>
</p>
