<div id="<%= dom_id mangas_genre %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_genre.name %>































































  </p>































































































































</div>
