<h1>Editing concerts type</h1>

<%= render "form", _clips___lives___bonus___concerts_type: @_clips___lives___bonus___concerts_type %>

<br>

<div>
  <%= link_to "Show this concerts type", @_clips___lives___bonus___concerts_type %> |
  <%= link_to "Back to concerts types", _clips___lives___bonus___concerts_types_path %>
</div>
