<div id="<%= dom_id mangas_am_plu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_am_plu.name %>































































  </p>































































































































</div>
