<p style="color: green"><%= notice %></p>































































































































<h1>Mangas am plus</h1>































































































































<div id="_mangas_am_plus">































































  <% @_mangas_am_plus.each do |_mangas_am_plu| %>































































    <%= render _mangas_am_plu %>































































    <p>































































      <%= link_to "Show this mangas am plu", mangas_am_plu %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New mangas am plu", new_mangas_am_plu_path %>
