<h1>New mangas am plu</h1>































































































































<%= render "form", _mangas_am_plu: @_mangas_am_plu %>































































































































<br>































































































































<div>































































  <%= link_to "Back to mangas am plus", mangas_am_plus_path %>































































</div>
