<h1>Editing dramas litterature asiatique plu</h1>

<%= render "form", _dramas_litterature_asiatique_plu: @_dramas_litterature_asiatique_plu %>

<br>

<div>
  <%= link_to "Show this dramas litterature asiatique plu", @_dramas_litterature_asiatique_plu %> |
  <%= link_to "Back to dramas litterature asiatique plus", _dramas_litterature_asiatique_plus_path %>
</div>
