<div id="<%= dom_id animes_societe_role %>">































































  <p>































































    <strong>Name:</strong>































































    <%= animes_societe_role.name %>































































  </p>































































































































</div>
