<h1>Editing animes societe role</h1>

<%= render "form", animes_societe_role: @animes_societe_role %>

<br>

<div>
  <%= link_to "Show this animes societe role", @animes_societe_role %> |
  <%= link_to "Back to animes societe roles", animes_societe_roles_path %>
</div>
