<div id="<%= dom_id goodies_ln %>">































































  <p>































































    <strong>Name:</strong>































































    <%= goodies_ln.name %>































































  </p>































































































































</div>
