<div id="<%= dom_id livres_genre %>">































































  <p>































































    <strong>Name:</strong>































































    <%= livres_genre.name %>































































  </p>































































































































</div>
