<h1>Editing fiche univers cat</h1>































































































































<%= render "form", _fiche_univers_cat: @_fiche_univers_cat %>































































































































<br>































































































































<div>































































  <%= link_to "Show this fiche univers cat", @_fiche_univers_cat %> |































































  <%= link_to "Back to fiche univers cats", fiche_univers_cats_path %>































































</div>
