<div id="<%= dom_id cds_person %>">































































  <p>































































    <strong>Name:</strong>































































    <%= cds_person.name %>































































  </p>































































































































</div>
