<p style="color: green"><%= notice %></p>

<h1>Cds people</h1>

<div id="_cds_people">
  <% @_cds_people.each do |_cds_person| %>
    <%= render _cds_person %>
    <p>
      <%= link_to "Show this cds person", _cds_person %>
    </p>
  <% end %>
</div>

<%= link_to "New cds person", new__cds_person_path %>
