
<h1>voir tous les Personnage De Mangas Mangas</h1>
<%@_personnage_de_mangas_mangas.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Personnage De Mangas Mangas", new_personnage_de_mangas_manga_path%>
</p>
