<h1>Editing concerts role</h1>



<%= render "form", _clips_lives_bonus_concerts_role: @_clips_lives_bonus_concerts_role %>



<br>



<div>

  <%= link_to "Show this concerts role", @_clips_lives_bonus_concerts_role %> |

  <%= link_to "Back to concerts roles", clips_lives_bonus_concerts_roles_path %>

</div>
