<div id="<%= dom_id cds_distributeur %>">































































  <p>































































    <strong>Name:</strong>































































    <%= cds_distributeur.name %>































































  </p>































































































































</div>
