<div id="<%= dom_id doujinshis_jv %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujinshis_jv.name %>































































  </p>































































































































</div>
