<h1>Editing doujinshis jv</h1>

<%= render "form", _doujinshis_jv: @_doujinshis_jv %>

<br>

<div>
  <%= link_to "Show this doujinshis jv", @_doujinshis_jv %> |
  <%= link_to "Back to doujinshis jvs", _doujinshis_jvs_path %>
</div>
