<p style="color: green"><%= notice %></p>

<h1>Doujinshis jvs</h1>

<div id="_doujinshis_jvs">
  <% @_doujinshis_jvs.each do |_doujinshis_jv| %>
    <%= render _doujinshis_jv %>
    <p>
      <%= link_to "Show this doujinshis jv", _doujinshis_jv %>
    </p>
  <% end %>
</div>

<%= link_to "New doujinshis jv", new__doujinshis_jv_path %>
