<h1>New doujinshis jv</h1>































































































































<%= render "form", _doujinshis_jv: @_doujinshis_jv %>































































































































<br>































































































































<div>































































  <%= link_to "Back to doujinshis jvs", doujinshis_jvs_path %>































































</div>
