<div id="<%= dom_id animes_artbook %>">































































  <p>































































    <strong>Name:</strong>































































    <%= animes_artbook.name %>































































  </p>































































































































</div>
