<h1>New animes artbook</h1>































































































































<%= render "form", animes_artbook: @animes_artbook %>































































































































<br>































































































































<div>































































  <%= link_to "Back to animes artbooks", animes_artbooks_path %>































































</div>
