<div id="<%= dom_id goodies_jv %>">































































  <p>































































    <strong>Name:</strong>































































    <%= goodies_jv.name %>































































  </p>































































































































</div>
