<h1>Editing goodies jv</h1>

<%= render "form", _goodies_jv: @_goodies_jv %>

<br>

<div>
  <%= link_to "Show this goodies jv", @_goodies_jv %> |
  <%= link_to "Back to goodies jvs", _goodies_jvs_path %>
</div>
