<p style="color: green"><%= notice %></p>































































































































<h1>Goodies jvs</h1>































































































































<div id="_goodies_jvs">































































  <% @_goodies_jvs.each do |_goodies_jv| %>































































    <%= render _goodies_jv %>































































    <p>































































      <%= link_to "Show this goodies jv", goodies_jv %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New goodies jv", new_goodies_jv_path %>
