<h1>New goodies jv</h1>































































































































<%= render "form", _goodies_jv: @_goodies_jv %>































































































































<br>































































































































<div>































































  <%= link_to "Back to goodies jvs", goodies_jvs_path %>































































</div>
