<div id="<%= dom_id doujinshis_anime %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujinshis_anime.name %>































































  </p>































































































































</div>
