<p style="color: green"><%= notice %></p>

<h1>Jeux videos quizzs</h1>

<div id="_jeux_videos_quizzs">
  <% @_jeux_videos_quizzs.each do |_jeux_videos_quizz| %>
    <%= render _jeux_videos_quizz %>
    <p>
      <%= link_to "Show this jeux videos quizz", _jeux_videos_quizz %>
    </p>
  <% end %>
</div>

<%= link_to "New jeux videos quizz", new__jeux_videos_quizz_path %>
