<div id="<%= dom_id livres_statut_publication %>">































































  <p>































































    <strong>Name:</strong>































































    <%= livres_statut_publication.name %>































































  </p>































































































































</div>
