<h1>Editing livres statut publication</h1>

<%= render "form", _livres_statut_publication: @_livres_statut_publication %>

<br>

<div>
  <%= link_to "Show this livres statut publication", @_livres_statut_publication %> |
  <%= link_to "Back to livres statut publications", _livres_statut_publications_path %>
</div>
