
<h1>voir tous les Livres Statut Publications</h1>
<%@_livres_statut_publications.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Livres Statut Publications", new_livres_statut_publication_path%>
</p>
