<p style="color: green"><%= notice %></p>

<h1>Concerts people</h1>

<div id="_clips___lives___bonus___concerts_people">
  <% @_clips___lives___bonus___concerts_people.each do |_clips___lives___bonus___concerts_person| %>
    <%= render _clips___lives___bonus___concerts_person %>
    <p>
      <%= link_to "Show this concerts person", _clips___lives___bonus___concerts_person %>
    </p>
  <% end %>
</div>

<%= link_to "New concerts person", new__clips___lives___bonus___concerts_person_path %>
