<h1>New concerts person</h1>

<%= render "form", _clips___lives___bonus___concerts_person: @_clips___lives___bonus___concerts_person %>

<br>

<div>
  <%= link_to "Back to concerts people", _clips___lives___bonus___concerts_people_path %>
</div>
