<div id="<%= dom_id artbooks_type %>">































































  <p>































































    <strong>Name:</strong>































































    <%= artbooks_type.name %>































































  </p>































































































































</div>
