<h1>Editing artbooks type</h1>

<%= render "form", artbooks_type: @artbooks_type %>

<br>

<div>
  <%= link_to "Show this artbooks type", @artbooks_type %> |
  <%= link_to "Back to artbooks types", artbooks_types_path %>
</div>
