<div id="<%= dom_id photobooks_groupe %>">































































  <p>































































    <strong>Name:</strong>































































    <%= photobooks_groupe.name %>































































  </p>































































































































</div>
