<h1>Editing photobooks groupe</h1>































































































































<%= render "form", _photobooks_groupe: @_photobooks_groupe %>































































































































<br>































































































































<div>































































  <%= link_to "Show this photobooks groupe", @_photobooks_groupe %> |































































  <%= link_to "Back to photobooks groupes", photobooks_groupes_path %>































































</div>
