<h1>Editing light novels societe role</h1>

<%= render "form", _light_novels_societe_role: @_light_novels_societe_role %>

<br>

<div>
  <%= link_to "Show this light novels societe role", @_light_novels_societe_role %> |
  <%= link_to "Back to light novels societe roles", _light_novels_societe_roles_path %>
</div>
