<p style="color: green"><%= notice %></p>

<h1>Light novels societe roles</h1>

<div id="_light_novels_societe_roles">
  <% @_light_novels_societe_roles.each do |_light_novels_societe_role| %>
    <%= render _light_novels_societe_role %>
    <p>
      <%= link_to "Show this light novels societe role", _light_novels_societe_role %>
    </p>
  <% end %>
</div>

<%= link_to "New light novels societe role", new__light_novels_societe_role_path %>
