<div id="<%= dom_id personnages_de_jeux_videos_doubleur_person %>">































































  <p>































































    <strong>Name:</strong>































































    <%= personnages_de_jeux_videos_doubleur_person.name %>































































  </p>































































































































</div>
