
<h1>voir tous les Personnages De Jeux Videos Doubleur People</h1>
<%@_personnages_de_jeux_videos_doubleur_people.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Personnages De Jeux Videos Doubleur People", new_personnages_de_jeux_videos_doubleur_peopl_path%>
</p>
