<h1>Editing films asiatiques en salles actualite</h1>

<%= render "form", _films_asiatiques_en_salles_actualite: @_films_asiatiques_en_salles_actualite %>

<br>

<div>
  <%= link_to "Show this films asiatiques en salles actualite", @_films_asiatiques_en_salles_actualite %> |
  <%= link_to "Back to films asiatiques en salles actualites", _films_asiatiques_en_salles_actualites_path %>
</div>
