<p style="color: green"><%= notice %></p>































































































































<h1>Films asiatiques en salles actualites</h1>































































































































<div id="_films_asiatiques_en_salles_actualites">































































  <% @_films_asiatiques_en_salles_actualites.each do |_films_asiatiques_en_salles_actualite| %>































































    <%= render _films_asiatiques_en_salles_actualite %>































































    <p>































































      <%= link_to "Show this films asiatiques en salles actualite", films_asiatiques_en_salles_actualite %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New films asiatiques en salles actualite", new_films_asiatiques_en_salles_actualite_path %>
