<div id="<%= dom_id jeux_videos_plateforme %>">































































  <p>































































    <strong>Name:</strong>































































    <%= jeux_videos_plateforme.name %>































































  </p>































































































































</div>
