<p style="color: green"><%= notice %></p>































































































































<h1>Jeux videos plateformes</h1>































































































































<div id="_jeux_videos_plateformes">































































  <% @_jeux_videos_plateformes.each do |_jeux_videos_plateforme| %>































































    <%= render _jeux_videos_plateforme %>































































    <p>































































      <%= link_to "Show this jeux videos plateforme", jeux_videos_plateforme %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New jeux videos plateforme", new_jeux_videos_plateforme_path %>
