
<h1>voir tous les Jeux Videos Plateformes</h1>
<%@_jeux_videos_plateformes.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Jeux Videos Plateformes", new_jeux_videos_plateforme_path%>
</p>
