<div id="<%= dom_id light_novels_artbook %>">































































  <p>































































    <strong>Name:</strong>































































    <%= light_novels_artbook.name %>































































  </p>































































































































</div>
