<p style="color: green"><%= notice %></p>

<h1>Light novels artbooks</h1>

<div id="_light_novels_artbooks">
  <% @_light_novels_artbooks.each do |_light_novels_artbook| %>
    <%= render _light_novels_artbook %>
    <p>
      <%= link_to "Show this light novels artbook", _light_novels_artbook %>
    </p>
  <% end %>
</div>

<%= link_to "New light novels artbook", new__light_novels_artbook_path %>
