<h1>New light novels artbook</h1>































































































































<%= render "form", _light_novels_artbook: @_light_novels_artbook %>































































































































<br>































































































































<div>































































  <%= link_to "Back to light novels artbooks", light_novels_artbooks_path %>































































</div>
