<p style="color: green"><%= notice %></p>































































































































<h1>Films asiatiques actualite minis</h1>































































































































<div id="_films_asiatiques_actualite_minis">































































  <% @_films_asiatiques_actualite_minis.each do |_films_asiatiques_actualite_mini| %>































































    <%= render _films_asiatiques_actualite_mini %>































































    <p>































































      <%= link_to "Show this films asiatiques actualite mini", films_asiatiques_actualite_mini %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New films asiatiques actualite mini", new_films_asiatiques_actualite_mini_path %>
