
<h1>voir tous les Films Asiatiques Actualite Minis</h1>
<%@_films_asiatiques_actualite_minis.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Films Asiatiques Actualite Minis", new_films_asiatiques_actualite_mini_path%>
</p>
