<div id="<%= dom_id light_novels_jv %>">































































  <p>































































    <strong>Name:</strong>































































    <%= light_novels_jv.name %>































































  </p>































































































































</div>
