<h1>New light novels jv</h1>































































































































<%= render "form", _light_novels_jv: @_light_novels_jv %>































































































































<br>































































































































<div>































































  <%= link_to "Back to light novels jvs", light_novels_jvs_path %>































































</div>
