
<h1>voir tous les Films Asiatiques Staff People</h1>
<%@_films_asiatiques_staff_people.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Films Asiatiques Staff People", new_films_asiatiques_staff_peopl_path%>
</p>
