<h1>New films asiatiques staff person</h1>

<%= render "form", _films_asiatiques_staff_person: @_films_asiatiques_staff_person %>

<br>

<div>
  <%= link_to "Back to films asiatiques staff people", _films_asiatiques_staff_people_path %>
</div>
