<h1>Editing livres manga plu</h1>

<%= render "form", _livres_manga_plu: @_livres_manga_plu %>

<br>

<div>
  <%= link_to "Show this livres manga plu", @_livres_manga_plu %> |
  <%= link_to "Back to livres manga plus", _livres_manga_plus_path %>
</div>
