<p style="color: green"><%= notice %></p>

<h1>Livres manga plus</h1>

<div id="_livres_manga_plus">
  <% @_livres_manga_plus.each do |_livres_manga_plu| %>
    <%= render _livres_manga_plu %>
    <p>
      <%= link_to "Show this livres manga plu", _livres_manga_plu %>
    </p>
  <% end %>
</div>

<%= link_to "New livres manga plu", new__livres_manga_plu_path %>
