<h1>New livres manga plu</h1>































































































































<%= render "form", _livres_manga_plu: @_livres_manga_plu %>































































































































<br>































































































































<div>































































  <%= link_to "Back to livres manga plus", livres_manga_plus_path %>































































</div>
