<div id="<%= dom_id generiques_id_anime %>">































































  <p>































































    <strong>Name:</strong>































































    <%= generiques_id_anime.name %>































































  </p>































































































































</div>
