<h1>Editing jeux videos drama</h1>

<%= render "form", _jeux_videos_drama: @_jeux_videos_drama %>

<br>

<div>
  <%= link_to "Show this jeux videos drama", @_jeux_videos_drama %> |
  <%= link_to "Back to jeux videos dramas", _jeux_videos_dramas_path %>
</div>
