
<h1>voir tous les Photobooks Editeurs Vfs</h1>
<%@_photobooks_editeurs_vfs.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Photobooks Editeurs Vfs", new_photobooks_editeurs_vf_path%>
</p>
