<h1>New photobooks editeurs vf</h1>































































































































<%= render "form", _photobooks_editeurs_vf: @_photobooks_editeurs_vf %>































































































































<br>































































































































<div>































































  <%= link_to "Back to photobooks editeurs vfs", photobooks_editeurs_vfs_path %>































































</div>
