<h1>New light novels manga plu</h1>

<%= render "form", _light_novels_manga_plu: @_light_novels_manga_plu %>

<br>

<div>
  <%= link_to "Back to light novels manga plus", _light_novels_manga_plus_path %>
</div>
