<h1>Editing breves concert</h1>

<%= render "form", _breves_concert: @_breves_concert %>

<br>

<div>
  <%= link_to "Show this breves concert", @_breves_concert %> |
  <%= link_to "Back to breves concerts", _breves_concerts_path %>
</div>
