<div id="<%= dom_id dramas_artbook %>">































































  <p>































































    <strong>Name:</strong>































































    <%= dramas_artbook.name %>































































  </p>































































































































</div>
