<h1>Editing dramas artbook</h1>

<%= render "form", _dramas_artbook: @_dramas_artbook %>

<br>

<div>
  <%= link_to "Show this dramas artbook", @_dramas_artbook %> |
  <%= link_to "Back to dramas artbooks", _dramas_artbooks_path %>
</div>
