<h1>New dramas artbook</h1>































































































































<%= render "form", _dramas_artbook: @_dramas_artbook %>































































































































<br>































































































































<div>































































  <%= link_to "Back to dramas artbooks", dramas_artbooks_path %>































































</div>
