<div id="<%= dom_id osts_drama %>">































































  <p>































































    <strong>Name:</strong>































































    <%= osts_drama.name %>































































  </p>































































































































</div>
