<h1>Editing osts drama</h1>

<%= render "form", osts_drama: @osts_drama %>

<br>

<div>
  <%= link_to "Show this osts drama", @osts_drama %> |
  <%= link_to "Back to osts dramas", osts_dramas_path %>
</div>
