<p style="color: green"><%= notice %></p>

<h1>Osts dramas</h1>

<div id="osts_dramas">
  <% @osts_dramas.each do |osts_drama| %>
    <%= render osts_drama %>
    <p>
      <%= link_to "Show this osts drama", osts_drama %>
    </p>
  <% end %>
</div>

<%= link_to "New osts drama", new_osts_drama_path %>
