<h1>New osts drama</h1>































































































































<%= render "form", osts_drama: @osts_drama %>































































































































<br>































































































































<div>































































  <%= link_to "Back to osts dramas", osts_dramas_path %>































































</div>
