<h1>New films asiatiques staff role</h1>

<%= render "form", _films_asiatiques_staff_role: @_films_asiatiques_staff_role %>

<br>

<div>
  <%= link_to "Back to films asiatiques staff roles", _films_asiatiques_staff_roles_path %>
</div>
