<div id="<%= dom_id photobooks_person %>">































































  <p>































































    <strong>Name:</strong>































































    <%= photobooks_person.name %>































































  </p>































































































































</div>
