<p style="color: green"><%= notice %></p>































































































































<h1>Photobooks people</h1>































































































































<div id="_photobooks_people">































































  <% @_photobooks_people.each do |_photobooks_person| %>































































    <%= render _photobooks_person %>































































    <p>































































      <%= link_to "Show this photobooks person", photobooks_person %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New photobooks person", new_photobooks_person_path %>
