<h1>New photobooks person</h1>































































































































<%= render "form", _photobooks_person: @_photobooks_person %>































































































































<br>































































































































<div>































































  <%= link_to "Back to photobooks people", photobooks_people_path %>































































</div>
