<div id="<%= dom_id livres_jv %>">































































  <p>































































    <strong>Name:</strong>































































    <%= livres_jv.name %>































































  </p>































































































































</div>
