<h1>Editing livres jv</h1>

<%= render "form", _livres_jv: @_livres_jv %>

<br>

<div>
  <%= link_to "Show this livres jv", @_livres_jv %> |
  <%= link_to "Back to livres jvs", _livres_jvs_path %>
</div>
