<p style="color: green"><%= notice %></p>































































































































<h1>Livres jvs</h1>































































































































<div id="_livres_jvs">































































  <% @_livres_jvs.each do |_livres_jv| %>































































    <%= render _livres_jv %>































































    <p>































































      <%= link_to "Show this livres jv", livres_jv %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New livres jv", new_livres_jv_path %>
