<h1>Editing personnage de mangas jv perso</h1>































































































































<%= render "form", _personnage_de_mangas_jv_perso: @_personnage_de_mangas_jv_perso %>































































































































<br>































































































































<div>































































  <%= link_to "Show this personnage de mangas jv perso", @_personnage_de_mangas_jv_perso %> |































































  <%= link_to "Back to personnage de mangas jv persos", personnage_de_mangas_jv_persos_path %>































































</div>
