
<h1>voir tous les Personnage De Mangas Jv Persos</h1>
<%@_personnage_de_mangas_jv_persos.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Personnage De Mangas Jv Persos", new_personnage_de_mangas_jv_perso_path%>
</p>
