<p style="color: green"><%= notice %></p>































































































































<h1>Personnage de mangas jv persos</h1>































































































































<div id="_personnage_de_mangas_jv_persos">































































  <% @_personnage_de_mangas_jv_persos.each do |_personnage_de_mangas_jv_perso| %>































































    <%= render _personnage_de_mangas_jv_perso %>































































    <p>































































      <%= link_to "Show this personnage de mangas jv perso", personnage_de_mangas_jv_perso %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New personnage de mangas jv perso", new_personnage_de_mangas_jv_perso_path %>
