<p style="color: green"><%= notice %></p>































































































































<h1>Films asiatiques quizzs</h1>































































































































<div id="_films_asiatiques_quizzs">































































  <% @_films_asiatiques_quizzs.each do |_films_asiatiques_quizz| %>































































    <%= render _films_asiatiques_quizz %>































































    <p>































































      <%= link_to "Show this films asiatiques quizz", films_asiatiques_quizz %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New films asiatiques quizz", new_films_asiatiques_quizz_path %>
