<h1>New films asiatiques quizz</h1>































































































































<%= render "form", _films_asiatiques_quizz: @_films_asiatiques_quizz %>































































































































<br>































































































































<div>































































  <%= link_to "Back to films asiatiques quizzs", films_asiatiques_quizzs_path %>































































</div>
