<div id="<%= dom_id personnage_danimes_doubleur_pay %>">































































  <p>































































    <strong>Name:</strong>































































    <%= personnage_danimes_doubleur_pay.name %>































































  </p>































































































































</div>
