<h1>Editing personnage danimes doubleur pay</h1>

<%= render "form", _personnage_danimes_doubleur_pay: @_personnage_danimes_doubleur_pay %>

<br>

<div>
  <%= link_to "Show this personnage danimes doubleur pay", @_personnage_danimes_doubleur_pay %> |
  <%= link_to "Back to personnage danimes doubleur pays", _personnage_danimes_doubleur_pays_path %>
</div>
