
<h1>voir tous les Personnage Danimes Doubleur Pays</h1>
<%@_personnage_danimes_doubleur_pays.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Personnage Danimes Doubleur Pays", new_personnage_danimes_doubleur_pay_path%>
</p>
