<h1>Editing dramas genre</h1>

<%= render "form", _dramas_genre: @_dramas_genre %>

<br>

<div>
  <%= link_to "Show this dramas genre", @_dramas_genre %> |
  <%= link_to "Back to dramas genres", _dramas_genres_path %>
</div>
