<div id="<%= dom_id photobooks_photobook %>">































































  <p>































































    <strong>Name:</strong>































































    <%= photobooks_photobook.name %>































































  </p>































































































































</div>
