<h1>Editing photobooks photobook</h1>































































































































<%= render "form", _photobooks_photobook: @_photobooks_photobook %>































































































































<br>































































































































<div>































































  <%= link_to "Show this photobooks photobook", @_photobooks_photobook %> |































































  <%= link_to "Back to photobooks photobooks", photobooks_photobooks_path %>































































</div>
