<p style="color: green"><%= notice %></p>































































































































<h1>Photobooks photobooks</h1>































































































































<div id="_photobooks_photobooks">































































  <% @_photobooks_photobooks.each do |_photobooks_photobook| %>































































    <%= render _photobooks_photobook %>































































    <p>































































      <%= link_to "Show this photobooks photobook", photobooks_photobook %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New photobooks photobook", new_photobooks_photobook_path %>
