<div id="<%= dom_id films_asiatiques_en_salles_pay %>">































































  <p>































































    <strong>Name:</strong>































































    <%= films_asiatiques_en_salles_pay.name %>































































  </p>































































































































</div>
