<h1>Editing films asiatiques en salles pay</h1>

<%= render "form", _films_asiatiques_en_salles_pay: @_films_asiatiques_en_salles_pay %>

<br>

<div>
  <%= link_to "Show this films asiatiques en salles pay", @_films_asiatiques_en_salles_pay %> |
  <%= link_to "Back to films asiatiques en salles pays", _films_asiatiques_en_salles_pays_path %>
</div>
