<div id="<%= dom_id doujinshis_origine %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujinshis_origine.name %>































































  </p>































































































































</div>
