<h1>Editing doujinshis origine</h1>

<%= render "form", _doujinshis_origine: @_doujinshis_origine %>

<br>

<div>
  <%= link_to "Show this doujinshis origine", @_doujinshis_origine %> |
  <%= link_to "Back to doujinshis origines", _doujinshis_origines_path %>
</div>
