<p style="color: green"><%= notice %></p>































































































































<h1>Doujinshis origines</h1>































































































































<div id="_doujinshis_origines">































































  <% @_doujinshis_origines.each do |_doujinshis_origine| %>































































    <%= render _doujinshis_origine %>































































    <p>































































      <%= link_to "Show this doujinshis origine", doujinshis_origine %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New doujinshis origine", new_doujinshis_origine_path %>
