<h1>New doujinshis origine</h1>































































































































<%= render "form", _doujinshis_origine: @_doujinshis_origine %>































































































































<br>































































































































<div>































































  <%= link_to "Back to doujinshis origines", doujinshis_origines_path %>































































</div>
