<div id="<%= dom_id doujinshis_gratuit %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujinshis_gratuit.name %>































































  </p>































































































































</div>
