<h1>Editing doujinshis gratuit</h1>

<%= render "form", _doujinshis_gratuit: @_doujinshis_gratuit %>

<br>

<div>
  <%= link_to "Show this doujinshis gratuit", @_doujinshis_gratuit %> |
  <%= link_to "Back to doujinshis gratuits", _doujinshis_gratuits_path %>
</div>
