<p style="color: green"><%= notice %></p>































































































































<h1>Doujinshis gratuits</h1>































































































































<div id="_doujinshis_gratuits">































































  <% @_doujinshis_gratuits.each do |_doujinshis_gratuit| %>































































    <%= render _doujinshis_gratuit %>































































    <p>































































      <%= link_to "Show this doujinshis gratuit", doujinshis_gratuit %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New doujinshis gratuit", new_doujinshis_gratuit_path %>
