<h1>New doujinshis gratuit</h1>































































































































<%= render "form", _doujinshis_gratuit: @_doujinshis_gratuit %>































































































































<br>































































































































<div>































































  <%= link_to "Back to doujinshis gratuits", doujinshis_gratuits_path %>































































</div>
