<div id="<%= dom_id doujinshis_artbook %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujinshis_artbook.name %>































































  </p>































































































































</div>
