<h1>Editing doujinshis artbook</h1>

<%= render "form", _doujinshis_artbook: @_doujinshis_artbook %>

<br>

<div>
  <%= link_to "Show this doujinshis artbook", @_doujinshis_artbook %> |
  <%= link_to "Back to doujinshis artbooks", _doujinshis_artbooks_path %>
</div>
