<p style="color: green"><%= notice %></p>































































































































<h1>Doujinshis artbooks</h1>































































































































<div id="_doujinshis_artbooks">































































  <% @_doujinshis_artbooks.each do |_doujinshis_artbook| %>































































    <%= render _doujinshis_artbook %>































































    <p>































































      <%= link_to "Show this doujinshis artbook", doujinshis_artbook %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New doujinshis artbook", new_doujinshis_artbook_path %>
