<h1>Editing photobooks editeurs vf</h1>

<%= render "form", _photobooks_editeurs_vf: @_photobooks_editeurs_vf %>

<br>

<div>
  <%= link_to "Show this photobooks editeurs vf", @_photobooks_editeurs_vf %> |
  <%= link_to "Back to photobooks editeurs vfs", _photobooks_editeurs_vfs_path %>
</div>
