<p style="color: green"><%= notice %></p>

<h1>Animes staff people</h1>

<div id="animes_staff_people">
  <% @animes_staff_people.each do |animes_staff_person| %>
    <%= render animes_staff_person %>
    <p>
      <%= link_to "Show this animes staff person", animes_staff_person %>
    </p>
  <% end %>
</div>

<%= link_to "New animes staff person", new_animes_staff_person_path %>
