<h1>New animes staff person</h1>































































































































<%= render "form", animes_staff_person: @animes_staff_person %>































































































































<br>































































































































<div>































































  <%= link_to "Back to animes staff people", animes_staff_people_path %>































































</div>
