<div id="<%= dom_id jeux_videos_amv %>">































































  <p>































































    <strong>Name:</strong>































































    <%= jeux_videos_amv.name %>































































  </p>































































































































</div>
