<p style="color: green"><%= notice %></p>































































































































<h1>Jeux videos amvs</h1>































































































































<div id="_jeux_videos_amvs">































































  <% @_jeux_videos_amvs.each do |_jeux_videos_amv| %>































































    <%= render _jeux_videos_amv %>































































    <p>































































      <%= link_to "Show this jeux videos amv", jeux_videos_amv %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New jeux videos amv", new_jeux_videos_amv_path %>
