<h1>New jeux videos amv</h1>































































































































<%= render "form", _jeux_videos_amv: @_jeux_videos_amv %>































































































































<br>































































































































<div>































































  <%= link_to "Back to jeux videos amvs", jeux_videos_amvs_path %>































































</div>
