<div id="<%= dom_id mangas_public_averti %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_public_averti.name %>































































  </p>































































































































</div>
