<h1>New mangas public averti</h1>































































































































<%= render "form", _mangas_public_averti: @_mangas_public_averti %>































































































































<br>































































































































<div>































































  <%= link_to "Back to mangas public avertis", mangas_public_avertis_path %>































































</div>
