<div id="<%= dom_id animes_pay %>">































































  <p>































































    <strong>Name:</strong>































































    <%= animes_pay.name %>































































  </p>































































































































</div>
