<p style="color: green"><%= notice %></p>































































































































<h1>Animes pays</h1>































































































































<div id="animes_pays">































































  <% @animes_pays.each do |animes_pay| %>































































    <%= render animes_pay %>































































    <p>































































      <%= link_to "Show this animes pay", animes_pay %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New animes pay", new_animes_pay_path %>
