<div id="<%= dom_id animes_litterature_asiatique_plu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= animes_litterature_asiatique_plu.name %>































































  </p>































































































































</div>
