<h1>Editing animes litterature asiatique plu</h1>

<%= render "form", animes_litterature_asiatique_plu: @animes_litterature_asiatique_plu %>

<br>

<div>
  <%= link_to "Show this animes litterature asiatique plu", @animes_litterature_asiatique_plu %> |
  <%= link_to "Back to animes litterature asiatique plus", animes_litterature_asiatique_plus_path %>
</div>
