
<h1>voir tous les Animes Litterature Asiatique Plus</h1>
<%@_animes_litterature_asiatique_plus.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Animes Litterature Asiatique Plus", new_animes_litterature_asiatique_plu_path%>
</p>
