<div id="<%= dom_id doujinshis_role %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujinshis_role.name %>































































  </p>































































































































</div>
