<h1>Editing doujinshis role</h1>

<%= render "form", _doujinshis_role: @_doujinshis_role %>

<br>

<div>
  <%= link_to "Show this doujinshis role", @_doujinshis_role %> |
  <%= link_to "Back to doujinshis roles", _doujinshis_roles_path %>
</div>
