<h1>New doujinshis role</h1>































































































































<%= render "form", _doujinshis_role: @_doujinshis_role %>































































































































<br>































































































































<div>































































  <%= link_to "Back to doujinshis roles", doujinshis_roles_path %>































































</div>
