<p style="color: green"><%= notice %></p>

<h1>Doujinshis lns</h1>

<div id="_doujinshis_lns">
  <% @_doujinshis_lns.each do |_doujinshis_ln| %>
    <%= render _doujinshis_ln %>
    <p>
      <%= link_to "Show this doujinshis ln", _doujinshis_ln %>
    </p>
  <% end %>
</div>

<%= link_to "New doujinshis ln", new__doujinshis_ln_path %>
