
<h1>voir tous les Personnage Danimes Perso Plus</h1>
<%@_personnage_danimes_perso_plus.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Personnage Danimes Perso Plus", new_personnage_danimes_perso_plu_path%>
</p>
