<h1>New personnage danimes perso plu</h1>































































































































<%= render "form", _personnage_danimes_perso_plu: @_personnage_danimes_perso_plu %>































































































































<br>































































































































<div>































































  <%= link_to "Back to personnage danimes perso plus", personnage_danimes_perso_plus_path %>































































</div>
