<div id="<%= dom_id mangas_manga %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_manga.name %>































































  </p>































































































































</div>
