<p style="color: green"><%= notice %></p>































































































































<h1>Mangas mangas</h1>































































































































<div id="_mangas_mangas">































































  <% @_mangas_mangas.each do |_mangas_manga| %>































































    <%= render _mangas_manga %>































































    <p>































































      <%= link_to "Show this mangas manga", mangas_manga %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New mangas manga", new_mangas_manga_path %>
