<h1>Editing films asiatiques en salles staff role</h1>































































































































<%= render "form", _films_asiatiques_en_salles_staff_role: @_films_asiatiques_en_salles_staff_role %>































































































































<br>































































































































<div>































































  <%= link_to "Show this films asiatiques en salles staff role", @_films_asiatiques_en_salles_staff_role %> |































































  <%= link_to "Back to films asiatiques en salles staff roles", films_asiatiques_en_salles_staff_roles_path %>































































</div>
