<h1>Editing concerts clip</h1>

<%= render "form", _clips___lives___bonus___concerts_clip: @_clips___lives___bonus___concerts_clip %>

<br>

<div>
  <%= link_to "Show this concerts clip", @_clips___lives___bonus___concerts_clip %> |
  <%= link_to "Back to concerts clips", _clips___lives___bonus___concerts_clips_path %>
</div>
