<div id="<%= dom_id livres_groupe %>">































































  <p>































































    <strong>Name:</strong>































































    <%= livres_groupe.name %>































































  </p>































































































































</div>
