<h1>Editing livres groupe</h1>































































































































<%= render "form", _livres_groupe: @_livres_groupe %>































































































































<br>































































































































<div>































































  <%= link_to "Show this livres groupe", @_livres_groupe %> |































































  <%= link_to "Back to livres groupes", livres_groupes_path %>































































</div>
