
<h1>voir tous les Numero Demission Tvs Clips</h1>
<%@_numero_demission_tvs_clips.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Numero Demission Tvs Clips", new_numero_demission_tvs_clip_path%>
</p>
