<p style="color: green"><%= notice %></p>

<h1>Personnalites type people</h1>

<div id="_personnalites_type_people">
  <% @_personnalites_type_people.each do |_personnalites_type_person| %>
    <%= render _personnalites_type_person %>
    <p>
      <%= link_to "Show this personnalites type person", _personnalites_type_person %>
    </p>
  <% end %>
</div>

<%= link_to "New personnalites type person", new__personnalites_type_person_path %>
