<h1>Editing blu rays am</h1>

<%= render "form", _dvd___blu_rays_am: @_dvd___blu_rays_am %>

<br>

<div>
  <%= link_to "Show this blu rays am", @_dvd___blu_rays_am %> |
  <%= link_to "Back to blu rays ams", _dvd___blu_rays_ams_path %>
</div>
