<div id="<%= dom_id volumes_illustration %>">































































  <p>































































    <strong>Name:</strong>































































    <%= volumes_illustration.name %>































































  </p>































































































































</div>
