<h1>Editing volumes illustration</h1>































































































































<%= render "form", _volumes_illustration: @_volumes_illustration %>































































































































<br>































































































































<div>































































  <%= link_to "Show this volumes illustration", @_volumes_illustration %> |































































  <%= link_to "Back to volumes illustrations", volumes_illustrations_path %>































































</div>
