<h1>New volumes illustration</h1>































































































































<%= render "form", _volumes_illustration: @_volumes_illustration %>































































































































<br>































































































































<div>































































  <%= link_to "Back to volumes illustrations", volumes_illustrations_path %>































































</div>
