<p style="color: green"><%= notice %></p>















<h1>Blu rays dramas</h1>















<div id="_dvd___blu_rays_dramas">







  <% @_dvd___blu_rays_dramas.each do |_dvd___blu_rays_drama| %>







    <%= render _dvd___blu_rays_drama %>







    <p>







      <%= link_to "Show this blu rays drama", dvd___blu_rays_drama %>







    </p>







  <% end %>







</div>















<%= link_to "New blu rays drama", new_dvd___blu_rays_drama_path %>
