<h1>New blu rays drama</h1>















<%= render "form", _dvd___blu_rays_drama: @_dvd___blu_rays_drama %>















<br>















<div>







  <%= link_to "Back to blu rays dramas", dvd___blu_rays_dramas_path %>







</div>
