<div id="<%= dom_id generiques_staff_role %>">































































  <p>































































    <strong>Name:</strong>































































    <%= generiques_staff_role.name %>































































  </p>































































































































</div>
