<h1>Editing generiques staff role</h1>

<%= render "form", _generiques_staff_role: @_generiques_staff_role %>

<br>

<div>
  <%= link_to "Show this generiques staff role", @_generiques_staff_role %> |
  <%= link_to "Back to generiques staff roles", _generiques_staff_roles_path %>
</div>
