<div id="<%= dom_id dramas_dvd %>">































































  <p>































































    <strong>Name:</strong>































































    <%= dramas_dvd.name %>































































  </p>































































































































</div>
