<h1>Editing dramas dvd</h1>































































































































<%= render "form", _dramas_dvd: @_dramas_dvd %>































































































































<br>































































































































<div>































































  <%= link_to "Show this dramas dvd", @_dramas_dvd %> |































































  <%= link_to "Back to dramas dvds", dramas_dvds_path %>































































</div>
