<div id="<%= dom_id animes_editeurs_vf_role %>">































































  <p>































































    <strong>Name:</strong>































































    <%= animes_editeurs_vf_role.name %>































































  </p>































































































































</div>
