<h1>Editing animes editeurs vf role</h1>

<%= render "form", animes_editeurs_vf_role: @animes_editeurs_vf_role %>

<br>

<div>
  <%= link_to "Show this animes editeurs vf role", @animes_editeurs_vf_role %> |
  <%= link_to "Back to animes editeurs vf roles", animes_editeurs_vf_roles_path %>
</div>
