<p style="color: green"><%= notice %></p>

<h1>Personnalites pays</h1>

<div id="_personnalites_pays">
  <% @_personnalites_pays.each do |_personnalites_pay| %>
    <%= render _personnalites_pay %>
    <p>
      <%= link_to "Show this personnalites pay", _personnalites_pay %>
    </p>
  <% end %>
</div>

<%= link_to "New personnalites pay", new__personnalites_pay_path %>
