<p style="color: green"><%= notice %></p>

<h1>Livres am plus</h1>

<div id="_livres_am_plus">
  <% @_livres_am_plus.each do |_livres_am_plu| %>
    <%= render _livres_am_plu %>
    <p>
      <%= link_to "Show this livres am plu", _livres_am_plu %>
    </p>
  <% end %>
</div>

<%= link_to "New livres am plu", new__livres_am_plu_path %>
