<div id="<%= dom_id goodies_type %>">































































  <p>































































    <strong>Name:</strong>































































    <%= goodies_type.name %>































































  </p>































































































































</div>
