<h1>Editing goodies type</h1>































































































































<%= render "form", _goodies_type: @_goodies_type %>































































































































<br>































































































































<div>































































  <%= link_to "Show this goodies type", @_goodies_type %> |































































  <%= link_to "Back to goodies types", goodies_types_path %>































































</div>
