<p style="color: green"><%= notice %></p>































































































































<h1>Goodies types</h1>































































































































<div id="_goodies_types">































































  <% @_goodies_types.each do |_goodies_type| %>































































    <%= render _goodies_type %>































































    <p>































































      <%= link_to "Show this goodies type", goodies_type %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New goodies type", new_goodies_type_path %>
