<div id="<%= dom_id personnages_de_jeux_videos_perso_plu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= personnages_de_jeux_videos_perso_plu.name %>































































  </p>































































































































</div>
