
<h1>voir tous les Personnages De Jeux Videos Perso Plus</h1>
<%@_personnages_de_jeux_videos_perso_plus.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Personnages De Jeux Videos Perso Plus", new_personnages_de_jeux_videos_perso_plu_path%>
</p>
