<h1>Editing fiche univers doujinshi</h1>

<%= render "form", _fiche_univers_doujinshi: @_fiche_univers_doujinshi %>

<br>

<div>
  <%= link_to "Show this fiche univers doujinshi", @_fiche_univers_doujinshi %> |
  <%= link_to "Back to fiche univers doujinshis", _fiche_univers_doujinshis_path %>
</div>
