<div id="<%= dom_id dramas_am %>">































































  <p>































































    <strong>Name:</strong>































































    <%= dramas_am.name %>































































  </p>































































































































</div>
