<h1>Editing dramas am</h1>

<%= render "form", _dramas_am: @_dramas_am %>

<br>

<div>
  <%= link_to "Show this dramas am", @_dramas_am %> |
  <%= link_to "Back to dramas ams", _dramas_ams_path %>
</div>
