<h1>New dramas am</h1>































































































































<%= render "form", _dramas_am: @_dramas_am %>































































































































<br>































































































































<div>































































  <%= link_to "Back to dramas ams", dramas_ams_path %>































































</div>
