<h1>New personnalites labels debut</h1>

<%= render "form", _personnalites_labels_debut: @_personnalites_labels_debut %>

<br>

<div>
  <%= link_to "Back to personnalites labels debuts", _personnalites_labels_debuts_path %>
</div>
