<h1>Editing personnage danime</h1>































































































































<%= render "form", _personnage_danime: @_personnage_danime %>































































































































<br>































































































































<div>































































  <%= link_to "Show this personnage danime", @_personnage_danime %> |































































  <%= link_to "Back to personnage danimes", personnage_danimes_path %>































































</div>
