<p style="color: green"><%= notice %></p>































































































































<h1>Personnage danimes</h1>































































































































<div id="_personnage_danimes">































































  <% @_personnage_danimes.each do |_personnage_danime| %>































































    <%= render _personnage_danime %>































































    <p>































































      <%= link_to "Show this personnage danime", personnage_danime %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New personnage danime", new_personnage_danime_path %>
