<h1>New blu rays emission tv</h1>















<%= render "form", _dvd___blu_rays_emission_tv: @_dvd___blu_rays_emission_tv %>















<br>















<div>







  <%= link_to "Back to blu rays emission tvs", dvd___blu_rays_emission_tvs_path %>







</div>
