<h1>Editing blu rays groupe</h1>

<%= render "form", _dvd___blu_rays_groupe: @_dvd___blu_rays_groupe %>

<br>

<div>
  <%= link_to "Show this blu rays groupe", @_dvd___blu_rays_groupe %> |
  <%= link_to "Back to blu rays groupes", _dvd___blu_rays_groupes_path %>
</div>
