<h1>Editing breves jv societe</h1>

<%= render "form", _breves_jv_societe: @_breves_jv_societe %>

<br>

<div>
  <%= link_to "Show this breves jv societe", @_breves_jv_societe %> |
  <%= link_to "Back to breves jv societes", _breves_jv_societes_path %>
</div>
