<p style="color: green"><%= notice %></p>































































































































<h1>Breves jv societes</h1>































































































































<div id="_breves_jv_societes">































































  <% @_breves_jv_societes.each do |_breves_jv_societe| %>































































    <%= render _breves_jv_societe %>































































    <p>































































      <%= link_to "Show this breves jv societe", breves_jv_societe %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New breves jv societe", new_breves_jv_societe_path %>
