<div id="<%= dom_id personnalites_person %>">































































  <p>































































    <strong>Name:</strong>































































    <%= personnalites_person.name %>































































  </p>































































































































</div>
