
<h1>voir tous les Films Asiatiques Univers</h1>
<%@_films_asiatiques_univers.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Films Asiatiques Univers", new_films_asiatiques_univer_path%>
</p>
