<h1>Editing dramas emission tv</h1>

<%= render "form", _dramas_emission_tv: @_dramas_emission_tv %>

<br>

<div>
  <%= link_to "Show this dramas emission tv", @_dramas_emission_tv %> |
  <%= link_to "Back to dramas emission tvs", _dramas_emission_tvs_path %>
</div>
