<div id="<%= dom_id dramas_culture %>">































































  <p>































































    <strong>Name:</strong>































































    <%= dramas_culture.name %>































































  </p>































































































































</div>
