<div id="<%= dom_id goodies_anime %>">































































  <p>































































    <strong>Name:</strong>































































    <%= goodies_anime.name %>































































  </p>































































































































</div>
