<h1>Editing jeux videos litterature asiatique plu</h1>

<%= render "form", _jeux_videos_litterature_asiatique_plu: @_jeux_videos_litterature_asiatique_plu %>

<br>

<div>
  <%= link_to "Show this jeux videos litterature asiatique plu", @_jeux_videos_litterature_asiatique_plu %> |
  <%= link_to "Back to jeux videos litterature asiatique plus", _jeux_videos_litterature_asiatique_plus_path %>
</div>
