<div id="<%= dom_id light_novels_actualite %>">































































  <p>































































    <strong>Name:</strong>































































    <%= light_novels_actualite.name %>































































  </p>































































































































</div>
