
<h1>voir tous les Light Novels Actualites</h1>
<%@_light_novels_actualites.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Light Novels Actualites", new_light_novels_actualite_path%>
</p>
