<p style="color: green"><%= notice %></p>































































































































<h1>Light novels actualites</h1>































































































































<div id="_light_novels_actualites">































































  <% @_light_novels_actualites.each do |_light_novels_actualite| %>































































    <%= render _light_novels_actualite %>































































    <p>































































      <%= link_to "Show this light novels actualite", light_novels_actualite %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New light novels actualite", new_light_novels_actualite_path %>
