<h1>New light novels actualite</h1>































































































































<%= render "form", _light_novels_actualite: @_light_novels_actualite %>































































































































<br>































































































































<div>































































  <%= link_to "Back to light novels actualites", light_novels_actualites_path %>































































</div>
