<div id="<%= dom_id breves_recette %>">































































  <p>































































    <strong>Name:</strong>































































    <%= breves_recette.name %>































































  </p>































































































































</div>
