<h1>Editing breves recette</h1>

<%= render "form", _breves_recette: @_breves_recette %>

<br>

<div>
  <%= link_to "Show this breves recette", @_breves_recette %> |
  <%= link_to "Back to breves recettes", _breves_recettes_path %>
</div>
