<h1>New breves recette</h1>































































































































<%= render "form", _breves_recette: @_breves_recette %>































































































































<br>































































































































<div>































































  <%= link_to "Back to breves recettes", breves_recettes_path %>































































</div>
