<div id="<%= dom_id dramas_drama %>">































































  <p>































































    <strong>Name:</strong>































































    <%= dramas_drama.name %>































































  </p>































































































































</div>
