<h1>New dramas drama</h1>































































































































<%= render "form", _dramas_drama: @_dramas_drama %>































































































































<br>































































































































<div>































































  <%= link_to "Back to dramas dramas", dramas_dramas_path %>































































</div>
