<div id="<%= dom_id breves_cinema %>">































































  <p>































































    <strong>Name:</strong>































































    <%= breves_cinema.name %>































































  </p>































































































































</div>
