<h1>Editing breves cinema</h1>

<%= render "form", _breves_cinema: @_breves_cinema %>

<br>

<div>
  <%= link_to "Show this breves cinema", @_breves_cinema %> |
  <%= link_to "Back to breves cinemas", _breves_cinemas_path %>
</div>
