<h1>New breves cinema</h1>































































































































<%= render "form", _breves_cinema: @_breves_cinema %>































































































































<br>































































































































<div>































































  <%= link_to "Back to breves cinemas", breves_cinemas_path %>































































</div>
