<div id="<%= dom_id light_novels_actualite_mini %>">































































  <p>































































    <strong>Name:</strong>































































    <%= light_novels_actualite_mini.name %>































































  </p>































































































































</div>
