<h1>Editing light novels actualite mini</h1>































































































































<%= render "form", _light_novels_actualite_mini: @_light_novels_actualite_mini %>































































































































<br>































































































































<div>































































  <%= link_to "Show this light novels actualite mini", @_light_novels_actualite_mini %> |































































  <%= link_to "Back to light novels actualite minis", light_novels_actualite_minis_path %>































































</div>
