<div id="<%= dom_id dramas_manga %>">































































  <p>































































    <strong>Name:</strong>































































    <%= dramas_manga.name %>































































  </p>































































































































</div>
