<h1>New films asiatiques culture</h1>

<%= render "form", _films_asiatiques_culture: @_films_asiatiques_culture %>

<br>

<div>
  <%= link_to "Back to films asiatiques cultures", _films_asiatiques_cultures_path %>
</div>
