<div id="<%= dom_id films_asiatiques_actualite %>">































































  <p>































































    <strong>Name:</strong>































































    <%= films_asiatiques_actualite.name %>































































  </p>































































































































</div>
