
<h1>voir tous les Films Asiatiques Actualites</h1>
<%@_films_asiatiques_actualites.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Films Asiatiques Actualites", new_films_asiatiques_actualite_path%>
</p>
