<h1>New films asiatiques actualite</h1>































































































































<%= render "form", _films_asiatiques_actualite: @_films_asiatiques_actualite %>































































































































<br>































































































































<div>































































  <%= link_to "Back to films asiatiques actualites", films_asiatiques_actualites_path %>































































</div>
