
<h1>voir tous les Films Asiatiques Emission Tvs</h1>
<%@_films_asiatiques_emission_tvs.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Films Asiatiques Emission Tvs", new_films_asiatiques_emission_tv_path%>
</p>
