<div id="<%= dom_id doujinshis_ln %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujinshis_ln.name %>































































  </p>































































































































</div>
