<h1>Editing doujinshis ln</h1>































































































































<%= render "form", _doujinshis_ln: @_doujinshis_ln %>































































































































<br>































































































































<div>































































  <%= link_to "Show this doujinshis ln", @_doujinshis_ln %> |































































  <%= link_to "Back to doujinshis lns", doujinshis_lns_path %>































































</div>
