<h1>Editing artbooks illustration</h1>































































































































<%= render "form", artbooks_illustration: @artbooks_illustration %>































































































































<br>































































































































<div>































































  <%= link_to "Show this artbooks illustration", @artbooks_illustration %> |































































  <%= link_to "Back to artbooks illustrations", artbooks_illustrations_path %>































































</div>
