<p style="color: green"><%= notice %></p>

<h1>Artbooks illustrations</h1>

<div id="artbooks_illustrations">
  <% @artbooks_illustrations.each do |artbooks_illustration| %>
    <%= render artbooks_illustration %>
    <p>
      <%= link_to "Show this artbooks illustration", artbooks_illustration %>
    </p>
  <% end %>
</div>

<%= link_to "New artbooks illustration", new_artbooks_illustration_path %>
