<h1>New artbooks illustration</h1>

<%= render "form", artbooks_illustration: @artbooks_illustration %>

<br>

<div>
  <%= link_to "Back to artbooks illustrations", artbooks_illustrations_path %>
</div>
