<h1>New photobooks photobook</h1>

<%= render "form", _photobooks_photobook: @_photobooks_photobook %>

<br>

<div>
  <%= link_to "Back to photobooks photobooks", _photobooks_photobooks_path %>
</div>
