<div id="<%= dom_id livres_goody %>">































































  <p>































































    <strong>Name:</strong>































































    <%= livres_goody.name %>































































  </p>































































































































</div>
