<h1>Editing livres goody</h1>































































































































<%= render "form", _livres_goody: @_livres_goody %>































































































































<br>































































































































<div>































































  <%= link_to "Show this livres goody", @_livres_goody %> |































































  <%= link_to "Back to livres goodies", livres_goodies_path %>































































</div>
