<p style="color: green"><%= notice %></p>































































































































<h1>Livres goodies</h1>































































































































<div id="_livres_goodies">































































  <% @_livres_goodies.each do |_livres_goody| %>































































    <%= render _livres_goody %>































































    <p>































































      <%= link_to "Show this livres goody", livres_goody %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New livres goody", new_livres_goody_path %>
