<div id="<%= dom_id films_asiatiques_jv %>">































































  <p>































































    <strong>Name:</strong>































































    <%= films_asiatiques_jv.name %>































































  </p>































































































































</div>
