<p style="color: green"><%= notice %></p>

<h1>Films asiatiques jvs</h1>

<div id="_films_asiatiques_jvs">
  <% @_films_asiatiques_jvs.each do |_films_asiatiques_jv| %>
    <%= render _films_asiatiques_jv %>
    <p>
      <%= link_to "Show this films asiatiques jv", _films_asiatiques_jv %>
    </p>
  <% end %>
</div>

<%= link_to "New films asiatiques jv", new__films_asiatiques_jv_path %>
