<h1>New goodies editeurs vf</h1>































































































































<%= render "form", _goodies_editeurs_vf: @_goodies_editeurs_vf %>































































































































<br>































































































































<div>































































  <%= link_to "Back to goodies editeurs vfs", goodies_editeurs_vfs_path %>































































</div>
