<div id="<%= dom_id dramas_type %>">































































  <p>































































    <strong>Name:</strong>































































    <%= dramas_type.name %>































































  </p>































































































































</div>
