<h1>New dramas type</h1>































































































































<%= render "form", _dramas_type: @_dramas_type %>































































































































<br>































































































































<div>































































  <%= link_to "Back to dramas types", dramas_types_path %>































































</div>
