<div id="<%= dom_id dramas_generiques_person %>">































































  <p>































































    <strong>Name:</strong>































































    <%= dramas_generiques_person.name %>































































  </p>































































































































</div>
