<h1>Editing dramas generiques person</h1>































































































































<%= render "form", _dramas_generiques_person: @_dramas_generiques_person %>































































































































<br>































































































































<div>































































  <%= link_to "Show this dramas generiques person", @_dramas_generiques_person %> |































































  <%= link_to "Back to dramas generiques people", dramas_generiques_people_path %>































































</div>
