
<h1>voir tous les Dramas Generiques People</h1>
<%@_dramas_generiques_people.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Dramas Generiques People", new_dramas_generiques_peopl_path%>
</p>
