<p style="color: green"><%= notice %></p>

<h1>Evenements people</h1>

<div id="evenements_people">
  <% @evenements_people.each do |evenements_person| %>
    <%= render evenements_person %>
    <p>
      <%= link_to "Show this evenements person", evenements_person %>
    </p>
  <% end %>
</div>

<%= link_to "New evenements person", new_evenements_person_path %>
