<h1>New evenements person</h1>































































































































<%= render "form", evenements_person: @evenements_person %>































































































































<br>































































































































<div>































































  <%= link_to "Back to evenements people", evenements_people_path %>































































</div>
