<div id="<%= dom_id doujinshis_culture %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujinshis_culture.name %>































































  </p>































































































































</div>
