<p style="color: green"><%= notice %></p>































































































































<h1>Doujinshis cultures</h1>































































































































<div id="_doujinshis_cultures">































































  <% @_doujinshis_cultures.each do |_doujinshis_culture| %>































































    <%= render _doujinshis_culture %>































































    <p>































































      <%= link_to "Show this doujinshis culture", doujinshis_culture %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New doujinshis culture", new_doujinshis_culture_path %>
