<p style="color: green"><%= notice %></p>































































































































<h1>Animes lns</h1>































































































































<div id="animes_lns">































































  <% @animes_lns.each do |animes_ln| %>































































    <%= render animes_ln %>































































    <p>































































      <%= link_to "Show this animes ln", animes_ln %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New animes ln", new_animes_ln_path %>
