<h1>New animes ln</h1>































































































































<%= render "form", animes_ln: @animes_ln %>































































































































<br>































































































































<div>































































  <%= link_to "Back to animes lns", animes_lns_path %>































































</div>
