<h1>Editing jeux videos quizz</h1>

<%= render "form", _jeux_videos_quizz: @_jeux_videos_quizz %>

<br>

<div>
  <%= link_to "Show this jeux videos quizz", @_jeux_videos_quizz %> |
  <%= link_to "Back to jeux videos quizzs", _jeux_videos_quizzs_path %>
</div>
