<div id="<%= dom_id dramas_anime_plu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= dramas_anime_plu.name %>































































  </p>































































































































</div>
