<h1>Editing dramas anime plu</h1>

<%= render "form", _dramas_anime_plu: @_dramas_anime_plu %>

<br>

<div>
  <%= link_to "Show this dramas anime plu", @_dramas_anime_plu %> |
  <%= link_to "Back to dramas anime plus", _dramas_anime_plus_path %>
</div>
