<p style="color: green"><%= notice %></p>































































































































<h1>Personnalites agences fins</h1>































































































































<div id="_personnalites_agences_fins">































































  <% @_personnalites_agences_fins.each do |_personnalites_agences_fin| %>































































    <%= render _personnalites_agences_fin %>































































    <p>































































      <%= link_to "Show this personnalites agences fin", personnalites_agences_fin %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New personnalites agences fin", new_personnalites_agences_fin_path %>
