
<h1>voir tous les Personnalites Agences Fins</h1>
<%@_personnalites_agences_fins.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Personnalites Agences Fins", new_personnalites_agences_fin_path%>
</p>
