<p style="color: green"><%= notice %></p>

<h1>Recettes difficultes</h1>

<div id="_recettes_difficultes">
  <% @_recettes_difficultes.each do |_recettes_difficulte| %>
    <%= render _recettes_difficulte %>
    <p>
      <%= link_to "Show this recettes difficulte", _recettes_difficulte %>
    </p>
  <% end %>
</div>

<%= link_to "New recettes difficulte", new__recettes_difficulte_path %>
