<h1>Editing dramas societe person</h1>

<%= render "form", _dramas_societe_person: @_dramas_societe_person %>

<br>

<div>
  <%= link_to "Show this dramas societe person", @_dramas_societe_person %> |
  <%= link_to "Back to dramas societe people", _dramas_societe_people_path %>
</div>
