<h1>Editing light novels am plu</h1>

<%= render "form", _light_novels_am_plu: @_light_novels_am_plu %>

<br>

<div>
  <%= link_to "Show this light novels am plu", @_light_novels_am_plu %> |
  <%= link_to "Back to light novels am plus", _light_novels_am_plus_path %>
</div>
