<div id="<%= dom_id photobooks_role %>">































































  <p>































































    <strong>Name:</strong>































































    <%= photobooks_role.name %>































































  </p>































































































































</div>
