<div id="<%= dom_id mangas_anime %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_anime.name %>































































  </p>































































































































</div>
