<h1>New mangas anime</h1>































































































































<%= render "form", _mangas_anime: @_mangas_anime %>































































































































<br>































































































































<div>































































  <%= link_to "Back to mangas animes", mangas_animes_path %>































































</div>
