<h1>Editing films asiatiques univer</h1>

<%= render "form", _films_asiatiques_univer: @_films_asiatiques_univer %>

<br>

<div>
  <%= link_to "Show this films asiatiques univer", @_films_asiatiques_univer %> |
  <%= link_to "Back to films asiatiques univers", _films_asiatiques_univers_path %>
</div>
