<h1>Editing fiche univers drama</h1>

<%= render "form", _fiche_univers_drama: @_fiche_univers_drama %>

<br>

<div>
  <%= link_to "Show this fiche univers drama", @_fiche_univers_drama %> |
  <%= link_to "Back to fiche univers dramas", _fiche_univers_dramas_path %>
</div>
