<div id="<%= dom_id doujins_person %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujins_person.name %>































































  </p>































































































































</div>
