<h1>Editing doujins person</h1>































































































































<%= render "form", _doujins_person: @_doujins_person %>































































































































<br>































































































































<div>































































  <%= link_to "Show this doujins person", @_doujins_person %> |































































  <%= link_to "Back to doujins people", doujins_people_path %>































































</div>
