<div id="<%= dom_id livres_pay %>">































































  <p>































































    <strong>Name:</strong>































































    <%= livres_pay.name %>































































  </p>































































































































</div>
