<p style="color: green"><%= notice %></p>































































































































<h1>Livres pays</h1>































































































































<div id="_livres_pays">































































  <% @_livres_pays.each do |_livres_pay| %>































































    <%= render _livres_pay %>































































    <p>































































      <%= link_to "Show this livres pay", livres_pay %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New livres pay", new_livres_pay_path %>
