<h1>Editing light novels prepublie</h1>































































































































<%= render "form", _light_novels_prepubly: @_light_novels_prepubly %>































































































































<br>































































































































<div>































































  <%= link_to "Show this light novels prepublie", @_light_novels_prepubly %> |































































  <%= link_to "Back to light novels prepublies", light_novels_prepublies_path %>































































</div>
