<p style="color: green"><%= notice %></p>

<h1>Breves amvs</h1>

<div id="_breves_amvs">
  <% @_breves_amvs.each do |_breves_amv| %>
    <%= render _breves_amv %>
    <p>
      <%= link_to "Show this breves amv", _breves_amv %>
    </p>
  <% end %>
</div>

<%= link_to "New breves amv", new__breves_amv_path %>
