<h1>Editing livres drama</h1>

<%= render "form", _livres_drama: @_livres_drama %>

<br>

<div>
  <%= link_to "Show this livres drama", @_livres_drama %> |
  <%= link_to "Back to livres dramas", _livres_dramas_path %>
</div>
