<h1>Editing doujins groupe</h1>

<%= render "form", _doujins_groupe: @_doujins_groupe %>

<br>

<div>
  <%= link_to "Show this doujins groupe", @_doujins_groupe %> |
  <%= link_to "Back to doujins groupes", _doujins_groupes_path %>
</div>
