<p style="color: green"><%= notice %></p>

<h1>Doujins groupes</h1>

<div id="_doujins_groupes">
  <% @_doujins_groupes.each do |_doujins_groupe| %>
    <%= render _doujins_groupe %>
    <p>
      <%= link_to "Show this doujins groupe", _doujins_groupe %>
    </p>
  <% end %>
</div>

<%= link_to "New doujins groupe", new__doujins_groupe_path %>
