<div id="<%= dom_id personnalites_role %>">































































  <p>































































    <strong>Name:</strong>































































    <%= personnalites_role.name %>































































  </p>































































































































</div>
