<p style="color: green"><%= notice %></p>































































































































<h1>Personnalites roles</h1>































































































































<div id="_personnalites_roles">































































  <% @_personnalites_roles.each do |_personnalites_role| %>































































    <%= render _personnalites_role %>































































    <p>































































      <%= link_to "Show this personnalites role", personnalites_role %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New personnalites role", new_personnalites_role_path %>
