<div id="<%= dom_id generique_de_jeu_videos_jv_generic %>">































































  <p>































































    <strong>Name:</strong>































































    <%= generique_de_jeu_videos_jv_generic.name %>































































  </p>































































































































</div>
