<h1>Editing generique de jeu videos jv generic</h1>































































































































<%= render "form", _generique_de_jeu_videos_jv_generic: @_generique_de_jeu_videos_jv_generic %>































































































































<br>































































































































<div>































































  <%= link_to "Show this generique de jeu videos jv generic", @_generique_de_jeu_videos_jv_generic %> |































































  <%= link_to "Back to generique de jeu videos jv generics", generique_de_jeu_videos_jv_generics_path %>































































</div>
