<div id="<%= dom_id animes_anime_plu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= animes_anime_plu.name %>































































  </p>































































































































</div>
