<h1>Editing animes anime plu</h1>































































































































<%= render "form", animes_anime_plu: @animes_anime_plu %>































































































































<br>































































































































<div>































































  <%= link_to "Show this animes anime plu", @animes_anime_plu %> |































































  <%= link_to "Back to animes anime plus", animes_anime_plus_path %>































































</div>
