<p style="color: green"><%= notice %></p>































































































































<h1>Animes anime plus</h1>































































































































<div id="animes_anime_plus">































































  <% @animes_anime_plus.each do |animes_anime_plu| %>































































    <%= render animes_anime_plu %>































































    <p>































































      <%= link_to "Show this animes anime plu", animes_anime_plu %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New animes anime plu", new_animes_anime_plu_path %>
