<h1>Editing light novels jv plu</h1>

<%= render "form", _light_novels_jv_plu: @_light_novels_jv_plu %>

<br>

<div>
  <%= link_to "Show this light novels jv plu", @_light_novels_jv_plu %> |
  <%= link_to "Back to light novels jv plus", _light_novels_jv_plus_path %>
</div>
