<p style="color: green"><%= notice %></p>

<h1>Films asiatiques groupes</h1>

<div id="_films_asiatiques_groupes">
  <% @_films_asiatiques_groupes.each do |_films_asiatiques_groupe| %>
    <%= render _films_asiatiques_groupe %>
    <p>
      <%= link_to "Show this films asiatiques groupe", _films_asiatiques_groupe %>
    </p>
  <% end %>
</div>

<%= link_to "New films asiatiques groupe", new__films_asiatiques_groupe_path %>
