<div id="<%= dom_id volumes_type %>">































































  <p>































































    <strong>Name:</strong>































































    <%= volumes_type.name %>































































  </p>































































































































</div>
