<h1>Editing volumes type</h1>































































































































<%= render "form", _volumes_type: @_volumes_type %>































































































































<br>































































































































<div>































































  <%= link_to "Show this volumes type", @_volumes_type %> |































































  <%= link_to "Back to volumes types", volumes_types_path %>































































</div>
