<div id="<%= dom_id livres_anime %>">































































  <p>































































    <strong>Name:</strong>































































    <%= livres_anime.name %>































































  </p>































































































































</div>
