<h1>New livres anime</h1>































































































































<%= render "form", _livres_anime: @_livres_anime %>































































































































<br>































































































































<div>































































  <%= link_to "Back to livres animes", livres_animes_path %>































































</div>
