<h1>New animes theme</h1>































































































































<%= render "form", animes_theme: @animes_theme %>































































































































<br>































































































































<div>































































  <%= link_to "Back to animes themes", animes_themes_path %>































































</div>
