<p style="color: green"><%= notice %></p>

<h1>Animes osts</h1>

<div id="animes_osts">
  <% @animes_osts.each do |animes_ost| %>
    <%= render animes_ost %>
    <p>
      <%= link_to "Show this animes ost", animes_ost %>
    </p>
  <% end %>
</div>

<%= link_to "New animes ost", new_animes_ost_path %>
