<h1>New animes ost</h1>































































































































<%= render "form", animes_ost: @animes_ost %>































































































































<br>































































































































<div>































































  <%= link_to "Back to animes osts", animes_osts_path %>































































</div>
