<h1>Editing personnalites id travaux</h1>

<%= render "form", _personnalites_id_travaux: @_personnalites_id_travaux %>

<br>

<div>
  <%= link_to "Show this personnalites id travaux", @_personnalites_id_travaux %> |
  <%= link_to "Back to personnalites id travauxes", _personnalites_id_travauxes_path %>
</div>
