<h1>New personnalites id travaux</h1>

<%= render "form", _personnalites_id_travaux: @_personnalites_id_travaux %>

<br>

<div>
  <%= link_to "Back to personnalites id travauxes", _personnalites_id_travauxes_path %>
</div>
