<h1>New concerts type bonu</h1>



<%= render "form", _clips_lives_bonus_concerts_type_bonu: @_clips_lives_bonus_concerts_type_bonu %>



<br>



<div>

  <%= link_to "Back to concerts type bonus", clips_lives_bonus_concerts_type_bonus_path %>

</div>
