<h1>Editing livres editeurs vf</h1>































































































































<%= render "form", _livres_editeurs_vf: @_livres_editeurs_vf %>































































































































<br>































































































































<div>































































  <%= link_to "Show this livres editeurs vf", @_livres_editeurs_vf %> |































































  <%= link_to "Back to livres editeurs vfs", livres_editeurs_vfs_path %>































































</div>
