<p style="color: green"><%= notice %></p>































































































































<h1>Livres editeurs vfs</h1>































































































































<div id="_livres_editeurs_vfs">































































  <% @_livres_editeurs_vfs.each do |_livres_editeurs_vf| %>































































    <%= render _livres_editeurs_vf %>































































    <p>































































      <%= link_to "Show this livres editeurs vf", livres_editeurs_vf %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New livres editeurs vf", new_livres_editeurs_vf_path %>
