<h1>New generique de jeu videos jv</h1>































































































































<%= render "form", _generique_de_jeu_videos_jv: @_generique_de_jeu_videos_jv %>































































































































<br>































































































































<div>































































  <%= link_to "Back to generique de jeu videos jvs", generique_de_jeu_videos_jvs_path %>































































</div>
