<div id="<%= dom_id livres_person %>">































































  <p>































































    <strong>Name:</strong>































































    <%= livres_person.name %>































































  </p>































































































































</div>
