<h1>Editing livres person</h1>































































































































<%= render "form", _livres_person: @_livres_person %>































































































































<br>































































































































<div>































































  <%= link_to "Show this livres person", @_livres_person %> |































































  <%= link_to "Back to livres people", livres_people_path %>































































</div>
