<p style="color: green"><%= notice %></p>

<h1>Livres people</h1>

<div id="_livres_people">
  <% @_livres_people.each do |_livres_person| %>
    <%= render _livres_person %>
    <p>
      <%= link_to "Show this livres person", _livres_person %>
    </p>
  <% end %>
</div>

<%= link_to "New livres person", new__livres_person_path %>
