<div id="<%= dom_id photobooks_france %>">































































  <p>































































    <strong>Name:</strong>































































    <%= photobooks_france.name %>































































  </p>































































































































</div>
