<h1>New photobooks france</h1>































































































































<%= render "form", _photobooks_france: @_photobooks_france %>































































































































<br>































































































































<div>































































  <%= link_to "Back to photobooks frances", photobooks_frances_path %>































































</div>
