<p style="color: green"><%= notice %></p>

<h1>Mangas quizzs</h1>

<div id="_mangas_quizzs">
  <% @_mangas_quizzs.each do |_mangas_quizz| %>
    <%= render _mangas_quizz %>
    <p>
      <%= link_to "Show this mangas quizz", _mangas_quizz %>
    </p>
  <% end %>
</div>

<%= link_to "New mangas quizz", new__mangas_quizz_path %>
