<p style="color: green"><%= notice %></p>

<h1>Photobooks goodies</h1>

<div id="_photobooks_goodies">
  <% @_photobooks_goodies.each do |_photobooks_goody| %>
    <%= render _photobooks_goody %>
    <p>
      <%= link_to "Show this photobooks goody", _photobooks_goody %>
    </p>
  <% end %>
</div>

<%= link_to "New photobooks goody", new__photobooks_goody_path %>
