<p style="color: green"><%= notice %></p>

<h1>Films asiatiques themes</h1>

<div id="_films_asiatiques_themes">
  <% @_films_asiatiques_themes.each do |_films_asiatiques_theme| %>
    <%= render _films_asiatiques_theme %>
    <p>
      <%= link_to "Show this films asiatiques theme", _films_asiatiques_theme %>
    </p>
  <% end %>
</div>

<%= link_to "New films asiatiques theme", new__films_asiatiques_theme_path %>
