<h1>New films asiatiques theme</h1>

<%= render "form", _films_asiatiques_theme: @_films_asiatiques_theme %>

<br>

<div>
  <%= link_to "Back to films asiatiques themes", _films_asiatiques_themes_path %>
</div>
