<div id="<%= dom_id doujinshis_type %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujinshis_type.name %>































































  </p>































































































































</div>
