<p style="color: green"><%= notice %></p>































































































































<h1>Doujinshis types</h1>































































































































<div id="_doujinshis_types">































































  <% @_doujinshis_types.each do |_doujinshis_type| %>































































    <%= render _doujinshis_type %>































































    <p>































































      <%= link_to "Show this doujinshis type", doujinshis_type %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New doujinshis type", new_doujinshis_type_path %>
