<div id="<%= dom_id goodies_bonu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= goodies_bonu.name %>































































  </p>































































































































</div>
