<h1>Editing goodies bonu</h1>































































































































<%= render "form", _goodies_bonu: @_goodies_bonu %>































































































































<br>































































































































<div>































































  <%= link_to "Show this goodies bonu", @_goodies_bonu %> |































































  <%= link_to "Back to goodies bonus", goodies_bonus_path %>































































</div>
