<p style="color: green"><%= notice %></p>

<h1>Goodies bonus</h1>

<div id="_goodies_bonus">
  <% @_goodies_bonus.each do |_goodies_bonu| %>
    <%= render _goodies_bonu %>
    <p>
      <%= link_to "Show this goodies bonu", _goodies_bonu %>
    </p>
  <% end %>
</div>

<%= link_to "New goodies bonu", new__goodies_bonu_path %>
