<p style="color: green"><%= notice %></p>































































































































<h1>Goodies bonus</h1>































































































































<div id="_goodies_bonus">































































  <% @_goodies_bonus.each do |_goodies_bonu| %>































































    <%= render _goodies_bonu %>































































    <p>































































      <%= link_to "Show this goodies bonu", goodies_bonu %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New goodies bonu", new_goodies_bonu_path %>
