<p style="color: green"><%= notice %></p>































































































































<h1>Films asiatiques en salles animes</h1>































































































































<div id="_films_asiatiques_en_salles_animes">































































  <% @_films_asiatiques_en_salles_animes.each do |_films_asiatiques_en_salles_anime| %>































































    <%= render _films_asiatiques_en_salles_anime %>































































    <p>































































      <%= link_to "Show this films asiatiques en salles anime", films_asiatiques_en_salles_anime %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New films asiatiques en salles anime", new_films_asiatiques_en_salles_anime_path %>
