<h1>New films asiatiques en salles anime</h1>































































































































<%= render "form", _films_asiatiques_en_salles_anime: @_films_asiatiques_en_salles_anime %>































































































































<br>































































































































<div>































































  <%= link_to "Back to films asiatiques en salles animes", films_asiatiques_en_salles_animes_path %>































































</div>
