<div id="<%= dom_id cds_manga %>">































































  <p>































































    <strong>Name:</strong>































































    <%= cds_manga.name %>































































  </p>































































































































</div>
