<h1>Editing cds manga</h1>

<%= render "form", _cds_manga: @_cds_manga %>

<br>

<div>
  <%= link_to "Show this cds manga", @_cds_manga %> |
  <%= link_to "Back to cds mangas", _cds_mangas_path %>
</div>
