<p style="color: green"><%= notice %></p>































































































































<h1>Cds mangas</h1>































































































































<div id="_cds_mangas">































































  <% @_cds_mangas.each do |_cds_manga| %>































































    <%= render _cds_manga %>































































    <p>































































      <%= link_to "Show this cds manga", cds_manga %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New cds manga", new_cds_manga_path %>
