<h1>New cds manga</h1>































































































































<%= render "form", _cds_manga: @_cds_manga %>































































































































<br>































































































































<div>































































  <%= link_to "Back to cds mangas", cds_mangas_path %>































































</div>
