<h1>Editing blu rays france</h1>















<%= render "form", _dvd___blu_rays_france: @_dvd___blu_rays_france %>















<br>















<div>







  <%= link_to "Show this blu rays france", @_dvd___blu_rays_france %> |







  <%= link_to "Back to blu rays frances", dvd___blu_rays_frances_path %>







</div>
