
<h1>voir tous les Personnages De Jeux Videos Persos</h1>
<%@_personnages_de_jeux_videos_persos.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Personnages De Jeux Videos Persos", new_personnages_de_jeux_videos_perso_path%>
</p>
