<p style="color: green"><%= notice %></p>

<h1>Personnages de jeux videos persos</h1>

<div id="_personnages_de_jeux_videos_persos">
  <% @_personnages_de_jeux_videos_persos.each do |_personnages_de_jeux_videos_perso| %>
    <%= render _personnages_de_jeux_videos_perso %>
    <p>
      <%= link_to "Show this personnages de jeux videos perso", _personnages_de_jeux_videos_perso %>
    </p>
  <% end %>
</div>

<%= link_to "New personnages de jeux videos perso", new__personnages_de_jeux_videos_perso_path %>
