<h1>New personnages de jeux videos perso</h1>































































































































<%= render "form", _personnages_de_jeux_videos_perso: @_personnages_de_jeux_videos_perso %>































































































































<br>































































































































<div>































































  <%= link_to "Back to personnages de jeux videos persos", personnages_de_jeux_videos_persos_path %>































































</div>
