<h1>Editing personnalites sexe</h1>

<%= render "form", _personnalites_sex: @_personnalites_sex %>

<br>

<div>
  <%= link_to "Show this personnalites sexe", @_personnalites_sex %> |
  <%= link_to "Back to personnalites sexes", _personnalites_sexes_path %>
</div>
