<h1>Editing animes drama</h1>

<%= render "form", animes_drama: @animes_drama %>

<br>

<div>
  <%= link_to "Show this animes drama", @animes_drama %> |
  <%= link_to "Back to animes dramas", animes_dramas_path %>
</div>
