<p style="color: green"><%= notice %></p>































































































































<h1>Animes dramas</h1>































































































































<div id="animes_dramas">































































  <% @animes_dramas.each do |animes_drama| %>































































    <%= render animes_drama %>































































    <p>































































      <%= link_to "Show this animes drama", animes_drama %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New animes drama", new_animes_drama_path %>
