<p style="color: green"><%= notice %></p>

<h1>Light novels drama plus</h1>

<div id="_light_novels_drama_plus">
  <% @_light_novels_drama_plus.each do |_light_novels_drama_plu| %>
    <%= render _light_novels_drama_plu %>
    <p>
      <%= link_to "Show this light novels drama plu", _light_novels_drama_plu %>
    </p>
  <% end %>
</div>

<%= link_to "New light novels drama plu", new__light_novels_drama_plu_path %>
