<p style="color: green"><%= notice %></p>































































































































<h1>Doujinshis manga plus</h1>































































































































<div id="_doujinshis_manga_plus">































































  <% @_doujinshis_manga_plus.each do |_doujinshis_manga_plu| %>































































    <%= render _doujinshis_manga_plu %>































































    <p>































































      <%= link_to "Show this doujinshis manga plu", doujinshis_manga_plu %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New doujinshis manga plu", new_doujinshis_manga_plu_path %>
