<h1>New doujinshis manga plu</h1>

<%= render "form", _doujinshis_manga_plu: @_doujinshis_manga_plu %>

<br>

<div>
  <%= link_to "Back to doujinshis manga plus", _doujinshis_manga_plus_path %>
</div>
