<div id="<%= dom_id animes_dvd %>">































































  <p>































































    <strong>Name:</strong>































































    <%= animes_dvd.name %>































































  </p>































































































































</div>
