<h1>Editing animes dvd</h1>































































































































<%= render "form", animes_dvd: @animes_dvd %>































































































































<br>































































































































<div>































































  <%= link_to "Show this animes dvd", @animes_dvd %> |































































  <%= link_to "Back to animes dvds", animes_dvds_path %>































































</div>
