<p style="color: green"><%= notice %></p>

<h1>Animes dvds</h1>

<div id="animes_dvds">
  <% @animes_dvds.each do |animes_dvd| %>
    <%= render animes_dvd %>
    <p>
      <%= link_to "Show this animes dvd", animes_dvd %>
    </p>
  <% end %>
</div>

<%= link_to "New animes dvd", new_animes_dvd_path %>
