<p style="color: green"><%= notice %></p>































































































































<h1>Videos</h1>































































































































<div id="_videos">































































  <% @_videos.each do |_video| %>































































    <%= render _video %>































































    <p>































































      <%= link_to "Show this video", video %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New video", new_video_path %>
