<div id="<%= dom_id doujins_artbook %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujins_artbook.name %>































































  </p>































































































































</div>
