<h1>Editing doujins artbook</h1>

<%= render "form", _doujins_artbook: @_doujins_artbook %>

<br>

<div>
  <%= link_to "Show this doujins artbook", @_doujins_artbook %> |
  <%= link_to "Back to doujins artbooks", _doujins_artbooks_path %>
</div>
