<div id="<%= dom_id mangas_actualite %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_actualite.name %>































































  </p>































































































































</div>
