<h1>Editing mangas actualite</h1>































































































































<%= render "form", _mangas_actualite: @_mangas_actualite %>































































































































<br>































































































































<div>































































  <%= link_to "Show this mangas actualite", @_mangas_actualite %> |































































  <%= link_to "Back to mangas actualites", mangas_actualites_path %>































































</div>
