<p style="color: green"><%= notice %></p>































































































































<h1>Mangas actualites</h1>































































































































<div id="_mangas_actualites">































































  <% @_mangas_actualites.each do |_mangas_actualite| %>































































    <%= render _mangas_actualite %>































































    <p>































































      <%= link_to "Show this mangas actualite", mangas_actualite %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New mangas actualite", new_mangas_actualite_path %>
