<h1>New mangas actualite</h1>































































































































<%= render "form", _mangas_actualite: @_mangas_actualite %>































































































































<br>































































































































<div>































































  <%= link_to "Back to mangas actualites", mangas_actualites_path %>































































</div>
