<div id="<%= dom_id films_asiatiques_en_salles_actualite_mini %>">































































  <p>































































    <strong>Name:</strong>































































    <%= films_asiatiques_en_salles_actualite_mini.name %>































































  </p>































































































































</div>
