<div id="<%= dom_id doujinshis_jv_perso %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujinshis_jv_perso.name %>































































  </p>































































































































</div>
