<h1>Editing doujinshis jv perso</h1>































































































































<%= render "form", _doujinshis_jv_perso: @_doujinshis_jv_perso %>































































































































<br>































































































































<div>































































  <%= link_to "Show this doujinshis jv perso", @_doujinshis_jv_perso %> |































































  <%= link_to "Back to doujinshis jv persos", doujinshis_jv_persos_path %>































































</div>
