<div id="<%= dom_id breves_person %>">































































  <p>































































    <strong>Name:</strong>































































    <%= breves_person.name %>































































  </p>































































































































</div>
