<h1>Editing breves person</h1>































































































































<%= render "form", _breves_person: @_breves_person %>































































































































<br>































































































































<div>































































  <%= link_to "Show this breves person", @_breves_person %> |































































  <%= link_to "Back to breves people", breves_people_path %>































































</div>
