<h1>New goody</h1>































































































































<%= render "form", _goody: @_goody %>































































































































<br>































































































































<div>































































  <%= link_to "Back to goodies", goodies_path %>































































</div>
