<div id="<%= dom_id breves_livre_jeunesse %>">































































  <p>































































    <strong>Name:</strong>































































    <%= breves_livre_jeunesse.name %>































































  </p>































































































































</div>
