<p style="color: green"><%= notice %></p>































































































































<h1>Breves livre jeunesses</h1>































































































































<div id="_breves_livre_jeunesses">































































  <% @_breves_livre_jeunesses.each do |_breves_livre_jeuness| %>































































    <%= render _breves_livre_jeuness %>































































    <p>































































      <%= link_to "Show this breves livre jeunesse", breves_livre_jeuness %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New breves livre jeunesse", new_breves_livre_jeuness_path %>
