<p style="color: green"><%= notice %></p>































































































































<h1>Artbooks dramas</h1>































































































































<div id="artbooks_dramas">































































  <% @artbooks_dramas.each do |artbooks_drama| %>































































    <%= render artbooks_drama %>































































    <p>































































      <%= link_to "Show this artbooks drama", artbooks_drama %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New artbooks drama", new_artbooks_drama_path %>
