<div id="<%= dom_id animes_actualite %>">































































  <p>































































    <strong>Name:</strong>































































    <%= animes_actualite.name %>































































  </p>































































































































</div>
