<p style="color: green"><%= notice %></p>































































































































<h1>Animes actualites</h1>































































































































<div id="animes_actualites">































































  <% @animes_actualites.each do |animes_actualite| %>































































    <%= render animes_actualite %>































































    <p>































































      <%= link_to "Show this animes actualite", animes_actualite %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New animes actualite", new_animes_actualite_path %>
