<p style="color: green"><%= notice %></p>

<h1>Films asiatiques actualites</h1>

<div id="_films_asiatiques_actualites">
  <% @_films_asiatiques_actualites.each do |_films_asiatiques_actualite| %>
    <%= render _films_asiatiques_actualite %>
    <p>
      <%= link_to "Show this films asiatiques actualite", _films_asiatiques_actualite %>
    </p>
  <% end %>
</div>

<%= link_to "New films asiatiques actualite", new__films_asiatiques_actualite_path %>
