<p style="color: green"><%= notice %></p>































































































































<h1>Artbooks editeurs vfs</h1>































































































































<div id="artbooks_editeurs_vfs">































































  <% @artbooks_editeurs_vfs.each do |artbooks_editeurs_vf| %>































































    <%= render artbooks_editeurs_vf %>































































    <p>































































      <%= link_to "Show this artbooks editeurs vf", artbooks_editeurs_vf %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New artbooks editeurs vf", new_artbooks_editeurs_vf_path %>
