<div id="<%= dom_id doujins_drama %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujins_drama.name %>































































  </p>































































































































</div>
