<h1>Editing doujins drama</h1>































































































































<%= render "form", _doujins_drama: @_doujins_drama %>































































































































<br>































































































































<div>































































  <%= link_to "Show this doujins drama", @_doujins_drama %> |































































  <%= link_to "Back to doujins dramas", doujins_dramas_path %>































































</div>
