<div id="<%= dom_id dramas_doujin %>">































































  <p>































































    <strong>Name:</strong>































































    <%= dramas_doujin.name %>































































  </p>































































































































</div>
