<h1>Editing dramas doujin</h1>































































































































<%= render "form", _dramas_doujin: @_dramas_doujin %>































































































































<br>































































































































<div>































































  <%= link_to "Show this dramas doujin", @_dramas_doujin %> |































































  <%= link_to "Back to dramas doujins", dramas_doujins_path %>































































</div>
