<h1>Editing livres am plu</h1>































































































































<%= render "form", _livres_am_plu: @_livres_am_plu %>































































































































<br>































































































































<div>































































  <%= link_to "Show this livres am plu", @_livres_am_plu %> |































































  <%= link_to "Back to livres am plus", livres_am_plus_path %>































































</div>
