<div id="<%= dom_id doujinshis_groupe %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujinshis_groupe.name %>































































  </p>































































































































</div>
