<h1>Editing doujinshis groupe</h1>































































































































<%= render "form", _doujinshis_groupe: @_doujinshis_groupe %>































































































































<br>































































































































<div>































































  <%= link_to "Show this doujinshis groupe", @_doujinshis_groupe %> |































































  <%= link_to "Back to doujinshis groupes", doujinshis_groupes_path %>































































</div>
