<div id="<%= dom_id animes_public_averti %>">































































  <p>































































    <strong>Name:</strong>































































    <%= animes_public_averti.name %>































































  </p>































































































































</div>
