<h1>Editing animes public averti</h1>

<%= render "form", animes_public_averti: @animes_public_averti %>

<br>

<div>
  <%= link_to "Show this animes public averti", @animes_public_averti %> |
  <%= link_to "Back to animes public avertis", animes_public_avertis_path %>
</div>
