<p style="color: green"><%= notice %></p>

<h1>Animes public avertis</h1>

<div id="animes_public_avertis">
  <% @animes_public_avertis.each do |animes_public_averti| %>
    <%= render animes_public_averti %>
    <p>
      <%= link_to "Show this animes public averti", animes_public_averti %>
    </p>
  <% end %>
</div>

<%= link_to "New animes public averti", new_animes_public_averti_path %>
