<h1>Editing films asiatiques sondage</h1>

<%= render "form", _films_asiatiques_sondage: @_films_asiatiques_sondage %>

<br>

<div>
  <%= link_to "Show this films asiatiques sondage", @_films_asiatiques_sondage %> |
  <%= link_to "Back to films asiatiques sondages", _films_asiatiques_sondages_path %>
</div>
