<p style="color: green"><%= notice %></p>

<h1>Films asiatiques sondages</h1>

<div id="_films_asiatiques_sondages">
  <% @_films_asiatiques_sondages.each do |_films_asiatiques_sondage| %>
    <%= render _films_asiatiques_sondage %>
    <p>
      <%= link_to "Show this films asiatiques sondage", _films_asiatiques_sondage %>
    </p>
  <% end %>
</div>

<%= link_to "New films asiatiques sondage", new__films_asiatiques_sondage_path %>
