<h1>New blu rays type edition</h1>















<%= render "form", _dvd___blu_rays_type_edition: @_dvd___blu_rays_type_edition %>















<br>















<div>







  <%= link_to "Back to blu rays type editions", dvd___blu_rays_type_editions_path %>







</div>
