<p style="color: green"><%= notice %></p>

<h1>Films asiatiques en salles ams</h1>

<div id="_films_asiatiques_en_salles_ams">
  <% @_films_asiatiques_en_salles_ams.each do |_films_asiatiques_en_salles_am| %>
    <%= render _films_asiatiques_en_salles_am %>
    <p>
      <%= link_to "Show this films asiatiques en salles am", _films_asiatiques_en_salles_am %>
    </p>
  <% end %>
</div>

<%= link_to "New films asiatiques en salles am", new__films_asiatiques_en_salles_am_path %>
