<h1>New films asiatiques en salles am</h1>

<%= render "form", _films_asiatiques_en_salles_am: @_films_asiatiques_en_salles_am %>

<br>

<div>
  <%= link_to "Back to films asiatiques en salles ams", _films_asiatiques_en_salles_ams_path %>
</div>
