<div id="<%= dom_id petites_annonces_section %>">































































  <p>































































    <strong>Name:</strong>































































    <%= petites_annonces_section.name %>































































  </p>































































































































</div>
