
<h1>voir tous les Petites Annonces Sections</h1>
<%@_petites_annonces_sections.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Petites Annonces Sections", new_petites_annonces_section_path%>
</p>
