<div id="<%= dom_id breves_anime %>">































































  <p>































































    <strong>Name:</strong>































































    <%= breves_anime.name %>































































  </p>































































































































</div>
