<h1>New breves anime</h1>































































































































<%= render "form", _breves_anime: @_breves_anime %>































































































































<br>































































































































<div>































































  <%= link_to "Back to breves animes", breves_animes_path %>































































</div>
