<h1>Editing livres type</h1>

<%= render "form", _livres_type: @_livres_type %>

<br>

<div>
  <%= link_to "Show this livres type", @_livres_type %> |
  <%= link_to "Back to livres types", _livres_types_path %>
</div>
