<h1>Editing doujinshis ln plu</h1>































































































































<%= render "form", _doujinshis_ln_plu: @_doujinshis_ln_plu %>































































































































<br>































































































































<div>































































  <%= link_to "Show this doujinshis ln plu", @_doujinshis_ln_plu %> |































































  <%= link_to "Back to doujinshis ln plus", doujinshis_ln_plus_path %>































































</div>
