<p style="color: green"><%= notice %></p>

<h1>Doujinshis ln plus</h1>

<div id="_doujinshis_ln_plus">
  <% @_doujinshis_ln_plus.each do |_doujinshis_ln_plu| %>
    <%= render _doujinshis_ln_plu %>
    <p>
      <%= link_to "Show this doujinshis ln plu", _doujinshis_ln_plu %>
    </p>
  <% end %>
</div>

<%= link_to "New doujinshis ln plu", new__doujinshis_ln_plu_path %>
