<p style="color: green"><%= notice %></p>

<h1>Livres litterature asiatique plus</h1>

<div id="_livres_litterature_asiatique_plus">
  <% @_livres_litterature_asiatique_plus.each do |_livres_litterature_asiatique_plu| %>
    <%= render _livres_litterature_asiatique_plu %>
    <p>
      <%= link_to "Show this livres litterature asiatique plu", _livres_litterature_asiatique_plu %>
    </p>
  <% end %>
</div>

<%= link_to "New livres litterature asiatique plu", new__livres_litterature_asiatique_plu_path %>
