<div id="<%= dom_id doujinshis_drama %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujinshis_drama.name %>































































  </p>































































































































</div>
