<h1>New doujinshis drama</h1>































































































































<%= render "form", _doujinshis_drama: @_doujinshis_drama %>































































































































<br>































































































































<div>































































  <%= link_to "Back to doujinshis dramas", doujinshis_dramas_path %>































































</div>
