<p style="color: green"><%= notice %></p>































































































































<h1>Cds emission tvs</h1>































































































































<div id="_cds_emission_tvs">































































  <% @_cds_emission_tvs.each do |_cds_emission_tv| %>































































    <%= render _cds_emission_tv %>































































    <p>































































      <%= link_to "Show this cds emission tv", cds_emission_tv %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New cds emission tv", new_cds_emission_tv_path %>
