<div id="<%= dom_id goodies_ost %>">































































  <p>































































    <strong>Name:</strong>































































    <%= goodies_ost.name %>































































  </p>































































































































</div>
