<p style="color: green"><%= notice %></p>































































































































<h1>Goodies osts</h1>































































































































<div id="_goodies_osts">































































  <% @_goodies_osts.each do |_goodies_ost| %>































































    <%= render _goodies_ost %>































































    <p>































































      <%= link_to "Show this goodies ost", goodies_ost %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New goodies ost", new_goodies_ost_path %>
