<h1>New jeux videos anime</h1>































































































































<%= render "form", _jeux_videos_anime: @_jeux_videos_anime %>































































































































<br>































































































































<div>































































  <%= link_to "Back to jeux videos animes", jeux_videos_animes_path %>































































</div>
