<div id="<%= dom_id light_novels_ln %>">































































  <p>































































    <strong>Name:</strong>































































    <%= light_novels_ln.name %>































































  </p>































































































































</div>
