<h1>Editing light novels ln</h1>































































































































<%= render "form", _light_novels_ln: @_light_novels_ln %>































































































































<br>































































































































<div>































































  <%= link_to "Show this light novels ln", @_light_novels_ln %> |































































  <%= link_to "Back to light novels lns", light_novels_lns_path %>































































</div>
