<div id="<%= dom_id dramas_generiques_people2 %>">































































  <p>































































    <strong>Name:</strong>































































    <%= dramas_generiques_people2.name %>































































  </p>































































































































</div>
