<h1>Editing dramas generiques people2</h1>































































































































<%= render "form", _dramas_generiques_people2: @_dramas_generiques_people2 %>































































































































<br>































































































































<div>































































  <%= link_to "Show this dramas generiques people2", @_dramas_generiques_people2 %> |































































  <%= link_to "Back to dramas generiques people2s", dramas_generiques_people2s_path %>































































</div>
