
<h1>voir tous les Dramas Generiques People2s</h1>
<%@_dramas_generiques_people2s.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Dramas Generiques People2s", new_dramas_generiques_people2_path%>
</p>
