<p style="color: green"><%= notice %></p>































































































































<h1>Dramas generiques people2s</h1>































































































































<div id="_dramas_generiques_people2s">































































  <% @_dramas_generiques_people2s.each do |_dramas_generiques_people2| %>































































    <%= render _dramas_generiques_people2 %>































































    <p>































































      <%= link_to "Show this dramas generiques people2", dramas_generiques_people2 %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New dramas generiques people2", new_dramas_generiques_people2_path %>
