<h1>Editing mangas litterature asiatique plu</h1>

<%= render "form", _mangas_litterature_asiatique_plu: @_mangas_litterature_asiatique_plu %>

<br>

<div>
  <%= link_to "Show this mangas litterature asiatique plu", @_mangas_litterature_asiatique_plu %> |
  <%= link_to "Back to mangas litterature asiatique plus", _mangas_litterature_asiatique_plus_path %>
</div>
