<h1>Editing animes origine</h1>































































































































<%= render "form", animes_origine: @animes_origine %>































































































































<br>































































































































<div>































































  <%= link_to "Show this animes origine", @animes_origine %> |































































  <%= link_to "Back to animes origines", animes_origines_path %>































































</div>
