<div id="<%= dom_id mangas_drama %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_drama.name %>































































  </p>































































































































</div>
