<div id="<%= dom_id mangas_litterature_asiatique_plu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_litterature_asiatique_plu.name %>































































  </p>































































































































</div>
