
<h1>voir tous les Mangas Litterature Asiatique Plus</h1>
<%@_mangas_litterature_asiatique_plus.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Mangas Litterature Asiatique Plus", new_mangas_litterature_asiatique_plu_path%>
</p>
