<div id="<%= dom_id goodies_editeurs_vo %>">































































  <p>































































    <strong>Name:</strong>































































    <%= goodies_editeurs_vo.name %>































































  </p>































































































































</div>
