<div id="<%= dom_id films_asiatiques_generiques_people2 %>">































































  <p>































































    <strong>Name:</strong>































































    <%= films_asiatiques_generiques_people2.name %>































































  </p>































































































































</div>
