
<h1>voir tous les Films Asiatiques Generiques People2s</h1>
<%@_films_asiatiques_generiques_people2s.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Films Asiatiques Generiques People2s", new_films_asiatiques_generiques_people2_path%>
</p>
