<p style="color: green"><%= notice %></p>































































































































<h1>Films asiatiques generiques people2s</h1>































































































































<div id="_films_asiatiques_generiques_people2s">































































  <% @_films_asiatiques_generiques_people2s.each do |_films_asiatiques_generiques_people2| %>































































    <%= render _films_asiatiques_generiques_people2 %>































































    <p>































































      <%= link_to "Show this films asiatiques generiques people2", films_asiatiques_generiques_people2 %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New films asiatiques generiques people2", new_films_asiatiques_generiques_people2_path %>
