<div id="<%= dom_id jeux_videos_staff_role %>">































































  <p>































































    <strong>Name:</strong>































































    <%= jeux_videos_staff_role.name %>































































  </p>































































































































</div>
