
<h1>voir tous les Jeux Videos Staff Roles</h1>
<%@_jeux_videos_staff_roles.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Jeux Videos Staff Roles", new_jeux_videos_staff_role_path%>
</p>
