<h1>New jeux videos staff role</h1>































































































































<%= render "form", _jeux_videos_staff_role: @_jeux_videos_staff_role %>































































































































<br>































































































































<div>































































  <%= link_to "Back to jeux videos staff roles", jeux_videos_staff_roles_path %>































































</div>
