
<h1>voir tous les Films Asiatiques En Salles Types</h1>
<%@_films_asiatiques_en_salles_types.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Films Asiatiques En Salles Types", new_films_asiatiques_en_salles_type_path%>
</p>
