<p style="color: green"><%= notice %></p>































































































































<h1>Films asiatiques en salles types</h1>































































































































<div id="_films_asiatiques_en_salles_types">































































  <% @_films_asiatiques_en_salles_types.each do |_films_asiatiques_en_salles_type| %>































































    <%= render _films_asiatiques_en_salles_type %>































































    <p>































































      <%= link_to "Show this films asiatiques en salles type", films_asiatiques_en_salles_type %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New films asiatiques en salles type", new_films_asiatiques_en_salles_type_path %>
