<h1>Editing concert</h1>

<%= render "form", _clips___lives___bonus___concert: @_clips___lives___bonus___concert %>

<br>

<div>
  <%= link_to "Show this concert", @_clips___lives___bonus___concert %> |
  <%= link_to "Back to concerts", _clips___lives___bonus___concerts_path %>
</div>
