
<h1>voir tous les Films Asiatiques Litterature Asiatique Plus</h1>
<%@_films_asiatiques_litterature_asiatique_plus.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Films Asiatiques Litterature Asiatique Plus", new_films_asiatiques_litterature_asiatique_plu_path%>
</p>
