<h1>New films asiatiques litterature asiatique plu</h1>

<%= render "form", _films_asiatiques_litterature_asiatique_plu: @_films_asiatiques_litterature_asiatique_plu %>

<br>

<div>
  <%= link_to "Back to films asiatiques litterature asiatique plus", _films_asiatiques_litterature_asiatique_plus_path %>
</div>
