<h1>New jeux videos manga</h1>































































































































<%= render "form", _jeux_videos_manga: @_jeux_videos_manga %>































































































































<br>































































































































<div>































































  <%= link_to "Back to jeux videos mangas", jeux_videos_mangas_path %>































































</div>
