<p style="color: green"><%= notice %></p>

<h1>Mangas encours vfs</h1>

<div id="_mangas_encours_vfs">
  <% @_mangas_encours_vfs.each do |_mangas_encours_vf| %>
    <%= render _mangas_encours_vf %>
    <p>
      <%= link_to "Show this mangas encours vf", _mangas_encours_vf %>
    </p>
  <% end %>
</div>

<%= link_to "New mangas encours vf", new__mangas_encours_vf_path %>
