<div id="<%= dom_id light_novels_editeurs_vo %>">































































  <p>































































    <strong>Name:</strong>































































    <%= light_novels_editeurs_vo.name %>































































  </p>































































































































</div>
