<h1>Editing light novels editeurs vo</h1>

<%= render "form", _light_novels_editeurs_vo: @_light_novels_editeurs_vo %>

<br>

<div>
  <%= link_to "Show this light novels editeurs vo", @_light_novels_editeurs_vo %> |
  <%= link_to "Back to light novels editeurs vos", _light_novels_editeurs_vos_path %>
</div>
