<p style="color: green"><%= notice %></p>































































































































<h1>Light novels editeurs vos</h1>































































































































<div id="_light_novels_editeurs_vos">































































  <% @_light_novels_editeurs_vos.each do |_light_novels_editeurs_vo| %>































































    <%= render _light_novels_editeurs_vo %>































































    <p>































































      <%= link_to "Show this light novels editeurs vo", light_novels_editeurs_vo %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New light novels editeurs vo", new_light_novels_editeurs_vo_path %>
