<p style="color: green"><%= notice %></p>

<h1>Jeux videos drama plus</h1>

<div id="_jeux_videos_drama_plus">
  <% @_jeux_videos_drama_plus.each do |_jeux_videos_drama_plu| %>
    <%= render _jeux_videos_drama_plu %>
    <p>
      <%= link_to "Show this jeux videos drama plu", _jeux_videos_drama_plu %>
    </p>
  <% end %>
</div>

<%= link_to "New jeux videos drama plu", new__jeux_videos_drama_plu_path %>
