<h1>New jeux videos drama plu</h1>

<%= render "form", _jeux_videos_drama_plu: @_jeux_videos_drama_plu %>

<br>

<div>
  <%= link_to "Back to jeux videos drama plus", _jeux_videos_drama_plus_path %>
</div>
