<div id="<%= dom_id doujinshis_censure %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujinshis_censure.name %>































































  </p>































































































































</div>
