<h1>Editing doujinshis censure</h1>































































































































<%= render "form", _doujinshis_censure: @_doujinshis_censure %>































































































































<br>































































































































<div>































































  <%= link_to "Show this doujinshis censure", @_doujinshis_censure %> |































































  <%= link_to "Back to doujinshis censures", doujinshis_censures_path %>































































</div>
