<p style="color: green"><%= notice %></p>































































































































<h1>Doujinshis censures</h1>































































































































<div id="_doujinshis_censures">































































  <% @_doujinshis_censures.each do |_doujinshis_censure| %>































































    <%= render _doujinshis_censure %>































































    <p>































































      <%= link_to "Show this doujinshis censure", doujinshis_censure %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New doujinshis censure", new_doujinshis_censure_path %>
