<h1>New doujinshis censure</h1>































































































































<%= render "form", _doujinshis_censure: @_doujinshis_censure %>































































































































<br>































































































































<div>































































  <%= link_to "Back to doujinshis censures", doujinshis_censures_path %>































































</div>
