<p style="color: green"><%= notice %></p>

<h1>Mangas manga plus</h1>

<div id="_mangas_manga_plus">
  <% @_mangas_manga_plus.each do |_mangas_manga_plu| %>
    <%= render _mangas_manga_plu %>
    <p>
      <%= link_to "Show this mangas manga plu", _mangas_manga_plu %>
    </p>
  <% end %>
</div>

<%= link_to "New mangas manga plu", new__mangas_manga_plu_path %>
