<h1>New mangas manga plu</h1>































































































































<%= render "form", _mangas_manga_plu: @_mangas_manga_plu %>































































































































<br>































































































































<div>































































  <%= link_to "Back to mangas manga plus", mangas_manga_plus_path %>































































</div>
