<h1>Editing blu rays person</h1>















<%= render "form", _dvd___blu_rays_person: @_dvd___blu_rays_person %>















<br>















<div>







  <%= link_to "Show this blu rays person", @_dvd___blu_rays_person %> |







  <%= link_to "Back to blu rays people", dvd___blu_rays_people_path %>







</div>
