<div id="<%= dom_id livres_ln %>">































































  <p>































































    <strong>Name:</strong>































































    <%= livres_ln.name %>































































  </p>































































































































</div>
