<h1>Editing livres ln</h1>































































































































<%= render "form", _livres_ln: @_livres_ln %>































































































































<br>































































































































<div>































































  <%= link_to "Show this livres ln", @_livres_ln %> |































































  <%= link_to "Back to livres lns", livres_lns_path %>































































</div>
