<p style="color: green"><%= notice %></p>































































































































<h1>Livres lns</h1>































































































































<div id="_livres_lns">































































  <% @_livres_lns.each do |_livres_ln| %>































































    <%= render _livres_ln %>































































    <p>































































      <%= link_to "Show this livres ln", livres_ln %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New livres ln", new_livres_ln_path %>
