<div id="<%= dom_id light_novels_quizz %>">































































  <p>































































    <strong>Name:</strong>































































    <%= light_novels_quizz.name %>































































  </p>































































































































</div>
