<h1>Editing light novels quizz</h1>

<%= render "form", _light_novels_quizz: @_light_novels_quizz %>

<br>

<div>
  <%= link_to "Show this light novels quizz", @_light_novels_quizz %> |
  <%= link_to "Back to light novels quizzs", _light_novels_quizzs_path %>
</div>
