
<h1>voir tous les Films Asiatiques Themes</h1>
<%@_films_asiatiques_themes.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Films Asiatiques Themes", new_films_asiatiques_theme_path%>
</p>
