<div id="<%= dom_id goodies_photobook %>">































































  <p>































































    <strong>Name:</strong>































































    <%= goodies_photobook.name %>































































  </p>































































































































</div>
