<h1>New films asiatiques am plu</h1>

<%= render "form", _films_asiatiques_am_plu: @_films_asiatiques_am_plu %>

<br>

<div>
  <%= link_to "Back to films asiatiques am plus", _films_asiatiques_am_plus_path %>
</div>
