<div id="<%= dom_id animes_jv_plu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= animes_jv_plu.name %>































































  </p>































































































































</div>
