<h1>Editing animes jv plu</h1>































































































































<%= render "form", animes_jv_plu: @animes_jv_plu %>































































































































<br>































































































































<div>































































  <%= link_to "Show this animes jv plu", @animes_jv_plu %> |































































  <%= link_to "Back to animes jv plus", animes_jv_plus_path %>































































</div>
