<p style="color: green"><%= notice %></p>































































































































<h1>Animes jv plus</h1>































































































































<div id="animes_jv_plus">































































  <% @animes_jv_plus.each do |animes_jv_plu| %>































































    <%= render animes_jv_plu %>































































    <p>































































      <%= link_to "Show this animes jv plu", animes_jv_plu %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New animes jv plu", new_animes_jv_plu_path %>
