<p style="color: green"><%= notice %></p>































































































































<h1>Cds jvs</h1>































































































































<div id="_cds_jvs">































































  <% @_cds_jvs.each do |_cds_jv| %>































































    <%= render _cds_jv %>































































    <p>































































      <%= link_to "Show this cds jv", cds_jv %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New cds jv", new_cds_jv_path %>
