<div id="<%= dom_id doujins_groupe %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujins_groupe.name %>































































  </p>































































































































</div>
