<h1>New dramas actualite mini</h1>

<%= render "form", _dramas_actualite_mini: @_dramas_actualite_mini %>

<br>

<div>
  <%= link_to "Back to dramas actualite minis", _dramas_actualite_minis_path %>
</div>
