<div id="<%= dom_id animes_cinema %>">































































  <p>































































    <strong>Name:</strong>































































    <%= animes_cinema.name %>































































  </p>































































































































</div>
