<h1>Editing animes cinema</h1>

<%= render "form", animes_cinema: @animes_cinema %>

<br>

<div>
  <%= link_to "Show this animes cinema", @animes_cinema %> |
  <%= link_to "Back to animes cinemas", animes_cinemas_path %>
</div>
