<p style="color: green"><%= notice %></p>































































































































<h1>Animes cinemas</h1>































































































































<div id="animes_cinemas">































































  <% @animes_cinemas.each do |animes_cinema| %>































































    <%= render animes_cinema %>































































    <p>































































      <%= link_to "Show this animes cinema", animes_cinema %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New animes cinema", new_animes_cinema_path %>
