<div id="<%= dom_id livres_anime_plu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= livres_anime_plu.name %>































































  </p>































































































































</div>
