<div id="<%= dom_id mangas_ln_plu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_ln_plu.name %>































































  </p>































































































































</div>
