<p style="color: green"><%= notice %></p>































































































































<h1>Mangas ln plus</h1>































































































































<div id="_mangas_ln_plus">































































  <% @_mangas_ln_plus.each do |_mangas_ln_plu| %>































































    <%= render _mangas_ln_plu %>































































    <p>































































      <%= link_to "Show this mangas ln plu", mangas_ln_plu %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New mangas ln plu", new_mangas_ln_plu_path %>
