<h1>New jeux videos staff societe role</h1>































































































































<%= render "form", _jeux_videos_staff_societe_role: @_jeux_videos_staff_societe_role %>































































































































<br>































































































































<div>































































  <%= link_to "Back to jeux videos staff societe roles", jeux_videos_staff_societe_roles_path %>































































</div>
