<h1>Editing personnage danimes doubleur role</h1>

<%= render "form", _personnage_danimes_doubleur_role: @_personnage_danimes_doubleur_role %>

<br>

<div>
  <%= link_to "Show this personnage danimes doubleur role", @_personnage_danimes_doubleur_role %> |
  <%= link_to "Back to personnage danimes doubleur roles", _personnage_danimes_doubleur_roles_path %>
</div>
