<div id="<%= dom_id personnalites_labels_ex %>">































































  <p>































































    <strong>Name:</strong>































































    <%= personnalites_labels_ex.name %>































































  </p>































































































































</div>
