<h1>Editing personnalites labels ex</h1>































































































































<%= render "form", _personnalites_labels_ex: @_personnalites_labels_ex %>































































































































<br>































































































































<div>































































  <%= link_to "Show this personnalites labels ex", @_personnalites_labels_ex %> |































































  <%= link_to "Back to personnalites labels exes", personnalites_labels_exes_path %>































































</div>
