
<h1>voir tous les Personnalites Labels Exes</h1>
<%@_personnalites_labels_exes.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Personnalites Labels Exes", new_personnalites_labels_exe_path%>
</p>
