<p style="color: green"><%= notice %></p>

<h1>Personnalites labels exes</h1>

<div id="_personnalites_labels_exes">
  <% @_personnalites_labels_exes.each do |_personnalites_labels_ex| %>
    <%= render _personnalites_labels_ex %>
    <p>
      <%= link_to "Show this personnalites labels ex", _personnalites_labels_ex %>
    </p>
  <% end %>
</div>

<%= link_to "New personnalites labels ex", new__personnalites_labels_ex_path %>
