<h1>Editing jeux videos litterature asiatique</h1>

<%= render "form", _jeux_videos_litterature_asiatique: @_jeux_videos_litterature_asiatique %>

<br>

<div>
  <%= link_to "Show this jeux videos litterature asiatique", @_jeux_videos_litterature_asiatique %> |
  <%= link_to "Back to jeux videos litterature asiatiques", _jeux_videos_litterature_asiatiques_path %>
</div>
