<div id="<%= dom_id films_asiatiques_pay %>">































































  <p>































































    <strong>Name:</strong>































































    <%= films_asiatiques_pay.name %>































































  </p>































































































































</div>
