<div id="<%= dom_id mangas_culture %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_culture.name %>































































  </p>































































































































</div>
