<p style="color: green"><%= notice %></p>































































































































<h1>Mangas cultures</h1>































































































































<div id="_mangas_cultures">































































  <% @_mangas_cultures.each do |_mangas_culture| %>































































    <%= render _mangas_culture %>































































    <p>































































      <%= link_to "Show this mangas culture", mangas_culture %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New mangas culture", new_mangas_culture_path %>
