<div id="<%= dom_id photobooks_cd %>">































































  <p>































































    <strong>Name:</strong>































































    <%= photobooks_cd.name %>































































  </p>































































































































</div>
