<p style="color: green"><%= notice %></p>

<h1>Photobooks cds</h1>

<div id="_photobooks_cds">
  <% @_photobooks_cds.each do |_photobooks_cd| %>
    <%= render _photobooks_cd %>
    <p>
      <%= link_to "Show this photobooks cd", _photobooks_cd %>
    </p>
  <% end %>
</div>

<%= link_to "New photobooks cd", new__photobooks_cd_path %>
