<h1>New numero demission tvs clip</h1>

<%= render "form", _numero_demission_tvs_clip: @_numero_demission_tvs_clip %>

<br>

<div>
  <%= link_to "Back to numero demission tvs clips", _numero_demission_tvs_clips_path %>
</div>
