<div id="<%= dom_id light_novels_groupe %>">































































  <p>































































    <strong>Name:</strong>































































    <%= light_novels_groupe.name %>































































  </p>































































































































</div>
