<h1>New light novels groupe</h1>































































































































<%= render "form", _light_novels_groupe: @_light_novels_groupe %>































































































































<br>































































































































<div>































































  <%= link_to "Back to light novels groupes", light_novels_groupes_path %>































































</div>
