<div id="<%= dom_id doujinshis_manga %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujinshis_manga.name %>































































  </p>































































































































</div>
