<h1>Editing doujinshis manga</h1>































































































































<%= render "form", _doujinshis_manga: @_doujinshis_manga %>































































































































<br>































































































































<div>































































  <%= link_to "Show this doujinshis manga", @_doujinshis_manga %> |































































  <%= link_to "Back to doujinshis mangas", doujinshis_mangas_path %>































































</div>
