<p style="color: green"><%= notice %></p>































































































































<h1>Doujinshis mangas</h1>































































































































<div id="_doujinshis_mangas">































































  <% @_doujinshis_mangas.each do |_doujinshis_manga| %>































































    <%= render _doujinshis_manga %>































































    <p>































































      <%= link_to "Show this doujinshis manga", doujinshis_manga %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New doujinshis manga", new_doujinshis_manga_path %>
