<div id="<%= dom_id personnages_de_jeux_videos_goody %>">































































  <p>































































    <strong>Name:</strong>































































    <%= personnages_de_jeux_videos_goody.name %>































































  </p>































































































































</div>
