<p style="color: green"><%= notice %></p>

<h1>Concerts</h1>

<div id="_clips___lives___bonus___concerts">
  <% @_clips___lives___bonus___concerts.each do |_clips___lives___bonus___concert| %>
    <%= render _clips___lives___bonus___concert %>
    <p>
      <%= link_to "Show this concert", _clips___lives___bonus___concert %>
    </p>
  <% end %>
</div>

<%= link_to "New concert", new__clips___lives___bonus___concert_path %>
