<div id="<%= dom_id goodies_societe_role %>">































































  <p>































































    <strong>Name:</strong>































































    <%= goodies_societe_role.name %>































































  </p>































































































































</div>
