<div id="<%= dom_id artbooks_france %>">































































  <p>































































    <strong>Name:</strong>































































    <%= artbooks_france.name %>































































  </p>































































































































</div>
