<h1>Editing artbooks france</h1>































































































































<%= render "form", artbooks_france: @artbooks_france %>































































































































<br>































































































































<div>































































  <%= link_to "Show this artbooks france", @artbooks_france %> |































































  <%= link_to "Back to artbooks frances", artbooks_frances_path %>































































</div>
