<p style="color: green"><%= notice %></p>

<h1>Artbooks frances</h1>

<div id="artbooks_frances">
  <% @artbooks_frances.each do |artbooks_france| %>
    <%= render artbooks_france %>
    <p>
      <%= link_to "Show this artbooks france", artbooks_france %>
    </p>
  <% end %>
</div>

<%= link_to "New artbooks france", new_artbooks_france_path %>
