<h1>Editing breves societe</h1>

<%= render "form", _breves_societe: @_breves_societe %>

<br>

<div>
  <%= link_to "Show this breves societe", @_breves_societe %> |
  <%= link_to "Back to breves societes", _breves_societes_path %>
</div>
