<p style="color: green"><%= notice %></p>































































































































<h1>Doujins</h1>































































































































<div id="_doujins">































































  <% @_doujins.each do |_doujin| %>































































    <%= render _doujin %>































































    <p>































































      <%= link_to "Show this doujin", doujin %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New doujin", new_doujin_path %>
