<h1>New doujin</h1>































































































































<%= render "form", _doujin: @_doujin %>































































































































<br>































































































































<div>































































  <%= link_to "Back to doujins", doujins_path %>































































</div>
