<h1>Editing jeux videos dvd</h1>

<%= render "form", _jeux_videos_dvd: @_jeux_videos_dvd %>

<br>

<div>
  <%= link_to "Show this jeux videos dvd", @_jeux_videos_dvd %> |
  <%= link_to "Back to jeux videos dvds", _jeux_videos_dvds_path %>
</div>
