<h1>New jeux videos dvd</h1>































































































































<%= render "form", _jeux_videos_dvd: @_jeux_videos_dvd %>































































































































<br>































































































































<div>































































  <%= link_to "Back to jeux videos dvds", jeux_videos_dvds_path %>































































</div>
