<p style="color: green"><%= notice %></p>































































































































<h1>Dramas emission tvs</h1>































































































































<div id="_dramas_emission_tvs">































































  <% @_dramas_emission_tvs.each do |_dramas_emission_tv| %>































































    <%= render _dramas_emission_tv %>































































    <p>































































      <%= link_to "Show this dramas emission tv", dramas_emission_tv %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New dramas emission tv", new_dramas_emission_tv_path %>
