<h1>Editing photobooks societe person</h1>































































































































<%= render "form", _photobooks_societe_person: @_photobooks_societe_person %>































































































































<br>































































































































<div>































































  <%= link_to "Show this photobooks societe person", @_photobooks_societe_person %> |































































  <%= link_to "Back to photobooks societe people", photobooks_societe_people_path %>































































</div>
