
<h1>voir tous les Photobooks Societe People</h1>
<%@_photobooks_societe_people.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Photobooks Societe People", new_photobooks_societe_peopl_path%>
</p>
