
<h1>voir tous les Personnage De Mangas Persos</h1>
<%@_personnage_de_mangas_persos.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Personnage De Mangas Persos", new_personnage_de_mangas_perso_path%>
</p>
