<h1>New personnage de mangas perso</h1>































































































































<%= render "form", _personnage_de_mangas_perso: @_personnage_de_mangas_perso %>































































































































<br>































































































































<div>































































  <%= link_to "Back to personnage de mangas persos", personnage_de_mangas_persos_path %>































































</div>
