<p style="color: green"><%= notice %></p>































































































































<h1>Livres actualite minis</h1>































































































































<div id="_livres_actualite_minis">































































  <% @_livres_actualite_minis.each do |_livres_actualite_mini| %>































































    <%= render _livres_actualite_mini %>































































    <p>































































      <%= link_to "Show this livres actualite mini", livres_actualite_mini %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New livres actualite mini", new_livres_actualite_mini_path %>
