<h1>New fiche univers actualite mini</h1>

<%= render "form", _fiche_univers_actualite_mini: @_fiche_univers_actualite_mini %>

<br>

<div>
  <%= link_to "Back to fiche univers actualite minis", _fiche_univers_actualite_minis_path %>
</div>
