<div id="<%= dom_id goodies_staff_role %>">































































  <p>































































    <strong>Name:</strong>































































    <%= goodies_staff_role.name %>































































  </p>































































































































</div>
