<h1>Editing goodies staff role</h1>































































































































<%= render "form", _goodies_staff_role: @_goodies_staff_role %>































































































































<br>































































































































<div>































































  <%= link_to "Show this goodies staff role", @_goodies_staff_role %> |































































  <%= link_to "Back to goodies staff roles", goodies_staff_roles_path %>































































</div>
