<div id="<%= dom_id goodies_am %>">































































  <p>































































    <strong>Name:</strong>































































    <%= goodies_am.name %>































































  </p>































































































































</div>
