<p style="color: green"><%= notice %></p>

<h1>Goodies ams</h1>

<div id="_goodies_ams">
  <% @_goodies_ams.each do |_goodies_am| %>
    <%= render _goodies_am %>
    <p>
      <%= link_to "Show this goodies am", _goodies_am %>
    </p>
  <% end %>
</div>

<%= link_to "New goodies am", new__goodies_am_path %>
