<h1>Editing light novels drama</h1>































































































































<%= render "form", _light_novels_drama: @_light_novels_drama %>































































































































<br>































































































































<div>































































  <%= link_to "Show this light novels drama", @_light_novels_drama %> |































































  <%= link_to "Back to light novels dramas", light_novels_dramas_path %>































































</div>
