
<h1>voir tous les Jeux Videos Litterature Asiatique Plus</h1>
<%@_jeux_videos_litterature_asiatique_plus.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Jeux Videos Litterature Asiatique Plus", new_jeux_videos_litterature_asiatique_plu_path%>
</p>
