<div id="<%= dom_id breves_concert %>">































































  <p>































































    <strong>Name:</strong>































































    <%= breves_concert.name %>































































  </p>































































































































</div>
