<p style="color: green"><%= notice %></p>































































































































<h1>Breves concerts</h1>































































































































<div id="_breves_concerts">































































  <% @_breves_concerts.each do |_breves_concert| %>































































    <%= render _breves_concert %>































































    <p>































































      <%= link_to "Show this breves concert", breves_concert %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New breves concert", new_breves_concert_path %>
