<p style="color: green"><%= notice %></p>

<h1>Films asiatiques en salles</h1>

<div id="_films_asiatiques_en_salles">
  <% @_films_asiatiques_en_salles.each do |_films_asiatiques_en_salle| %>
    <%= render _films_asiatiques_en_salle %>
    <p>
      <%= link_to "Show this films asiatiques en salle", _films_asiatiques_en_salle %>
    </p>
  <% end %>
</div>

<%= link_to "New films asiatiques en salle", new__films_asiatiques_en_salle_path %>
