<h1>Editing doujinshis jv plu</h1>

<%= render "form", _doujinshis_jv_plu: @_doujinshis_jv_plu %>

<br>

<div>
  <%= link_to "Show this doujinshis jv plu", @_doujinshis_jv_plu %> |
  <%= link_to "Back to doujinshis jv plus", _doujinshis_jv_plus_path %>
</div>
