<h1>Editing animes actualite mini</h1>

<%= render "form", animes_actualite_mini: @animes_actualite_mini %>

<br>

<div>
  <%= link_to "Show this animes actualite mini", @animes_actualite_mini %> |
  <%= link_to "Back to animes actualite minis", animes_actualite_minis_path %>
</div>
