<h1>New dramas emission tv plu</h1>

<%= render "form", _dramas_emission_tv_plu: @_dramas_emission_tv_plu %>

<br>

<div>
  <%= link_to "Back to dramas emission tv plus", _dramas_emission_tv_plus_path %>
</div>
