<h1>Editing fiche univers actualite mini</h1>

<%= render "form", _fiche_univers_actualite_mini: @_fiche_univers_actualite_mini %>

<br>

<div>
  <%= link_to "Show this fiche univers actualite mini", @_fiche_univers_actualite_mini %> |
  <%= link_to "Back to fiche univers actualite minis", _fiche_univers_actualite_minis_path %>
</div>
