<h1>New fiche univers culture</h1>

<%= render "form", _fiche_univers_culture: @_fiche_univers_culture %>

<br>

<div>
  <%= link_to "Back to fiche univers cultures", _fiche_univers_cultures_path %>
</div>
