<div id="<%= dom_id breves_magazine %>">































































  <p>































































    <strong>Name:</strong>































































    <%= breves_magazine.name %>































































  </p>































































































































</div>
