<h1>Editing breves magazine</h1>

<%= render "form", _breves_magazine: @_breves_magazine %>

<br>

<div>
  <%= link_to "Show this breves magazine", @_breves_magazine %> |
  <%= link_to "Back to breves magazines", _breves_magazines_path %>
</div>
