<div id="<%= dom_id concerts_artiste %>">































































  <p>































































    <strong>Name:</strong>































































    <%= concerts_artiste.name %>































































  </p>































































































































</div>
