<h1>New concerts artiste</h1>































































































































<%= render "form", _concerts_artiste: @_concerts_artiste %>































































































































<br>































































































































<div>































































  <%= link_to "Back to concerts artistes", concerts_artistes_path %>































































</div>
