<p style="color: green"><%= notice %></p>

<h1>Volumes types</h1>

<div id="_volumes_types">
  <% @_volumes_types.each do |_volumes_type| %>
    <%= render _volumes_type %>
    <p>
      <%= link_to "Show this volumes type", _volumes_type %>
    </p>
  <% end %>
</div>

<%= link_to "New volumes type", new__volumes_type_path %>
