<h1>Editing doujinshis theme</h1>

<%= render "form", _doujinshis_theme: @_doujinshis_theme %>

<br>

<div>
  <%= link_to "Show this doujinshis theme", @_doujinshis_theme %> |
  <%= link_to "Back to doujinshis themes", _doujinshis_themes_path %>
</div>
