<div id="<%= dom_id jeux_videos_culture %>">































































  <p>































































    <strong>Name:</strong>































































    <%= jeux_videos_culture.name %>































































  </p>































































































































</div>
