<h1>New jeux videos culture</h1>































































































































<%= render "form", _jeux_videos_culture: @_jeux_videos_culture %>































































































































<br>































































































































<div>































































  <%= link_to "Back to jeux videos cultures", jeux_videos_cultures_path %>































































</div>
