<h1>New films asiatiques generiques type</h1>

<%= render "form", _films_asiatiques_generiques_type: @_films_asiatiques_generiques_type %>

<br>

<div>
  <%= link_to "Back to films asiatiques generiques types", _films_asiatiques_generiques_types_path %>
</div>
