<div id="<%= dom_id animes_anime %>">































































  <p>































































    <strong>Name:</strong>































































    <%= animes_anime.name %>































































  </p>































































































































</div>
