<p style="color: green"><%= notice %></p>































































































































<h1>Animes animes</h1>































































































































<div id="animes_animes">































































  <% @animes_animes.each do |animes_anime| %>































































    <%= render animes_anime %>































































    <p>































































      <%= link_to "Show this animes anime", animes_anime %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New animes anime", new_animes_anime_path %>
