<h1>New animes anime</h1>































































































































<%= render "form", animes_anime: @animes_anime %>































































































































<br>































































































































<div>































































  <%= link_to "Back to animes animes", animes_animes_path %>































































</div>
