<div id="<%= dom_id breves_concour %>">































































  <p>































































    <strong>Name:</strong>































































    <%= breves_concour.name %>































































  </p>































































































































</div>
