<p style="color: green"><%= notice %></p>

<h1>Jeux videos dramas</h1>

<div id="_jeux_videos_dramas">
  <% @_jeux_videos_dramas.each do |_jeux_videos_drama| %>
    <%= render _jeux_videos_drama %>
    <p>
      <%= link_to "Show this jeux videos drama", _jeux_videos_drama %>
    </p>
  <% end %>
</div>

<%= link_to "New jeux videos drama", new__jeux_videos_drama_path %>
