<h1>Editing doujinshis litterature asiatique</h1>

<%= render "form", _doujinshis_litterature_asiatique: @_doujinshis_litterature_asiatique %>

<br>

<div>
  <%= link_to "Show this doujinshis litterature asiatique", @_doujinshis_litterature_asiatique %> |
  <%= link_to "Back to doujinshis litterature asiatiques", _doujinshis_litterature_asiatiques_path %>
</div>
