<div id="<%= dom_id mangas_concour %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_concour.name %>































































  </p>































































































































</div>
