<h1>Editing mangas concour</h1>































































































































<%= render "form", _mangas_concour: @_mangas_concour %>































































































































<br>































































































































<div>































































  <%= link_to "Show this mangas concour", @_mangas_concour %> |































































  <%= link_to "Back to mangas concours", mangas_concours_path %>































































</div>
