<div id="<%= dom_id amvs_groupe %>">































































  <p>































































    <strong>Name:</strong>































































    <%= amvs_groupe.name %>































































  </p>































































































































</div>
