<p style="color: green"><%= notice %></p>































































































































<h1>Jeux videos etats</h1>































































































































<div id="_jeux_videos_etats">































































  <% @_jeux_videos_etats.each do |_jeux_videos_etat| %>































































    <%= render _jeux_videos_etat %>































































    <p>































































      <%= link_to "Show this jeux videos etat", jeux_videos_etat %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New jeux videos etat", new_jeux_videos_etat_path %>
