<h1>New jeux videos etat</h1>































































































































<%= render "form", _jeux_videos_etat: @_jeux_videos_etat %>































































































































<br>































































































































<div>































































  <%= link_to "Back to jeux videos etats", jeux_videos_etats_path %>































































</div>
