<div id="<%= dom_id breves_manga %>">































































  <p>































































    <strong>Name:</strong>































































    <%= breves_manga.name %>































































  </p>































































































































</div>
