<h1>Editing breves manga</h1>































































































































<%= render "form", _breves_manga: @_breves_manga %>































































































































<br>































































































































<div>































































  <%= link_to "Show this breves manga", @_breves_manga %> |































































  <%= link_to "Back to breves mangas", breves_mangas_path %>































































</div>
