<p style="color: green"><%= notice %></p>































































































































<h1>Animes am plus</h1>































































































































<div id="animes_am_plus">































































  <% @animes_am_plus.each do |animes_am_plu| %>































































    <%= render animes_am_plu %>































































    <p>































































      <%= link_to "Show this animes am plu", animes_am_plu %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New animes am plu", new_animes_am_plu_path %>
