<h1>Editing jeux videos actualite mini</h1>

<%= render "form", _jeux_videos_actualite_mini: @_jeux_videos_actualite_mini %>

<br>

<div>
  <%= link_to "Show this jeux videos actualite mini", @_jeux_videos_actualite_mini %> |
  <%= link_to "Back to jeux videos actualite minis", _jeux_videos_actualite_minis_path %>
</div>
