<div id="<%= dom_id volumes_manga %>">































































  <p>































































    <strong>Name:</strong>































































    <%= volumes_manga.name %>































































  </p>































































































































</div>
