<p style="color: green"><%= notice %></p>































































































































<h1>Volumes mangas</h1>































































































































<div id="_volumes_mangas">































































  <% @_volumes_mangas.each do |_volumes_manga| %>































































    <%= render _volumes_manga %>































































    <p>































































      <%= link_to "Show this volumes manga", volumes_manga %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New volumes manga", new_volumes_manga_path %>
