<h1>Editing breves dvd</h1>































































































































<%= render "form", _breves_dvd: @_breves_dvd %>































































































































<br>































































































































<div>































































  <%= link_to "Show this breves dvd", @_breves_dvd %> |































































  <%= link_to "Back to breves dvds", breves_dvds_path %>































































</div>
