<div id="<%= dom_id boutiques_pay %>">































































  <p>































































    <strong>Name:</strong>































































    <%= boutiques_pay.name %>































































  </p>































































































































</div>
