<div id="<%= dom_id personnage_de_mangas_perso_plu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= personnage_de_mangas_perso_plu.name %>































































  </p>































































































































</div>
