<h1>Editing personnage de mangas perso plu</h1>































































































































<%= render "form", _personnage_de_mangas_perso_plu: @_personnage_de_mangas_perso_plu %>































































































































<br>































































































































<div>































































  <%= link_to "Show this personnage de mangas perso plu", @_personnage_de_mangas_perso_plu %> |































































  <%= link_to "Back to personnage de mangas perso plus", personnage_de_mangas_perso_plus_path %>































































</div>
