
<h1>voir tous les Personnage De Mangas Perso Plus</h1>
<%@_personnage_de_mangas_perso_plus.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Personnage De Mangas Perso Plus", new_personnage_de_mangas_perso_plu_path%>
</p>
