
<h1>voir tous les Personnage Danimes Sexes</h1>
<%@_personnage_danimes_sexes.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Personnage Danimes Sexes", new_personnage_danimes_sexe_path%>
</p>
