<h1>Editing recettes plat</h1>

<%= render "form", _recettes_plat: @_recettes_plat %>

<br>

<div>
  <%= link_to "Show this recettes plat", @_recettes_plat %> |
  <%= link_to "Back to recettes plats", _recettes_plats_path %>
</div>
