<div id="<%= dom_id dramas_cd %>">































































  <p>































































    <strong>Name:</strong>































































    <%= dramas_cd.name %>































































  </p>































































































































</div>
