<h1>Editing dramas cd</h1>































































































































<%= render "form", _dramas_cd: @_dramas_cd %>































































































































<br>































































































































<div>































































  <%= link_to "Show this dramas cd", @_dramas_cd %> |































































  <%= link_to "Back to dramas cds", dramas_cds_path %>































































</div>
