<h1>New dramas cd</h1>































































































































<%= render "form", _dramas_cd: @_dramas_cd %>































































































































<br>































































































































<div>































































  <%= link_to "Back to dramas cds", dramas_cds_path %>































































</div>
