<p style="color: green"><%= notice %></p>

<h1>Goodies animes</h1>

<div id="_goodies_animes">
  <% @_goodies_animes.each do |_goodies_anime| %>
    <%= render _goodies_anime %>
    <p>
      <%= link_to "Show this goodies anime", _goodies_anime %>
    </p>
  <% end %>
</div>

<%= link_to "New goodies anime", new__goodies_anime_path %>
