<div id="<%= dom_id fiche_univers_anime %>">































































  <p>































































    <strong>Name:</strong>































































    <%= fiche_univers_anime.name %>































































  </p>































































































































</div>
