<h1>New fiche univers anime</h1>































































































































<%= render "form", _fiche_univers_anime: @_fiche_univers_anime %>































































































































<br>































































































































<div>































































  <%= link_to "Back to fiche univers animes", fiche_univers_animes_path %>































































</div>
