<div id="<%= dom_id jeux_videos_am %>">































































  <p>































































    <strong>Name:</strong>































































    <%= jeux_videos_am.name %>































































  </p>































































































































</div>
