<h1>Editing jeux videos am</h1>































































































































<%= render "form", _jeux_videos_am: @_jeux_videos_am %>































































































































<br>































































































































<div>































































  <%= link_to "Show this jeux videos am", @_jeux_videos_am %> |































































  <%= link_to "Back to jeux videos ams", jeux_videos_ams_path %>































































</div>
