<div id="<%= dom_id dramas_ln_plu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= dramas_ln_plu.name %>































































  </p>































































































































</div>
