<h1>Editing dramas ln plu</h1>































































































































<%= render "form", _dramas_ln_plu: @_dramas_ln_plu %>































































































































<br>































































































































<div>































































  <%= link_to "Show this dramas ln plu", @_dramas_ln_plu %> |































































  <%= link_to "Back to dramas ln plus", dramas_ln_plus_path %>































































</div>
