<div id="<%= dom_id doujinshis_person %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujinshis_person.name %>































































  </p>































































































































</div>
