<h1>Editing doujinshis person</h1>































































































































<%= render "form", _doujinshis_person: @_doujinshis_person %>































































































































<br>































































































































<div>































































  <%= link_to "Show this doujinshis person", @_doujinshis_person %> |































































  <%= link_to "Back to doujinshis people", doujinshis_people_path %>































































</div>
