<p style="color: green"><%= notice %></p>































































































































<h1>Doujinshis people</h1>































































































































<div id="_doujinshis_people">































































  <% @_doujinshis_people.each do |_doujinshis_person| %>































































    <%= render _doujinshis_person %>































































    <p>































































      <%= link_to "Show this doujinshis person", doujinshis_person %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New doujinshis person", new_doujinshis_person_path %>
