<div id="<%= dom_id generique_de_jeu_videos_staff_person %>">































































  <p>































































    <strong>Name:</strong>































































    <%= generique_de_jeu_videos_staff_person.name %>































































  </p>































































































































</div>
