<p style="color: green"><%= notice %></p>

<h1>Generique de jeu videos staff people</h1>

<div id="_generique_de_jeu_videos_staff_people">
  <% @_generique_de_jeu_videos_staff_people.each do |_generique_de_jeu_videos_staff_person| %>
    <%= render _generique_de_jeu_videos_staff_person %>
    <p>
      <%= link_to "Show this generique de jeu videos staff person", _generique_de_jeu_videos_staff_person %>
    </p>
  <% end %>
</div>

<%= link_to "New generique de jeu videos staff person", new__generique_de_jeu_videos_staff_person_path %>
