<h1>Editing cds label</h1>

<%= render "form", _cds_label: @_cds_label %>

<br>

<div>
  <%= link_to "Show this cds label", @_cds_label %> |
  <%= link_to "Back to cds labels", _cds_labels_path %>
</div>
