<h1>Editing jeux videos staff societe role</h1>

<%= render "form", _jeux_videos_staff_societe_role: @_jeux_videos_staff_societe_role %>

<br>

<div>
  <%= link_to "Show this jeux videos staff societe role", @_jeux_videos_staff_societe_role %> |
  <%= link_to "Back to jeux videos staff societe roles", _jeux_videos_staff_societe_roles_path %>
</div>
