<div id="<%= dom_id doujinshis_perso_plu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujinshis_perso_plu.name %>































































  </p>































































































































</div>
