<h1>Editing doujinshis perso plu</h1>

<%= render "form", _doujinshis_perso_plu: @_doujinshis_perso_plu %>

<br>

<div>
  <%= link_to "Show this doujinshis perso plu", @_doujinshis_perso_plu %> |
  <%= link_to "Back to doujinshis perso plus", _doujinshis_perso_plus_path %>
</div>
