<h1>Editing artbooks doujin</h1>































































































































<%= render "form", artbooks_doujin: @artbooks_doujin %>































































































































<br>































































































































<div>































































  <%= link_to "Show this artbooks doujin", @artbooks_doujin %> |































































  <%= link_to "Back to artbooks doujins", artbooks_doujins_path %>































































</div>
