<div id="<%= dom_id breves_artbook %>">































































  <p>































































    <strong>Name:</strong>































































    <%= breves_artbook.name %>































































  </p>































































































































</div>
