<h1>Editing breves artbook</h1>

<%= render "form", _breves_artbook: @_breves_artbook %>

<br>

<div>
  <%= link_to "Show this breves artbook", @_breves_artbook %> |
  <%= link_to "Back to breves artbooks", _breves_artbooks_path %>
</div>
