<h1>New breves artbook</h1>































































































































<%= render "form", _breves_artbook: @_breves_artbook %>































































































































<br>































































































































<div>































































  <%= link_to "Back to breves artbooks", breves_artbooks_path %>































































</div>
