<h1>Editing jeux videos staff person</h1>































































































































<%= render "form", _jeux_videos_staff_person: @_jeux_videos_staff_person %>































































































































<br>































































































































<div>































































  <%= link_to "Show this jeux videos staff person", @_jeux_videos_staff_person %> |































































  <%= link_to "Back to jeux videos staff people", jeux_videos_staff_people_path %>































































</div>
