
<h1>voir tous les Jeux Videos Staff People</h1>
<%@_jeux_videos_staff_people.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Jeux Videos Staff People", new_jeux_videos_staff_peopl_path%>
</p>
