<h1>New jeux videos staff person</h1>































































































































<%= render "form", _jeux_videos_staff_person: @_jeux_videos_staff_person %>































































































































<br>































































































































<div>































































  <%= link_to "Back to jeux videos staff people", jeux_videos_staff_people_path %>































































</div>
