<div id="<%= dom_id breves_drama %>">































































  <p>































































    <strong>Name:</strong>































































    <%= breves_drama.name %>































































  </p>































































































































</div>
