<h1>Editing breves drama</h1>































































































































<%= render "form", _breves_drama: @_breves_drama %>































































































































<br>































































































































<div>































































  <%= link_to "Show this breves drama", @_breves_drama %> |































































  <%= link_to "Back to breves dramas", breves_dramas_path %>































































</div>
