<div id="<%= dom_id livres_drama %>">































































  <p>































































    <strong>Name:</strong>































































    <%= livres_drama.name %>































































  </p>































































































































</div>
