<div id="<%= dom_id artbooks_am %>">































































  <p>































































    <strong>Name:</strong>































































    <%= artbooks_am.name %>































































  </p>































































































































</div>
