<p style="color: green"><%= notice %></p>































































































































<h1>Artbooks ams</h1>































































































































<div id="artbooks_ams">































































  <% @artbooks_ams.each do |artbooks_am| %>































































    <%= render artbooks_am %>































































    <p>































































      <%= link_to "Show this artbooks am", artbooks_am %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New artbooks am", new_artbooks_am_path %>
