<h1>Editing artbooks role</h1>

<%= render "form", artbooks_role: @artbooks_role %>

<br>

<div>
  <%= link_to "Show this artbooks role", @artbooks_role %> |
  <%= link_to "Back to artbooks roles", artbooks_roles_path %>
</div>
