<p style="color: green"><%= notice %></p>































































































































<h1>Artbooks roles</h1>































































































































<div id="artbooks_roles">































































  <% @artbooks_roles.each do |artbooks_role| %>































































    <%= render artbooks_role %>































































    <p>































































      <%= link_to "Show this artbooks role", artbooks_role %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New artbooks role", new_artbooks_role_path %>
