<h1>New artbooks role</h1>































































































































<%= render "form", artbooks_role: @artbooks_role %>































































































































<br>































































































































<div>































































  <%= link_to "Back to artbooks roles", artbooks_roles_path %>































































</div>
