<h1>New dramas generiques people2</h1>

<%= render "form", _dramas_generiques_people2: @_dramas_generiques_people2 %>

<br>

<div>
  <%= link_to "Back to dramas generiques people2s", _dramas_generiques_people2s_path %>
</div>
