<div id="<%= dom_id light_novels_am %>">































































  <p>































































    <strong>Name:</strong>































































    <%= light_novels_am.name %>































































  </p>































































































































</div>
