<h1>Editing light novels am</h1>































































































































<%= render "form", _light_novels_am: @_light_novels_am %>































































































































<br>































































































































<div>































































  <%= link_to "Show this light novels am", @_light_novels_am %> |































































  <%= link_to "Back to light novels ams", light_novels_ams_path %>































































</div>
