<div id="<%= dom_id animes_format %>">































































  <p>































































    <strong>Name:</strong>































































    <%= animes_format.name %>































































  </p>































































































































</div>
