<h1>Editing animes format</h1>































































































































<%= render "form", animes_format: @animes_format %>































































































































<br>































































































































<div>































































  <%= link_to "Show this animes format", @animes_format %> |































































  <%= link_to "Back to animes formats", animes_formats_path %>































































</div>
