<h1>Editing volumes ln</h1>

<%= render "form", _volumes_ln: @_volumes_ln %>

<br>

<div>
  <%= link_to "Show this volumes ln", @_volumes_ln %> |
  <%= link_to "Back to volumes lns", _volumes_lns_path %>
</div>
