<div id="<%= dom_id photobooks_societe_role %>">































































  <p>































































    <strong>Name:</strong>































































    <%= photobooks_societe_role.name %>































































  </p>































































































































</div>
