<h1>Editing photobooks societe role</h1>

<%= render "form", _photobooks_societe_role: @_photobooks_societe_role %>

<br>

<div>
  <%= link_to "Show this photobooks societe role", @_photobooks_societe_role %> |
  <%= link_to "Back to photobooks societe roles", _photobooks_societe_roles_path %>
</div>
