<p style="color: green"><%= notice %></p>































































































































<h1>Photobooks societe roles</h1>































































































































<div id="_photobooks_societe_roles">































































  <% @_photobooks_societe_roles.each do |_photobooks_societe_role| %>































































    <%= render _photobooks_societe_role %>































































    <p>































































      <%= link_to "Show this photobooks societe role", photobooks_societe_role %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New photobooks societe role", new_photobooks_societe_role_path %>
