<h1>New photobooks societe role</h1>































































































































<%= render "form", _photobooks_societe_role: @_photobooks_societe_role %>































































































































<br>































































































































<div>































































  <%= link_to "Back to photobooks societe roles", photobooks_societe_roles_path %>































































</div>
