<p style="color: green"><%= notice %></p>

<h1>Osts distributeurs</h1>

<div id="osts_distributeurs">
  <% @osts_distributeurs.each do |osts_distributeur| %>
    <%= render osts_distributeur %>
    <p>
      <%= link_to "Show this osts distributeur", osts_distributeur %>
    </p>
  <% end %>
</div>

<%= link_to "New osts distributeur", new_osts_distributeur_path %>
