<h1>New osts distributeur</h1>































































































































<%= render "form", osts_distributeur: @osts_distributeur %>































































































































<br>































































































































<div>































































  <%= link_to "Back to osts distributeurs", osts_distributeurs_path %>































































</div>
