<h1>New light novel</h1>































































































































<%= render "form", _light_novel: @_light_novel %>































































































































<br>































































































































<div>































































  <%= link_to "Back to light novels", light_novels_path %>































































</div>
