<div id="<%= dom_id breves_quizz %>">































































  <p>































































    <strong>Name:</strong>































































    <%= breves_quizz.name %>































































  </p>































































































































</div>
