<h1>Editing breves quizz</h1>

<%= render "form", _breves_quizz: @_breves_quizz %>

<br>

<div>
  <%= link_to "Show this breves quizz", @_breves_quizz %> |
  <%= link_to "Back to breves quizzs", _breves_quizzs_path %>
</div>
