<div id="<%= dom_id films_asiatiques_culture %>">































































  <p>































































    <strong>Name:</strong>































































    <%= films_asiatiques_culture.name %>































































  </p>































































































































</div>
