
<h1>voir tous les Films Asiatiques Cultures</h1>
<%@_films_asiatiques_cultures.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Films Asiatiques Cultures", new_films_asiatiques_culture_path%>
</p>
