<p style="color: green"><%= notice %></p>

<h1>Jeux videos manga plus</h1>

<div id="_jeux_videos_manga_plus">
  <% @_jeux_videos_manga_plus.each do |_jeux_videos_manga_plu| %>
    <%= render _jeux_videos_manga_plu %>
    <p>
      <%= link_to "Show this jeux videos manga plu", _jeux_videos_manga_plu %>
    </p>
  <% end %>
</div>

<%= link_to "New jeux videos manga plu", new__jeux_videos_manga_plu_path %>
