<div id="<%= dom_id mangas_prepublie %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_prepublie.name %>































































  </p>































































































































</div>
