<p style="color: green"><%= notice %></p>































































































































<h1>Mangas prepublies</h1>































































































































<div id="_mangas_prepublies">































































  <% @_mangas_prepublies.each do |_mangas_prepubly| %>































































    <%= render _mangas_prepubly %>































































    <p>































































      <%= link_to "Show this mangas prepublie", mangas_prepubly %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New mangas prepublie", new_mangas_prepubly_path %>
