<h1>New mangas prepublie</h1>































































































































<%= render "form", _mangas_prepubly: @_mangas_prepubly %>































































































































<br>































































































































<div>































































  <%= link_to "Back to mangas prepublies", mangas_prepublies_path %>































































</div>
