<h1>Editing osts plateforme</h1>

<%= render "form", osts_plateforme: @osts_plateforme %>

<br>

<div>
  <%= link_to "Show this osts plateforme", @osts_plateforme %> |
  <%= link_to "Back to osts plateformes", osts_plateformes_path %>
</div>
