<p style="color: green"><%= notice %></p>































































































































<h1>Osts plateformes</h1>































































































































<div id="osts_plateformes">































































  <% @osts_plateformes.each do |osts_plateforme| %>































































    <%= render osts_plateforme %>































































    <p>































































      <%= link_to "Show this osts plateforme", osts_plateforme %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New osts plateforme", new_osts_plateforme_path %>
