<h1>New osts plateforme</h1>































































































































<%= render "form", osts_plateforme: @osts_plateforme %>































































































































<br>































































































































<div>































































  <%= link_to "Back to osts plateformes", osts_plateformes_path %>































































</div>
