<div id="<%= dom_id mangas_type %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_type.name %>































































  </p>































































































































</div>
