<h1>Editing mangas type</h1>































































































































<%= render "form", _mangas_type: @_mangas_type %>































































































































<br>































































































































<div>































































  <%= link_to "Show this mangas type", @_mangas_type %> |































































  <%= link_to "Back to mangas types", mangas_types_path %>































































</div>
