<h1>New films asiatiques acteur</h1>

<%= render "form", _films_asiatiques_acteur: @_films_asiatiques_acteur %>

<br>

<div>
  <%= link_to "Back to films asiatiques acteurs", _films_asiatiques_acteurs_path %>
</div>
