<h1>Editing personnalites role</h1>

<%= render "form", _personnalites_role: @_personnalites_role %>

<br>

<div>
  <%= link_to "Show this personnalites role", @_personnalites_role %> |
  <%= link_to "Back to personnalites roles", _personnalites_roles_path %>
</div>
