
<h1>voir tous les Fiche Univers Jv Persos</h1>
<%@_fiche_univers_jv_persos.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Fiche Univers Jv Persos", new_fiche_univers_jv_perso_path%>
</p>
