<div id="<%= dom_id photobooks_type %>">































































  <p>































































    <strong>Name:</strong>































































    <%= photobooks_type.name %>































































  </p>































































































































</div>
