<h1>New photobooks type</h1>































































































































<%= render "form", _photobooks_type: @_photobooks_type %>































































































































<br>































































































































<div>































































  <%= link_to "Back to photobooks types", photobooks_types_path %>































































</div>
