<div id="<%= dom_id cds_role %>">































































  <p>































































    <strong>Name:</strong>































































    <%= cds_role.name %>































































  </p>































































































































</div>
