<p style="color: green"><%= notice %></p>































































































































<h1>Cds roles</h1>































































































































<div id="_cds_roles">































































  <% @_cds_roles.each do |_cds_role| %>































































    <%= render _cds_role %>































































    <p>































































      <%= link_to "Show this cds role", cds_role %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New cds role", new_cds_role_path %>
