<div id="<%= dom_id mangas_groupe %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_groupe.name %>































































  </p>































































































































</div>
