<p style="color: green"><%= notice %></p>































































































































<h1>Mangas groupes</h1>































































































































<div id="_mangas_groupes">































































  <% @_mangas_groupes.each do |_mangas_groupe| %>































































    <%= render _mangas_groupe %>































































    <p>































































      <%= link_to "Show this mangas groupe", mangas_groupe %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New mangas groupe", new_mangas_groupe_path %>
