<h1>New mangas groupe</h1>































































































































<%= render "form", _mangas_groupe: @_mangas_groupe %>































































































































<br>































































































































<div>































































  <%= link_to "Back to mangas groupes", mangas_groupes_path %>































































</div>
