<div id="<%= dom_id paroles_staff_role %>">































































  <p>































































    <strong>Name:</strong>































































    <%= paroles_staff_role.name %>































































  </p>































































































































</div>
