<p style="color: green"><%= notice %></p>































































































































<h1>Paroles staff roles</h1>































































































































<div id="_paroles_staff_roles">































































  <% @_paroles_staff_roles.each do |_paroles_staff_role| %>































































    <%= render _paroles_staff_role %>































































    <p>































































      <%= link_to "Show this paroles staff role", paroles_staff_role %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New paroles staff role", new_paroles_staff_role_path %>
