<p style="color: green"><%= notice %></p>

<h1>Light novels mangas</h1>

<div id="_light_novels_mangas">
  <% @_light_novels_mangas.each do |_light_novels_manga| %>
    <%= render _light_novels_manga %>
    <p>
      <%= link_to "Show this light novels manga", _light_novels_manga %>
    </p>
  <% end %>
</div>

<%= link_to "New light novels manga", new__light_novels_manga_path %>
