<p style="color: green"><%= notice %></p>

<h1>Blu rays ams</h1>

<div id="_dvd___blu_rays_ams">
  <% @_dvd___blu_rays_ams.each do |_dvd___blu_rays_am| %>
    <%= render _dvd___blu_rays_am %>
    <p>
      <%= link_to "Show this blu rays am", _dvd___blu_rays_am %>
    </p>
  <% end %>
</div>

<%= link_to "New blu rays am", new__dvd___blu_rays_am_path %>
