
<h1>voir tous les Blu Rays Actualite Minis</h1>
<%@_blu_rays_actualite_minis.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Blu Rays Actualite Minis", new_blu_rays_actualite_mini_path%>
</p>
