<h1>New blu rays actualite mini</h1>















<%= render "form", _dvd___blu_rays_actualite_mini: @_dvd___blu_rays_actualite_mini %>















<br>















<div>







  <%= link_to "Back to blu rays actualite minis", dvd___blu_rays_actualite_minis_path %>







</div>
