<p style="color: green"><%= notice %></p>

<h1>Restaurants pays</h1>

<div id="_restaurants_pays">
  <% @_restaurants_pays.each do |_restaurants_pay| %>
    <%= render _restaurants_pay %>
    <p>
      <%= link_to "Show this restaurants pay", _restaurants_pay %>
    </p>
  <% end %>
</div>

<%= link_to "New restaurants pay", new__restaurants_pay_path %>
