<div id="<%= dom_id doujins_genre %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujins_genre.name %>































































  </p>































































































































</div>
