<p style="color: green"><%= notice %></p>































































































































<h1>Doujins genres</h1>































































































































<div id="_doujins_genres">































































  <% @_doujins_genres.each do |_doujins_genre| %>































































    <%= render _doujins_genre %>































































    <p>































































      <%= link_to "Show this doujins genre", doujins_genre %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New doujins genre", new_doujins_genre_path %>
