<h1>Editing films asiatiques litterature asiatique</h1>

<%= render "form", _films_asiatiques_litterature_asiatique: @_films_asiatiques_litterature_asiatique %>

<br>

<div>
  <%= link_to "Show this films asiatiques litterature asiatique", @_films_asiatiques_litterature_asiatique %> |
  <%= link_to "Back to films asiatiques litterature asiatiques", _films_asiatiques_litterature_asiatiques_path %>
</div>
