<h1>New dramas generiques type</h1>

<%= render "form", _dramas_generiques_type: @_dramas_generiques_type %>

<br>

<div>
  <%= link_to "Back to dramas generiques types", _dramas_generiques_types_path %>
</div>
