<h1>New petites annonces section</h1>

<%= render "form", _petites_annonces_section: @_petites_annonces_section %>

<br>

<div>
  <%= link_to "Back to petites annonces sections", _petites_annonces_sections_path %>
</div>
