<h1>Editing osts emission tv</h1>

<%= render "form", osts_emission_tv: @osts_emission_tv %>

<br>

<div>
  <%= link_to "Show this osts emission tv", @osts_emission_tv %> |
  <%= link_to "Back to osts emission tvs", osts_emission_tvs_path %>
</div>
