<p style="color: green"><%= notice %></p>

<h1>Osts emission tvs</h1>

<div id="osts_emission_tvs">
  <% @osts_emission_tvs.each do |osts_emission_tv| %>
    <%= render osts_emission_tv %>
    <p>
      <%= link_to "Show this osts emission tv", osts_emission_tv %>
    </p>
  <% end %>
</div>

<%= link_to "New osts emission tv", new_osts_emission_tv_path %>
