<h1>Editing concerts type</h1>



<%= render "form", _clips_lives_bonus_concerts_type: @_clips_lives_bonus_concerts_type %>



<br>



<div>

  <%= link_to "Show this concerts type", @_clips_lives_bonus_concerts_type %> |

  <%= link_to "Back to concerts types", clips_lives_bonus_concerts_types_path %>

</div>
