<h1>New concerts type</h1>



<%= render "form", _clips_lives_bonus_concerts_type: @_clips_lives_bonus_concerts_type %>



<br>



<div>

  <%= link_to "Back to concerts types", clips_lives_bonus_concerts_types_path %>

</div>
