<div id="<%= dom_id photobooks_editeurs_vo %>">































































  <p>































































    <strong>Name:</strong>































































    <%= photobooks_editeurs_vo.name %>































































  </p>































































































































</div>
