<h1>Editing cds emission tv</h1>

<%= render "form", _cds_emission_tv: @_cds_emission_tv %>

<br>

<div>
  <%= link_to "Show this cds emission tv", @_cds_emission_tv %> |
  <%= link_to "Back to cds emission tvs", _cds_emission_tvs_path %>
</div>
