<h1>Editing photobooks type</h1>

<%= render "form", _photobooks_type: @_photobooks_type %>

<br>

<div>
  <%= link_to "Show this photobooks type", @_photobooks_type %> |
  <%= link_to "Back to photobooks types", _photobooks_types_path %>
</div>
