<div id="<%= dom_id light_novels_public_averti %>">































































  <p>































































    <strong>Name:</strong>































































    <%= light_novels_public_averti.name %>































































  </p>































































































































</div>
