
<h1>voir tous les Light Novels Public Avertis</h1>
<%@_light_novels_public_avertis.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Light Novels Public Avertis", new_light_novels_public_averti_path%>
</p>
