<p style="color: green"><%= notice %></p>

<h1>Light novels public avertis</h1>

<div id="_light_novels_public_avertis">
  <% @_light_novels_public_avertis.each do |_light_novels_public_averti| %>
    <%= render _light_novels_public_averti %>
    <p>
      <%= link_to "Show this light novels public averti", _light_novels_public_averti %>
    </p>
  <% end %>
</div>

<%= link_to "New light novels public averti", new__light_novels_public_averti_path %>
