<p style="color: green"><%= notice %></p>

<h1>Doujinshis conventions</h1>

<div id="_doujinshis_conventions">
  <% @_doujinshis_conventions.each do |_doujinshis_convention| %>
    <%= render _doujinshis_convention %>
    <p>
      <%= link_to "Show this doujinshis convention", _doujinshis_convention %>
    </p>
  <% end %>
</div>

<%= link_to "New doujinshis convention", new__doujinshis_convention_path %>
