<div id="<%= dom_id films_asiatiques_anime %>">































































  <p>































































    <strong>Name:</strong>































































    <%= films_asiatiques_anime.name %>































































  </p>































































































































</div>
