
<h1>voir tous les Films Asiatiques Animes</h1>
<%@_films_asiatiques_animes.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Films Asiatiques Animes", new_films_asiatiques_anime_path%>
</p>
