<p style="color: green"><%= notice %></p>































































































































<h1>Films asiatiques animes</h1>































































































































<div id="_films_asiatiques_animes">































































  <% @_films_asiatiques_animes.each do |_films_asiatiques_anime| %>































































    <%= render _films_asiatiques_anime %>































































    <p>































































      <%= link_to "Show this films asiatiques anime", films_asiatiques_anime %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New films asiatiques anime", new_films_asiatiques_anime_path %>
