<h1>New films asiatiques anime</h1>

<%= render "form", _films_asiatiques_anime: @_films_asiatiques_anime %>

<br>

<div>
  <%= link_to "Back to films asiatiques animes", _films_asiatiques_animes_path %>
</div>
