<p style="color: green"><%= notice %></p>































































































































<h1>Osts</h1>































































































































<div id="osts">































































  <% @osts.each do |ost| %>































































    <%= render ost %>































































    <p>































































      <%= link_to "Show this ost", ost %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New ost", new_ost_path %>
