<h1>New ost</h1>































































































































<%= render "form", ost: @ost %>































































































































<br>































































































































<div>































































  <%= link_to "Back to osts", osts_path %>































































</div>
