<p style="color: green"><%= notice %></p>















<h1>Blu rays jvs</h1>















<div id="_dvd___blu_rays_jvs">







  <% @_dvd___blu_rays_jvs.each do |_dvd___blu_rays_jv| %>







    <%= render _dvd___blu_rays_jv %>







    <p>







      <%= link_to "Show this blu rays jv", dvd___blu_rays_jv %>







    </p>







  <% end %>







</div>















<%= link_to "New blu rays jv", new_dvd___blu_rays_jv_path %>
