
<h1>voir tous les Personnalites Ex Debuts</h1>
<%@_personnalites_ex_debuts.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Personnalites Ex Debuts", new_personnalites_ex_debut_path%>
</p>
