<p style="color: green"><%= notice %></p>































































































































<h1>Personnalites ex debuts</h1>































































































































<div id="_personnalites_ex_debuts">































































  <% @_personnalites_ex_debuts.each do |_personnalites_ex_debut| %>































































    <%= render _personnalites_ex_debut %>































































    <p>































































      <%= link_to "Show this personnalites ex debut", personnalites_ex_debut %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New personnalites ex debut", new_personnalites_ex_debut_path %>
