<h1>Editing animes societe person</h1>































































































































<%= render "form", animes_societe_person: @animes_societe_person %>































































































































<br>































































































































<div>































































  <%= link_to "Show this animes societe person", @animes_societe_person %> |































































  <%= link_to "Back to animes societe people", animes_societe_people_path %>































































</div>
