<div id="<%= dom_id doujinshis_theme %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujinshis_theme.name %>































































  </p>































































































































</div>
