<h1>New doujinshis theme</h1>































































































































<%= render "form", _doujinshis_theme: @_doujinshis_theme %>































































































































<br>































































































































<div>































































  <%= link_to "Back to doujinshis themes", doujinshis_themes_path %>































































</div>
