<p style="color: green"><%= notice %></p>

<h1>Doujinshis ams</h1>

<div id="_doujinshis_ams">
  <% @_doujinshis_ams.each do |_doujinshis_am| %>
    <%= render _doujinshis_am %>
    <p>
      <%= link_to "Show this doujinshis am", _doujinshis_am %>
    </p>
  <% end %>
</div>

<%= link_to "New doujinshis am", new__doujinshis_am_path %>
