<h1>Editing animes drama plu</h1>

<%= render "form", animes_drama_plu: @animes_drama_plu %>

<br>

<div>
  <%= link_to "Show this animes drama plu", @animes_drama_plu %> |
  <%= link_to "Back to animes drama plus", animes_drama_plus_path %>
</div>
