<p style="color: green"><%= notice %></p>

<h1>Animes drama plus</h1>

<div id="animes_drama_plus">
  <% @animes_drama_plus.each do |animes_drama_plu| %>
    <%= render animes_drama_plu %>
    <p>
      <%= link_to "Show this animes drama plu", animes_drama_plu %>
    </p>
  <% end %>
</div>

<%= link_to "New animes drama plu", new_animes_drama_plu_path %>
