<div id="<%= dom_id generiques_staff_person %>">































































  <p>































































    <strong>Name:</strong>































































    <%= generiques_staff_person.name %>































































  </p>































































































































</div>
