<h1>Editing generiques staff person</h1>

<%= render "form", _generiques_staff_person: @_generiques_staff_person %>

<br>

<div>
  <%= link_to "Show this generiques staff person", @_generiques_staff_person %> |
  <%= link_to "Back to generiques staff people", _generiques_staff_people_path %>
</div>
