
<h1>voir tous les Generiques Staff People</h1>
<%@_generiques_staff_people.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Generiques Staff People", new_generiques_staff_peopl_path%>
</p>
