<h1>New films asiatiques ln</h1>































































































































<%= render "form", _films_asiatiques_ln: @_films_asiatiques_ln %>































































































































<br>































































































































<div>































































  <%= link_to "Back to films asiatiques lns", films_asiatiques_lns_path %>































































</div>
