<h1>Editing blu rays editeur</h1>

<%= render "form", _dvd___blu_rays_editeur: @_dvd___blu_rays_editeur %>

<br>

<div>
  <%= link_to "Show this blu rays editeur", @_dvd___blu_rays_editeur %> |
  <%= link_to "Back to blu rays editeurs", _dvd___blu_rays_editeurs_path %>
</div>
