<p style="color: green"><%= notice %></p>































































































































<h1>Animes groupes</h1>































































































































<div id="animes_groupes">































































  <% @animes_groupes.each do |animes_groupe| %>































































    <%= render animes_groupe %>































































    <p>































































      <%= link_to "Show this animes groupe", animes_groupe %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New animes groupe", new_animes_groupe_path %>
