<h1>Editing personnalites agence</h1>































































































































<%= render "form", _personnalites_agence: @_personnalites_agence %>































































































































<br>































































































































<div>































































  <%= link_to "Show this personnalites agence", @_personnalites_agence %> |































































  <%= link_to "Back to personnalites agences", personnalites_agences_path %>































































</div>
