<p style="color: green"><%= notice %></p>































































































































<h1>Personnalites agences</h1>































































































































<div id="_personnalites_agences">































































  <% @_personnalites_agences.each do |_personnalites_agence| %>































































    <%= render _personnalites_agence %>































































    <p>































































      <%= link_to "Show this personnalites agence", personnalites_agence %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New personnalites agence", new_personnalites_agence_path %>
