<div id="<%= dom_id goodies_perso %>">































































  <p>































































    <strong>Name:</strong>































































    <%= goodies_perso.name %>































































  </p>































































































































</div>
