<p style="color: green"><%= notice %></p>

<h1>Goodies persos</h1>

<div id="_goodies_persos">
  <% @_goodies_persos.each do |_goodies_perso| %>
    <%= render _goodies_perso %>
    <p>
      <%= link_to "Show this goodies perso", _goodies_perso %>
    </p>
  <% end %>
</div>

<%= link_to "New goodies perso", new__goodies_perso_path %>
