<div id="<%= dom_id artbooks_actualite %>">































































  <p>































































    <strong>Name:</strong>































































    <%= artbooks_actualite.name %>































































  </p>































































































































</div>
