<h1>Editing artbooks actualite</h1>































































































































<%= render "form", artbooks_actualite: @artbooks_actualite %>































































































































<br>































































































































<div>































































  <%= link_to "Show this artbooks actualite", @artbooks_actualite %> |































































  <%= link_to "Back to artbooks actualites", artbooks_actualites_path %>































































</div>
