<div id="<%= dom_id artbooks_societe_person %>">































































  <p>































































    <strong>Name:</strong>































































    <%= artbooks_societe_person.name %>































































  </p>































































































































</div>
