<h1>Editing artbooks societe person</h1>

<%= render "form", artbooks_societe_person: @artbooks_societe_person %>

<br>

<div>
  <%= link_to "Show this artbooks societe person", @artbooks_societe_person %> |
  <%= link_to "Back to artbooks societe people", artbooks_societe_people_path %>
</div>
