<p style="color: green"><%= notice %></p>































































































































<h1>Artbooks societe people</h1>































































































































<div id="artbooks_societe_people">































































  <% @artbooks_societe_people.each do |artbooks_societe_person| %>































































    <%= render artbooks_societe_person %>































































    <p>































































      <%= link_to "Show this artbooks societe person", artbooks_societe_person %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New artbooks societe person", new_artbooks_societe_person_path %>
