<h1>New artbooks societe person</h1>

<%= render "form", artbooks_societe_person: @artbooks_societe_person %>

<br>

<div>
  <%= link_to "Back to artbooks societe people", artbooks_societe_people_path %>
</div>
