<div id="<%= dom_id osts_label %>">































































  <p>































































    <strong>Name:</strong>































































    <%= osts_label.name %>































































  </p>































































































































</div>
