<h1>Editing osts label</h1>

<%= render "form", osts_label: @osts_label %>

<br>

<div>
  <%= link_to "Show this osts label", @osts_label %> |
  <%= link_to "Back to osts labels", osts_labels_path %>
</div>
