<p style="color: green"><%= notice %></p>

<h1>Personnalites ex fins</h1>

<div id="_personnalites_ex_fins">
  <% @_personnalites_ex_fins.each do |_personnalites_ex_fin| %>
    <%= render _personnalites_ex_fin %>
    <p>
      <%= link_to "Show this personnalites ex fin", _personnalites_ex_fin %>
    </p>
  <% end %>
</div>

<%= link_to "New personnalites ex fin", new__personnalites_ex_fin_path %>
