<h1>New personnalites ex fin</h1>

<%= render "form", _personnalites_ex_fin: @_personnalites_ex_fin %>

<br>

<div>
  <%= link_to "Back to personnalites ex fins", _personnalites_ex_fins_path %>
</div>
