<h1>Editing animes editeurs vf</h1>

<%= render "form", animes_editeurs_vf: @animes_editeurs_vf %>

<br>

<div>
  <%= link_to "Show this animes editeurs vf", @animes_editeurs_vf %> |
  <%= link_to "Back to animes editeurs vfs", animes_editeurs_vfs_path %>
</div>
