<p style="color: green"><%= notice %></p>

<h1>Animes editeurs vfs</h1>

<div id="animes_editeurs_vfs">
  <% @animes_editeurs_vfs.each do |animes_editeurs_vf| %>
    <%= render animes_editeurs_vf %>
    <p>
      <%= link_to "Show this animes editeurs vf", animes_editeurs_vf %>
    </p>
  <% end %>
</div>

<%= link_to "New animes editeurs vf", new_animes_editeurs_vf_path %>
