<div id="<%= dom_id doujinshis_genre %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujinshis_genre.name %>































































  </p>































































































































</div>
