<p style="color: green"><%= notice %></p>































































































































<h1>Doujinshis genres</h1>































































































































<div id="_doujinshis_genres">































































  <% @_doujinshis_genres.each do |_doujinshis_genre| %>































































    <%= render _doujinshis_genre %>































































    <p>































































      <%= link_to "Show this doujinshis genre", doujinshis_genre %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New doujinshis genre", new_doujinshis_genre_path %>
