<h1>New doujinshis genre</h1>































































































































<%= render "form", _doujinshis_genre: @_doujinshis_genre %>































































































































<br>































































































































<div>































































  <%= link_to "Back to doujinshis genres", doujinshis_genres_path %>































































</div>
