<h1>Editing breves cd</h1>































































































































<%= render "form", _breves_cd: @_breves_cd %>































































































































<br>































































































































<div>































































  <%= link_to "Show this breves cd", @_breves_cd %> |































































  <%= link_to "Back to breves cds", breves_cds_path %>































































</div>
