<h1>Editing jeux videos doujin</h1>

<%= render "form", _jeux_videos_doujin: @_jeux_videos_doujin %>

<br>

<div>
  <%= link_to "Show this jeux videos doujin", @_jeux_videos_doujin %> |
  <%= link_to "Back to jeux videos doujins", _jeux_videos_doujins_path %>
</div>
