<div id="<%= dom_id animes_photobook %>">































































  <p>































































    <strong>Name:</strong>































































    <%= animes_photobook.name %>































































  </p>































































































































</div>
