<h1>Editing animes photobook</h1>































































































































<%= render "form", animes_photobook: @animes_photobook %>































































































































<br>































































































































<div>































































  <%= link_to "Show this animes photobook", @animes_photobook %> |































































  <%= link_to "Back to animes photobooks", animes_photobooks_path %>































































</div>
