<div id="<%= dom_id doujins_anime %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujins_anime.name %>































































  </p>































































































































</div>
