<p style="color: green"><%= notice %></p>































































































































<h1>Doujins animes</h1>































































































































<div id="_doujins_animes">































































  <% @_doujins_animes.each do |_doujins_anime| %>































































    <%= render _doujins_anime %>































































    <p>































































      <%= link_to "Show this doujins anime", doujins_anime %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New doujins anime", new_doujins_anime_path %>
