<h1>New doujins anime</h1>































































































































<%= render "form", _doujins_anime: @_doujins_anime %>































































































































<br>































































































































<div>































































  <%= link_to "Back to doujins animes", doujins_animes_path %>































































</div>
