<h1>Editing jeux videos pays date</h1>

<%= render "form", _jeux_videos_pays_date: @_jeux_videos_pays_date %>

<br>

<div>
  <%= link_to "Show this jeux videos pays date", @_jeux_videos_pays_date %> |
  <%= link_to "Back to jeux videos pays dates", _jeux_videos_pays_dates_path %>
</div>
