<h1>New jeux videos pays date</h1>































































































































<%= render "form", _jeux_videos_pays_date: @_jeux_videos_pays_date %>































































































































<br>































































































































<div>































































  <%= link_to "Back to jeux videos pays dates", jeux_videos_pays_dates_path %>































































</div>
