<div id="<%= dom_id mangas_person %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_person.name %>































































  </p>































































































































</div>
