<div id="<%= dom_id mangas_editeurs_vf %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_editeurs_vf.name %>































































  </p>































































































































</div>
