<h1>Editing mangas editeurs vf</h1>































































































































<%= render "form", _mangas_editeurs_vf: @_mangas_editeurs_vf %>































































































































<br>































































































































<div>































































  <%= link_to "Show this mangas editeurs vf", @_mangas_editeurs_vf %> |































































  <%= link_to "Back to mangas editeurs vfs", mangas_editeurs_vfs_path %>































































</div>
