<div id="<%= dom_id dramas_anime %>">































































  <p>































































    <strong>Name:</strong>































































    <%= dramas_anime.name %>































































  </p>































































































































</div>
