<p style="color: green"><%= notice %></p>

<h1>Concerts emission tv numeros</h1>

<div id="_clips___lives___bonus___concerts_emission_tv_numeros">
  <% @_clips___lives___bonus___concerts_emission_tv_numeros.each do |_clips___lives___bonus___concerts_emission_tv_numero| %>
    <%= render _clips___lives___bonus___concerts_emission_tv_numero %>
    <p>
      <%= link_to "Show this concerts emission tv numero", _clips___lives___bonus___concerts_emission_tv_numero %>
    </p>
  <% end %>
</div>

<%= link_to "New concerts emission tv numero", new__clips___lives___bonus___concerts_emission_tv_numero_path %>
