<h1>New concerts emission tv numero</h1>

<%= render "form", _clips___lives___bonus___concerts_emission_tv_numero: @_clips___lives___bonus___concerts_emission_tv_numero %>

<br>

<div>
  <%= link_to "Back to concerts emission tv numeros", _clips___lives___bonus___concerts_emission_tv_numeros_path %>
</div>
