<p style="color: green"><%= notice %></p>

<h1>Generique de jeu videos jv generics</h1>

<div id="_generique_de_jeu_videos_jv_generics">
  <% @_generique_de_jeu_videos_jv_generics.each do |_generique_de_jeu_videos_jv_generic| %>
    <%= render _generique_de_jeu_videos_jv_generic %>
    <p>
      <%= link_to "Show this generique de jeu videos jv generic", _generique_de_jeu_videos_jv_generic %>
    </p>
  <% end %>
</div>

<%= link_to "New generique de jeu videos jv generic", new__generique_de_jeu_videos_jv_generic_path %>
