<h1>New generique de jeu videos jv generic</h1>

<%= render "form", _generique_de_jeu_videos_jv_generic: @_generique_de_jeu_videos_jv_generic %>

<br>

<div>
  <%= link_to "Back to generique de jeu videos jv generics", _generique_de_jeu_videos_jv_generics_path %>
</div>
