<div id="<%= dom_id goodies_person %>">































































  <p>































































    <strong>Name:</strong>































































    <%= goodies_person.name %>































































  </p>































































































































</div>
