<h1>New goodies person</h1>































































































































<%= render "form", _goodies_person: @_goodies_person %>































































































































<br>































































































































<div>































































  <%= link_to "Back to goodies people", goodies_people_path %>































































</div>
