<div id="<%= dom_id goodies_doujinshi %>">































































  <p>































































    <strong>Name:</strong>































































    <%= goodies_doujinshi.name %>































































  </p>































































































































</div>
