<p style="color: green"><%= notice %></p>

<h1>Goodies doujinshis</h1>

<div id="_goodies_doujinshis">
  <% @_goodies_doujinshis.each do |_goodies_doujinshi| %>
    <%= render _goodies_doujinshi %>
    <p>
      <%= link_to "Show this goodies doujinshi", _goodies_doujinshi %>
    </p>
  <% end %>
</div>

<%= link_to "New goodies doujinshi", new__goodies_doujinshi_path %>
