<h1>New goodies doujinshi</h1>































































































































<%= render "form", _goodies_doujinshi: @_goodies_doujinshi %>































































































































<br>































































































































<div>































































  <%= link_to "Back to goodies doujinshis", goodies_doujinshis_path %>































































</div>
