<p style="color: green"><%= notice %></p>

<h1>Osts animes</h1>

<div id="osts_animes">
  <% @osts_animes.each do |osts_anime| %>
    <%= render osts_anime %>
    <p>
      <%= link_to "Show this osts anime", osts_anime %>
    </p>
  <% end %>
</div>

<%= link_to "New osts anime", new_osts_anime_path %>
