<h1>New osts anime</h1>































































































































<%= render "form", osts_anime: @osts_anime %>































































































































<br>































































































































<div>































































  <%= link_to "Back to osts animes", osts_animes_path %>































































</div>
