<h1>Editing films asiatiques jv plu</h1>

<%= render "form", _films_asiatiques_jv_plu: @_films_asiatiques_jv_plu %>

<br>

<div>
  <%= link_to "Show this films asiatiques jv plu", @_films_asiatiques_jv_plu %> |
  <%= link_to "Back to films asiatiques jv plus", _films_asiatiques_jv_plus_path %>
</div>
