<h1>Editing fiche univers manga</h1>































































































































<%= render "form", _fiche_univers_manga: @_fiche_univers_manga %>































































































































<br>































































































































<div>































































  <%= link_to "Show this fiche univers manga", @_fiche_univers_manga %> |































































  <%= link_to "Back to fiche univers mangas", fiche_univers_mangas_path %>































































</div>
