<p style="color: green"><%= notice %></p>































































































































<h1>Fiche univers mangas</h1>































































































































<div id="_fiche_univers_mangas">































































  <% @_fiche_univers_mangas.each do |_fiche_univers_manga| %>































































    <%= render _fiche_univers_manga %>































































    <p>































































      <%= link_to "Show this fiche univers manga", fiche_univers_manga %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New fiche univers manga", new_fiche_univers_manga_path %>
