<p style="color: green"><%= notice %></p>

<h1>Breves clips</h1>

<div id="_breves_clips">
  <% @_breves_clips.each do |_breves_clip| %>
    <%= render _breves_clip %>
    <p>
      <%= link_to "Show this breves clip", _breves_clip %>
    </p>
  <% end %>
</div>

<%= link_to "New breves clip", new__breves_clip_path %>
