<h1>Editing light novels societe person</h1>

<%= render "form", _light_novels_societe_person: @_light_novels_societe_person %>

<br>

<div>
  <%= link_to "Show this light novels societe person", @_light_novels_societe_person %> |
  <%= link_to "Back to light novels societe people", _light_novels_societe_people_path %>
</div>
