<h1>Editing personnalite</h1>































































































































<%= render "form", _personnalite: @_personnalite %>































































































































<br>































































































































<div>































































  <%= link_to "Show this personnalite", @_personnalite %> |































































  <%= link_to "Back to personnalites", personnalites_path %>































































</div>
