<p style="color: green"><%= notice %></p>































































































































<h1>Personnalites</h1>































































































































<div id="_personnalites">































































  <% @_personnalites.each do |_personnalite| %>































































    <%= render _personnalite %>































































    <p>































































      <%= link_to "Show this personnalite", personnalite %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New personnalite", new_personnalite_path %>
