<h1>New personnalite</h1>































































































































<%= render "form", _personnalite: @_personnalite %>































































































































<br>































































































































<div>































































  <%= link_to "Back to personnalites", personnalites_path %>































































</div>
