<div id="<%= dom_id personnalites_id_travaux %>">































































  <p>































































    <strong>Name:</strong>































































    <%= personnalites_id_travaux.name %>































































  </p>































































































































</div>
