<p style="color: green"><%= notice %></p>

<h1>Personnalites id travauxes</h1>

<div id="_personnalites_id_travauxes">
  <% @_personnalites_id_travauxes.each do |_personnalites_id_travaux| %>
    <%= render _personnalites_id_travaux %>
    <p>
      <%= link_to "Show this personnalites id travaux", _personnalites_id_travaux %>
    </p>
  <% end %>
</div>

<%= link_to "New personnalites id travaux", new__personnalites_id_travaux_path %>
