
<h1>voir tous les Personnalites Id Travauxes</h1>
<%@_personnalites_id_travauxes.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Personnalites Id Travauxes", new_personnalites_id_travauxe_path%>
</p>
