<div id="<%= dom_id cds_cd %>">































































  <p>































































    <strong>Name:</strong>































































    <%= cds_cd.name %>































































  </p>































































































































</div>
