<p style="color: green"><%= notice %></p>

<h1>Cds cds</h1>

<div id="_cds_cds">
  <% @_cds_cds.each do |_cds_cd| %>
    <%= render _cds_cd %>
    <p>
      <%= link_to "Show this cds cd", _cds_cd %>
    </p>
  <% end %>
</div>

<%= link_to "New cds cd", new__cds_cd_path %>
