<h1>New cds cd</h1>































































































































<%= render "form", _cds_cd: @_cds_cd %>































































































































<br>































































































































<div>































































  <%= link_to "Back to cds cds", cds_cds_path %>































































</div>
