<div id="<%= dom_id goodies_societe_person %>">































































  <p>































































    <strong>Name:</strong>































































    <%= goodies_societe_person.name %>































































  </p>































































































































</div>
