<h1>New goodies societe person</h1>































































































































<%= render "form", _goodies_societe_person: @_goodies_societe_person %>































































































































<br>































































































































<div>































































  <%= link_to "Back to goodies societe people", goodies_societe_people_path %>































































</div>
