<h1>Editing personnage de mangas perso</h1>

<%= render "form", _personnage_de_mangas_perso: @_personnage_de_mangas_perso %>

<br>

<div>
  <%= link_to "Show this personnage de mangas perso", @_personnage_de_mangas_perso %> |
  <%= link_to "Back to personnage de mangas persos", _personnage_de_mangas_persos_path %>
</div>
