<p style="color: green"><%= notice %></p>

<h1>Personnage de mangas persos</h1>

<div id="_personnage_de_mangas_persos">
  <% @_personnage_de_mangas_persos.each do |_personnage_de_mangas_perso| %>
    <%= render _personnage_de_mangas_perso %>
    <p>
      <%= link_to "Show this personnage de mangas perso", _personnage_de_mangas_perso %>
    </p>
  <% end %>
</div>

<%= link_to "New personnage de mangas perso", new__personnage_de_mangas_perso_path %>
