<div id="<%= dom_id films_asiatiques_dvd %>">































































  <p>































































    <strong>Name:</strong>































































    <%= films_asiatiques_dvd.name %>































































  </p>































































































































</div>
