<h1>Editing films asiatiques dvd</h1>

<%= render "form", _films_asiatiques_dvd: @_films_asiatiques_dvd %>

<br>

<div>
  <%= link_to "Show this films asiatiques dvd", @_films_asiatiques_dvd %> |
  <%= link_to "Back to films asiatiques dvds", _films_asiatiques_dvds_path %>
</div>
