<p style="color: green"><%= notice %></p>































































































































<h1>Films asiatiques dvds</h1>































































































































<div id="_films_asiatiques_dvds">































































  <% @_films_asiatiques_dvds.each do |_films_asiatiques_dvd| %>































































    <%= render _films_asiatiques_dvd %>































































    <p>































































      <%= link_to "Show this films asiatiques dvd", films_asiatiques_dvd %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New films asiatiques dvd", new_films_asiatiques_dvd_path %>
