<h1>Editing tablature</h1>































































































































<%= render "form", _tablature: @_tablature %>































































































































<br>































































































































<div>































































  <%= link_to "Show this tablature", @_tablature %> |































































  <%= link_to "Back to tablatures", tablatures_path %>































































</div>
