<p style="color: green"><%= notice %></p>































































































































<h1>Tablatures</h1>































































































































<div id="_tablatures">































































  <% @_tablatures.each do |_tablature| %>































































    <%= render _tablature %>































































    <p>































































      <%= link_to "Show this tablature", tablature %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New tablature", new_tablature_path %>
