<div id="<%= dom_id photobooks_anime %>">































































  <p>































































    <strong>Name:</strong>































































    <%= photobooks_anime.name %>































































  </p>































































































































</div>
