<h1>Editing photobooks anime</h1>































































































































<%= render "form", _photobooks_anime: @_photobooks_anime %>































































































































<br>































































































































<div>































































  <%= link_to "Show this photobooks anime", @_photobooks_anime %> |































































  <%= link_to "Back to photobooks animes", photobooks_animes_path %>































































</div>
