<p style="color: green"><%= notice %></p>































































































































<h1>Photobooks animes</h1>































































































































<div id="_photobooks_animes">































































  <% @_photobooks_animes.each do |_photobooks_anime| %>































































    <%= render _photobooks_anime %>































































    <p>































































      <%= link_to "Show this photobooks anime", photobooks_anime %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New photobooks anime", new_photobooks_anime_path %>
