<h1>Editing animes quizz</h1>































































































































<%= render "form", animes_quizz: @animes_quizz %>































































































































<br>































































































































<div>































































  <%= link_to "Show this animes quizz", @animes_quizz %> |































































  <%= link_to "Back to animes quizzs", animes_quizzs_path %>































































</div>
