<p style="color: green"><%= notice %></p>

<h1>Animes quizzs</h1>

<div id="animes_quizzs">
  <% @animes_quizzs.each do |animes_quizz| %>
    <%= render animes_quizz %>
    <p>
      <%= link_to "Show this animes quizz", animes_quizz %>
    </p>
  <% end %>
</div>

<%= link_to "New animes quizz", new_animes_quizz_path %>
