<div id="<%= dom_id films_asiatiques_manga %>">































































  <p>































































    <strong>Name:</strong>































































    <%= films_asiatiques_manga.name %>































































  </p>































































































































</div>
