<h1>Editing films asiatiques manga</h1>

<%= render "form", _films_asiatiques_manga: @_films_asiatiques_manga %>

<br>

<div>
  <%= link_to "Show this films asiatiques manga", @_films_asiatiques_manga %> |
  <%= link_to "Back to films asiatiques mangas", _films_asiatiques_mangas_path %>
</div>
