<p style="color: green"><%= notice %></p>

<h1>Films asiatiques mangas</h1>

<div id="_films_asiatiques_mangas">
  <% @_films_asiatiques_mangas.each do |_films_asiatiques_manga| %>
    <%= render _films_asiatiques_manga %>
    <p>
      <%= link_to "Show this films asiatiques manga", _films_asiatiques_manga %>
    </p>
  <% end %>
</div>

<%= link_to "New films asiatiques manga", new__films_asiatiques_manga_path %>
