
<h1>voir tous les Films Asiatiques Mangas</h1>
<%@_films_asiatiques_mangas.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Films Asiatiques Mangas", new_films_asiatiques_manga_path%>
</p>
