<h1>New films asiatiques manga</h1>































































































































<%= render "form", _films_asiatiques_manga: @_films_asiatiques_manga %>































































































































<br>































































































































<div>































































  <%= link_to "Back to films asiatiques mangas", films_asiatiques_mangas_path %>































































</div>
