<div id="<%= dom_id doujinshis_quizz %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujinshis_quizz.name %>































































  </p>































































































































</div>
