<p style="color: green"><%= notice %></p>































































































































<h1>Doujinshis quizzs</h1>































































































































<div id="_doujinshis_quizzs">































































  <% @_doujinshis_quizzs.each do |_doujinshis_quizz| %>































































    <%= render _doujinshis_quizz %>































































    <p>































































      <%= link_to "Show this doujinshis quizz", doujinshis_quizz %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New doujinshis quizz", new_doujinshis_quizz_path %>
