<h1>New doujinshis quizz</h1>































































































































<%= render "form", _doujinshis_quizz: @_doujinshis_quizz %>































































































































<br>































































































































<div>































































  <%= link_to "Back to doujinshis quizzs", doujinshis_quizzs_path %>































































</div>
