<h1>Editing fiche univers perso</h1>































































































































<%= render "form", _fiche_univers_perso: @_fiche_univers_perso %>































































































































<br>































































































































<div>































































  <%= link_to "Show this fiche univers perso", @_fiche_univers_perso %> |































































  <%= link_to "Back to fiche univers persos", fiche_univers_persos_path %>































































</div>
