
<h1>voir tous les Personnage Danimes Goodies</h1>
<%@_personnage_danimes_goodies.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Personnage Danimes Goodies", new_personnage_danimes_goodie_path%>
</p>
