
<h1>voir tous les Photobooks Actualite Minis</h1>
<%@_photobooks_actualite_minis.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Photobooks Actualite Minis", new_photobooks_actualite_mini_path%>
</p>
