<p style="color: green"><%= notice %></p>

<h1>Photobooks actualite minis</h1>

<div id="_photobooks_actualite_minis">
  <% @_photobooks_actualite_minis.each do |_photobooks_actualite_mini| %>
    <%= render _photobooks_actualite_mini %>
    <p>
      <%= link_to "Show this photobooks actualite mini", _photobooks_actualite_mini %>
    </p>
  <% end %>
</div>

<%= link_to "New photobooks actualite mini", new__photobooks_actualite_mini_path %>
