<h1>New photobooks actualite mini</h1>

<%= render "form", _photobooks_actualite_mini: @_photobooks_actualite_mini %>

<br>

<div>
  <%= link_to "Back to photobooks actualite minis", _photobooks_actualite_minis_path %>
</div>
