<div id="<%= dom_id paroles_parole %>">































































  <p>































































    <strong>Name:</strong>































































    <%= paroles_parole.name %>































































  </p>































































































































</div>
