<div id="<%= dom_id mangas_litterature_asiatique %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_litterature_asiatique.name %>































































  </p>































































































































</div>
