<h1>Editing mangas litterature asiatique</h1>

<%= render "form", _mangas_litterature_asiatique: @_mangas_litterature_asiatique %>

<br>

<div>
  <%= link_to "Show this mangas litterature asiatique", @_mangas_litterature_asiatique %> |
  <%= link_to "Back to mangas litterature asiatiques", _mangas_litterature_asiatiques_path %>
</div>
