<p style="color: green"><%= notice %></p>































































































































<h1>Mangas litterature asiatiques</h1>































































































































<div id="_mangas_litterature_asiatiques">































































  <% @_mangas_litterature_asiatiques.each do |_mangas_litterature_asiatique| %>































































    <%= render _mangas_litterature_asiatique %>































































    <p>































































      <%= link_to "Show this mangas litterature asiatique", mangas_litterature_asiatique %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New mangas litterature asiatique", new_mangas_litterature_asiatique_path %>
