<h1>New mangas litterature asiatique</h1>































































































































<%= render "form", _mangas_litterature_asiatique: @_mangas_litterature_asiatique %>































































































































<br>































































































































<div>































































  <%= link_to "Back to mangas litterature asiatiques", mangas_litterature_asiatiques_path %>































































</div>
