<p style="color: green"><%= notice %></p>

<h1>Light novels editeurs vfs</h1>

<div id="_light_novels_editeurs_vfs">
  <% @_light_novels_editeurs_vfs.each do |_light_novels_editeurs_vf| %>
    <%= render _light_novels_editeurs_vf %>
    <p>
      <%= link_to "Show this light novels editeurs vf", _light_novels_editeurs_vf %>
    </p>
  <% end %>
</div>

<%= link_to "New light novels editeurs vf", new__light_novels_editeurs_vf_path %>
