<h1>New livres staff person</h1>































































































































<%= render "form", _livres_staff_person: @_livres_staff_person %>































































































































<br>































































































































<div>































































  <%= link_to "Back to livres staff people", livres_staff_people_path %>































































</div>
