<p style="color: green"><%= notice %></p>































































































































<h1>Dramas staff roles</h1>































































































































<div id="_dramas_staff_roles">































































  <% @_dramas_staff_roles.each do |_dramas_staff_role| %>































































    <%= render _dramas_staff_role %>































































    <p>































































      <%= link_to "Show this dramas staff role", dramas_staff_role %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New dramas staff role", new_dramas_staff_role_path %>
