<h1>Editing personnalites id membre</h1>































































































































<%= render "form", _personnalites_id_membre: @_personnalites_id_membre %>































































































































<br>































































































































<div>































































  <%= link_to "Show this personnalites id membre", @_personnalites_id_membre %> |































































  <%= link_to "Back to personnalites id membres", personnalites_id_membres_path %>































































</div>
