
<h1>voir tous les Personnalites Id Membres</h1>
<%@_personnalites_id_membres.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Personnalites Id Membres", new_personnalites_id_membre_path%>
</p>
