<h1>New personnalites id membre</h1>































































































































<%= render "form", _personnalites_id_membre: @_personnalites_id_membre %>































































































































<br>































































































































<div>































































  <%= link_to "Back to personnalites id membres", personnalites_id_membres_path %>































































</div>
