<div id="<%= dom_id personnage_danimes_perso %>">































































  <p>































































    <strong>Name:</strong>































































    <%= personnage_danimes_perso.name %>































































  </p>































































































































</div>
