<h1>Editing personnage danimes perso</h1>

<%= render "form", _personnage_danimes_perso: @_personnage_danimes_perso %>

<br>

<div>
  <%= link_to "Show this personnage danimes perso", @_personnage_danimes_perso %> |
  <%= link_to "Back to personnage danimes persos", _personnage_danimes_persos_path %>
</div>
