<h1>New personnage danimes perso</h1>

<%= render "form", _personnage_danimes_perso: @_personnage_danimes_perso %>

<br>

<div>
  <%= link_to "Back to personnage danimes persos", _personnage_danimes_persos_path %>
</div>
