<div id="<%= dom_id personnalites_statut %>">































































  <p>































































    <strong>Name:</strong>































































    <%= personnalites_statut.name %>































































  </p>































































































































</div>
