<h1>Editing personnalites statut</h1>































































































































<%= render "form", _personnalites_statut: @_personnalites_statut %>































































































































<br>































































































































<div>































































  <%= link_to "Show this personnalites statut", @_personnalites_statut %> |































































  <%= link_to "Back to personnalites statuts", personnalites_statuts_path %>































































</div>
