<div id="<%= dom_id doujins_jv %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujins_jv.name %>































































  </p>































































































































</div>
