<h1>Editing doujins jv</h1>































































































































<%= render "form", _doujins_jv: @_doujins_jv %>































































































































<br>































































































































<div>































































  <%= link_to "Show this doujins jv", @_doujins_jv %> |































































  <%= link_to "Back to doujins jvs", doujins_jvs_path %>































































</div>
