<p style="color: green"><%= notice %></p>































































































































<h1>Doujins jvs</h1>































































































































<div id="_doujins_jvs">































































  <% @_doujins_jvs.each do |_doujins_jv| %>































































    <%= render _doujins_jv %>































































    <p>































































      <%= link_to "Show this doujins jv", doujins_jv %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New doujins jv", new_doujins_jv_path %>
