<p style="color: green"><%= notice %></p>















<h1>Blu rays actualites</h1>















<div id="_dvd___blu_rays_actualites">







  <% @_dvd___blu_rays_actualites.each do |_dvd___blu_rays_actualite| %>







    <%= render _dvd___blu_rays_actualite %>







    <p>







      <%= link_to "Show this blu rays actualite", dvd___blu_rays_actualite %>







    </p>







  <% end %>







</div>















<%= link_to "New blu rays actualite", new_dvd___blu_rays_actualite_path %>
