<h1>New blu rays actualite</h1>















<%= render "form", _dvd___blu_rays_actualite: @_dvd___blu_rays_actualite %>















<br>















<div>







  <%= link_to "Back to blu rays actualites", dvd___blu_rays_actualites_path %>







</div>
