<h1>Editing generique de jeu videos staff role</h1>

<%= render "form", _generique_de_jeu_videos_staff_role: @_generique_de_jeu_videos_staff_role %>

<br>

<div>
  <%= link_to "Show this generique de jeu videos staff role", @_generique_de_jeu_videos_staff_role %> |
  <%= link_to "Back to generique de jeu videos staff roles", _generique_de_jeu_videos_staff_roles_path %>
</div>
