<p style="color: green"><%= notice %></p>

<h1>Mangas themes</h1>

<div id="_mangas_themes">
  <% @_mangas_themes.each do |_mangas_theme| %>
    <%= render _mangas_theme %>
    <p>
      <%= link_to "Show this mangas theme", _mangas_theme %>
    </p>
  <% end %>
</div>

<%= link_to "New mangas theme", new__mangas_theme_path %>
