<div id="<%= dom_id amvs_anime %>">































































  <p>































































    <strong>Name:</strong>































































    <%= amvs_anime.name %>































































  </p>































































































































</div>
