<p style="color: green"><%= notice %></p>

<h1>Amvs animes</h1>

<div id="amvs_animes">
  <% @amvs_animes.each do |amvs_anime| %>
    <%= render amvs_anime %>
    <p>
      <%= link_to "Show this amvs anime", amvs_anime %>
    </p>
  <% end %>
</div>

<%= link_to "New amvs anime", new_amvs_anime_path %>
