<h1>New amvs anime</h1>































































































































<%= render "form", amvs_anime: @amvs_anime %>































































































































<br>































































































































<div>































































  <%= link_to "Back to amvs animes", amvs_animes_path %>































































</div>
