<h1>Editing cds distributeur</h1>

<%= render "form", _cds_distributeur: @_cds_distributeur %>

<br>

<div>
  <%= link_to "Show this cds distributeur", @_cds_distributeur %> |
  <%= link_to "Back to cds distributeurs", _cds_distributeurs_path %>
</div>
