<div id="<%= dom_id dramas_litterature_asiatique %>">































































  <p>































































    <strong>Name:</strong>































































    <%= dramas_litterature_asiatique.name %>































































  </p>































































































































</div>
