
<h1>voir tous les Dramas Litterature Asiatiques</h1>
<%@_dramas_litterature_asiatiques.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Dramas Litterature Asiatiques", new_dramas_litterature_asiatique_path%>
</p>
