<h1>New dramas litterature asiatique</h1>































































































































<%= render "form", _dramas_litterature_asiatique: @_dramas_litterature_asiatique %>































































































































<br>































































































































<div>































































  <%= link_to "Back to dramas litterature asiatiques", dramas_litterature_asiatiques_path %>































































</div>
