<div id="<%= dom_id generiques_generic %>">































































  <p>































































    <strong>Name:</strong>































































    <%= generiques_generic.name %>































































  </p>































































































































</div>
