<h1>Editing generiques generic</h1>































































































































<%= render "form", _generiques_generic: @_generiques_generic %>































































































































<br>































































































































<div>































































  <%= link_to "Show this generiques generic", @_generiques_generic %> |































































  <%= link_to "Back to generiques generics", generiques_generics_path %>































































</div>
