<h1>New generiques generic</h1>































































































































<%= render "form", _generiques_generic: @_generiques_generic %>































































































































<br>































































































































<div>































































  <%= link_to "Back to generiques generics", generiques_generics_path %>































































</div>
