<div id="<%= dom_id dramas_societe_role %>">































































  <p>































































    <strong>Name:</strong>































































    <%= dramas_societe_role.name %>































































  </p>































































































































</div>
