<p style="color: green"><%= notice %></p>

<h1>Dramas societe roles</h1>

<div id="_dramas_societe_roles">
  <% @_dramas_societe_roles.each do |_dramas_societe_role| %>
    <%= render _dramas_societe_role %>
    <p>
      <%= link_to "Show this dramas societe role", _dramas_societe_role %>
    </p>
  <% end %>
</div>

<%= link_to "New dramas societe role", new__dramas_societe_role_path %>
