<h1>New dramas societe role</h1>































































































































<%= render "form", _dramas_societe_role: @_dramas_societe_role %>































































































































<br>































































































































<div>































































  <%= link_to "Back to dramas societe roles", dramas_societe_roles_path %>































































</div>
