<div id="<%= dom_id mangas_encours_vo %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_encours_vo.name %>































































  </p>































































































































</div>
