<h1>Editing mangas encours vo</h1>































































































































<%= render "form", _mangas_encours_vo: @_mangas_encours_vo %>































































































































<br>































































































































<div>































































  <%= link_to "Show this mangas encours vo", @_mangas_encours_vo %> |































































  <%= link_to "Back to mangas encours vos", mangas_encours_vos_path %>































































</div>
