<p style="color: green"><%= notice %></p>































































































































<h1>Mangas encours vos</h1>































































































































<div id="_mangas_encours_vos">































































  <% @_mangas_encours_vos.each do |_mangas_encours_vo| %>































































    <%= render _mangas_encours_vo %>































































    <p>































































      <%= link_to "Show this mangas encours vo", mangas_encours_vo %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New mangas encours vo", new_mangas_encours_vo_path %>
