<div id="<%= dom_id artbooks_artbook %>">































































  <p>































































    <strong>Name:</strong>































































    <%= artbooks_artbook.name %>































































  </p>































































































































</div>
