<h1>Editing artbooks artbook</h1>































































































































<%= render "form", artbooks_artbook: @artbooks_artbook %>































































































































<br>































































































































<div>































































  <%= link_to "Show this artbooks artbook", @artbooks_artbook %> |































































  <%= link_to "Back to artbooks artbooks", artbooks_artbooks_path %>































































</div>
