<p style="color: green"><%= notice %></p>































































































































<h1>Artbooks artbooks</h1>































































































































<div id="artbooks_artbooks">































































  <% @artbooks_artbooks.each do |artbooks_artbook| %>































































    <%= render artbooks_artbook %>































































    <p>































































      <%= link_to "Show this artbooks artbook", artbooks_artbook %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New artbooks artbook", new_artbooks_artbook_path %>
