<div id="<%= dom_id dramas_ln %>">































































  <p>































































    <strong>Name:</strong>































































    <%= dramas_ln.name %>































































  </p>































































































































</div>
