<p style="color: green"><%= notice %></p>































































































































<h1>Dramas lns</h1>































































































































<div id="_dramas_lns">































































  <% @_dramas_lns.each do |_dramas_ln| %>































































    <%= render _dramas_ln %>































































    <p>































































      <%= link_to "Show this dramas ln", dramas_ln %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New dramas ln", new_dramas_ln_path %>
