<h1>New dramas ln</h1>































































































































<%= render "form", _dramas_ln: @_dramas_ln %>































































































































<br>































































































































<div>































































  <%= link_to "Back to dramas lns", dramas_lns_path %>































































</div>
