<div id="<%= dom_id personnalites_type_person %>">































































  <p>































































    <strong>Name:</strong>































































    <%= personnalites_type_person.name %>































































  </p>































































































































</div>
