<h1>Editing personnalites type person</h1>

<%= render "form", _personnalites_type_person: @_personnalites_type_person %>

<br>

<div>
  <%= link_to "Show this personnalites type person", @_personnalites_type_person %> |
  <%= link_to "Back to personnalites type people", _personnalites_type_people_path %>
</div>
