
<h1>voir tous les Personnalites Type People</h1>
<%@_personnalites_type_people.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Personnalites Type People", new_personnalites_type_peopl_path%>
</p>
