<div id="<%= dom_id goodies_dvd %>">































































  <p>































































    <strong>Name:</strong>































































    <%= goodies_dvd.name %>































































  </p>































































































































</div>
