<h1>Editing goodies dvd</h1>































































































































<%= render "form", _goodies_dvd: @_goodies_dvd %>































































































































<br>































































































































<div>































































  <%= link_to "Show this goodies dvd", @_goodies_dvd %> |































































  <%= link_to "Back to goodies dvds", goodies_dvds_path %>































































</div>
