<div id="<%= dom_id mangas_actualite_mini %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_actualite_mini.name %>































































  </p>































































































































</div>
