<p style="color: green"><%= notice %></p>

<h1>Mangas actualite minis</h1>

<div id="_mangas_actualite_minis">
  <% @_mangas_actualite_minis.each do |_mangas_actualite_mini| %>
    <%= render _mangas_actualite_mini %>
    <p>
      <%= link_to "Show this mangas actualite mini", _mangas_actualite_mini %>
    </p>
  <% end %>
</div>

<%= link_to "New mangas actualite mini", new__mangas_actualite_mini_path %>
