<div id="<%= dom_id fiche_univers_culture %>">































































  <p>































































    <strong>Name:</strong>































































    <%= fiche_univers_culture.name %>































































  </p>































































































































</div>
