<h1>Editing fiche univers culture</h1>

<%= render "form", _fiche_univers_culture: @_fiche_univers_culture %>

<br>

<div>
  <%= link_to "Show this fiche univers culture", @_fiche_univers_culture %> |
  <%= link_to "Back to fiche univers cultures", _fiche_univers_cultures_path %>
</div>
