<h1>New parole</h1>































































































































<%= render "form", _parole: @_parole %>































































































































<br>































































































































<div>































































  <%= link_to "Back to paroles", paroles_path %>































































</div>
