<h1>New light novels encours vo</h1>

<%= render "form", _light_novels_encours_vo: @_light_novels_encours_vo %>

<br>

<div>
  <%= link_to "Back to light novels encours vos", _light_novels_encours_vos_path %>
</div>
