<div id="<%= dom_id breves_clip %>">































































  <p>































































    <strong>Name:</strong>































































    <%= breves_clip.name %>































































  </p>































































































































</div>
