<p style="color: green"><%= notice %></p>

<h1>Jeux videos staff societes</h1>

<div id="_jeux_videos_staff_societes">
  <% @_jeux_videos_staff_societes.each do |_jeux_videos_staff_societe| %>
    <%= render _jeux_videos_staff_societe %>
    <p>
      <%= link_to "Show this jeux videos staff societe", _jeux_videos_staff_societe %>
    </p>
  <% end %>
</div>

<%= link_to "New jeux videos staff societe", new__jeux_videos_staff_societe_path %>
