<div id="<%= dom_id doujinshis_actualite_mini %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujinshis_actualite_mini.name %>































































  </p>































































































































</div>
