<h1>New doujinshis actualite mini</h1>































































































































<%= render "form", _doujinshis_actualite_mini: @_doujinshis_actualite_mini %>































































































































<br>































































































































<div>































































  <%= link_to "Back to doujinshis actualite minis", doujinshis_actualite_minis_path %>































































</div>
