<h1>Editing goodies editeurs vo</h1>

<%= render "form", _goodies_editeurs_vo: @_goodies_editeurs_vo %>

<br>

<div>
  <%= link_to "Show this goodies editeurs vo", @_goodies_editeurs_vo %> |
  <%= link_to "Back to goodies editeurs vos", _goodies_editeurs_vos_path %>
</div>
