<h1>New personnalites agence</h1>

<%= render "form", _personnalites_agence: @_personnalites_agence %>

<br>

<div>
  <%= link_to "Back to personnalites agences", _personnalites_agences_path %>
</div>
