<div id="<%= dom_id goodies_goody %>">































































  <p>































































    <strong>Name:</strong>































































    <%= goodies_goody.name %>































































  </p>































































































































</div>
