<h1>Editing goodies goody</h1>































































































































<%= render "form", _goodies_goody: @_goodies_goody %>































































































































<br>































































































































<div>































































  <%= link_to "Show this goodies goody", @_goodies_goody %> |































































  <%= link_to "Back to goodies goodies", goodies_goodies_path %>































































</div>
