<h1>New goodies goody</h1>































































































































<%= render "form", _goodies_goody: @_goodies_goody %>































































































































<br>































































































































<div>































































  <%= link_to "Back to goodies goodies", goodies_goodies_path %>































































</div>
