<h1>New amv</h1>































































































































<%= render "form", amv: @amv %>































































































































<br>































































































































<div>































































  <%= link_to "Back to amvs", amvs_path %>































































</div>
