<div id="<%= dom_id films_asiatiques_cinema %>">































































  <p>































































    <strong>Name:</strong>































































    <%= films_asiatiques_cinema.name %>































































  </p>































































































































</div>
