<h1>Editing films asiatiques cinema</h1>































































































































<%= render "form", _films_asiatiques_cinema: @_films_asiatiques_cinema %>































































































































<br>































































































































<div>































































  <%= link_to "Show this films asiatiques cinema", @_films_asiatiques_cinema %> |































































  <%= link_to "Back to films asiatiques cinemas", films_asiatiques_cinemas_path %>































































</div>
