
<h1>voir tous les Films Asiatiques Cinemas</h1>
<%@_films_asiatiques_cinemas.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Films Asiatiques Cinemas", new_films_asiatiques_cinema_path%>
</p>
