<p style="color: green"><%= notice %></p>

<h1>Films asiatiques cinemas</h1>

<div id="_films_asiatiques_cinemas">
  <% @_films_asiatiques_cinemas.each do |_films_asiatiques_cinema| %>
    <%= render _films_asiatiques_cinema %>
    <p>
      <%= link_to "Show this films asiatiques cinema", _films_asiatiques_cinema %>
    </p>
  <% end %>
</div>

<%= link_to "New films asiatiques cinema", new__films_asiatiques_cinema_path %>
