<h1>New films asiatiques cinema</h1>

<%= render "form", _films_asiatiques_cinema: @_films_asiatiques_cinema %>

<br>

<div>
  <%= link_to "Back to films asiatiques cinemas", _films_asiatiques_cinemas_path %>
</div>
