<h1>Editing light novels staff role</h1>































































































































<%= render "form", _light_novels_staff_role: @_light_novels_staff_role %>































































































































<br>































































































































<div>































































  <%= link_to "Show this light novels staff role", @_light_novels_staff_role %> |































































  <%= link_to "Back to light novels staff roles", light_novels_staff_roles_path %>































































</div>
