
<h1>voir tous les Light Novels Staff Roles</h1>
<%@_light_novels_staff_roles.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Light Novels Staff Roles", new_light_novels_staff_role_path%>
</p>
