<h1>New breves manga editeur</h1>

<%= render "form", _breves_manga_editeur: @_breves_manga_editeur %>

<br>

<div>
  <%= link_to "Back to breves manga editeurs", _breves_manga_editeurs_path %>
</div>
