<p style="color: green"><%= notice %></p>

<h1>Dramas types</h1>

<div id="_dramas_types">
  <% @_dramas_types.each do |_dramas_type| %>
    <%= render _dramas_type %>
    <p>
      <%= link_to "Show this dramas type", _dramas_type %>
    </p>
  <% end %>
</div>

<%= link_to "New dramas type", new__dramas_type_path %>
