<h1>New generique</h1>































































































































<%= render "form", _generique: @_generique %>































































































































<br>































































































































<div>































































  <%= link_to "Back to generiques", generiques_path %>































































</div>
