<div id="<%= dom_id artbooks_groupe %>">































































  <p>































































    <strong>Name:</strong>































































    <%= artbooks_groupe.name %>































































  </p>































































































































</div>
