<h1>Editing artbooks groupe</h1>































































































































<%= render "form", artbooks_groupe: @artbooks_groupe %>































































































































<br>































































































































<div>































































  <%= link_to "Show this artbooks groupe", @artbooks_groupe %> |































































  <%= link_to "Back to artbooks groupes", artbooks_groupes_path %>































































</div>
