<h1>New artbooks groupe</h1>































































































































<%= render "form", artbooks_groupe: @artbooks_groupe %>































































































































<br>































































































































<div>































































  <%= link_to "Back to artbooks groupes", artbooks_groupes_path %>































































</div>
