<div id="<%= dom_id mangas_encours_vf %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_encours_vf.name %>































































  </p>































































































































</div>
