<div id="<%= dom_id doujinshis_doujinshi_plu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujinshis_doujinshi_plu.name %>































































  </p>































































































































</div>
