
<h1>voir tous les Doujinshis Doujinshi Plus</h1>
<%@_doujinshis_doujinshi_plus.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Doujinshis Doujinshi Plus", new_doujinshis_doujinshi_plu_path%>
</p>
