<p style="color: green"><%= notice %></p>































































































































<h1>Doujinshis doujinshi plus</h1>































































































































<div id="_doujinshis_doujinshi_plus">































































  <% @_doujinshis_doujinshi_plus.each do |_doujinshis_doujinshi_plu| %>































































    <%= render _doujinshis_doujinshi_plu %>































































    <p>































































      <%= link_to "Show this doujinshis doujinshi plu", doujinshis_doujinshi_plu %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New doujinshis doujinshi plu", new_doujinshis_doujinshi_plu_path %>
