<div id="<%= dom_id mangas_jv_plu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_jv_plu.name %>































































  </p>































































































































</div>
