<h1>Editing mangas jv plu</h1>































































































































<%= render "form", _mangas_jv_plu: @_mangas_jv_plu %>































































































































<br>































































































































<div>































































  <%= link_to "Show this mangas jv plu", @_mangas_jv_plu %> |































































  <%= link_to "Back to mangas jv plus", mangas_jv_plus_path %>































































</div>
