<div id="<%= dom_id films_asiatiques_generiques_person %>">































































  <p>































































    <strong>Name:</strong>































































    <%= films_asiatiques_generiques_person.name %>































































  </p>































































































































</div>
