
<h1>voir tous les Films Asiatiques Generiques People</h1>
<%@_films_asiatiques_generiques_people.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Films Asiatiques Generiques People", new_films_asiatiques_generiques_peopl_path%>
</p>
