<div id="<%= dom_id light_novels_pay %>">































































  <p>































































    <strong>Name:</strong>































































    <%= light_novels_pay.name %>































































  </p>































































































































</div>
