<h1>Editing light novels pay</h1>































































































































<%= render "form", _light_novels_pay: @_light_novels_pay %>































































































































<br>































































































































<div>































































  <%= link_to "Show this light novels pay", @_light_novels_pay %> |































































  <%= link_to "Back to light novels pays", light_novels_pays_path %>































































</div>
