<p style="color: green"><%= notice %></p>

<h1>Light novels pays</h1>

<div id="_light_novels_pays">
  <% @_light_novels_pays.each do |_light_novels_pay| %>
    <%= render _light_novels_pay %>
    <p>
      <%= link_to "Show this light novels pay", _light_novels_pay %>
    </p>
  <% end %>
</div>

<%= link_to "New light novels pay", new__light_novels_pay_path %>
