<div id="<%= dom_id mangas_theme %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_theme.name %>































































  </p>































































































































</div>
