<h1>New mangas theme</h1>































































































































<%= render "form", _mangas_theme: @_mangas_theme %>































































































































<br>































































































































<div>































































  <%= link_to "Back to mangas themes", mangas_themes_path %>































































</div>
