<h1>Editing jeux videos ost</h1>

<%= render "form", _jeux_videos_ost: @_jeux_videos_ost %>

<br>

<div>
  <%= link_to "Show this jeux videos ost", @_jeux_videos_ost %> |
  <%= link_to "Back to jeux videos osts", _jeux_videos_osts_path %>
</div>
