<div id="<%= dom_id films_asiatiques_jv_plu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= films_asiatiques_jv_plu.name %>































































  </p>































































































































</div>
