
<h1>voir tous les Films Asiatiques Jv Plus</h1>
<%@_films_asiatiques_jv_plus.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Films Asiatiques Jv Plus", new_films_asiatiques_jv_plu_path%>
</p>
