<div id="<%= dom_id jeux_videos_pay %>">































































  <p>































































    <strong>Name:</strong>































































    <%= jeux_videos_pay.name %>































































  </p>































































































































</div>
