<h1>Editing jeux videos pay</h1>































































































































<%= render "form", _jeux_videos_pay: @_jeux_videos_pay %>































































































































<br>































































































































<div>































































  <%= link_to "Show this jeux videos pay", @_jeux_videos_pay %> |































































  <%= link_to "Back to jeux videos pays", jeux_videos_pays_path %>































































</div>
