<h1>New petites annonce</h1>































































































































<%= render "form", _petites_annonce: @_petites_annonce %>































































































































<br>































































































































<div>































































  <%= link_to "Back to petites annonces", petites_annonces_path %>































































</div>
