<div id="<%= dom_id goodies_clip %>">































































  <p>































































    <strong>Name:</strong>































































    <%= goodies_clip.name %>































































  </p>































































































































</div>
