<h1>Editing goodies clip</h1>

<%= render "form", _goodies_clip: @_goodies_clip %>

<br>

<div>
  <%= link_to "Show this goodies clip", @_goodies_clip %> |
  <%= link_to "Back to goodies clips", _goodies_clips_path %>
</div>
