<p style="color: green"><%= notice %></p>

<h1>Goodies clips</h1>

<div id="_goodies_clips">
  <% @_goodies_clips.each do |_goodies_clip| %>
    <%= render _goodies_clip %>
    <p>
      <%= link_to "Show this goodies clip", _goodies_clip %>
    </p>
  <% end %>
</div>

<%= link_to "New goodies clip", new__goodies_clip_path %>
