<div id="<%= dom_id films_asiatiques_en_salles_acteur %>">































































  <p>































































    <strong>Name:</strong>































































    <%= films_asiatiques_en_salles_acteur.name %>































































  </p>































































































































</div>
