<h1>New films asiatiques en salles acteur</h1>































































































































<%= render "form", _films_asiatiques_en_salles_acteur: @_films_asiatiques_en_salles_acteur %>































































































































<br>































































































































<div>































































  <%= link_to "Back to films asiatiques en salles acteurs", films_asiatiques_en_salles_acteurs_path %>































































</div>
