<h1>Editing fiche univers person</h1>

<%= render "form", _fiche_univers_person: @_fiche_univers_person %>

<br>

<div>
  <%= link_to "Show this fiche univers person", @_fiche_univers_person %> |
  <%= link_to "Back to fiche univers people", _fiche_univers_people_path %>
</div>
