<h1>Editing osts person</h1>

<%= render "form", osts_person: @osts_person %>

<br>

<div>
  <%= link_to "Show this osts person", @osts_person %> |
  <%= link_to "Back to osts people", osts_people_path %>
</div>
