<p style="color: green"><%= notice %></p>

<h1>Osts people</h1>

<div id="osts_people">
  <% @osts_people.each do |osts_person| %>
    <%= render osts_person %>
    <p>
      <%= link_to "Show this osts person", osts_person %>
    </p>
  <% end %>
</div>

<%= link_to "New osts person", new_osts_person_path %>
