<h1>Editing breves livre jeunesse</h1>

<%= render "form", _breves_livre_jeuness: @_breves_livre_jeuness %>

<br>

<div>
  <%= link_to "Show this breves livre jeunesse", @_breves_livre_jeuness %> |
  <%= link_to "Back to breves livre jeunesses", _breves_livre_jeunesses_path %>
</div>
