<div id="<%= dom_id doujinshis_perso %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujinshis_perso.name %>































































  </p>































































































































</div>
