<p style="color: green"><%= notice %></p>

<h1>Doujinshis persos</h1>

<div id="_doujinshis_persos">
  <% @_doujinshis_persos.each do |_doujinshis_perso| %>
    <%= render _doujinshis_perso %>
    <p>
      <%= link_to "Show this doujinshis perso", _doujinshis_perso %>
    </p>
  <% end %>
</div>

<%= link_to "New doujinshis perso", new__doujinshis_perso_path %>
