<h1>New doujinshis perso</h1>































































































































<%= render "form", _doujinshis_perso: @_doujinshis_perso %>































































































































<br>































































































































<div>































































  <%= link_to "Back to doujinshis persos", doujinshis_persos_path %>































































</div>
