
<h1>voir tous les Light Novels Litterature Asiatique Plus</h1>
<%@_light_novels_litterature_asiatique_plus.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Light Novels Litterature Asiatique Plus", new_light_novels_litterature_asiatique_plu_path%>
</p>
