<div id="<%= dom_id artbooks_public_averti %>">































































  <p>































































    <strong>Name:</strong>































































    <%= artbooks_public_averti.name %>































































  </p>































































































































</div>
