
<h1>voir tous les Artbooks Public Avertis</h1>
<%@_artbooks_public_avertis.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Artbooks Public Avertis", new_artbooks_public_averti_path%>
</p>
