<h1>New artbooks public averti</h1>































































































































<%= render "form", artbooks_public_averti: @artbooks_public_averti %>































































































































<br>































































































































<div>































































  <%= link_to "Back to artbooks public avertis", artbooks_public_avertis_path %>































































</div>
