<div id="<%= dom_id jeux_videos_person %>">































































  <p>































































    <strong>Name:</strong>































































    <%= jeux_videos_person.name %>































































  </p>































































































































</div>
