<h1>Editing jeux videos person</h1>































































































































<%= render "form", _jeux_videos_person: @_jeux_videos_person %>































































































































<br>































































































































<div>































































  <%= link_to "Show this jeux videos person", @_jeux_videos_person %> |































































  <%= link_to "Back to jeux videos people", jeux_videos_people_path %>































































</div>
