<p style="color: green"><%= notice %></p>

<h1>Jeux videos people</h1>

<div id="_jeux_videos_people">
  <% @_jeux_videos_people.each do |_jeux_videos_person| %>
    <%= render _jeux_videos_person %>
    <p>
      <%= link_to "Show this jeux videos person", _jeux_videos_person %>
    </p>
  <% end %>
</div>

<%= link_to "New jeux videos person", new__jeux_videos_person_path %>
