<h1>Editing livres am</h1>































































































































<%= render "form", _livres_am: @_livres_am %>































































































































<br>































































































































<div>































































  <%= link_to "Show this livres am", @_livres_am %> |































































  <%= link_to "Back to livres ams", livres_ams_path %>































































</div>
