<p style="color: green"><%= notice %></p>

<h1>Dramas ams</h1>

<div id="_dramas_ams">
  <% @_dramas_ams.each do |_dramas_am| %>
    <%= render _dramas_am %>
    <p>
      <%= link_to "Show this dramas am", _dramas_am %>
    </p>
  <% end %>
</div>

<%= link_to "New dramas am", new__dramas_am_path %>
