<div id="<%= dom_id restaurants_pay %>">































































  <p>































































    <strong>Name:</strong>































































    <%= restaurants_pay.name %>































































  </p>































































































































</div>
