<h1>Editing restaurants pay</h1>































































































































<%= render "form", _restaurants_pay: @_restaurants_pay %>































































































































<br>































































































































<div>































































  <%= link_to "Show this restaurants pay", @_restaurants_pay %> |































































  <%= link_to "Back to restaurants pays", restaurants_pays_path %>































































</div>
