<div id="<%= dom_id light_novels_jv_plu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= light_novels_jv_plu.name %>































































  </p>































































































































</div>
