<p style="color: green"><%= notice %></p>































































































































<h1>Light novels jv plus</h1>































































































































<div id="_light_novels_jv_plus">































































  <% @_light_novels_jv_plus.each do |_light_novels_jv_plu| %>































































    <%= render _light_novels_jv_plu %>































































    <p>































































      <%= link_to "Show this light novels jv plu", light_novels_jv_plu %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New light novels jv plu", new_light_novels_jv_plu_path %>
