<h1>Editing generique de jeu videos staff person</h1>

<%= render "form", _generique_de_jeu_videos_staff_person: @_generique_de_jeu_videos_staff_person %>

<br>

<div>
  <%= link_to "Show this generique de jeu videos staff person", @_generique_de_jeu_videos_staff_person %> |
  <%= link_to "Back to generique de jeu videos staff people", _generique_de_jeu_videos_staff_people_path %>
</div>
