<div id="<%= dom_id doujins_role %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujins_role.name %>































































  </p>































































































































</div>
