<p style="color: green"><%= notice %></p>

<h1>Light novels cultures</h1>

<div id="_light_novels_cultures">
  <% @_light_novels_cultures.each do |_light_novels_culture| %>
    <%= render _light_novels_culture %>
    <p>
      <%= link_to "Show this light novels culture", _light_novels_culture %>
    </p>
  <% end %>
</div>

<%= link_to "New light novels culture", new__light_novels_culture_path %>
