<h1>Editing jeux videos cd</h1>

<%= render "form", _jeux_videos_cd: @_jeux_videos_cd %>

<br>

<div>
  <%= link_to "Show this jeux videos cd", @_jeux_videos_cd %> |
  <%= link_to "Back to jeux videos cds", _jeux_videos_cds_path %>
</div>
