<p style="color: green"><%= notice %></p>

<h1>Dramas doujins</h1>

<div id="_dramas_doujins">
  <% @_dramas_doujins.each do |_dramas_doujin| %>
    <%= render _dramas_doujin %>
    <p>
      <%= link_to "Show this dramas doujin", _dramas_doujin %>
    </p>
  <% end %>
</div>

<%= link_to "New dramas doujin", new__dramas_doujin_path %>
