
<h1>voir tous les Artbooks Actualite Minis</h1>
<%@_artbooks_actualite_minis.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Artbooks Actualite Minis", new_artbooks_actualite_mini_path%>
</p>
