<p style="color: green"><%= notice %></p>

<h1>Artbooks actualite minis</h1>

<div id="artbooks_actualite_minis">
  <% @artbooks_actualite_minis.each do |artbooks_actualite_mini| %>
    <%= render artbooks_actualite_mini %>
    <p>
      <%= link_to "Show this artbooks actualite mini", artbooks_actualite_mini %>
    </p>
  <% end %>
</div>

<%= link_to "New artbooks actualite mini", new_artbooks_actualite_mini_path %>
