<h1>New artbooks actualite mini</h1>































































































































<%= render "form", artbooks_actualite_mini: @artbooks_actualite_mini %>































































































































<br>































































































































<div>































































  <%= link_to "Back to artbooks actualite minis", artbooks_actualite_minis_path %>































































</div>
