<h1>Editing animes manga</h1>

<%= render "form", animes_manga: @animes_manga %>

<br>

<div>
  <%= link_to "Show this animes manga", @animes_manga %> |
  <%= link_to "Back to animes mangas", animes_mangas_path %>
</div>
