<p style="color: green"><%= notice %></p>

<h1>Animes mangas</h1>

<div id="animes_mangas">
  <% @animes_mangas.each do |animes_manga| %>
    <%= render animes_manga %>
    <p>
      <%= link_to "Show this animes manga", animes_manga %>
    </p>
  <% end %>
</div>

<%= link_to "New animes manga", new_animes_manga_path %>
