<h1>Editing artbooks editeurs vo</h1>

<%= render "form", artbooks_editeurs_vo: @artbooks_editeurs_vo %>

<br>

<div>
  <%= link_to "Show this artbooks editeurs vo", @artbooks_editeurs_vo %> |
  <%= link_to "Back to artbooks editeurs vos", artbooks_editeurs_vos_path %>
</div>
