<p style="color: green"><%= notice %></p>

<h1>Films asiatiques osts</h1>

<div id="_films_asiatiques_osts">
  <% @_films_asiatiques_osts.each do |_films_asiatiques_ost| %>
    <%= render _films_asiatiques_ost %>
    <p>
      <%= link_to "Show this films asiatiques ost", _films_asiatiques_ost %>
    </p>
  <% end %>
</div>

<%= link_to "New films asiatiques ost", new__films_asiatiques_ost_path %>
