<h1>New films asiatiques ost</h1>

<%= render "form", _films_asiatiques_ost: @_films_asiatiques_ost %>

<br>

<div>
  <%= link_to "Back to films asiatiques osts", _films_asiatiques_osts_path %>
</div>
