<div id="<%= dom_id jeux_videos_staff_societe %>">































































  <p>































































    <strong>Name:</strong>































































    <%= jeux_videos_staff_societe.name %>































































  </p>































































































































</div>
