
<h1>voir tous les Jeux Videos Staff Societes</h1>
<%@_jeux_videos_staff_societes.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Jeux Videos Staff Societes", new_jeux_videos_staff_societe_path%>
</p>
