<div id="<%= dom_id mangas_editeurs_vf_collection %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_editeurs_vf_collection.name %>































































  </p>































































































































</div>
