
<h1>voir tous les Mangas Editeurs Vf Collections</h1>
<%@_mangas_editeurs_vf_collections.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Mangas Editeurs Vf Collections", new_mangas_editeurs_vf_collection_path%>
</p>
