<div id="<%= dom_id light_novels_staff_person %>">































































  <p>































































    <strong>Name:</strong>































































    <%= light_novels_staff_person.name %>































































  </p>































































































































</div>
