<h1>Editing light novels staff person</h1>































































































































<%= render "form", _light_novels_staff_person: @_light_novels_staff_person %>































































































































<br>































































































































<div>































































  <%= link_to "Show this light novels staff person", @_light_novels_staff_person %> |































































  <%= link_to "Back to light novels staff people", light_novels_staff_people_path %>































































</div>
