
<h1>voir tous les Light Novels Staff People</h1>
<%@_light_novels_staff_people.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Light Novels Staff People", new_light_novels_staff_peopl_path%>
</p>
