<div id="<%= dom_id films_asiatiques_en_salles_am %>">































































  <p>































































    <strong>Name:</strong>































































    <%= films_asiatiques_en_salles_am.name %>































































  </p>































































































































</div>
