<h1>Editing animes doujin</h1>

<%= render "form", animes_doujin: @animes_doujin %>

<br>

<div>
  <%= link_to "Show this animes doujin", @animes_doujin %> |
  <%= link_to "Back to animes doujins", animes_doujins_path %>
</div>
