<p style="color: green"><%= notice %></p>































































































































<h1>Animes doujins</h1>































































































































<div id="animes_doujins">































































  <% @animes_doujins.each do |animes_doujin| %>































































    <%= render animes_doujin %>































































    <p>































































      <%= link_to "Show this animes doujin", animes_doujin %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New animes doujin", new_animes_doujin_path %>
