<p style="color: green"><%= notice %></p>

<h1>Blu rays</h1>

<div id="_dvd___blu_rays">
  <% @_dvd___blu_rays.each do |_dvd___blu_ray| %>
    <%= render _dvd___blu_ray %>
    <p>
      <%= link_to "Show this blu ray", _dvd___blu_ray %>
    </p>
  <% end %>
</div>

<%= link_to "New blu ray", new__dvd___blu_ray_path %>
