<h1>New livres actualite mini</h1>

<%= render "form", _livres_actualite_mini: @_livres_actualite_mini %>

<br>

<div>
  <%= link_to "Back to livres actualite minis", _livres_actualite_minis_path %>
</div>
