<div id="<%= dom_id doujinshis_actualite %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujinshis_actualite.name %>































































  </p>































































































































</div>
