<h1>Editing doujinshis actualite</h1>































































































































<%= render "form", _doujinshis_actualite: @_doujinshis_actualite %>































































































































<br>































































































































<div>































































  <%= link_to "Show this doujinshis actualite", @_doujinshis_actualite %> |































































  <%= link_to "Back to doujinshis actualites", doujinshis_actualites_path %>































































</div>
