<p style="color: green"><%= notice %></p>

<h1>Doujinshis actualites</h1>

<div id="_doujinshis_actualites">
  <% @_doujinshis_actualites.each do |_doujinshis_actualite| %>
    <%= render _doujinshis_actualite %>
    <p>
      <%= link_to "Show this doujinshis actualite", _doujinshis_actualite %>
    </p>
  <% end %>
</div>

<%= link_to "New doujinshis actualite", new__doujinshis_actualite_path %>
