<div id="<%= dom_id goodies_manga %>">































































  <p>































































    <strong>Name:</strong>































































    <%= goodies_manga.name %>































































  </p>































































































































</div>
