<p style="color: green"><%= notice %></p>

<h1>Goodies mangas</h1>

<div id="_goodies_mangas">
  <% @_goodies_mangas.each do |_goodies_manga| %>
    <%= render _goodies_manga %>
    <p>
      <%= link_to "Show this goodies manga", _goodies_manga %>
    </p>
  <% end %>
</div>

<%= link_to "New goodies manga", new__goodies_manga_path %>
