<p style="color: green"><%= notice %></p>

<h1>Doujinshis dramas</h1>

<div id="_doujinshis_dramas">
  <% @_doujinshis_dramas.each do |_doujinshis_drama| %>
    <%= render _doujinshis_drama %>
    <p>
      <%= link_to "Show this doujinshis drama", _doujinshis_drama %>
    </p>
  <% end %>
</div>

<%= link_to "New doujinshis drama", new__doujinshis_drama_path %>
