<div id="<%= dom_id goodies_public_averti %>">































































  <p>































































    <strong>Name:</strong>































































    <%= goodies_public_averti.name %>































































  </p>































































































































</div>
