<h1>Editing goodies public averti</h1>

<%= render "form", _goodies_public_averti: @_goodies_public_averti %>

<br>

<div>
  <%= link_to "Show this goodies public averti", @_goodies_public_averti %> |
  <%= link_to "Back to goodies public avertis", _goodies_public_avertis_path %>
</div>
