<h1>New goodies public averti</h1>































































































































<%= render "form", _goodies_public_averti: @_goodies_public_averti %>































































































































<br>































































































































<div>































































  <%= link_to "Back to goodies public avertis", goodies_public_avertis_path %>































































</div>
