<h1>Editing goodies societe person</h1>

<%= render "form", _goodies_societe_person: @_goodies_societe_person %>

<br>

<div>
  <%= link_to "Show this goodies societe person", @_goodies_societe_person %> |
  <%= link_to "Back to goodies societe people", _goodies_societe_people_path %>
</div>
