<h1>Editing films asiatiques generiques person</h1>

<%= render "form", _films_asiatiques_generiques_person: @_films_asiatiques_generiques_person %>

<br>

<div>
  <%= link_to "Show this films asiatiques generiques person", @_films_asiatiques_generiques_person %> |
  <%= link_to "Back to films asiatiques generiques people", _films_asiatiques_generiques_people_path %>
</div>
