<div id="<%= dom_id doujinshis_pay %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujinshis_pay.name %>































































  </p>































































































































</div>
