<p style="color: green"><%= notice %></p>































































































































<h1>Doujinshis pays</h1>































































































































<div id="_doujinshis_pays">































































  <% @_doujinshis_pays.each do |_doujinshis_pay| %>































































    <%= render _doujinshis_pay %>































































    <p>































































      <%= link_to "Show this doujinshis pay", doujinshis_pay %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New doujinshis pay", new_doujinshis_pay_path %>
