<h1>New doujinshis pay</h1>































































































































<%= render "form", _doujinshis_pay: @_doujinshis_pay %>































































































































<br>































































































































<div>































































  <%= link_to "Back to doujinshis pays", doujinshis_pays_path %>































































</div>
