<div id="<%= dom_id mangas_editeurs_vo %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_editeurs_vo.name %>































































  </p>































































































































</div>
