<h1>New mangas editeurs vo</h1>































































































































<%= render "form", _mangas_editeurs_vo: @_mangas_editeurs_vo %>































































































































<br>































































































































<div>































































  <%= link_to "Back to mangas editeurs vos", mangas_editeurs_vos_path %>































































</div>
