<h1>Editing films asiatiques editeurs vf</h1>

<%= render "form", _films_asiatiques_editeurs_vf: @_films_asiatiques_editeurs_vf %>

<br>

<div>
  <%= link_to "Show this films asiatiques editeurs vf", @_films_asiatiques_editeurs_vf %> |
  <%= link_to "Back to films asiatiques editeurs vfs", _films_asiatiques_editeurs_vfs_path %>
</div>
