
<h1>voir tous les Films Asiatiques Editeurs Vfs</h1>
<%@_films_asiatiques_editeurs_vfs.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Films Asiatiques Editeurs Vfs", new_films_asiatiques_editeurs_vf_path%>
</p>
