
<h1>voir tous les Generique De Jeu Videos</h1>
<%@_generique_de_jeu_videos.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Generique De Jeu Videos", new_generique_de_jeu_video_path%>
</p>
