<h1>New generique de jeu video</h1>































































































































<%= render "form", _generique_de_jeu_video: @_generique_de_jeu_video %>































































































































<br>































































































































<div>































































  <%= link_to "Back to generique de jeu videos", generique_de_jeu_videos_path %>































































</div>
