<h1>New films asiatiques en salles type</h1>

<%= render "form", _films_asiatiques_en_salles_type: @_films_asiatiques_en_salles_type %>

<br>

<div>
  <%= link_to "Back to films asiatiques en salles types", _films_asiatiques_en_salles_types_path %>
</div>
