<div id="<%= dom_id jeux_videos_doujin %>">































































  <p>































































    <strong>Name:</strong>































































    <%= jeux_videos_doujin.name %>































































  </p>































































































































</div>
