<h1>New personnalites labels fin</h1>

<%= render "form", _personnalites_labels_fin: @_personnalites_labels_fin %>

<br>

<div>
  <%= link_to "Back to personnalites labels fins", _personnalites_labels_fins_path %>
</div>
