<div id="<%= dom_id fiche_univers_doujinshi %>">































































  <p>































































    <strong>Name:</strong>































































    <%= fiche_univers_doujinshi.name %>































































  </p>































































































































</div>
