
<h1>voir tous les Fiche Univers Doujinshis</h1>
<%@_fiche_univers_doujinshis.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Fiche Univers Doujinshis", new_fiche_univers_doujinshi_path%>
</p>
