<h1>New fiche univers doujinshi</h1>































































































































<%= render "form", _fiche_univers_doujinshi: @_fiche_univers_doujinshi %>































































































































<br>































































































































<div>































































  <%= link_to "Back to fiche univers doujinshis", fiche_univers_doujinshis_path %>































































</div>
