<div id="<%= dom_id photobooks_am %>">































































  <p>































































    <strong>Name:</strong>































































    <%= photobooks_am.name %>































































  </p>































































































































</div>
