<h1>New photobooks am</h1>































































































































<%= render "form", _photobooks_am: @_photobooks_am %>































































































































<br>































































































































<div>































































  <%= link_to "Back to photobooks ams", photobooks_ams_path %>































































</div>
