<div id="<%= dom_id jeux_videos_actualite %>">































































  <p>































































    <strong>Name:</strong>































































    <%= jeux_videos_actualite.name %>































































  </p>































































































































</div>
