<h1>New jeux videos actualite</h1>































































































































<%= render "form", _jeux_videos_actualite: @_jeux_videos_actualite %>































































































































<br>































































































































<div>































































  <%= link_to "Back to jeux videos actualites", jeux_videos_actualites_path %>































































</div>
