<h1>New personnage de mangas perso manga</h1>

<%= render "form", _personnage_de_mangas_perso_manga: @_personnage_de_mangas_perso_manga %>

<br>

<div>
  <%= link_to "Back to personnage de mangas perso mangas", _personnage_de_mangas_perso_mangas_path %>
</div>
