<h1>Editing films asiatiques doujin</h1>































































































































<%= render "form", _films_asiatiques_doujin: @_films_asiatiques_doujin %>































































































































<br>































































































































<div>































































  <%= link_to "Show this films asiatiques doujin", @_films_asiatiques_doujin %> |































































  <%= link_to "Back to films asiatiques doujins", films_asiatiques_doujins_path %>































































</div>
