
<h1>voir tous les Films Asiatiques Doujins</h1>
<%@_films_asiatiques_doujins.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Films Asiatiques Doujins", new_films_asiatiques_doujin_path%>
</p>
