<div id="<%= dom_id dramas_generiques_type %>">































































  <p>































































    <strong>Name:</strong>































































    <%= dramas_generiques_type.name %>































































  </p>































































































































</div>
