<h1>Editing doujinshis drama plu</h1>

<%= render "form", _doujinshis_drama_plu: @_doujinshis_drama_plu %>

<br>

<div>
  <%= link_to "Show this doujinshis drama plu", @_doujinshis_drama_plu %> |
  <%= link_to "Back to doujinshis drama plus", _doujinshis_drama_plus_path %>
</div>
