<div id="<%= dom_id doujinshis_doujinshi %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujinshis_doujinshi.name %>































































  </p>































































































































</div>
