<h1>Editing doujinshis doujinshi</h1>

<%= render "form", _doujinshis_doujinshi: @_doujinshis_doujinshi %>

<br>

<div>
  <%= link_to "Show this doujinshis doujinshi", @_doujinshis_doujinshi %> |
  <%= link_to "Back to doujinshis doujinshis", _doujinshis_doujinshis_path %>
</div>
