<div id="<%= dom_id jeux_videos_groupe %>">































































  <p>































































    <strong>Name:</strong>































































    <%= jeux_videos_groupe.name %>































































  </p>































































































































</div>
