<p style="color: green"><%= notice %></p>































































































































<h1>Jeux videos groupes</h1>































































































































<div id="_jeux_videos_groupes">































































  <% @_jeux_videos_groupes.each do |_jeux_videos_groupe| %>































































    <%= render _jeux_videos_groupe %>































































    <p>































































      <%= link_to "Show this jeux videos groupe", jeux_videos_groupe %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New jeux videos groupe", new_jeux_videos_groupe_path %>
