<h1>New jeux videos groupe</h1>































































































































<%= render "form", _jeux_videos_groupe: @_jeux_videos_groupe %>































































































































<br>































































































































<div>































































  <%= link_to "Back to jeux videos groupes", jeux_videos_groupes_path %>































































</div>
