<h1>Editing jeux videos artbook</h1>































































































































<%= render "form", _jeux_videos_artbook: @_jeux_videos_artbook %>































































































































<br>































































































































<div>































































  <%= link_to "Show this jeux videos artbook", @_jeux_videos_artbook %> |































































  <%= link_to "Back to jeux videos artbooks", jeux_videos_artbooks_path %>































































</div>
