<div id="<%= dom_id doujinshis_litterature_asiatique_plu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujinshis_litterature_asiatique_plu.name %>































































  </p>































































































































</div>
