<div id="<%= dom_id dramas_manga_plu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= dramas_manga_plu.name %>































































  </p>































































































































</div>
