<h1>Editing livres type secondaire</h1>































































































































<%= render "form", _livres_type_secondaire: @_livres_type_secondaire %>































































































































<br>































































































































<div>































































  <%= link_to "Show this livres type secondaire", @_livres_type_secondaire %> |































































  <%= link_to "Back to livres type secondaires", livres_type_secondaires_path %>































































</div>
