<p style="color: green"><%= notice %></p>































































































































<h1>Livres type secondaires</h1>































































































































<div id="_livres_type_secondaires">































































  <% @_livres_type_secondaires.each do |_livres_type_secondaire| %>































































    <%= render _livres_type_secondaire %>































































    <p>































































      <%= link_to "Show this livres type secondaire", livres_type_secondaire %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New livres type secondaire", new_livres_type_secondaire_path %>
