
<h1>voir tous les Livres Type Secondaires</h1>
<%@_livres_type_secondaires.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Livres Type Secondaires", new_livres_type_secondaire_path%>
</p>
