<h1>New livres type secondaire</h1>































































































































<%= render "form", _livres_type_secondaire: @_livres_type_secondaire %>































































































































<br>































































































































<div>































































  <%= link_to "Back to livres type secondaires", livres_type_secondaires_path %>































































</div>
