<h1>New films asiatiques en salles staff person</h1>

<%= render "form", _films_asiatiques_en_salles_staff_person: @_films_asiatiques_en_salles_staff_person %>

<br>

<div>
  <%= link_to "Back to films asiatiques en salles staff people", _films_asiatiques_en_salles_staff_people_path %>
</div>
