<p style="color: green"><%= notice %></p>































































































































<h1>Dramas programmes</h1>































































































































<div id="_dramas_programmes">































































  <% @_dramas_programmes.each do |_dramas_programme| %>































































    <%= render _dramas_programme %>































































    <p>































































      <%= link_to "Show this dramas programme", dramas_programme %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New dramas programme", new_dramas_programme_path %>
