<div id="<%= dom_id goodies_pay %>">































































  <p>































































    <strong>Name:</strong>































































    <%= goodies_pay.name %>































































  </p>































































































































</div>
