<h1>New goodies pay</h1>































































































































<%= render "form", _goodies_pay: @_goodies_pay %>































































































































<br>































































































































<div>































































  <%= link_to "Back to goodies pays", goodies_pays_path %>































































</div>
