<div id="<%= dom_id mangas_ln %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_ln.name %>































































  </p>































































































































</div>
