<h1>New mangas ln</h1>































































































































<%= render "form", _mangas_ln: @_mangas_ln %>































































































































<br>































































































































<div>































































  <%= link_to "Back to mangas lns", mangas_lns_path %>































































</div>
