<div id="<%= dom_id personnalites_labels_debut %>">































































  <p>































































    <strong>Name:</strong>































































    <%= personnalites_labels_debut.name %>































































  </p>































































































































</div>
