
<h1>voir tous les Personnalites Labels Debuts</h1>
<%@_personnalites_labels_debuts.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Personnalites Labels Debuts", new_personnalites_labels_debut_path%>
</p>
