<p style="color: green"><%= notice %></p>

<h1>Doujinshis actualite minis</h1>

<div id="_doujinshis_actualite_minis">
  <% @_doujinshis_actualite_minis.each do |_doujinshis_actualite_mini| %>
    <%= render _doujinshis_actualite_mini %>
    <p>
      <%= link_to "Show this doujinshis actualite mini", _doujinshis_actualite_mini %>
    </p>
  <% end %>
</div>

<%= link_to "New doujinshis actualite mini", new__doujinshis_actualite_mini_path %>
