<div id="<%= dom_id films_asiatiques_ln_plu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= films_asiatiques_ln_plu.name %>































































  </p>































































































































</div>
