
<h1>voir tous les Films Asiatiques Ln Plus</h1>
<%@_films_asiatiques_ln_plus.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Films Asiatiques Ln Plus", new_films_asiatiques_ln_plu_path%>
</p>
