<p style="color: green"><%= notice %></p>

<h1>Generique de jeu videos staff roles</h1>

<div id="_generique_de_jeu_videos_staff_roles">
  <% @_generique_de_jeu_videos_staff_roles.each do |_generique_de_jeu_videos_staff_role| %>
    <%= render _generique_de_jeu_videos_staff_role %>
    <p>
      <%= link_to "Show this generique de jeu videos staff role", _generique_de_jeu_videos_staff_role %>
    </p>
  <% end %>
</div>

<%= link_to "New generique de jeu videos staff role", new__generique_de_jeu_videos_staff_role_path %>
