<h1>Editing films asiatiques origine</h1>































































































































<%= render "form", _films_asiatiques_origine: @_films_asiatiques_origine %>































































































































<br>































































































































<div>































































  <%= link_to "Show this films asiatiques origine", @_films_asiatiques_origine %> |































































  <%= link_to "Back to films asiatiques origines", films_asiatiques_origines_path %>































































</div>
