
<h1>voir tous les Films Asiatiques Origines</h1>
<%@_films_asiatiques_origines.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Films Asiatiques Origines", new_films_asiatiques_origine_path%>
</p>
