<h1>New films asiatiques origine</h1>































































































































<%= render "form", _films_asiatiques_origine: @_films_asiatiques_origine %>































































































































<br>































































































































<div>































































  <%= link_to "Back to films asiatiques origines", films_asiatiques_origines_path %>































































</div>
