<h1>Editing concerts type bonu</h1>

<%= render "form", _clips___lives___bonus___concerts_type_bonu: @_clips___lives___bonus___concerts_type_bonu %>

<br>

<div>
  <%= link_to "Show this concerts type bonu", @_clips___lives___bonus___concerts_type_bonu %> |
  <%= link_to "Back to concerts type bonus", _clips___lives___bonus___concerts_type_bonus_path %>
</div>
