<div id="<%= dom_id livres_staff_role %>">































































  <p>































































    <strong>Name:</strong>































































    <%= livres_staff_role.name %>































































  </p>































































































































</div>
