<h1>Editing livres staff role</h1>































































































































<%= render "form", _livres_staff_role: @_livres_staff_role %>































































































































<br>































































































































<div>































































  <%= link_to "Show this livres staff role", @_livres_staff_role %> |































































  <%= link_to "Back to livres staff roles", livres_staff_roles_path %>































































</div>
