<h1>Editing goodies pay</h1>

<%= render "form", _goodies_pay: @_goodies_pay %>

<br>

<div>
  <%= link_to "Show this goodies pay", @_goodies_pay %> |
  <%= link_to "Back to goodies pays", _goodies_pays_path %>
</div>
