<h1>Editing light novels manga</h1>































































































































<%= render "form", _light_novels_manga: @_light_novels_manga %>































































































































<br>































































































































<div>































































  <%= link_to "Show this light novels manga", @_light_novels_manga %> |































































  <%= link_to "Back to light novels mangas", light_novels_mangas_path %>































































</div>
