<div id="<%= dom_id dramas_jv %>">































































  <p>































































    <strong>Name:</strong>































































    <%= dramas_jv.name %>































































  </p>































































































































</div>
