<h1>Editing dramas jv</h1>































































































































<%= render "form", _dramas_jv: @_dramas_jv %>































































































































<br>































































































































<div>































































  <%= link_to "Show this dramas jv", @_dramas_jv %> |































































  <%= link_to "Back to dramas jvs", dramas_jvs_path %>































































</div>
