<p style="color: green"><%= notice %></p>































































































































<h1>Dramas jvs</h1>































































































































<div id="_dramas_jvs">































































  <% @_dramas_jvs.each do |_dramas_jv| %>































































    <%= render _dramas_jv %>































































    <p>































































      <%= link_to "Show this dramas jv", dramas_jv %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New dramas jv", new_dramas_jv_path %>
