<h1>Editing films asiatiques am</h1>

<%= render "form", _films_asiatiques_am: @_films_asiatiques_am %>

<br>

<div>
  <%= link_to "Show this films asiatiques am", @_films_asiatiques_am %> |
  <%= link_to "Back to films asiatiques ams", _films_asiatiques_ams_path %>
</div>
