<p style="color: green"><%= notice %></p>

<h1>Films asiatiques ams</h1>

<div id="_films_asiatiques_ams">
  <% @_films_asiatiques_ams.each do |_films_asiatiques_am| %>
    <%= render _films_asiatiques_am %>
    <p>
      <%= link_to "Show this films asiatiques am", _films_asiatiques_am %>
    </p>
  <% end %>
</div>

<%= link_to "New films asiatiques am", new__films_asiatiques_am_path %>
