<h1>New films asiatiques am</h1>































































































































<%= render "form", _films_asiatiques_am: @_films_asiatiques_am %>































































































































<br>































































































































<div>































































  <%= link_to "Back to films asiatiques ams", films_asiatiques_ams_path %>































































</div>
