<h1>New goodies societe role</h1>

<%= render "form", _goodies_societe_role: @_goodies_societe_role %>

<br>

<div>
  <%= link_to "Back to goodies societe roles", _goodies_societe_roles_path %>
</div>
