<div id="<%= dom_id photobooks_illustration %>">































































  <p>































































    <strong>Name:</strong>































































    <%= photobooks_illustration.name %>































































  </p>































































































































</div>
