<h1>Editing photobooks illustration</h1>

<%= render "form", _photobooks_illustration: @_photobooks_illustration %>

<br>

<div>
  <%= link_to "Show this photobooks illustration", @_photobooks_illustration %> |
  <%= link_to "Back to photobooks illustrations", _photobooks_illustrations_path %>
</div>
