
<h1>voir tous les Photobooks Illustrations</h1>
<%@_photobooks_illustrations.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Photobooks Illustrations", new_photobooks_illustration_path%>
</p>
