<h1>New photobooks illustration</h1>































































































































<%= render "form", _photobooks_illustration: @_photobooks_illustration %>































































































































<br>































































































































<div>































































  <%= link_to "Back to photobooks illustrations", photobooks_illustrations_path %>































































</div>
