<div id="<%= dom_id livres_litterature_asiatique_plu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= livres_litterature_asiatique_plu.name %>































































  </p>































































































































</div>
