
<h1>voir tous les Livres Litterature Asiatique Plus</h1>
<%@_livres_litterature_asiatique_plus.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Livres Litterature Asiatique Plus", new_livres_litterature_asiatique_plu_path%>
</p>
