<div id="<%= dom_id livres_editeurs_vo %>">































































  <p>































































    <strong>Name:</strong>































































    <%= livres_editeurs_vo.name %>































































  </p>































































































































</div>
