<p style="color: green"><%= notice %></p>































































































































<h1>Livres editeurs vos</h1>































































































































<div id="_livres_editeurs_vos">































































  <% @_livres_editeurs_vos.each do |_livres_editeurs_vo| %>































































    <%= render _livres_editeurs_vo %>































































    <p>































































      <%= link_to "Show this livres editeurs vo", livres_editeurs_vo %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New livres editeurs vo", new_livres_editeurs_vo_path %>
