<div id="<%= dom_id dramas_generiques_parole %>">































































  <p>































































    <strong>Name:</strong>































































    <%= dramas_generiques_parole.name %>































































  </p>































































































































</div>
