<h1>Editing dramas generiques parole</h1>

<%= render "form", _dramas_generiques_parole: @_dramas_generiques_parole %>

<br>

<div>
  <%= link_to "Show this dramas generiques parole", @_dramas_generiques_parole %> |
  <%= link_to "Back to dramas generiques paroles", _dramas_generiques_paroles_path %>
</div>
