<div id="<%= dom_id sites_dachats_pay %>">































































  <p>































































    <strong>Name:</strong>































































    <%= sites_dachats_pay.name %>































































  </p>































































































































</div>
