<h1>Editing sites dachats pay</h1>































































































































<%= render "form", _sites_dachats_pay: @_sites_dachats_pay %>































































































































<br>































































































































<div>































































  <%= link_to "Show this sites dachats pay", @_sites_dachats_pay %> |































































  <%= link_to "Back to sites dachats pays", sites_dachats_pays_path %>































































</div>
