<div id="<%= dom_id cds_type %>">































































  <p>































































    <strong>Name:</strong>































































    <%= cds_type.name %>































































  </p>































































































































</div>
