<p style="color: green"><%= notice %></p>































































































































<h1>Cds types</h1>































































































































<div id="_cds_types">































































  <% @_cds_types.each do |_cds_type| %>































































    <%= render _cds_type %>































































    <p>































































      <%= link_to "Show this cds type", cds_type %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New cds type", new_cds_type_path %>
