<h1>New cds type</h1>































































































































<%= render "form", _cds_type: @_cds_type %>































































































































<br>































































































































<div>































































  <%= link_to "Back to cds types", cds_types_path %>































































</div>
