<div id="<%= dom_id goodies_staff_person %>">































































  <p>































































    <strong>Name:</strong>































































    <%= goodies_staff_person.name %>































































  </p>































































































































</div>
