<p style="color: green"><%= notice %></p>

<h1>Goodies staff people</h1>

<div id="_goodies_staff_people">
  <% @_goodies_staff_people.each do |_goodies_staff_person| %>
    <%= render _goodies_staff_person %>
    <p>
      <%= link_to "Show this goodies staff person", _goodies_staff_person %>
    </p>
  <% end %>
</div>

<%= link_to "New goodies staff person", new__goodies_staff_person_path %>
