<h1>New goodies staff person</h1>































































































































<%= render "form", _goodies_staff_person: @_goodies_staff_person %>































































































































<br>































































































































<div>































































  <%= link_to "Back to goodies staff people", goodies_staff_people_path %>































































</div>
