<h1>New blu ray</h1>















<%= render "form", _dvd___blu_ray: @_dvd___blu_ray %>















<br>















<div>







  <%= link_to "Back to blu rays", dvd___blu_rays_path %>







</div>
