<div id="<%= dom_id livres_litterature_asiatique %>">































































  <p>































































    <strong>Name:</strong>































































    <%= livres_litterature_asiatique.name %>































































  </p>































































































































</div>
