
<h1>voir tous les Livres Litterature Asiatiques</h1>
<%@_livres_litterature_asiatiques.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Livres Litterature Asiatiques", new_livres_litterature_asiatique_path%>
</p>
