<h1>New livres litterature asiatique</h1>

<%= render "form", _livres_litterature_asiatique: @_livres_litterature_asiatique %>

<br>

<div>
  <%= link_to "Back to livres litterature asiatiques", _livres_litterature_asiatiques_path %>
</div>
