<div id="<%= dom_id dramas_generiques_clip %>">































































  <p>































































    <strong>Name:</strong>































































    <%= dramas_generiques_clip.name %>































































  </p>































































































































</div>
