<h1>Editing dramas generiques clip</h1>

<%= render "form", _dramas_generiques_clip: @_dramas_generiques_clip %>

<br>

<div>
  <%= link_to "Show this dramas generiques clip", @_dramas_generiques_clip %> |
  <%= link_to "Back to dramas generiques clips", _dramas_generiques_clips_path %>
</div>
