<h1>New dramas generiques clip</h1>































































































































<%= render "form", _dramas_generiques_clip: @_dramas_generiques_clip %>































































































































<br>































































































































<div>































































  <%= link_to "Back to dramas generiques clips", dramas_generiques_clips_path %>































































</div>
