<div id="<%= dom_id personnalites_labels_fin %>">































































  <p>































































    <strong>Name:</strong>































































    <%= personnalites_labels_fin.name %>































































  </p>































































































































</div>
