<h1>Editing personnalites labels fin</h1>































































































































<%= render "form", _personnalites_labels_fin: @_personnalites_labels_fin %>































































































































<br>































































































































<div>































































  <%= link_to "Show this personnalites labels fin", @_personnalites_labels_fin %> |































































  <%= link_to "Back to personnalites labels fins", personnalites_labels_fins_path %>































































</div>
