
<h1>voir tous les Personnalites Labels Fins</h1>
<%@_personnalites_labels_fins.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Personnalites Labels Fins", new_personnalites_labels_fin_path%>
</p>
