
<h1>voir tous les Doujinshis Perso Mangas</h1>
<%@_doujinshis_perso_mangas.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Doujinshis Perso Mangas", new_doujinshis_perso_manga_path%>
</p>
