<p style="color: green"><%= notice %></p>

<h1>Doujinshis perso mangas</h1>

<div id="_doujinshis_perso_mangas">
  <% @_doujinshis_perso_mangas.each do |_doujinshis_perso_manga| %>
    <%= render _doujinshis_perso_manga %>
    <p>
      <%= link_to "Show this doujinshis perso manga", _doujinshis_perso_manga %>
    </p>
  <% end %>
</div>

<%= link_to "New doujinshis perso manga", new__doujinshis_perso_manga_path %>
