<h1>New doujinshis perso manga</h1>































































































































<%= render "form", _doujinshis_perso_manga: @_doujinshis_perso_manga %>































































































































<br>































































































































<div>































































  <%= link_to "Back to doujinshis perso mangas", doujinshis_perso_mangas_path %>































































</div>
