<div id="<%= dom_id goodies_jv_perso %>">































































  <p>































































    <strong>Name:</strong>































































    <%= goodies_jv_perso.name %>































































  </p>































































































































</div>
