<h1>New goodies jv perso</h1>































































































































<%= render "form", _goodies_jv_perso: @_goodies_jv_perso %>































































































































<br>































































































































<div>































































  <%= link_to "Back to goodies jv persos", goodies_jv_persos_path %>































































</div>
