<h1>New goodies litterature asiatique</h1>

<%= render "form", _goodies_litterature_asiatique: @_goodies_litterature_asiatique %>

<br>

<div>
  <%= link_to "Back to goodies litterature asiatiques", _goodies_litterature_asiatiques_path %>
</div>
