<h1>Editing mangas am</h1>































































































































<%= render "form", _mangas_am: @_mangas_am %>































































































































<br>































































































































<div>































































  <%= link_to "Show this mangas am", @_mangas_am %> |































































  <%= link_to "Back to mangas ams", mangas_ams_path %>































































</div>
