<p style="color: green"><%= notice %></p>































































































































<h1>Mangas ams</h1>































































































































<div id="_mangas_ams">































































  <% @_mangas_ams.each do |_mangas_am| %>































































    <%= render _mangas_am %>































































    <p>































































      <%= link_to "Show this mangas am", mangas_am %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New mangas am", new_mangas_am_path %>
