<div id="<%= dom_id goodies_matiere %>">































































  <p>































































    <strong>Name:</strong>































































    <%= goodies_matiere.name %>































































  </p>































































































































</div>
