<h1>Editing goodies matiere</h1>

<%= render "form", _goodies_matiere: @_goodies_matiere %>

<br>

<div>
  <%= link_to "Show this goodies matiere", @_goodies_matiere %> |
  <%= link_to "Back to goodies matieres", _goodies_matieres_path %>
</div>
