<p style="color: green"><%= notice %></p>































































































































<h1>Goodies matieres</h1>































































































































<div id="_goodies_matieres">































































  <% @_goodies_matieres.each do |_goodies_matiere| %>































































    <%= render _goodies_matiere %>































































    <p>































































      <%= link_to "Show this goodies matiere", goodies_matiere %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New goodies matiere", new_goodies_matiere_path %>
