<h1>New goodies matiere</h1>































































































































<%= render "form", _goodies_matiere: @_goodies_matiere %>































































































































<br>































































































































<div>































































  <%= link_to "Back to goodies matieres", goodies_matieres_path %>































































</div>
