<div id="<%= dom_id doujins_doujin %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujins_doujin.name %>































































  </p>































































































































</div>
