<h1>Editing doujins doujin</h1>































































































































<%= render "form", _doujins_doujin: @_doujins_doujin %>































































































































<br>































































































































<div>































































  <%= link_to "Show this doujins doujin", @_doujins_doujin %> |































































  <%= link_to "Back to doujins doujins", doujins_doujins_path %>































































</div>
