<div id="<%= dom_id personnalites_people_plu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= personnalites_people_plu.name %>































































  </p>































































































































</div>
