<h1>Editing personnalites people plu</h1>































































































































<%= render "form", _personnalites_people_plu: @_personnalites_people_plu %>































































































































<br>































































































































<div>































































  <%= link_to "Show this personnalites people plu", @_personnalites_people_plu %> |































































  <%= link_to "Back to personnalites people plus", personnalites_people_plus_path %>































































</div>
