<p style="color: green"><%= notice %></p>

<h1>Personnalites people plus</h1>

<div id="_personnalites_people_plus">
  <% @_personnalites_people_plus.each do |_personnalites_people_plu| %>
    <%= render _personnalites_people_plu %>
    <p>
      <%= link_to "Show this personnalites people plu", _personnalites_people_plu %>
    </p>
  <% end %>
</div>

<%= link_to "New personnalites people plu", new__personnalites_people_plu_path %>
