
<h1>voir tous les Personnalites People Plus</h1>
<%@_personnalites_people_plus.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Personnalites People Plus", new_personnalites_people_plu_path%>
</p>
