<h1>Editing paroles staff person</h1>































































































































<%= render "form", _paroles_staff_person: @_paroles_staff_person %>































































































































<br>































































































































<div>































































  <%= link_to "Show this paroles staff person", @_paroles_staff_person %> |































































  <%= link_to "Back to paroles staff people", paroles_staff_people_path %>































































</div>
