
<h1>voir tous les Dramas Emission Tv Plus</h1>
<%@_dramas_emission_tv_plus.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Dramas Emission Tv Plus", new_dramas_emission_tv_plu_path%>
</p>
