<p style="color: green"><%= notice %></p>































































































































<h1>Dramas emission tv plus</h1>































































































































<div id="_dramas_emission_tv_plus">































































  <% @_dramas_emission_tv_plus.each do |_dramas_emission_tv_plu| %>































































    <%= render _dramas_emission_tv_plu %>































































    <p>































































      <%= link_to "Show this dramas emission tv plu", dramas_emission_tv_plu %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New dramas emission tv plu", new_dramas_emission_tv_plu_path %>
