<div id="<%= dom_id jeux_videos_univer %>">































































  <p>































































    <strong>Name:</strong>































































    <%= jeux_videos_univer.name %>































































  </p>































































































































</div>
