<h1>Editing jeux videos univer</h1>































































































































<%= render "form", _jeux_videos_univer: @_jeux_videos_univer %>































































































































<br>































































































































<div>































































  <%= link_to "Show this jeux videos univer", @_jeux_videos_univer %> |































































  <%= link_to "Back to jeux videos univers", jeux_videos_univers_path %>































































</div>
