<h1>Editing doujinshis convention</h1>

<%= render "form", _doujinshis_convention: @_doujinshis_convention %>

<br>

<div>
  <%= link_to "Show this doujinshis convention", @_doujinshis_convention %> |
  <%= link_to "Back to doujinshis conventions", _doujinshis_conventions_path %>
</div>
