<h1>New doujinshis convention</h1>

<%= render "form", _doujinshis_convention: @_doujinshis_convention %>

<br>

<div>
  <%= link_to "Back to doujinshis conventions", _doujinshis_conventions_path %>
</div>
