<h1>New light novels prepublie</h1>

<%= render "form", _light_novels_prepubly: @_light_novels_prepubly %>

<br>

<div>
  <%= link_to "Back to light novels prepublies", _light_novels_prepublies_path %>
</div>
