<h1>Editing films asiatiques societe person</h1>

<%= render "form", _films_asiatiques_societe_person: @_films_asiatiques_societe_person %>

<br>

<div>
  <%= link_to "Show this films asiatiques societe person", @_films_asiatiques_societe_person %> |
  <%= link_to "Back to films asiatiques societe people", _films_asiatiques_societe_people_path %>
</div>
