<p style="color: green"><%= notice %></p>

<h1>Films asiatiques societe people</h1>

<div id="_films_asiatiques_societe_people">
  <% @_films_asiatiques_societe_people.each do |_films_asiatiques_societe_person| %>
    <%= render _films_asiatiques_societe_person %>
    <p>
      <%= link_to "Show this films asiatiques societe person", _films_asiatiques_societe_person %>
    </p>
  <% end %>
</div>

<%= link_to "New films asiatiques societe person", new__films_asiatiques_societe_person_path %>
