<div id="<%= dom_id photobooks_pay %>">































































  <p>































































    <strong>Name:</strong>































































    <%= photobooks_pay.name %>































































  </p>































































































































</div>
