<p style="color: green"><%= notice %></p>































































































































<h1>Photobooks pays</h1>































































































































<div id="_photobooks_pays">































































  <% @_photobooks_pays.each do |_photobooks_pay| %>































































    <%= render _photobooks_pay %>































































    <p>































































      <%= link_to "Show this photobooks pay", photobooks_pay %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New photobooks pay", new_photobooks_pay_path %>
