<p style="color: green"><%= notice %></p>































































































































































































































































<h1>Breves</h1>































































































































































































































































<div id="_breves">































































































































  <% @_breves.each do |_brefe| %>































































































































    <%= render _brefe %>































































































































    <p>































































































































      <%= link_to "Show this brefe", brefe %>































































































































    </p>































































































































  <% end %>































































































































</div>































































































































































































































































<%= link_to "New brefe", new_brefe_path %>
