<h1>Editing goodies staff person</h1>

<%= render "form", _goodies_staff_person: @_goodies_staff_person %>

<br>

<div>
  <%= link_to "Show this goodies staff person", @_goodies_staff_person %> |
  <%= link_to "Back to goodies staff people", _goodies_staff_people_path %>
</div>
