<h1>New concerts role</h1>

<%= render "form", _clips___lives___bonus___concerts_role: @_clips___lives___bonus___concerts_role %>

<br>

<div>
  <%= link_to "Back to concerts roles", _clips___lives___bonus___concerts_roles_path %>
</div>
