<div id="<%= dom_id photobooks_disponibilite %>">































































  <p>































































    <strong>Name:</strong>































































    <%= photobooks_disponibilite.name %>































































  </p>































































































































</div>
