<h1>Editing photobooks disponibilite</h1>































































































































<%= render "form", _photobooks_disponibilite: @_photobooks_disponibilite %>































































































































<br>































































































































<div>































































  <%= link_to "Show this photobooks disponibilite", @_photobooks_disponibilite %> |































































  <%= link_to "Back to photobooks disponibilites", photobooks_disponibilites_path %>































































</div>
