<p style="color: green"><%= notice %></p>































































































































<h1>Photobooks disponibilites</h1>































































































































<div id="_photobooks_disponibilites">































































  <% @_photobooks_disponibilites.each do |_photobooks_disponibilite| %>































































    <%= render _photobooks_disponibilite %>































































    <p>































































      <%= link_to "Show this photobooks disponibilite", photobooks_disponibilite %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New photobooks disponibilite", new_photobooks_disponibilite_path %>
