
<h1>voir tous les Photobooks Disponibilites</h1>
<%@_photobooks_disponibilites.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Photobooks Disponibilites", new_photobooks_disponibilite_path%>
</p>
