<h1>New photobooks disponibilite</h1>

<%= render "form", _photobooks_disponibilite: @_photobooks_disponibilite %>

<br>

<div>
  <%= link_to "Back to photobooks disponibilites", _photobooks_disponibilites_path %>
</div>
