<h1>Editing animes cd</h1>

<%= render "form", animes_cd: @animes_cd %>

<br>

<div>
  <%= link_to "Show this animes cd", @animes_cd %> |
  <%= link_to "Back to animes cds", animes_cds_path %>
</div>
