<h1>Editing evenement</h1>































































































































<%= render "form", evenement: @evenement %>































































































































<br>































































































































<div>































































  <%= link_to "Show this evenement", @evenement %> |































































  <%= link_to "Back to evenements", evenements_path %>































































</div>
