<p style="color: green"><%= notice %></p>































































































































<h1>Evenements</h1>































































































































<div id="evenements">































































  <% @evenements.each do |evenement| %>































































    <%= render evenement %>































































    <p>































































      <%= link_to "Show this evenement", evenement %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New evenement", new_evenement_path %>
