<h1>New evenement</h1>































































































































<%= render "form", evenement: @evenement %>































































































































<br>































































































































<div>































































  <%= link_to "Back to evenements", evenements_path %>































































</div>
