<h1>Editing doujinshis anime</h1>

<%= render "form", _doujinshis_anime: @_doujinshis_anime %>

<br>

<div>
  <%= link_to "Show this doujinshis anime", @_doujinshis_anime %> |
  <%= link_to "Back to doujinshis animes", _doujinshis_animes_path %>
</div>
