<p style="color: green"><%= notice %></p>

<h1>Doujinshis animes</h1>

<div id="_doujinshis_animes">
  <% @_doujinshis_animes.each do |_doujinshis_anime| %>
    <%= render _doujinshis_anime %>
    <p>
      <%= link_to "Show this doujinshis anime", _doujinshis_anime %>
    </p>
  <% end %>
</div>

<%= link_to "New doujinshis anime", new__doujinshis_anime_path %>
