<p style="color: green"><%= notice %></p>

<h1>Breves actualite minis</h1>

<div id="_breves_actualite_minis">
  <% @_breves_actualite_minis.each do |_breves_actualite_mini| %>
    <%= render _breves_actualite_mini %>
    <p>
      <%= link_to "Show this breves actualite mini", _breves_actualite_mini %>
    </p>
  <% end %>
</div>

<%= link_to "New breves actualite mini", new__breves_actualite_mini_path %>
