<h1>Editing osts role</h1>

<%= render "form", osts_role: @osts_role %>

<br>

<div>
  <%= link_to "Show this osts role", @osts_role %> |
  <%= link_to "Back to osts roles", osts_roles_path %>
</div>
