<p style="color: green"><%= notice %></p>































































































































<h1>Osts roles</h1>































































































































<div id="osts_roles">































































  <% @osts_roles.each do |osts_role| %>































































    <%= render osts_role %>































































    <p>































































      <%= link_to "Show this osts role", osts_role %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New osts role", new_osts_role_path %>
