<h1>Editing blu rays format</h1>

<%= render "form", _dvd___blu_rays_format: @_dvd___blu_rays_format %>

<br>

<div>
  <%= link_to "Show this blu rays format", @_dvd___blu_rays_format %> |
  <%= link_to "Back to blu rays formats", _dvd___blu_rays_formats_path %>
</div>
