<h1>Editing numero demission tvs id emission tv</h1>

<%= render "form", _numero_demission_tvs_id_emission_tv: @_numero_demission_tvs_id_emission_tv %>

<br>

<div>
  <%= link_to "Show this numero demission tvs id emission tv", @_numero_demission_tvs_id_emission_tv %> |
  <%= link_to "Back to numero demission tvs id emission tvs", _numero_demission_tvs_id_emission_tvs_path %>
</div>
