<p style="color: green"><%= notice %></p>

<h1>Numero demission tvs id emission tvs</h1>

<div id="_numero_demission_tvs_id_emission_tvs">
  <% @_numero_demission_tvs_id_emission_tvs.each do |_numero_demission_tvs_id_emission_tv| %>
    <%= render _numero_demission_tvs_id_emission_tv %>
    <p>
      <%= link_to "Show this numero demission tvs id emission tv", _numero_demission_tvs_id_emission_tv %>
    </p>
  <% end %>
</div>

<%= link_to "New numero demission tvs id emission tv", new__numero_demission_tvs_id_emission_tv_path %>
