<h1>Editing light novels commerce</h1>































































































































<%= render "form", _light_novels_commerce: @_light_novels_commerce %>































































































































<br>































































































































<div>































































  <%= link_to "Show this light novels commerce", @_light_novels_commerce %> |































































  <%= link_to "Back to light novels commerces", light_novels_commerces_path %>































































</div>
