<div id="<%= dom_id goodies_perso_manga %>">































































  <p>































































    <strong>Name:</strong>































































    <%= goodies_perso_manga.name %>































































  </p>































































































































</div>
