<p style="color: green"><%= notice %></p>

<h1>Goodies perso mangas</h1>

<div id="_goodies_perso_mangas">
  <% @_goodies_perso_mangas.each do |_goodies_perso_manga| %>
    <%= render _goodies_perso_manga %>
    <p>
      <%= link_to "Show this goodies perso manga", _goodies_perso_manga %>
    </p>
  <% end %>
</div>

<%= link_to "New goodies perso manga", new__goodies_perso_manga_path %>
