<h1>New goodies perso manga</h1>































































































































<%= render "form", _goodies_perso_manga: @_goodies_perso_manga %>































































































































<br>































































































































<div>































































  <%= link_to "Back to goodies perso mangas", goodies_perso_mangas_path %>































































</div>
