<div id="<%= dom_id artbooks_doujinshi %>">































































  <p>































































    <strong>Name:</strong>































































    <%= artbooks_doujinshi.name %>































































  </p>































































































































</div>
