<h1>New artbooks doujinshi</h1>































































































































<%= render "form", artbooks_doujinshi: @artbooks_doujinshi %>































































































































<br>































































































































<div>































































  <%= link_to "Back to artbooks doujinshis", artbooks_doujinshis_path %>































































</div>
