<h1>Editing photobook</h1>

<%= render "form", _photobook: @_photobook %>

<br>

<div>
  <%= link_to "Show this photobook", @_photobook %> |
  <%= link_to "Back to photobooks", _photobooks_path %>
</div>
