<h1>New photobook</h1>































































































































<%= render "form", _photobook: @_photobook %>































































































































<br>































































































































<div>































































  <%= link_to "Back to photobooks", photobooks_path %>































































</div>
