<h1>Editing jeux videos sondage</h1>































































































































<%= render "form", _jeux_videos_sondage: @_jeux_videos_sondage %>































































































































<br>































































































































<div>































































  <%= link_to "Show this jeux videos sondage", @_jeux_videos_sondage %> |































































  <%= link_to "Back to jeux videos sondages", jeux_videos_sondages_path %>































































</div>
