<p style="color: green"><%= notice %></p>































































































































<h1>Jeux videos sondages</h1>































































































































<div id="_jeux_videos_sondages">































































  <% @_jeux_videos_sondages.each do |_jeux_videos_sondage| %>































































    <%= render _jeux_videos_sondage %>































































    <p>































































      <%= link_to "Show this jeux videos sondage", jeux_videos_sondage %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New jeux videos sondage", new_jeux_videos_sondage_path %>
