<div id="<%= dom_id light_novels_societe_role %>">































































  <p>































































    <strong>Name:</strong>































































    <%= light_novels_societe_role.name %>































































  </p>































































































































</div>
