
<h1>voir tous les Light Novels Societe Roles</h1>
<%@_light_novels_societe_roles.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Light Novels Societe Roles", new_light_novels_societe_role_path%>
</p>
