<h1>New light novels societe role</h1>































































































































<%= render "form", _light_novels_societe_role: @_light_novels_societe_role %>































































































































<br>































































































































<div>































































  <%= link_to "Back to light novels societe roles", light_novels_societe_roles_path %>































































</div>
