<h1>New concerts emission tv numero</h1>



<%= render "form", _clips_lives_bonus_concerts_emission_tv_numero: @_clips_lives_bonus_concerts_emission_tv_numero %>



<br>



<div>

  <%= link_to "Back to concerts emission tv numeros", clips_lives_bonus_concerts_emission_tv_numeros_path %>

</div>
