<div id="<%= dom_id films_asiatiques_artbook %>">































































  <p>































































    <strong>Name:</strong>































































    <%= films_asiatiques_artbook.name %>































































  </p>































































































































</div>
