<h1>Editing films asiatiques artbook</h1>































































































































<%= render "form", _films_asiatiques_artbook: @_films_asiatiques_artbook %>































































































































<br>































































































































<div>































































  <%= link_to "Show this films asiatiques artbook", @_films_asiatiques_artbook %> |































































  <%= link_to "Back to films asiatiques artbooks", films_asiatiques_artbooks_path %>































































</div>
