
<h1>voir tous les Films Asiatiques Artbooks</h1>
<%@_films_asiatiques_artbooks.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Films Asiatiques Artbooks", new_films_asiatiques_artbook_path%>
</p>
