<div id="<%= dom_id livres_drama_plu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= livres_drama_plu.name %>































































  </p>































































































































</div>
