<h1>Editing livres drama plu</h1>

<%= render "form", _livres_drama_plu: @_livres_drama_plu %>

<br>

<div>
  <%= link_to "Show this livres drama plu", @_livres_drama_plu %> |
  <%= link_to "Back to livres drama plus", _livres_drama_plus_path %>
</div>
