<div id="<%= dom_id goodies_cd %>">































































  <p>































































    <strong>Name:</strong>































































    <%= goodies_cd.name %>































































  </p>































































































































</div>
