<p style="color: green"><%= notice %></p>































































































































<h1>Goodies cds</h1>































































































































<div id="_goodies_cds">































































  <% @_goodies_cds.each do |_goodies_cd| %>































































    <%= render _goodies_cd %>































































    <p>































































      <%= link_to "Show this goodies cd", goodies_cd %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New goodies cd", new_goodies_cd_path %>
