<h1>Editing films asiatiques drama plu</h1>

<%= render "form", _films_asiatiques_drama_plu: @_films_asiatiques_drama_plu %>

<br>

<div>
  <%= link_to "Show this films asiatiques drama plu", @_films_asiatiques_drama_plu %> |
  <%= link_to "Back to films asiatiques drama plus", _films_asiatiques_drama_plus_path %>
</div>
