<p style="color: green"><%= notice %></p>

<h1>Personnage de mangas mangas</h1>

<div id="_personnage_de_mangas_mangas">
  <% @_personnage_de_mangas_mangas.each do |_personnage_de_mangas_manga| %>
    <%= render _personnage_de_mangas_manga %>
    <p>
      <%= link_to "Show this personnage de mangas manga", _personnage_de_mangas_manga %>
    </p>
  <% end %>
</div>

<%= link_to "New personnage de mangas manga", new__personnage_de_mangas_manga_path %>
