<h1>New personnage de mangas manga</h1>

<%= render "form", _personnage_de_mangas_manga: @_personnage_de_mangas_manga %>

<br>

<div>
  <%= link_to "Back to personnage de mangas mangas", _personnage_de_mangas_mangas_path %>
</div>
