<p style="color: green"><%= notice %></p>































































































































<h1>Films asiatiques en salles langues</h1>































































































































<div id="_films_asiatiques_en_salles_langues">































































  <% @_films_asiatiques_en_salles_langues.each do |_films_asiatiques_en_salles_langue| %>































































    <%= render _films_asiatiques_en_salles_langue %>































































    <p>































































      <%= link_to "Show this films asiatiques en salles langue", films_asiatiques_en_salles_langue %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New films asiatiques en salles langue", new_films_asiatiques_en_salles_langue_path %>
