
<h1>voir tous les Films Asiatiques En Salles Langues</h1>
<%@_films_asiatiques_en_salles_langues.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Films Asiatiques En Salles Langues", new_films_asiatiques_en_salles_langue_path%>
</p>
