<h1>New films asiatiques en salles langue</h1>































































































































<%= render "form", _films_asiatiques_en_salles_langue: @_films_asiatiques_en_salles_langue %>































































































































<br>































































































































<div>































































  <%= link_to "Back to films asiatiques en salles langues", films_asiatiques_en_salles_langues_path %>































































</div>
