<p style="color: green"><%= notice %></p>































































































































<h1>Personnage danimes jv persos</h1>































































































































<div id="_personnage_danimes_jv_persos">































































  <% @_personnage_danimes_jv_persos.each do |_personnage_danimes_jv_perso| %>































































    <%= render _personnage_danimes_jv_perso %>































































    <p>































































      <%= link_to "Show this personnage danimes jv perso", personnage_danimes_jv_perso %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New personnage danimes jv perso", new_personnage_danimes_jv_perso_path %>
