<h1>New personnage danimes jv perso</h1>































































































































<%= render "form", _personnage_danimes_jv_perso: @_personnage_danimes_jv_perso %>































































































































<br>































































































































<div>































































  <%= link_to "Back to personnage danimes jv persos", personnage_danimes_jv_persos_path %>































































</div>
