<div id="<%= dom_id animes_ln_plu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= animes_ln_plu.name %>































































  </p>































































































































</div>
