<p style="color: green"><%= notice %></p>































































































































<h1>Animes ln plus</h1>































































































































<div id="animes_ln_plus">































































  <% @animes_ln_plus.each do |animes_ln_plu| %>































































    <%= render animes_ln_plu %>































































    <p>































































      <%= link_to "Show this animes ln plu", animes_ln_plu %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New animes ln plu", new_animes_ln_plu_path %>
