<div id="<%= dom_id tablatures_person %>">































































  <p>































































    <strong>Name:</strong>































































    <%= tablatures_person.name %>































































  </p>































































































































</div>
