<h1>Editing tablatures person</h1>































































































































<%= render "form", _tablatures_person: @_tablatures_person %>































































































































<br>































































































































<div>































































  <%= link_to "Show this tablatures person", @_tablatures_person %> |































































  <%= link_to "Back to tablatures people", tablatures_people_path %>































































</div>
