<p style="color: green"><%= notice %></p>































































































































<h1>Tablatures people</h1>































































































































<div id="_tablatures_people">































































  <% @_tablatures_people.each do |_tablatures_person| %>































































    <%= render _tablatures_person %>































































    <p>































































      <%= link_to "Show this tablatures person", tablatures_person %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New tablatures person", new_tablatures_person_path %>
