<h1>New blu rays public averti</h1>

<%= render "form", _dvd___blu_rays_public_averti: @_dvd___blu_rays_public_averti %>

<br>

<div>
  <%= link_to "Back to blu rays public avertis", _dvd___blu_rays_public_avertis_path %>
</div>
