<div id="<%= dom_id generiques_type %>">































































  <p>































































    <strong>Name:</strong>































































    <%= generiques_type.name %>































































  </p>































































































































</div>
