<h1>Editing generiques type</h1>

<%= render "form", _generiques_type: @_generiques_type %>

<br>

<div>
  <%= link_to "Show this generiques type", @_generiques_type %> |
  <%= link_to "Back to generiques types", _generiques_types_path %>
</div>
