<p style="color: green"><%= notice %></p>































































































































<h1>Generiques types</h1>































































































































<div id="_generiques_types">































































  <% @_generiques_types.each do |_generiques_type| %>































































    <%= render _generiques_type %>































































    <p>































































      <%= link_to "Show this generiques type", generiques_type %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New generiques type", new_generiques_type_path %>
