<div id="<%= dom_id amvs_convention %>">































































  <p>































































    <strong>Name:</strong>































































    <%= amvs_convention.name %>































































  </p>































































































































</div>
