<h1>Editing amvs convention</h1>































































































































<%= render "form", amvs_convention: @amvs_convention %>































































































































<br>































































































































<div>































































  <%= link_to "Show this amvs convention", @amvs_convention %> |































































  <%= link_to "Back to amvs conventions", amvs_conventions_path %>































































</div>
