<p style="color: green"><%= notice %></p>































































































































<h1>Amvs conventions</h1>































































































































<div id="amvs_conventions">































































  <% @amvs_conventions.each do |amvs_convention| %>































































    <%= render amvs_convention %>































































    <p>































































      <%= link_to "Show this amvs convention", amvs_convention %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New amvs convention", new_amvs_convention_path %>
