<h1>New amvs convention</h1>































































































































<%= render "form", amvs_convention: @amvs_convention %>































































































































<br>































































































































<div>































































  <%= link_to "Back to amvs conventions", amvs_conventions_path %>































































</div>
