<div id="<%= dom_id photobooks_actualite %>">































































  <p>































































    <strong>Name:</strong>































































    <%= photobooks_actualite.name %>































































  </p>































































































































</div>
