<h1>Editing photobooks actualite</h1>































































































































<%= render "form", _photobooks_actualite: @_photobooks_actualite %>































































































































<br>































































































































<div>































































  <%= link_to "Show this photobooks actualite", @_photobooks_actualite %> |































































  <%= link_to "Back to photobooks actualites", photobooks_actualites_path %>































































</div>
