<h1>Editing osts jv</h1>































































































































<%= render "form", osts_jv: @osts_jv %>































































































































<br>































































































































<div>































































  <%= link_to "Show this osts jv", @osts_jv %> |































































  <%= link_to "Back to osts jvs", osts_jvs_path %>































































</div>
