<p style="color: green"><%= notice %></p>































































































































<h1>Films asiatiques drama plus</h1>































































































































<div id="_films_asiatiques_drama_plus">































































  <% @_films_asiatiques_drama_plus.each do |_films_asiatiques_drama_plu| %>































































    <%= render _films_asiatiques_drama_plu %>































































    <p>































































      <%= link_to "Show this films asiatiques drama plu", films_asiatiques_drama_plu %>































































    </p>































































  <% end %>































































</div>































































































































<%= link_to "New films asiatiques drama plu", new_films_asiatiques_drama_plu_path %>
