
<h1>voir tous les Films Asiatiques Drama Plus</h1>
<%@_films_asiatiques_drama_plus.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Films Asiatiques Drama Plus", new_films_asiatiques_drama_plu_path%>
</p>
