<!DOCTYPE html>
<html>
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Nautiljon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    &lt;</head>
<body>
<p>%= csrf_meta_tags %&gt;
    &lt;%= csp_meta_tag %&gt;

    &lt;%= stylesheet_link_tag "application", "data-turbo-track": "reload" %&gt;
    &lt;%= javascript_importmap_tags %&gt;
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  

  </p>
    <nav id="nav2">
      &lt;%if user_signed_in?%&gt;
        <span>bienvenue &lt;%=current_user.pseudonyme%&gt;</span>
        | <textarea placeholder="Saissez votre message">
          &lt;%=current_user.message%&gt;
          </textarea>
      | <a href="/users/messagerie" title="Ma messagerie" class="moncomptelink ">
          
        🗪
      </a><a href="/users/notifications" title="Mes notifications" class="moncomptelink ">
          
        🌍
      </a><a href="/users/favoris" title="Mes favoris" class="mesfavorislink ">
          
        ❤
      </a>

                                                                                                            <div class="dropdown">
                                                                                                                        <a class="nav-link dropdown-toggle fichelink" title="proposer une fiche" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                                                                                      +
                                                                                                                                                </a>
                                                                                                                                                          <ul class="dropdown-menu">
                                                                                                                                                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                                                                                                                                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                                                                                                                                                                <li><hr class="dropdown-divider"></li>
                                                                                                                                                                                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                                                                                                                                                                                      </ul>
                                                                                                                                                                                                                              </div>



      | <a href="/users/moncompte" class="moncomptelink ">
        Mon compte
      </a>
      | <a href="/users/sign_out" class="signoutlink ">
        Déconnexion
      </a>
      &lt;%else%&gt;
      <a href="/users/sign_in" class="signinlink btn btn-light">
        Se connecter
      </a>
      <a href="/users/sign_up" class="signuplink btn btn-primary">
        S'inscrire
      </a>
    &lt;%end%&gt;
    </nav>
    <nav id="nav1">
      <div class="logo">
        <div class="mypic otherpic">

        </div>
        <div class="mypic">

        </div>

        <div class=" nautil">nautil</div>


      </div>
        <span class="jon">jon</span>
      <div class="annonces">
      <div class="petitesannonces">
        petites annonce
      </div>
      <div class="mangatheque">
          
        📚
        mangage­theque
      </div>
      <div class="animetheque">
          
        📚
        anime­theque
      </div>
      <div class="dramatheque">
          
        📚
        drama­theque
      </div>
      <form class="hey" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-success" type="submit">🔍</button>
                              </form>
      </div>
      <div id="aboutme">
        <img class="cki">
        <ul class="myuserprofile">
          <li>  
          🗹 ma nauti-liste (<span class="nautiliste"></span>)</li>
          <li>  
          🗊 mon bloc note (<span class="bloc"></span>)</li>
          <li>📚 ma collection (<span class="collection"></span>)</li>
          <li>🛒ma liste d'achat (<span class="liste"></span>)</li>
        </ul>
      </div>
    </nav>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background:blue;color:white;">
        <div class="container-fluid">
              <a class="navbar-brand" href="/">⛩</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                              </button>
                                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                                                                                                            <li class="nav-item dropdown">
                                                                                                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Actus</a>
                                                                                                                                                          <ul class="dropdown-menu">
                                                                                                                                                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                                                                                                                                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                                                                                                                                                                <li><hr class="dropdown-divider"></li>
                                                                                                                                                                                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                                                                                                                                                                                      <li><a href="/actualite/">Actualités</a></li>
<li><a href="/actualite/articles/">Articles</a></li>
<li><a href="/breves/">Brèves</a></li>
<li><a href="/site/last_comments.php?flashinfos">Flash infos</a></li>
</ul>
                                                                                                                                                                                                                              </li>
                                                                                                            <li class="nav-item dropdown">
                                                                                                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Agenda</a>
                                                                                                                                                          <ul class="dropdown-menu">
                                                                                                                                                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                                                                                                                                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                                                                                                                                                                <li><hr class="dropdown-divider"></li>
                                                                                                                                                                                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                                                                                                                                                                                      <li><a href="/concerts/">Agenda des concerts</a></li>
<li><a href="/evenements/">Agenda des évènements</a></li>
<li><a href="/cinema/">Agenda des sorties cinéma en salle</a></li>
<li><a href="/calendrier/">Calendrier</a></li>
</ul>
                                                                                                                                                                                                                              </li>
                                                    <li class="nav-item">
                                                                <a class="nav-link active" aria-current="page" href="/planning/manga/">Planning</a>
                                                                        </li>
                                                                                                            <li class="nav-item dropdown">
                                                                                                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Animation</a>
                                                                                                                                                          <ul class="dropdown-menu">
                                                                                                                                                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                                                                                                                                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                                                                                                                                                                <li><hr class="dropdown-divider"></li>
                                                                                                                                                                                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                                                                                                                                                                                      <li><a href="/animes/">Animes</a></li>
<li><a href="/animes/planning/">Planning des épisodes</a></li>
<li><a href="/animes/printemps-2024.html?tri=p">Calendrier saisonnier</a></li>
<li><a href="/persos/">Personnages d'anime</a></li>
<li><a href="/lyrics/">Génériques d'anime</a></li>
<li><a href="/amv/">AMV</a></li>
</ul>
                                                                                                                                                                                                                              </li>
                                                                                                            <li class="nav-item dropdown">
                                                                                                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Mangas</a>
                                                                                                                                                          <ul class="dropdown-menu">
                                                                                                                                                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                                                                                                                                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                                                                                                                                                                <li><hr class="dropdown-divider"></li>
                                                                                                                                                                                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                                                                                                                                                                                      <li><a href="/mangas/">Mangas</a></li>
<li><a href="/persos-mangas/">Personnages de manga</a></li>
<li><a href="/doujinshi/">Doujinshis</a></li>
</ul>
                                                                                                                                                                                                                              </li>
                                                                                                            <li class="nav-item dropdown">
                                                                                                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Jeux vidéo</a>
                                                                                                                                                          <ul class="dropdown-menu">
                                                                                                                                                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                                                                                                                                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                                                                                                                                                                <li><hr class="dropdown-divider"></li>
                                                                                                                                                                                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                                                                                                                                                                                      <li><a href="/jeuxvideo/">Jeux vidéo</a></li>
<li><a href="/persos-jeuxvideo/">Personnages de jeux vidéo</a></li>
<li><a href="/generiques-jeuxvideo/">Génériques de jeux vidéo</a></li>
</ul>
                                                                                                                                                                                                                              </li>
                                                                                                            <li class="nav-item dropdown">
                                                                                                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Musique</a>
                                                                                                                                                          <ul class="dropdown-menu">
                                                                                                                                                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                                                                                                                                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                                                                                                                                                                <li><hr class="dropdown-divider"></li>
                                                                                                                                                                                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                                                                                                                                                                                      <li><a href="/clips/">Clips (PV)</a></li>
<li><a href="/clips/streaming/">Clips en streaming</a></li>
<li><a href="/lives/">Lives</a></li>
<li><a href="/bonus/">Bonus</a></li>
<li><a href="/concert/">Concerts</a></li>
<li><a href="/jmusic/">CD</a></li>
<li><a href="/ost/">OST</a></li>
<li><a href="/doujins/">Doujins</a></li>
<li><a href="/paroles/">Paroles</a></li>
<li><a href="/tablatures/">Tablatures et partitions</a></li>
</ul>
                                                                                                                                                                                                                              </li>
                                                                                                            <li class="nav-item dropdown">
                                                                                                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cinéma - TV</a>
                                                                                                                                                          <ul class="dropdown-menu">
                                                                                                                                                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                                                                                                                                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                                                                                                                                                                <li><hr class="dropdown-divider"></li>
                                                                                                                                                                                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                                                                                                                                                                                      <li><a href="/asian_movies/">Films asiatiques</a></li>
<li><a href="/dramas/">Dramas</a></li>
<li><a href="/dramas/printemps-2024.html?tri=p">Calendrier saisonnier dramas</a></li>
<li><a href="/emissions_tv/">Émissions TV</a></li>
</ul>
                                                                                                                                                                                                                              </li>
                                                                                <li class="nav-item">
                                                                                            <a class="nav-link" href="/dvd-blu-ray/">DVD</a>
                                                                                                    </li>
                                                                                <li class="nav-item">
                                                                                            <a class="nav-link" href="/goodies/">Goodies</a>
                                                                                                    </li>
                                                                                                            <li class="nav-item dropdown">
                                                                                                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Livres</a>
                                                                                                                                                          <ul class="dropdown-menu">
                                                                                                                                                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                                                                                                                                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                                                                                                                                                                <li><hr class="dropdown-divider"></li>
                                                                                                                                                                                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                                                                                                                                                                                      <li><a href="/artbook/">Artbooks</a></li>
<li><a href="/photobook/">Photobooks</a></li>
<li><a href="/light_novels/">Light novels</a></li>
<li><a href="/litterature_asiatique/">Romans</a></li>
<li><a href="/livres_jeunesse/">Livres jeunesse / BD</a></li>
<li><a href="/magazines/">Magazines</a></li>
<li><a href="/beaux_livres/">Beaux livres / Livres pratiques</a></li>
</ul>
                                                                                                                                                                                                                              </li>
                                                                                                            <li class="nav-item dropdown">
                                                                                                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Culture</a>
                                                                                                                                                          <ul class="dropdown-menu">
                                                                                                                                                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                                                                                                                                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                                                                                                                                                                <li><hr class="dropdown-divider"></li>
                                                                                                                                                                                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                                                                                                                                                                                      <li><a href="/culture/">Culture et traditions</a></li>
<li><a href="/recettes/">Recettes asiatiques</a></li>
<li><a href="/univers/">Univers</a></li>
<li><a href="/conventions/">Conventions</a></li>
</ul>
                                                                                                                                                                                                                              </li>
                                                                                                            <li class="nav-item dropdown">
                                                                                                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Images</a>
                                                                                                                                                          <ul class="dropdown-menu">
                                                                                                                                                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                                                                                                                                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                                                                                                                                                                <li><hr class="dropdown-divider"></li>
                                                                                                                                                                                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                                                                                                                                                                                      <li><a href="/galerie/">Galerie</a></li>
<li><a href="/wallpapers/">Wallpapers</a></li>
</ul>
                                                                                                                                                                                                                              </li>
                                                                                                                                                                                                                                      <li class="nav-item">
                                                                                                                                                                                                                                                  <a class="nav-link " href="/people/">Personnalités</a>
                                                                                                                                                                                                                                                          </li>
                                                                                                            <li class="nav-item dropdown">
                                                                                                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pratique</a>
                                                                                                                                                          <ul class="dropdown-menu">
                                                                                                                                                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                                                                                                                                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                                                                                                                                                                <li><hr class="dropdown-divider"></li>
                                                                                                                                                                                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                                                                                                                                                                                      <li><a href="/boutiques/">Boutiques</a></li>
<li><a href="/restaurants/">Restaurants</a></li>
<li><a href="/sites-achat/">Sites d'achat</a></li>
<li><a href="/lexique/">Lexique</a></li>
</ul>
                                                                                                                                                                                                                              </li>
                                                                                                            <li class="nav-item dropdown">
                                                                                                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Divertissement</a>
                                                                                                                                                          <ul class="dropdown-menu">
                                                                                                                                                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                                                                                                                                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                                                                                                                                                                <li><hr class="dropdown-divider"></li>
                                                                                                                                                                                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                                                                                                                                                                                      <li><a href="/videos/">Vidéos</a></li>
<li><a href="/quiz/">Quiz</a></li>
<li><a href="/sondages/">Sondages</a></li>
<li><a href="/concours/">Concours</a></li>
<li><a href="/listes/">Listes</a></li>
<li><a href="/membre/">Les membres du site</a></li>
<li><a href="/site/last_review.php">Critiques</a></li>
</ul>
                                                                                                                                                                                                                              </li>
                                                                                                                                                                                                                                                                </ul>
                                                                                                                                                                                                                                                                                                  </div>
                                                                                                                                                                                                                                                                                                    </div>
    </nav>
    &lt;%= yield %&gt;
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  
</body>
</html>
