<div id="<%= dom_id jeux_videos_actualite_mini %>">































































  <p>































































    <strong>Name:</strong>































































    <%= jeux_videos_actualite_mini.name %>































































  </p>































































































































</div>
