
<h1>voir tous les Jeux Videos Actualite Minis</h1>
<%@_jeux_videos_actualite_minis.each do |x|%>
<%=render x%>
<%end%>
<p>
<%=link_to "nouveau  Jeux Videos Actualite Minis", new_jeux_videos_actualite_mini_path%>
</p>
