<p style="color: green"><%= notice %></p>

<h1>Films asiatiques emission tv plus</h1>

<div id="_films_asiatiques_emission_tv_plus">
  <% @_films_asiatiques_emission_tv_plus.each do |_films_asiatiques_emission_tv_plu| %>
    <%= render _films_asiatiques_emission_tv_plu %>
    <p>
      <%= link_to "Show this films asiatiques emission tv plu", _films_asiatiques_emission_tv_plu %>
    </p>
  <% end %>
</div>

<%= link_to "New films asiatiques emission tv plu", new__films_asiatiques_emission_tv_plu_path %>
