<div id="<%= dom_id dramas_encour %>">































































  <p>































































    <strong>Name:</strong>































































    <%= dramas_encour.name %>































































  </p>































































































































</div>
