<h1>Editing dramas encour</h1>

<%= render "form", _dramas_encour: @_dramas_encour %>

<br>

<div>
  <%= link_to "Show this dramas encour", @_dramas_encour %> |
  <%= link_to "Back to dramas encours", _dramas_encours_path %>
</div>
