<p style="color: green"><%= notice %></p>

<h1>Dramas encours</h1>

<div id="_dramas_encours">
  <% @_dramas_encours.each do |_dramas_encour| %>
    <%= render _dramas_encour %>
    <p>
      <%= link_to "Show this dramas encour", _dramas_encour %>
    </p>
  <% end %>
</div>

<%= link_to "New dramas encour", new__dramas_encour_path %>
