<h1>New dramas encour</h1>































































































































<%= render "form", _dramas_encour: @_dramas_encour %>































































































































<br>































































































































<div>































































  <%= link_to "Back to dramas encours", dramas_encours_path %>































































</div>
