<h1>Editing livres theme</h1>

<%= render "form", _livres_theme: @_livres_theme %>

<br>

<div>
  <%= link_to "Show this livres theme", @_livres_theme %> |
  <%= link_to "Back to livres themes", _livres_themes_path %>
</div>
