<h1>Editing jeux videos plateforme</h1>

<%= render "form", _jeux_videos_plateforme: @_jeux_videos_plateforme %>

<br>

<div>
  <%= link_to "Show this jeux videos plateforme", @_jeux_videos_plateforme %> |
  <%= link_to "Back to jeux videos plateformes", _jeux_videos_plateformes_path %>
</div>
