<p style="color: green"><%= notice %></p>

<h1>Photobooks frances</h1>

<div id="_photobooks_frances">
  <% @_photobooks_frances.each do |_photobooks_france| %>
    <%= render _photobooks_france %>
    <p>
      <%= link_to "Show this photobooks france", _photobooks_france %>
    </p>
  <% end %>
</div>

<%= link_to "New photobooks france", new__photobooks_france_path %>
