<div id="<%= dom_id films_asiatiques_cd %>">































































  <p>































































    <strong>Name:</strong>































































    <%= films_asiatiques_cd.name %>































































  </p>































































































































</div>
