<div id="<%= dom_id doujinshis_jv_plu %>">































































  <p>































































    <strong>Name:</strong>































































    <%= doujinshis_jv_plu.name %>































































  </p>































































































































</div>
