<p style="color: green"><%= notice %></p>

<h1>Doujinshis jv plus</h1>

<div id="_doujinshis_jv_plus">
  <% @_doujinshis_jv_plus.each do |_doujinshis_jv_plu| %>
    <%= render _doujinshis_jv_plu %>
    <p>
      <%= link_to "Show this doujinshis jv plu", _doujinshis_jv_plu %>
    </p>
  <% end %>
</div>

<%= link_to "New doujinshis jv plu", new__doujinshis_jv_plu_path %>
