<h1>Editing paroles parole</h1>

<%= render "form", _paroles_parole: @_paroles_parole %>

<br>

<div>
  <%= link_to "Show this paroles parole", @_paroles_parole %> |
  <%= link_to "Back to paroles paroles", _paroles_paroles_path %>
</div>
