<div id="<%= dom_id mangas_clip %>">































































  <p>































































    <strong>Name:</strong>































































    <%= mangas_clip.name %>































































  </p>































































































































</div>
