<h1>Editing mangas clip</h1>































































































































<%= render "form", _mangas_clip: @_mangas_clip %>































































































































<br>































































































































<div>































































  <%= link_to "Show this mangas clip", @_mangas_clip %> |































































  <%= link_to "Back to mangas clips", mangas_clips_path %>































































</div>
