<p style="color: green"><%= notice %></p>

<h1>Mangas clips</h1>

<div id="_mangas_clips">
  <% @_mangas_clips.each do |_mangas_clip| %>
    <%= render _mangas_clip %>
    <p>
      <%= link_to "Show this mangas clip", _mangas_clip %>
    </p>
  <% end %>
</div>

<%= link_to "New mangas clip", new__mangas_clip_path %>
