<h1>Editing light novels editeurs vf</h1>

<%= render "form", _light_novels_editeurs_vf: @_light_novels_editeurs_vf %>

<br>

<div>
  <%= link_to "Show this light novels editeurs vf", @_light_novels_editeurs_vf %> |
  <%= link_to "Back to light novels editeurs vfs", _light_novels_editeurs_vfs_path %>
</div>
