<div id="<%= dom_id animes_genre %>">































































  <p>































































    <strong>Name:</strong>































































    <%= animes_genre.name %>































































  </p>































































































































</div>
