<h1>Editing animes genre</h1>

<%= render "form", animes_genre: @animes_genre %>

<br>

<div>
  <%= link_to "Show this animes genre", @animes_genre %> |
  <%= link_to "Back to animes genres", animes_genres_path %>
</div>
